@import ./flag.variables

//*******************************//
//              Main
//  http://flag-icon-css.lip.is/
//*******************************//

i.flag:not(.icon)
    display: inline-block

    background-size    : contain
    background-position: 50%
    background-repeat  : no-repeat

    vertical-align     : baseline
    text-decoration    : inherit
    speak              : none
    backface-visibility: hidden

//-------------------//
//       Sizes
//-------------------//

i.flag:not(.icon).mini
    width : (4 / 3) * $flag_miniSize
    height: $flag_miniSize
i.flag:not(.icon).tiny
    width : (4 / 3) * $flag_tinySize
    height: $flag_tinySize
i.flag:not(.icon).small
    width : (4 / 3) * $flag_smallSize
    height: $flag_smallSize
i.flag:not(.icon),
i.flag:not(.icon).medium
    width : (4 / 3) * $flag_mediumSize
    height: $flag_mediumSize
i.flag:not(.icon).large
    width : (4 / 3) * $flag_largeSize
    height: $flag_largeSize
i.flag:not(.icon).big
    width : (4 / 3) * $flag_bigSize
    height: $flag_bigSize
i.flag:not(.icon).huge
    width : (4 / 3) * $flag_hugeSize
    height: $flag_hugeSize
i.flag:not(.icon).massive
    width : (4 / 3) * $flag_massiveSize
    height: $flag_massiveSize

i.flag:not(.icon).mini.squared,
i.flag:not(.icon).mini.circular
    width: $flag_miniSize
i.flag:not(.icon).tiny.squared,
i.flag:not(.icon).tiny.circular
    width: $flag_tinySize
i.flag:not(.icon).small.squared,
i.flag:not(.icon).small.circular
    width: $flag_smallSize
i.flag:not(.icon).squared,
i.flag:not(.icon).medium.squared,
i.flag:not(.icon).circular,
i.flag:not(.icon).medium.circular
    width: $flag_mediumSize
i.flag:not(.icon).large.squared,
i.flag:not(.icon).large.circular
    width: $flag_largeSize
i.flag:not(.icon).big.squared,
i.flag:not(.icon).big.circular
    width: $flag_bigSize
i.flag:not(.icon).huge.squared,
i.flag:not(.icon).huge.circular
    width: $flag_hugeSize
i.flag:not(.icon).massive.squared,
i.flag:not(.icon).massive.circular
    width: $flag_massiveSize

//-------------------//
//      Bordered
//-------------------//

i.flag:not(.icon).bordered
    border         : $flag_border
    background-size: cover

//-------------------//
//       Aligns
//-------------------//

i.flag:not(.icon)[class*="left aligned"]
    text-align: right

i.flag:not(.icon)[class*="center aligned"]
    text-align: center

i.flag:not(.icon)[class*="right aligned"]
    text-align: right

//-------------------//
//       Rounded
//-------------------//

i.flag:not(.icon).rounded
    border-radius: $flag_borderRadius

//-------------------//
//      Circular
//-------------------//

i.flag:not(.icon).circular
    border-radius: $circularRadius

//-------------------//
//       Disabled
//-------------------//

i.flag:not(.icon).disabled
    opacity: $disabledOpacity !important

//-------------------//
//       Flags
//-------------------//

=flag($iso, $country)
    i.flag:not(.icon)[class*="#{$country}"],
    i.#{$iso}.flag:not(.icon)
        background-image: url(#{$flag_imageBasePath}#{$flag_4by3ImagePath}/#{$iso}.svg)

        &.squared,
        &.circular
            background-image: url(#{$flag_imageBasePath}#{$flag_1by1ImagePath}/#{$iso}.svg)

+flag('ad', 'andorra')
+flag('ae', 'uae')
+flag('ae', 'united arab emirates')
+flag('af', 'afghanistan')
+flag('ag', 'antigua')
+flag('ai', 'anguilla')
+flag('al', 'albania')
+flag('am', 'armenia')
+flag('ao', 'angola')
+flag('aq', 'antarctica')
+flag('ar', 'argentina')
+flag('as', 'american samoa')
+flag('at', 'austria')
+flag('au', 'australia')
+flag('aw', 'aruba')
+flag('ax', 'aland islands')
+flag('az', 'azerbaijan')
+flag('ba', 'bosnia')
+flag('bb', 'barbados')
+flag('bd', 'bangladesh')
+flag('be', 'belgium')
+flag('bf', 'burkina faso')
+flag('bg', 'bulgaria')
+flag('bh', 'bahrain')
+flag('bi', 'burundi')
+flag('bj', 'benin')
+flag('bl', 'saint barthélemy')
+flag('bl', 'saint barthelemy')
+flag('bm', 'bermuda')
+flag('bn', 'brunei')
+flag('bo', 'bolivia')
+flag('bq', 'caribbean netherlands')
+flag('br', 'brazil')
+flag('bs', 'bahamas')
+flag('bt', 'bhutan')
+flag('bv', 'bouvet island')
+flag('bw', 'botswana')
+flag('by', 'belarus')
+flag('bz', 'belize')
+flag('ca', 'canada')
+flag('cc', 'cocos islands')
+flag('cd', 'congo')
+flag('cf', 'central african republic')
+flag('cg', 'congo brazzaville')
+flag('ch', 'switzerland')
+flag('ci', 'cote divoire')
+flag('ck', 'cook islands')
+flag('cl', 'chile')
+flag('cm', 'cameroon')
+flag('cn', 'china')
+flag('co', 'colombia')
+flag('cr', 'costa rica')
+flag('cu', 'cuba')
+flag('cv', 'cape verde')
+flag('cw', 'curaçao')
+flag('cw', 'curacao')
+flag('cx', 'christmas island')
+flag('cy', 'cyprus')
+flag('cz', 'czech republic')
+flag('de', 'germany')
+flag('dj', 'djibouti')
+flag('dk', 'denmark')
+flag('dm', 'dominica')
+flag('do', 'dominican republic')
+flag('dz', 'algeria')
+flag('ec', 'ecuador')
+flag('ee', 'estonia')
+flag('eg', 'egypt')
+flag('eh', 'western sahara')
+flag('er', 'eritrea')
+flag('es', 'spain')
+flag('et', 'ethiopia')
+flag('fi', 'finland')
+flag('fj', 'fiji')
+flag('fk', 'falkland islands')
+flag('fm', 'micronesia')
+flag('fo', 'faroe islands')
+flag('fr', 'france')
+flag('ga', 'gabon')
+flag('gb', 'united kingdom')
+flag('es-ct', 'scotland')
+flag('eu', 'european union')
+flag('gb-eng', 'england')
+flag('gb-nir', 'northern ireland')
+flag('gb-sct', 'scotland')
+flag('gb-wls', 'wales')
+flag('gd', 'grenada')
+flag('ge', 'georgia')
+flag('gf', 'french guiana')
+flag('gg', 'guernsey')
+flag('gh', 'ghana')
+flag('gi', 'gibraltar')
+flag('gl', 'greenland')
+flag('gm', 'gambia')
+flag('gn', 'guinea')
+flag('gp', 'guadeloupe')
+flag('gq', 'equatorial guinea')
+flag('gr', 'greece')
+flag('gs', 'sandwich islands')
+flag('gt', 'guatemala')
+flag('gu', 'guam')
+flag('gw', 'guinea-bissau')
+flag('gy', 'guyana')
+flag('hk', 'hong Kong')
+flag('hm', 'heard island')
+flag('hn', 'honduras')
+flag('hr', 'croatia')
+flag('ht', 'haiti')
+flag('hu', 'hungary')
+flag('id', 'indonesia')
+flag('ie', 'ireland')
+flag('il', 'israel')
+flag('im', 'isle of man')
+flag('in', 'india')
+flag('io', 'indian ocean territory')
+flag('iq', 'iraq')
+flag('ir', 'iran')
+flag('is', 'iceland')
+flag('it', 'italy')
+flag('je', 'jersey')
+flag('jm', 'jamaica')
+flag('jo', 'jordan')
+flag('jp', 'japan')
+flag('ke', 'kenya')
+flag('kg', 'kyrgyzstan')
+flag('kh', 'cambodia')
+flag('ki', 'kiribati')
+flag('km', 'comoros')
+flag('kn', 'saint kitts and nevis')
+flag('kn', 'saint kitts')
+flag('kn', 'nevis')
+flag('kp', 'north korea')
+flag('kr', 'south korea')
+flag('kr', 'korea')
+flag('kw', 'kuwait')
+flag('ky', 'cayman islands')
+flag('kz', 'kazakhstan')
+flag('la', 'laos')
+flag('lb', 'lebanon')
+flag('lc', 'saint lucia')
+flag('li', 'liechtenstein')
+flag('lk', 'sri Lanka')
+flag('lr', 'liberia')
+flag('ls', 'lesotho')
+flag('lt', 'lithuania')
+flag('lu', 'luxembourg')
+flag('lv', 'latvia')
+flag('ly', 'libya')
+flag('ma', 'morocco')
+flag('mc', 'monaco')
+flag('md', 'moldova')
+flag('me', 'montenegro')
+flag('mf', 'saint martin')
+flag('mg', 'madagascar')
+flag('mh', 'marshall islands')
+flag('mk', 'macedonia')
+flag('ml', 'mali')
+flag('mm', 'burma')
+flag('mm', 'myanmar')
+flag('mn', 'mongolia')
+flag('mo', 'macau')
+flag('mp', 'northern mariana islands')
+flag('mq', 'martinique')
+flag('mr', 'mauritania')
+flag('ms', 'montserrat')
+flag('mt', 'malta')
+flag('mu', 'mauritius')
+flag('mv', 'maldives')
+flag('mw', 'malawi')
+flag('mx', 'mexico')
+flag('my', 'malaysia')
+flag('mz', 'mozambique')
+flag('na', 'namibia')
+flag('nc', 'new caledonia')
+flag('ne', 'niger')
+flag('nf', 'norfolk island')
+flag('ng', 'nigeria')
+flag('ni', 'nicaragua')
+flag('nl', 'netherlands')
+flag('no', 'norway')
+flag('np', 'nepal')
+flag('nr', 'nauru')
+flag('nu', 'niue')
+flag('nz', 'new zealand')
+flag('om', 'oman')
+flag('pa', 'panama')
+flag('pe', 'peru')
+flag('pf', 'french polynesia')
+flag('pg', 'new guinea')
+flag('ph', 'philippines')
+flag('pk', 'pakistan')
+flag('pl', 'poland')
+flag('pm', 'saint pierre')
+flag('pn', 'pitcairn islands')
+flag('pr', 'puerto rico')
+flag('ps', 'palestine')
+flag('pt', 'portugal')
+flag('pw', 'palau')
+flag('py', 'paraguay')
+flag('qa', 'qatar')
+flag('re', 'reunion')
+flag('ro', 'romania')
+flag('rs', 'serbia')
+flag('ru', 'russia')
+flag('rw', 'rwanda')
+flag('sa', 'saudi arabia')
+flag('sb', 'solomon islands')
+flag('sc', 'seychelles')
+flag('sd', 'sudan')
+flag('se', 'sweden')
+flag('sg', 'singapore')
+flag('sh', 'saint helena')
+flag('si', 'slovenia')
+flag('sj', 'jan mayen and svalbard')
+flag('sj', 'svalbard')
+flag('sj', 'jan mayen')
+flag('sk', 'slovakia')
+flag('sl', 'sierra leone')
+flag('sm', 'san marino')
+flag('sn', 'senegal')
+flag('so', 'somalia')
+flag('sr', 'suriname')
+flag('ss', 'south sudan')
+flag('st', 'sao tome')
+flag('sv', 'el salvador')
+flag('sx', 'sint maarten')
+flag('sy', 'syria')
+flag('sz', 'swaziland')
+flag('tc', 'caicos islands')
+flag('td', 'chad')
+flag('tf', 'french territories')
+flag('tg', 'togo')
+flag('th', 'thailand')
+flag('tj', 'tajikistan')
+flag('tk', 'tokelau')
+flag('tl', 'timorleste')
+flag('tm', 'turkmenistan')
+flag('tn', 'tunisia')
+flag('to', 'tonga')
+flag('tr', 'turkey')
+flag('tt', 'trinidad')
+flag('tv', 'tuvalu')
+flag('tw', 'taiwan')
+flag('tw', 'republic of china')
+flag('tw', 'formosa')
+flag('tz', 'tanzania')
+flag('ua', 'ukraine')
+flag('ug', 'uganda')
+flag('um', 'us minor islands')
+flag('un', 'united nations')
+flag('us', 'united states')
+flag('us', 'america')
+flag('uy', 'uruguay')
+flag('uz', 'uzbekistan')
+flag('va', 'vatican city')
+flag('vc', 'saint vincent')
+flag('ve', 'venezuela')
+flag('vg', 'british virgin islands')
+flag('vi', 'us virgin islands')
+flag('vn', 'vietnam')
+flag('vu', 'vanuatu')
+flag('wf', 'wallis and futuna')
+flag('wf', 'wallis')
+flag('wf', 'futuna')
+flag('ws', 'samoa')
+flag('ye', 'yemen')
+flag('yt', 'mayotte')
+flag('za', 'south africa')
+flag('zm', 'zambia')
+flag('zw', 'zimbabwe')