// + Basic
.ts.checkbox
    input#check1(type="checkbox")
    label(for="check1") Checkbox

// + Segmented
.ts.segmented.horizontal.checkboxes
    .ts.radio.checkbox
        input#radio1(type="radio")
        label(for="radio1") Radio