@import ./container.variables

//*******************************//
//              Main
//*******************************//

.ts.container
    display     : block
    max-width   : $container_maxWidth
    margin-left : auto !important
    margin-right: auto !important

//-------------------//
//       Padded
//-------------------//

.ts.container.padded
    margin-top   : $container_paddedMargin
    margin-bottom: $container_paddedMargin
.ts.container[class*="very padded"]
    margin-top   : $container_veryPaddedMargin
    margin-bottom: $container_veryPaddedMargin
.ts.container[class*="extra padded"]
    margin-top   : $container_extraPaddedMargin
    margin-bottom: $container_extraPaddedMargin

//-------------------//
//       Mobile
//-------------------//

+rwd-serious(mobile)
    .ts.container:not(.fluid):not(.narrow)
        width       : $container_mobileWidth !important
        margin-left : $container_mobileGutter !important
        margin-right: $container_mobileGutter !important

        &.grid
            margin-left : $container_mobileGridGutter !important
            margin-right: $container_mobileGridGutter !important
        &.grid.relaxed
            margin-left : $container_mobileRelaxedGridGutter !important
            margin-right: $container_mobileRelaxedGridGutter !important
        &.grid[class*="very relaxed"]
            margin-left : $container_mobileVeryRelaxedGridGutter !important
            margin-right: $container_mobileVeryRelaxedGridGutter !important

//-------------------//
//       Tablet
//-------------------//

+rwd-serious(tablet)
    .ts.container:not(.fluid):not(.narrow)
        width: $container_tabletWidth !important

        &.grid
            width: $container_tabletGridWidth !important
        &.grid.relaxed
            width: $container_tabletRelaxedGridWidth !important
        &.grid[class*="very relaxed"]
            width: $container_tabletVeryRelaxedGridWidth !important

//-------------------//
//      Computer
//-------------------//

+rwd-serious(computer)
    .ts.container:not(.fluid):not(.narrow)
        width: $container_computerWidth !important

        &.grid
            width: $container_computerGridWidth !important
        &.grid.relaxed
            width: $container_computerRelaxedGridWidth !important
        &.grid[class*="very relaxed"]
            width: $container_computerVeryRelaxedGridWidth !important

//-------------------//
//    Large Screen
//-------------------//

+rwd-serious(large)
    .ts.container:not(.fluid):not(.narrow)
        width: $container_largeWidth !important

        &.grid
            width: $container_largeGridWidth !important
        &.grid.relaxed
            width: $container_largeRelaxedGridWidth !important
        &.grid[class*="very relaxed"]
            width: $container_largeVeryRelaxedGridWidth !important

//-------------------//
//        Text
//-------------------//

.ts.container.text
    max-width  : $container_textWidth !important
    line-height: $container_textLineHeight
    font-size  : $container_textFontSize

    p:not(:first-child)
        margin-top   : $container_textParagraphMargin
        margin-bottom: $container_textParagraphMargin

    &.grid
        max-width: calc(#{$container_textWidth} + var(--columnPadding) * 2) !important
    &.grid.relaxed
        max-width: calc(#{$container_textWidth} + var(--columnRelaxedPadding) * 2) !important
    &.grid[class*="very relaxed"]
        max-width: calc(#{$container_textWidth} + var(--columnVeryRelaxedPadding) * 2) !important

//-------------------//
//       Fluid
//-------------------//

.ts.container.fluid
    max-width: $container_fluidMaxWidth !important
    width    : $container_fluidWidth    !important

    &.grid
        max-width: $container_fluidGridMaxWidth !important
    &.grid.relaxed
        max-width: $container_fluidRelaxedGridMaxWidth !important
    &.grid[class*="very relaxed"]
        max-width: $container_fluidVeryRelaxedGridMaxWidth !important

//-------------------//
//      Narrow
//-------------------//

.ts.container[class*="very narrow"]
    width: $container_tabletWidth !important

    &.grid
        width: $container_tabletGridWidth !important
    &.grid.relaxed
        width: $container_tabletRelaxedGridWidth !important
    &.grid[class*="very relaxed"]
        width: $container_tabletVeryRelaxedGridWidth !important

.ts.container.narrow:not([class*="very narrow"])
    width: $container_computerWidth !important

    &.grid
        width: $container_computerGridWidth !important
    &.grid.relaxed
        width: $container_computerRelaxedGridWidth !important
    &.grid[class*="very relaxed"]
        width: $container_computerVeryRelaxedGridWidth !important

    +rwd-serious(tablet)
        width: $container_tabletWidth !important

        &.grid
            width: $container_tabletGridWidth !important
        &.grid.relaxed
            width: $container_tabletRelaxedGridWidth !important
        &.grid[class*="very relaxed"]
            width: $container_tabletVeryRelaxedGridWidth !important

.ts.container.narrow:not([class*="very narrow"]),
.ts.container[class*="very narrow"]
    +rwd-serious(mobile)
        width       : $container_mobileWidth !important
        margin-left : $container_mobileGutter !important
        margin-right: $container_mobileGutter !important

        &.grid,
        &.grid.relaxed,
        &.grid[class*="very relaxed"]
            width: $container_mobileWidth !important
        &.grid
            margin-left : $container_mobileGridGutter !important
            margin-right: $container_mobileGridGutter !important
        &.grid.relaxed
            margin-left : $container_mobileRelaxedGridGutter !important
            margin-right: $container_mobileRelaxedGridGutter !important
        &.grid[class*="very relaxed"]
            margin-left : $container_mobileVeryRelaxedGridGutter !important
            margin-right: $container_mobileVeryRelaxedGridGutter !important

//-------------------//
//       Aligns
//-------------------//

.ts.container[class*="center aligned"]
    text-align: center
.ts.container[class*="left aligned"]
    text-align: left
.ts.container[class*="right aligned"]
    text-align: right
.ts.container[class*="justified"]
    text-align: justify

//-------------------//
//     Spaceless
//-------------------//

+rwd-serious(mobile)
    .ts.spaceless.container
        margin-left : 0 !important
        margin-right: 0 !important

        &,
        > *
            border-radius: 0
            border-left  : 0
            border-right : 0

//-------------------//
//     Coupling
//-------------------//

.ts.sidebar + .pusher .ts.container.fluid:not(.narrow)
    width: $container_pusherContainerWidth !important