// + Accordion
.ts.accordion
    .title
        i.dropdown.icon
        |  這是什麼鳥？
    .content
        p 這不是鳥，是他媽的蝴蝶。
    .title
        i.dropdown.icon
        |  可是他為什麼看起來這麼大？
    .content
        p 那是因為它離你很近。
    .title
        i.dropdown.icon
        |  我為什麼要相信你？
    .content
        p 因為信我者得永生。

// + Vertical Menu
.ts.vertical.accordion.menu
    .item
        a.header.title(href='#!')
            i.dropdown.icon
            |  Size
        .content
            .menu
                a.item Rails
                a.item Python
                a.item PHP
    .item
        a.header.title(href='#!')
            i.dropdown.icon
            |  Hosting
        .content
            .menu
                a.item Shared
                a.item Dedicated

// + Segmented
.ts.segmented.accordion
    .title
        i.dropdown.icon
        |  這是什麼鳥？
    .content
        p 這不是鳥，是他媽的蝴蝶。
    .title
        i.dropdown.icon
        |  可是他為什麼看起來這麼大？
    .content
        p 那是因為它離你很近。
    .title
        i.dropdown.icon
        |  我為什麼要相信你？
    .content
        p 因為信我者得永生。

// + Field
.ts.segment
    .ts.fluid.form
        .two.fields
            .field
                label 姓氏
                input(placeholder='姓氏', type='text')
            .field
                label 名稱
                input(placeholder='名稱', type='text')
        .ts.accordion.field
            .title.active
                i.icon.dropdown
                |  選填資料
            .content.field.active
                label.transition.visible 中間名
                input(placeholder='中間名', type='text')
        .ts.inverted.submit.button 註冊

// - Accordion
script.
    new Accordion('.accordion')

// - Not Exclusive
script.
    new Accordion('.accordion', {
        exclusive: false,
    })

// - Open 1
script.
    new Accordion('.accordion').open(1)

// - Open 2
script.
    new Accordion('.accordion').open(2)

// - Close 1
script.
    new Accordion('.accordion').close(1)

// - Toggle 1
script.
    new Accordion('.accordion').toggle(1)

// - Close All
script.
    new Accordion('.accordion').closeAll(1)

// - Destroy
script.
    new Accordion('.accordion').destroy()