@import ./divider.variables

//*******************************//
//              Main
//*******************************//

.ts.divider
    +extend(no-select)

    margin        : $divider_margin
    line-height   : 1
    height        : 0em
    font-weight   : $divider_fontWeight
    letter-spacing: $divider_letterSpacing
    color         : $divider_color

.ts.divider:not(.vertical):not(.horizontal):not(.secondary)
    border-bottom: $divider_width solid $divider_borderColor

//-------------------//
//     Native Tag
//-------------------//

hr
    margin       : $divider_margin
    border       : 0
    border-bottom: 1px solid $divider_borderColor

//-------------------//
//      Secondary
//-------------------//

.ts.secondary.divider:before
    position   : absolute
    left       : 50%
    top        : 50%
    content    : $divider_secondaryContent
    font-weight: $divider_secondaryFontWeight
    font-family: $divider_secondaryFontFamily
    font-size  : $divider_secondaryFontSize
    transform  : translateX(-50%) translateY(-50%)

    letter-spacing: $divider_secondaryLetterSpacing
    margin-left   : $divider_secondaryOffset

//-------------------//
//      Vertical
//-------------------//

.ts.vertical.divider
    display    : flex
    height     : auto
    margin     : 0
    align-items: center

.ts.vertical.divider:before
    top: 0

    background-position: right 50% top 0
    background-image   : $divider_verticalDividerBackgroundImage

.ts.vertical.divider:after
    bottom: 0

    background-position: right 50% top 0
    background-image   : $divider_verticalDividerBackgroundImage

.ts.vertical.divider:before,
.ts.vertical.divider:after
    position         : absolute
    left             : 0
    width            : 100%
    height           : $divider_verticalDividerHeight
    content          : ''
    background-repeat: no-repeat
    opacity          : $divider_verticalDividerOpacity


//-------------------//
//     Horizontal
//-------------------//

.ts.horizontal.divider
    display    : table
    white-space: nowrap
    height     : auto
    margin     : $divider_horizontalMargin
    line-height: 1
    text-align : center

.ts.horizontal.divider:before,
.ts.horizontal.divider:after
    content          : ''
    display          : table-cell
    position         : relative
    top              : 50%
    width            : 50%
    background-repeat: no-repeat
    opacity          : $divider_horizontalDividerOpacity

.ts.horizontal.divider:before
    background-position: right $divider_horizontalDividerMargin top 50%
    background-image   : $divider_horizontalDividerBackgroundImage

.ts.horizontal.divider:after
    background-position: left $divider_horizontalDividerMargin top 50%
    background-image   : $divider_horizontalDividerBackgroundImage

//-------------------//
//       Hidden
//-------------------//

.ts.hidden.divider
    visibility  : hidden
    border-color: transparent !important

.ts.hidden.divider:before,
.ts.hidden.divider:after
    display: none

//-------------------//
//       Fitted
//-------------------//

.ts.divider.fitted
    margin: 0em

//-------------------//
//      Clearing
//-------------------//

.ts.divider.clearing
    clear: both

//-------------------//
//      Section
//-------------------//

.ts.divider.section
    margin-top   : $divider_sectionMargin
    margin-bottom: $divider_sectionMargin

//-------------------//
//       Sizes
//-------------------//

.ts.divider
    font-size: $divider_medium

//-------------------//
//      Inverted
//-------------------//

.ts.divider.inverted,
.ts.vertical.inverted.divider,
.ts.horizontal.inverted.divider
    color: $divider_invertedTextColor

.ts.divider.inverted,
.ts.divider.inverted:after,
.ts.divider.inverted:before
    border-bottom-color: $divider_invertedColor !important
