@charset "UTF-8"
@import ./card.variables

//*******************************//
//            Variations
//*******************************//

@mixin card-inverted-variant($colors)
    $color                  : nth($colors, 1)
    $headerColor            : nth($colors, 2)
    $subHeaderColor         : nth($colors, 3)
    $extraColor             : nth($colors, 4)
    $secondaryColor         : nth($colors, 5)
    $tertiaryColor          : nth($colors, 6)
    $metaColor              : nth($colors, 7)
    $metaLinkColor          : nth($colors, 8)
    $borderColor            : nth($colors, 9)
    $backgroundColor        : nth($colors, 10)
    $extraBackgroundColor   : nth($colors, 11)
    $secondayBackgroundColor: nth($colors, 12)
    $tertiaryBackgroundColor: nth($colors, 13)

    background: $backgroundColor
    border-color    : $borderColor

    > .content
        color: $color

        .header:not(.ts)
            color: $headerColor
            .sub.header
                color: $subHeaderColor
        .meta
            color: $metaColor
            a
                color: $metaLinkColor
        .description
            color: $color

    > .extra.content
        color: $extraColor
    > .secondary.extra.content
        background: $secondayBackgroundColor
        color: $secondaryColor
    > .tertiary.extra.content
        background: $tertiaryBackgroundColor
        color: $tertiaryColor

//*******************************//
//              Main
//*******************************///

.ts.card
    position        : relative
    display         : flex
    flex-direction  : column
    margin          : $card_margin
    border          : $card_border
    border-radius   : $card_borderRadius
    box-shadow      : $card_boxShadow
    transition      : $card_transition
    color           : $card_textColor

    +card-inverted-variant($card_defaultColors)

.ts.card [class*="right floated"]
    float: right

.ts.card:first-child
    margin-top: 0
.ts.card:last-child
    margin-bottom: 0

.ts.card > .content:after
    display   : block
    content   : ' '
    height    : 0px
    clear     : both
    overflow  : hidden
    visibility: hidden

//-------------------//
//     Borderless
//-------------------//

.ts.card.borderless,
.ts.cards.borderless .ts.card
    border-radius: 0
    border       : 0
    box-shadow   : none

.ts.card.borderless > .content,
.ts.cards.borderless .ts.card > .content
    padding-left : 0
    padding-right: 0

//-------------------//
//       Raised
//-------------------//

.ts.card.raised.raised.raised.raised.raised.raised
    box-shadow: $card_raisedBoxShadow
    z-index   : $z_card_raised

//-------------------//
//      Content
//-------------------//

.ts.card > .content
    position : relative
    padding  : $card_padding
    flex-grow: 1

//-------------------//
//     Horizontal
//-------------------//

.ts.horizontal.card,
.ts.horizontal.cards > .ts.card
    flex-direction: row

.ts.horizontal.card > .extra.content
    border-top   : none
    border-bottom: none
    border-left  : $card_extraBorder
    border-right : $card_extraBorder
.ts.horizontal.card > .extra.content + .content
    border-top: none
.ts.horizontal.card > .content + .extra.content:first-child
    border-left: none
.ts.horizontal.card > .content + .extra.content:last-child
    border-right: none

.ts.horizontal.card > .image img,
.ts.horizontal.cards > .ts.card > .image img
    max-width: initial

.ts.horizontal.card > .image:first-child img,
.ts.horizontal.cards > .ts.card > .image:first-child img,
.ts.horizontal.collapsed.cards > .ts.card:not(:last-child) > .image:last-child img,
.ts.collapsed.cards > .ts.horizontal.card:not(:last-child) > .image:last-child img
    border-top-right-radius   : 0
    border-bottom-right-radius: 0
.ts.horizontal.card > .image:last-child img,
.ts.horizontal.cards > .ts.card > .image:last-child img,
.ts.horizontal.collapsed.cards > .ts.card:not(:first-child) > .image:first-child img,
.ts.collapsed.cards > .ts.horizontal.card:not(:first-child) > .image:first-child img
    border-top-left-radius   : 0
    border-bottom-left-radius: 0
.ts.horizontal.card > .image:first-child:last-child img,
.ts.horizontal.cards > .ts.card > .image:first-child:last-child img
    border-radius: $card_borderRadius

//-------------------//
//     Collapsed
//-------------------//

.ts.collapsed.cards
    margin: 0

.ts.collapsed.cards > .ts.card
    margin: 0
    width : auto
    flex  : 1

.ts.collapsed.cards > .ts.card:first-child
    border-top-right-radius   : 0
    border-bottom-right-radius: 0
.ts.collapsed.cards > .ts.card:last-child
    border-top-left-radius   : 0
    border-bottom-left-radius: 0

.ts.collapsed.cards > .ts.card:not(:last-child)
    border-right: 0

.ts.collapsed.cards > .ts.card:not(:first-child):not(:last-child)
    border-radius: 0
.ts.collapsed.cards > .ts.card:not(:first-child):not(:last-child):not(a)
    box-shadow   : $card_collapsedBoxShadow
.ts.collapsed.cards > a.ts.card:not(:first-child):not(:last-child):not(:hover)
    box-shadow   : $card_collapsedBoxShadow

//-------------------//
//       Padded
//-------------------//

.ts.card > .content.padded:not(.horizontal):not(.vertically)
    padding: $card_paddedPadding $card_paddedPadding

.ts.card > .content[class*="very padded"]:not(.horizontal):not(.vertically)
    padding: $card_veryPaddedPadding $card_veryPaddedPadding

.ts.card > .content[class*="horizontally padded"]
    padding-left : $card_paddedPadding
    padding-right: $card_paddedPadding
.ts.card > .content[class*="vertically padded"]
    padding-top   : $card_paddedPadding
    padding-bottom: $card_paddedPadding

.ts.card > .content[class*="horizontally very padded"]
    padding-left : $card_veryPaddedPadding
    padding-right: $card_veryPaddedPadding

.ts.card > .content[class*="vertically very padded"]
    padding-top   : $card_veryPaddedPadding
    padding-bottom: $card_veryPaddedPadding

//-------------------//
//       Header
//-------------------//

.ts.card > .content > .header
    display  : block
    word-wrap: break-word

.ts.card > .content > .actions ~ .header:not(:last-child)
    margin-bottom: $card_descriptionDistance

.ts.card > .content > .header:not(.ts),
.ts.card > .image > .header:not(.ts),
.ts.card > .video > .header:not(.ts)
    font-size  : $card_headerFontSize
    margin-top : $card_headerLineHeightOffset
    line-height: $card_headerLineHeight
    font-weight: $card_headerFontWeight

.ts.card > .content > .header:not(.ts) .sub.header,
.ts.card > .image > .header:not(.ts) .sub.header,
.ts.card > .video > .header:not(.ts) .sub.header
    font-size  : $card_subHeaderFontSize
    margin-top : $card_subHeaderLineHeightOffset
    line-height: $card_subHeaderLineHeight
    font-weight: $card_subHeaderFontWeight

.ts.card > .content > .header.small:not(.ts),
.ts.card > .image > .header.small:not(.ts),
.ts.card > .video > .header.small:not(.ts)
    font-size: $card_smallHeaderFontSize

.ts.card > .content > .header.small:not(.ts) .sub.header,
.ts.card > .image > .header.small:not(.ts) .sub.header,
.ts.card > .video > .header.small:not(.ts) .sub.header
    font-size: $card_smallSubHeaderFontSize

//-------------------//
//Image & Video Header
//-------------------//

.ts.card > .image > .header:not(.ts),
.ts.card > .video > .header:not(.ts)
    bottom  : 0
    left    : 0
    right   : 0
    position: absolute

    background: $card_imageHeaderBackgroundColor
    color           : $card_imageHeaderColor
    padding         : $card_imageHeaderPadding
    text-rendering  : optimizelegibility
    text-shadow     : $card_overlayTextShadow

.ts.card > .image > .header:not(.ts) .sub.header,
.ts.card > .video > .header:not(.ts) .sub.header
    opacity: $card_imageSubHeaderOpacity

.ts.card > .image:last-child > .header:not(.ts),
.ts.card > .video:last-child > .header:not(.ts)
    border-bottom-right-radius: $card_borderRadius
    border-bottom-left-radius: $card_borderRadius

//-------------------//
//        Meta
//-------------------//

.ts.card > .content > .meta
    display   : flex
    flex-wrap : wrap
    margin-top: $card_metaDistance
    font-size : $card_metaFontSize

.ts.card > .content > .actions ~ .meta:not(:last-child)
    margin-bottom: $card_descriptionDistance

.ts.card > .content > .actions ~ .header + .meta
    margin-top: calc(-#{$card_descriptionDistance} + -#{$card_metaDistance} - #{$card_headerLineHeightMetaOffset})

.ts.card > .content > .meta > *
    display     : inline-block
    margin-right: $card_metaSpacing

.ts.card > .content > .meta > *:last-child
    margin-right: 0

.ts.card > .content > .meta > *[class*="right floated"]
    margin-right: 0
    margin-left : $card_metaSpacing

.ts.card > .content > .meta > *[class*="right floated"]:last-child
    margin-left: 0

//-------------------//
//    Meta Dotted
//-------------------//

.ts.card > .content > .meta.middoted > *,
.ts.card > .content > .meta.bulleted > *
    margin-right: 0
.ts.card > .content > .meta.middoted > *:not(:first-child):before
    +extend(is-dot)

    margin-left : $card_metaSpacing / 1.5
    margin-right: $card_metaSpacing / 1.5
    content     : '·'
.ts.card > .content > .meta.bulleted > *:not(:first-child):before
    +extend(is-dot)

    margin-left : $card_metaSpacing / 1.5
    margin-right: $card_metaSpacing / 1.5
    content     : '•'

//-------------------//
//       Aligns
//-------------------//

.ts.card *[class*="center aligned"]
    text-align: center
.ts.card *[class*="center aligned"] .meta
    justify-content: center

.ts.card *[class*="left aligned"]
    text-align: left
.ts.card *[class*="left aligned"] .meta
    justify-content: flex-start

.ts.card *[class*="right aligned"]
    text-align: right
.ts.card *[class*="right aligned"] .meta
    justify-content: flex-end

//-------------------//
//      Overlay
//-------------------//

.ts.card .overlapped.content
    position: absolute
    top     : 0
    left    : 0
    width   : 100%
    height  : 100%
    z-index :  $z_card_overlappedContent

.ts.card .overlapped.content > .header,
.ts.card .overlapped.content > .header .sub.header,
.ts.card .overlapped.content,
.ts.card .overlapped.content .description,
.ts.card .overlapped.content .meta
    color         : $card_overlayTextColor
    text-rendering: optimizelegibility
    text-shadow   : $card_overlayTextShadow

//-------------------//
//       Fitted
//-------------------//

.ts.card > .fitted.content:not([class*="horizontally fitted"]):not([class*="vertically fitted"])
    padding: 0
.ts.card > .content[class*="horizontally fitted"]
    padding-left : 0
    padding-right: 0
.ts.card > .content[class*="vertically fitted"]
    padding-top   : 0
    padding-bottom: 0

//-------------------//
//  Image & Video
//-------------------//

.ts.card > .image img,
.ts.card > .video > video,
.ts.card > .video > iframe
    position : relative
    display  : block
    max-width: 100%
    width    : 100%

.ts.card > .image:first-child img,
.ts.card > .video:first-child video,
.ts.card > .video:first-child iframe
    border-top-left-radius : $card_borderRadius
    border-top-right-radius: $card_borderRadius
.ts.card > .image:last-child img,
.ts.card > .video:last-child video,
.ts.card > .video:last-child iframe
    border-bottom-left-radius : $card_borderRadius
    border-bottom-right-radius: $card_borderRadius

.ts.cards.borderless .ts.card > .image:first-child img,
.ts.cards.borderless .ts.card > .video:first-child video,
.ts.cards.borderless .ts.card > .video:first-child iframe,
.ts.card.borderless > .image:first-child img,
.ts.card.borderless > .video:first-child video,
.ts.card.borderless > .video:first-child iframe
    border-top-left-radius : 0
    border-top-right-radius: 0

.ts.cards.borderless .ts.card > .image:last-child img,
.ts.cards.borderless .ts.card > .video:last-child video,
.ts.cards.borderless .ts.card > .video:last-child iframe,
.ts.card.borderless > .image:last-child img,
.ts.card.borderless > .video:last-child video,
.ts.card.borderless > .video:last-child iframe
    border-top-left-radius : 0
    border-top-right-radius: 0

//-------------------//
//    Description
//-------------------//

.ts.card > .content > .meta + .description,
.ts.card > .content > .header + .description
    margin-top: $card_descriptionDistance

.ts.card > .content > .description
    clear  : both

.ts.card > .content > .actions ~ .description
    display: inline

//-------------------//
//       Extra
//-------------------//

.ts.card > .extra.content
    border-top: $card_extraBorder
    flex-grow : 0
    min-height: 0 !important

.ts.card > .extra.content:first-child
    border-top: 0

.ts.card > .extra.content + .content
    border-top: $card_extraBorder

.ts.card > .extra.content:last-child
    border-bottom-left-radius : $card_borderRadius
    border-bottom-right-radius: $card_borderRadius

//-------------------//
//      Emphasis
//-------------------//

.ts.card.primary
    border-bottom-width: $card_coloredBorderWidth
    border-bottom-color: $card_primaryBorderColor
.ts.card.info
    border-bottom-width: $card_coloredBorderWidth
    border-bottom-color: $card_infoBorderColor
.ts.card.warning
    border-bottom-width: $card_coloredBorderWidth
    border-bottom-color: $card_warningBorderColor
.ts.card.positive
    border-bottom-width: $card_coloredBorderWidth
    border-bottom-color: $card_positiveBorderColor
.ts.card.negative
    border-bottom-width: $card_coloredBorderWidth
    border-bottom-color: $card_negativeBorderColor

//-------------------//
//  Inverted Colors
//-------------------//

.ts.card.basic
    +card-inverted-variant($card_defaultColors)
.ts.card.inverted
    border-bottom-width: $card_borderWidth
    +card-inverted-variant($card_invertedColors)
.ts.card.inverted.primary
    +card-inverted-variant($card_primaryColors)
.ts.card.inverted.info
    +card-inverted-variant($card_infoColors)
.ts.card.inverted.warning
    +card-inverted-variant($card_warningColors)
.ts.card.inverted.positive
    +card-inverted-variant($card_positiveColors)
.ts.card.inverted.negative
    +card-inverted-variant($card_negativeColors)

//-------------------//
//      Disabled
//-------------------//

.ts.card.disabled
    opacity: $disabledOpacity

//-------------------//
//      Actions
//-------------------//

.ts.card > .content > .actions
    float      : right
    margin-left: .5em
    z-index    : 1

//-------------------//
//      Compact
//-------------------//

.ts.compact.card
    display: inline-flex

//-------------------//
//      Centered
//-------------------//

.ts.card.centered
    margin-left : auto
    margin-right: auto

.ts.cards.centered
    justify-content: center

//-------------------//
//       Cards
//-------------------//

.ts.cards
    display  : flex
    flex-wrap: wrap
    margin   : $card_groupMargin

.ts.cards > .card
    display: flex
    margin : $card_groupCardMargin
    width  : $card_groupCardDefaultWidth

.ts.cards ~ .ts.cards
    margin-top: $card_onsecutiveGroupDistance

.ts.one.cards
    margin-left : $card_oneCardOffset
    margin-right: $card_oneCardOffset
.ts.one.cards > .card
    width: $card_oneCard
.ts.two.cards
    margin-left : $card_twoCardOffset
    margin-right: $card_twoCardOffset
.ts.two.cards > .card
    width: $card_twoCard
    margin-left : $card_twoCardSpacing
    margin-right: $card_twoCardSpacing
.ts.three.cards
    margin-left : $card_threeCardOffset
    margin-right: $card_threeCardOffset
.ts.three.cards > .card
    width       : $card_threeCard
    margin-left : $card_threeCardSpacing
    margin-right: $card_threeCardSpacing
.ts.four.cards
    margin-left : $card_fourCardOffset
    margin-right: $card_fourCardOffset
.ts.four.cards > .card
    width: $card_fourCard
    margin-left : $card_fourCardSpacing
    margin-right: $card_fourCardSpacing
.ts.five.cards
    margin-left : $card_fiveCardOffset
    margin-right: $card_fiveCardOffset
.ts.five.cards > .card
    width: $card_fiveCard
    margin-left : $card_fiveCardSpacing
    margin-right: $card_fiveCardSpacing
.ts.six.cards
    margin-left : $card_sixCardOffset
    margin-right: $card_sixCardOffset
.ts.six.cards > .card
    width: $card_sixCard
    margin-left : $card_sixCardSpacing
    margin-right: $card_sixCardSpacing
.ts.seven.cards
    margin-left : $card_sevenCardOffset
    margin-right: $card_sevenCardOffset
.ts.seven.cards > .card
    width: $card_sevenCard
    margin-left : $card_sevenCardSpacing
    margin-right: $card_sevenCardSpacing
.ts.eight.cards
    margin-left : $card_eightCardOffset
    margin-right: $card_eightCardOffset
.ts.eight.cards > .card
    width: $card_eightCard
    margin-left : $card_eightCardSpacing
    margin-right: $card_eightCardSpacing
.ts.nine.cards
    margin-left : $card_nineCardOffset
    margin-right: $card_nineCardOffset
.ts.nine.cards > .card
    width: $card_nineCard
    margin-left : $card_nineCardSpacing
    margin-right: $card_nineCardSpacing
.ts.ten.cards
    margin-left : $card_tenCardOffset
    margin-right: $card_tenCardOffset
.ts.ten.cards > .card
    width: $card_tenCard
    margin-left : $card_tenCardSpacing
    margin-right: $card_tenCardSpacing

//-------------------//
//     Stackable
//-------------------//

+rwd-serious(mobile)
    .ts.stackable.cards:not(.waterfall)
        //display: block !important
    .ts.stackable.cards:not(.waterfall) .card:not(:first-child)
        margin-top: 0 !important
    .ts.stackable.cards:not(.waterfall) > .card
        display: block !important
        height : auto !important
        margin : $card_stackableRowSpacing $card_stackableCardSpacing
        padding: 0 !important
        width  : $card_stackableMargin !important

    .ts.stackable.waterfall.cards.cards
        column-count: 1

//-------------------//
//     Doubling
//-------------------//

.ts.cards.doubling.two:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_oneCardOffset
        margin-right: $card_oneCardOffset
        > .card
            width: $card_oneCard
    +rwd-serious(tablet)
        margin-left : $card_oneCardOffset
        margin-right: $card_oneCardOffset
        > .card
            width: $card_oneCard
.ts.cards.doubling.three:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_twoCardOffset
        margin-right: $card_twoCardOffset
        > .card
            width: $card_twoCard
    +rwd-serious(tablet)
        margin-left : $card_twoCardOffset
        margin-right: $card_twoCardOffset
        > .card
            width: $card_twoCard
.ts.cards.doubling.four:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_twoCardOffset
        margin-right: $card_twoCardOffset
        > .card
            width: $card_twoCard
    +rwd-serious(tablet)
        margin-left : $card_twoCardOffset
        margin-right: $card_twoCardOffset
        > .card
            width: $card_twoCard
.ts.cards.doubling.five:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_twoCardOffset
        margin-right: $card_twoCardOffset
        > .card
            width: $card_twoCard
    +rwd-serious(tablet)
        margin-left : $card_threeCardOffset
        margin-right: $card_threeCardOffset
        > .card
            width: $card_threeCard
.ts.cards.doubling.six:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_twoCardOffset
        margin-right: $card_twoCardOffset
        > .card
            width: $card_twoCard
    +rwd-serious(tablet)
        margin-left : $card_threeCardOffset
        margin-right: $card_threeCardOffset
        > .card
            width: $card_threeCard
.ts.cards.doubling.seven:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_twoCardOffset
        margin-right: $card_twoCardOffset
        > .card
            width: $card_twoCard
    +rwd-serious(tablet)
        margin-left : $card_threeCardOffset
        margin-right: $card_threeCardOffset
        > .card
            width: $card_threeCard
.ts.cards.doubling.eight:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_twoCardOffset
        margin-right: $card_twoCardOffset
        > .card
            width: $card_twoCard
    +rwd-serious(tablet)
        margin-left : $card_fourCardOffset
        margin-right: $card_fourCardOffset
        > .card
            width: $card_fourCard
.ts.cards.doubling.nine:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_threeCardOffset
        margin-right: $card_threeCardOffset
        > .card
            width: $card_threeCard
    +rwd-serious(tablet)
        margin-left : $card_fourCardOffset
        margin-right: $card_fourCardOffset
        > .card
            width: $card_fourCard
.ts.cards.doubling.ten:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_threeCardOffset
        margin-right: $card_threeCardOffset
        > .card
            width: $card_threeCard
    +rwd-serious(tablet)
        margin-left : $card_fiveCardOffset
        margin-right: $card_fiveCardOffset
        > .card
            width: $card_fiveCard
.ts.cards.doubling.eleven:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_threeCardOffset
        margin-right: $card_threeCardOffset
        > .card
            width: $card_threeCard
    +rwd-serious(tablet)
        margin-left : $card_fiveCardOffset
        margin-right: $card_fiveCardOffset
        > .card
            width: $card_fiveCard
.ts.cards.doubling.twelve:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_threeCardOffset
        margin-right: $card_threeCardOffset
        > .card
            width: $card_threeCard
    +rwd-serious(tablet)
        margin-left : $card_sixCardOffset
        margin-right: $card_sixCardOffset
        > .card
            width: $card_sixCard
.ts.cards.doubling.thirteen:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_threeCardOffset
        margin-right: $card_threeCardOffset
        > .card
            width: $card_threeCard
    +rwd-serious(tablet)
        margin-left : $card_sixCardOffset
        margin-right: $card_sixCardOffset
        > .card
            width: $card_sixCard
.ts.cards.doubling.fourteen:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_fourCardOffset
        margin-right: $card_fourCardOffset
        > .card
            width: $card_fourCard
    +rwd-serious(tablet)
        margin-left : $card_sevenCardOffset
        margin-right: $card_sevenCardOffset
        > .card
            width: $card_sevenCard
.ts.cards.doubling.fifteen:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_fourCardOffset
        margin-right: $card_fourCardOffset
        > .card
            width: $card_fourCard
    +rwd-serious(tablet)
        margin-left : $card_sevenCardOffset
        margin-right: $card_sevenCardOffset
        > .card
            width: $card_sevenCard
.ts.cards.doubling.sixteen:not(.waterfall)
    +rwd-serious(mobile)
        margin-left : $card_fourCardOffset
        margin-right: $card_fourCardOffset
        > .card
            width: $card_fourCard
    +rwd-serious(tablet)
        margin-left : $card_eightCardOffset
        margin-right: $card_eightCardOffset
        > .card
            width: $card_eightCard

/* Waterfall */
.ts.waterfall.cards.doubling.two
    +rwd-serious(mobile)
        column-count: 1
    +rwd-serious(tablet)
        column-count: 1
.ts.waterfall.cards.doubling.three
    +rwd-serious(mobile)
        column-count: 2
    +rwd-serious(tablet)
        column-count: 2
.ts.waterfall.cards.doubling.four
    +rwd-serious(mobile)
        column-count: 2
    +rwd-serious(tablet)
        column-count: 2
.ts.waterfall.cards.doubling.five
    +rwd-serious(mobile)
        column-count: 2
    +rwd-serious(tablet)
        column-count: 2
.ts.waterfall.cards.doubling.six
    +rwd-serious(mobile)
        column-count: 2
    +rwd-serious(tablet)
        column-count: 3
.ts.waterfall.cards.doubling.seven
    +rwd-serious(mobile)
        column-count: 2
    +rwd-serious(tablet)
        column-count: 3
.ts.waterfall.cards.doubling.eight
    +rwd-serious(mobile)
        column-count: 2
    +rwd-serious(tablet)
        column-count: 4
.ts.waterfall.cards.doubling.nine
    +rwd-serious(mobile)
        column-count: 3
    +rwd-serious(tablet)
        column-count: 4
.ts.waterfall.cards.doubling.ten
    +rwd-serious(mobile)
        column-count: 3
    +rwd-serious(tablet)
        column-count: 5
.ts.waterfall.cards.doubling.eleven
    +rwd-serious(mobile)
        column-count: 3
    +rwd-serious(tablet)
        column-count: 5
.ts.waterfall.cards.doubling.twelve
    +rwd-serious(mobile)
        column-count: 3
    +rwd-serious(tablet)
        column-count: 6
.ts.waterfall.cards.doubling.thirteen
    +rwd-serious(mobile)
        column-count: 3
    +rwd-serious(tablet)
        column-count: 6
.ts.waterfall.cards.doubling.fourteen
    +rwd-serious(mobile)
        column-count: 4
    +rwd-serious(tablet)
        column-count: 7
.ts.waterfall.cards.doubling.fifteen
    +rwd-serious(mobile)
        column-count: 4
    +rwd-serious(tablet)
        column-count: 7
.ts.waterfall.cards.doubling.sixteen
    +rwd-serious(mobile)
        column-count: 4
    +rwd-serious(tablet)
        column-count: 8

//-------------------//
//     Waterfall
//-------------------//

.ts.waterfall.cards
    display     : block
    width       : 100%
    margin-left : 0
    margin-right: 0

.ts.waterfall.cards > .card
    display     : inline-block
    width       : 100%
    margin-left : 0
    margin-right: 0

//.ts.waterfall.cards.stackable > .card,
//.ts.waterfall.cards.doubling > .card
//    +rwd-serious(mobile)
//        margin-left : 0
//        margin-right: 0

.ts.waterfall.cards.one
    column-count     : 1
    column-gap       : calc(#{$card_waterfallOneCardOffset} * 2)
.ts.waterfall.cards.two
    column-count     : 2
    column-gap       : calc(#{$card_waterfallTwoCardOffset} * 2)
.ts.waterfall.cards.three
    column-count     : 3
    column-gap       : calc(#{$card_waterfallThreeCardOffset} * 2)
.ts.waterfall.cards.four
    column-count     : 4
    column-gap       : calc(#{$card_waterfallFourCardOffset} * 2)
.ts.waterfall.cards.five
    column-count     : 5
    column-gap       : calc(#{$card_waterfallFiveCardOffset} * 2)
.ts.waterfall.cards.six
    column-count     : 6
    column-gap       : calc(#{$card_waterfallSixCardOffset} * 2)
.ts.waterfall.cards.seven
    column-count     : 7
    column-gap       : calc(#{$card_waterfallSevenCardOffset} * 2)
.ts.waterfall.cards.eight
    column-count     : 8
    column-gap       : calc(#{$card_waterfallEightCardOffset} * 2)
.ts.waterfall.cards.nine
    column-count     : 9
    column-gap       : calc(#{$card_waterfallNineCardOffset} * 2)
.ts.waterfall.cards.ten
    column-count     : 10
    column-gap       : calc(#{$card_waterfallTenCardOffset} * 2)

//-------------------//
//       Symbol
//-------------------//

.ts.card .symbol
    //margin-right : -#{$card_horizontalPadding}
    //margin-bottom: -#{$card_verticalPadding}
    //height       : $card_symbolSpacingHeight

.ts.card .symbol .icon
    position      : absolute
    right         : 0
    bottom        : 0
    overflow      : hidden
    width         : $card_symbolWidth
    height        : $card_symbolHeight
    margin-left   : 0
    margin-right  : 0
    pointer-events: none
    font-size     : $card_symbolFontSize
    line-height   : $card_symbolLineHeight
    opacity       : $card_symbolOpacity

//-------------------//
//        Link
//-------------------//

.ts.cards a.card,
.ts.link.cards .card,
a.ts.card,
.ts.link.card
    transform: none

.ts.cards a.card:hover,
.ts.link.cards .card:hover,
a.ts.card:hover,
.ts.link.card:hover
    cursor    : pointer
    z-index   : $z_card_linkHover
    box-shadow: $card_linkHoverBoxShadow
    transform : $card_linkHoverTransform

//-------------------//
//      Attached
//-------------------//

.ts.card[class*="top attached"]
    +extend(top-attached)

.ts.card.attached:not([class*="bottom attached"]):not([class*="top attached"])
    +extend(attached)

.ts.card[class*="bottom attached"]
    +extend(bottom-attached)

//-------------------//
//      Coupling
//-------------------//

.ts.card .buttons[class*="bottom attached"] .button
    border-bottom: 0

.ts.card .buttons[class*="top attached"] .button
    border-top: 0

.ts.card .buttons.attached .button:first-child
    border-left: 0

.ts.card .buttons.attached .button:only-child
    border-left : 0
    border-right: 0

.ts.card .buttons.attached .button:not(:first-child):not(:last-child):not(:only-child)
    border-left : 0

.ts.card .buttons.attached .button:last-child
    border-right: 0