@import ./input.variables

//*******************************//
//            Variations
//*******************************//

@mixin input-variant($color, $backgroundColor, $borderColor, $hoverBorderColor, $focusBorderBolor)
    color           : $color
    background: $backgroundColor
    border-color    : $borderColor

    &::-webkit-input-placeholder
        color: $color

    &:-moz-placeholder,
    &:-ms-input-placeholder
        color: $color

    &:hover:hover:hover:hover:hover:not(:focus)
        border-color: $hoverBorderColor !important

    &:focus:focus:focus:focus:focus:focus:focus:focus:focus
        border-color       : $focusBorderBolor
        border-bottom-color: $focusBorderBolor

//*******************************//
//              Main
//*******************************//

.ts.input
    position: relative
    display : inline-flex
    color   : $inputTextColor

.ts.input,
.ts.form
    &
        input, textarea, *[contenteditable]
            transition   : box-shadow $input_transitionDuration ease-in-out
            line-height  : $inputLineHeight
            border       : $input_border
            padding      : $input_padding
            border-radius: $input_borderRadius

            +input-variant($inputTextColor, $input_backgroundColor, $input_borderColor, $input_hoverBorderColor, $input_focusBorderColor)

            &::-webkit-input-placeholder
                opacity    : $input_placeholderOpacity

            &:-moz-placeholder,
            &:-ms-input-placeholder
                opacity    : $input_placeholderOpacity

//-------------------//
//       Focus
//-------------------//

.ts.input,
.ts.form
    &
        input:focus, textarea:focus,
        *[contenteditable]:focus
            &::-webkit-input-placeholder
                opacity: $input_placeholderFocusOpacity

            &:-moz-placeholder,
            &:-ms-input-placeholder
                opacity: $input_placeholderFocusOpacity

.ts.input.focus input,
.ts.input.focus textarea,
.ts.input.focus *[contenteditable]
    &::-webkit-input-placeholder
        opacity: $input_placeholderFocusOpacity

    &:-moz-placeholder,
    &:-ms-input-placeholder
        opacity: $input_placeholderFocusOpacity

.ts.input.focus
    input, textarea, *[contenteditable]
        border-color       : $input_focusBorderColor
        border-bottom-color: $input_focusBorderColor

    input:hover:hover:hover:hover:hover:hover,
    textarea:hover:hover:hover:hover:hover:hover,
    *[contenteditable]:hover:hover:hover:hover:hover:hover
        border-color       : $input_focusBorderColor !important
        border-bottom-color: $input_focusBorderColor !important

//-------------------//
//       Fitted
//-------------------//

.ts.input.fitted:not(.horizontally):not(.vertically)
    &
        input, textarea, *[contenteditable]
            padding: 0
.ts.input.fitted.horizontally
    &
        input, textarea, *[contenteditable]
            padding-left : 0
            padding-right: 0
.ts.input.fitted.vertically
    &
        input, textarea, *[contenteditable]
            padding-top   : 0
            padding-bottom: 0

//-------------------//
//       Basic
//-------------------//

.ts.form .field.basic,
.ts.input.basic
    &
        input, textarea, *[contenteditable]
            background: transparent !important

//-------------------//
//Secondary & Tertiary
//-------------------//

.ts.input.secondary
    &
        input, textarea, *[contenteditable]
            background: $input_secondaryBackgroundColor

            &:focus
                color: $input_secondaryColor
                background: $input_backgroundColor

.ts.input.tertiary
    &
        input, textarea, *[contenteditable]
            background: $input_tertiaryBackgroundColor

            &:focus
                color: $input_tertiaryColor
                background: $input_backgroundColor

//-------------------//
//     Borderless
//-------------------//

.ts.input.borderless
    &
        input, textarea, *[contenteditable]
            border: 0

//-------------------//
//       Fluid
//-------------------//

.ts.input.fluid,
.ts.input.fluid input,
.ts.input.fluid textarea,
.ts.input.fluid *[contenteditable]
    width: 100%

//-------------------//
//      Loading
//-------------------//

.ts.loading.loading.input > i.icon:before
    position     : absolute
    content      : ''
    top          : 50%
    left         : 50%
    margin       : $loaderMargin
    width        : $loaderSize
    height       : $loaderSize
    border-radius: $circularRadius
    border       : $loaderLineWidth solid $loaderFillColor

.ts.loading.loading.input > i.icon:after
    position: absolute
    content : ''
    top     : 50%
    left    : 50%
    margin  : $loaderMargin
    width   : $loaderSize
    height  : $loaderSize

    animation: button-spin $loaderSpeed linear
    animation-iteration-count: infinite

    border-radius: $circularRadius

    border-color: $loaderLineColor transparent transparent
    border-style: solid
    border-width: $loaderLineWidth

    box-shadow: 0px 0px 0px 1px transparent

//-------------------//
//       Icon
//-------------------//

.ts.icon.input > i.icon,
.ts.icon.input > button
    cursor       : default
    position     : absolute
    line-height  : 1
    text-align   : center
    top          : 0px
    right        : 0px
    margin       : 0em
    height       : 100%
    color        : inherit
    width        : $input_iconWidth
    opacity      : $input_iconOpacity
    border-radius: 0em $input_borderRadius $input_borderRadius 0em

.ts.icon.input > i.icon:not(.link)
    pointer-events: none

.ts.icon.input input
    padding-right: $input_iconMargin !important

.ts.icon.input > i.icon:before,
.ts.icon.input > i.icon:after
    left      : 0
    position  : absolute
    text-align: center
    top       : 50%
    width     : 100%
    margin-top: $input_iconOffset

.ts.icon.input > i.link.icon,
.ts.icon.input > button
    cursor: pointer

.ts.icon.input > i.link.icon:hover,
.ts.icon.input > button:hover
    opacity: $input_iconHoverOpacity

.ts.icon.input > i.circular.icon
    top  : $input_circularIconVerticalOffset
    right: $input_circularIconHorizontalOffset

/* Left Icon Input */
.ts[class*="left icon"].input > i.icon,
.ts[class*="left icon"].input > button
    right        : auto
    left         : $input_borderWidth
    border-radius: $input_borderRadius 0em 0em $input_borderRadius

.ts[class*="left icon"].input > i.circular.icon
    right: auto
    left : $input_circularIconHorizontalOffset

.ts[class*="left icon"].input > input
    padding-left : $input_iconMargin !important
    padding-right: $input_horizontalPadding !important

/* Focus */
.ts.icon.input > input:focus ~ i.icon,
.ts.icon.input > input:focus ~ button
    opacity: $input_iconFocusOpacity

//-------------------//
//       Sizes
//-------------------//

.ts.mini.inputs .ts.input,
.ts.mini.input
    font-size: $relativeMini
.ts.tiny.inputs .ts.input,
.ts.tiny.input
    font-size: $relativeTiny
.ts.small.inputs .ts.input,
.ts.small.input
    font-size: $relativeSmall
.ts.medium.inputs .ts.input,
.ts.medium.input,
.ts.input
    font-size: $relativeMedium
.ts.large.inputs .ts.input,
.ts.large.input
    font-size: $relativeLarge
.ts.big.inputs .ts.input,
.ts.big.input
    font-size: $relativeBig
.ts.huge.inputs .ts.input,
.ts.huge.input
    font-size: $relativeHuge
.ts.massive.inputs .ts.input,
.ts.massive.input
    font-size: $relativeMassive

//*******************************//
//             Inputs
//*******************************//

.ts.inputs
    display: inline-block

.ts.inputs.fluid,
.ts.inputs.fluid .ts.input,
.ts.inputs.fluid .ts.input input,
.ts.inputs.fluid .ts.input textarea,
.ts.inputs.fluid .ts.input *[contenteditable]
    width  : 100%
    display: block

.ts.inputs.vertical .ts.input
    display: block

.ts.inputs.vertical .ts.input:last-child:not(:first-child)
    &
        input, textarea, *[contenteditable]
            border-top-right-radius: 0
            border-top-left-radius : 0

            &:focus
                position: relative
                z-index : $z_input_focusingVertical

.ts.inputs.vertical .ts.input:not(:first-child):not(:last-child)
    &
        input, textarea, *[contenteditable]
            border-radius: 0

.ts.inputs.vertical .ts.input:not(:first-child):not(:last-child):not(.error):not(.negative):not(.success):not(.positive):not(.warning)
    &
        input, textarea, *[contenteditable]
            border-bottom-color: transparent

.ts.inputs.vertical .ts.input:first-child:not(:last-child)
    &
        input, textarea, *[contenteditable]
            border-bottom-right-radius: 0
            border-bottom-left-radius : 0

.ts.inputs.vertical .ts.input:first-child:not(:last-child):not(.error):not(.negative):not(.success):not(.positive):not(.warning)
    &
        input, textarea, *[contenteditable]
            border-bottom-color: transparent

//-------------------//
//      Disabled
//-------------------//

.ts.input.disabled,
.ts.input input[disabled]
    opacity       : $disabledOpacity
    pointer-events: none

//-------------------//
//       Error
//-------------------//

.ts.input.error,
.ts.form .field.error,
.ts.input.negative:not(.inverted),
.ts.form .field.negative
    &
        input, textarea, *[contenteditable]
            +input-variant($input_errorTextColor, $input_errorBackgroundColor, $input_errorBorderColor, $input_errorHoverBorderColor, $input_errorFocusBorderColor)

            background-image: $input_errorIconURL

//-------------------//
//      Warning
//-------------------//

.ts.input.warning:not(.inverted),
.ts.form .field.warning
    &
        input, textarea, *[contenteditable]
            +input-variant($input_warningTextColor, $input_warningBackgroundColor, $input_warningBorderColor, $input_warningHoverBorderColor, $input_warningFocusBorderColor)

            background-image: $input_warningIconURL

//-------------------//
//      Success
//-------------------//

.ts.input.success,
.ts.form .field.success,
.ts.input.positive:not(.inverted),
.ts.form .field.positive
    &
        input,
        textarea,
        *[contenteditable]
            +input-variant($input_successTextColor, $input_successBackgroundColor, $input_successBorderColor, $input_successHoverBorderColor, $input_successFocusBorderColor)

            background-image: $input_successIconURL

//-------------------//
//   Common Styles
//-------------------//

.ts.input.error,
.ts.form .field.error,
.ts.input.negative:not(.inverted),
.ts.form .field.negative,
.ts.input.warning:not(.inverted),
.ts.form .field.warning,
.ts.input.success,
.ts.form .field.success,
.ts.input.positive:not(.inverted),
.ts.form .field.positive
    &
        input,
        textarea,
        *[contenteditable]
            padding-right      : $input_iconPaddingRight
            background-repeat  : no-repeat
            background-position: center right $input_backgroundIconPaddingRight
            background-size    : $input_iconSize $input_iconSize

            &::-webkit-input-placeholder
                font-weight: normal
                opacity    : $input_placeholderOpacity

            &:-moz-placeholder,
            &:-ms-input-placeholder
                font-weight: normal
                opacity    : $input_placeholderOpacity

        input:focus,
        textarea:focus,
        *[contenteditable]:focus

            &::-webkit-input-placeholder
                opacity    : $input_placeholderFocusOpacity

            &:-moz-placeholder,
            &:-ms-input-placeholder
                opacity    : $input_placeholderFocusOpacity

        .focus
            input,
            textarea,
            *[contenteditable]
                &::-webkit-input-placeholder
                    opacity    : $input_placeholderFocusOpacity

                &:-moz-placeholder,
                &:-ms-input-placeholder
                    opacity    : $input_placeholderFocusOpacity

//-------------------//
//      Emphasis
//-------------------//

.ts.inverted.primary.input
    &
        input, textarea, *[contenteditable]
            +input-variant($input_invertedPrimaryTextColor, $input_invertedPrimaryBackgroundColor, $input_invertedPrimaryBorderColor, $input_invertedPrimaryHoverBorderColor, $input_invertedPrimaryFocusBorderColor)
.ts.inverted.info.input
    &
        input, textarea, *[contenteditable]
            +input-variant($input_invertedInfoTextColor, $input_invertedInfoBackgroundColor, $input_invertedInfoBorderColor, $input_invertedInfoHoverBorderColor, $input_invertedInfoFocusBorderColor)
.ts.inverted.warning.input
    &
        input, textarea, *[contenteditable]
            +input-variant($input_invertedWarningTextColor, $input_invertedWarningBackgroundColor, $input_invertedWarningBorderColor, $input_invertedWarningHoverBorderColor, $input_invertedWarningFocusBorderColor)
.ts.inverted.positive.input
    &
        input, textarea, *[contenteditable]
            +input-variant($input_invertedPositiveTextColor, $input_invertedPositiveBackgroundColor, $input_invertedPositiveBorderColor, $input_invertedPositiveHoverBorderColor, $input_invertedPositiveFocusBorderColor)
.ts.inverted.negative.input
    &
        input, textarea, *[contenteditable]
            +input-variant($input_invertedNegativeTextColor, $input_invertedNegativeBackgroundColor, $input_invertedNegativeBorderColor, $input_invertedNegativeHoverBorderColor, $input_invertedNegativeFocusBorderColor)
.ts.inverted.input:not(.primary):not(.info):not(.warning):not(.positive):not(.negative)
    &
        input, textarea, *[contenteditable]
            +input-variant($input_invertedTextColor, $input_invertedBackgroundColor, $input_invertedBorderColor, $input_invertedHoverBorderColor, $input_invertedFocusBorderColor)

//-------------------//
//      Action
//-------------------//

.ts.input.action > .button,
.ts.input.action > .buttons
    display    : flex
    align-items: center
    flex       : 0 0 auto

.ts.input.action > .button,
.ts.input.action > .buttons > .button
    padding-top   : $input_verticalPadding
    padding-bottom: $input_verticalPadding
    margin        : 0

.ts.input.action > *:first-child
    border-top-right-radius   : 0
    border-bottom-right-radius: 0

.ts.input.action > *:not(:first-child):not(:last-child)
    border-top-right-radius   : 0
    border-bottom-right-radius: 0
    border-top-left-radius    : 0
    border-bottom-left-radius : 0

.ts.input.action > *:last-child
    border-top-left-radius   : 0
    border-bottom-left-radius: 0

//-------------------//
//      Labeled
//-------------------//

.ts.input.labeled > .label
    flex     : 0 0 auto
    margin   : 0
    height   : initial
    font-size: $relativeMedium

.ts.inputlabeled > .label:not(.corner)
    padding-top   : $input_verticalPadding
    padding-bottom: $input_verticalPadding

.ts.input.labeled > *:first-child
    border-top-right-radius   : 0
    border-bottom-right-radius: 0

.ts.input.labeled > *:not(:first-child):not(:last-child)
    border-top-right-radius   : 0
    border-bottom-right-radius: 0
    border-top-left-radius    : 0
    border-bottom-left-radius : 0

.ts.input.labeled > *:last-child
    border-top-left-radius   : 0
    border-bottom-left-radius: 0

.ts.input.labeled > * + .label:not(.positive):not(.primary):not(.negative):not(.info):not(.warning):not(.inverted)
    border-left: 0

.ts.input.labeled > input + .dropdown:not(:hover),
.ts.input.labeled > .dropdown:not(:hover) + input
    border-left-color: transparent

//-------------------//
//      Resizable
//-------------------//

.ts.resizable input,
.ts.resizable textarea,
.ts.resizable *[contenteditable],
.ts.form .resizable.field input,
.ts.form .resizable.field textarea,
.ts.form .resizable.field *[contenteditable]
    resize: both

//-------------------//
//      Circular
//-------------------//

.ts.input.circular
    &
        input, textarea, *[contenteditable]
            border-radius: 10em

//-------------------//
//     File Input
//-------------------//

.ts.input input[type=file]
    display: none

//-------------------//
//       Aligns
//-------------------//

.ts.input.centered
    margin: 0 auto

//-------------------//
//     Underlined
//-------------------//

.ts.underlined.input input,
.ts.underlined.input textarea,
.ts.underlined.input *[contenteditable]
    border-left  : 0
    border-top   : 0
    border-right : 0
    border-radius: 0

.ts.underlined.input input:focus,
.ts.underlined.input textarea:focus,
.ts.underlined.input *[contenteditable]:focus,
.ts.underlined.input input.focus,
.ts.underlined.input textarea.focus,
.ts.underlined.input *[contenteditable].focus
    box-shadow: $input_underlinedShadow $input_focusBorderColor
.ts.underlined.error.input input:focus,
.ts.underlined.error.input textarea:focus,
.ts.underlined.error.input *[contenteditable]:focus,
.ts.underlined.error.input input.focus,
.ts.underlined.error.input textarea.focus,
.ts.underlined.error.input *[contenteditable].focus
    box-shadow: $input_underlinedShadow $input_errorFocusBorderColor
.ts.underlined.warning.input input:focus,
.ts.underlined.warning.input textarea:focus,
.ts.underlined.warning.input *[contenteditable]:focus,
.ts.underlined.warning.input input.focus,
.ts.underlined.warning.input textarea.focus,
.ts.underlined.warning.input *[contenteditable].focus
    box-shadow: $input_underlinedShadow $input_warningFocusBorderColor
.ts.underlined.success.input input:focus,
.ts.underlined.success.input textarea:focus,
.ts.underlined.success.input *[contenteditable]:focus,
.ts.underlined.success.input input.focus,
.ts.underlined.success.input textarea.focus,
.ts.underlined.success.input *[contenteditable].focus
    box-shadow: $input_underlinedShadow $input_successFocusBorderColor

//-------------------//
//       Number
//-------------------//

.ts.input.number input
    flex         : 1
    width        : $input_numberWidth
    text-align   : center
    border-radius: 0

.ts.input.number input::-webkit-outer-spin-button,
.ts.input.number input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin            : 0

.ts.input.number button:first-child
    border-top-right-radius   : 0
    border-bottom-right-radius: 0
    border-right              : none

.ts.input.number input + button
    border-top-left-radius   : 0
    border-bottom-left-radius: 0
    border-left              : none

.ts.input.number .ts.button.increase,
.ts.input.number .ts.button.decrease
    padding-left : $input_numberButtonHorizontalPadding
    padding-right: $input_numberButtonHorizontalPadding

.ts.input.number .ts.button.increase:after
    font-family: $input_numberButtonFontFamily
    content    : $input_numberIncreaseButtonContent

.ts.input.number .ts.button.decrease:after
    font-family: $input_numberButtonFontFamily
    content    : $input_numberDecreaseButtonContent

//-------------------//
//      Attached
//-------------------//

.ts.input[class*="top attached"] input,
.ts.input[class*="top attached"] textarea,
.ts.input[class*="top attached"] *[contenteditable],
.ts.input.number[class*="top attached"] .increase.button,
.ts.input.number[class*="top attached"] .decrease.button
    +extend(top-attached)

.ts.input.attached:not([class*="bottom attached"]):not([class*="top attached"]) input,
.ts.input.attached:not([class*="bottom attached"]):not([class*="top attached"]) textarea,
.ts.input.attached:not([class*="bottom attached"]):not([class*="top attached"]) *[contenteditable],
.ts.input.number.attached:not([class*="bottom attached"]):not([class*="top attached"]) .increase.button,
.ts.input.number.attached:not([class*="bottom attached"]):not([class*="top attached"]) .decrease.button
    +extend(attached)

.ts.input[class*="bottom attached"] input,
.ts.input[class*="bottom attached"] textarea,
.ts.input[class*="bottom attached"] *[contenteditable],
.ts.input.number[class*="bottom attached"] .increase.button,
.ts.input.number[class*="bottom attached"] .decrease.button
    +extend(bottom-attached)

//-------------------//
//      Editable
//-------------------//

.ts.input.editable > .text
    padding: $input_padding
    border-bottom: 1px dashed $input_borderColor

.ts.input.editable input,
.ts.input.editable textarea,
.ts.input.editable *[contenteditable]
    display: none

.ts.input.editable.editing input,
.ts.input.editable.editing textarea,
.ts.input.editable.editing *[contenteditable]
    display: inline-block
.ts.input.editable.editing > .text
    display: none

//-------------------//
//     Coupling
//-------------------//

.ts.input > .ts.progress[class*="bottom attached"]
    position: absolute
    bottom  : 0
    left    : 0
    right   : 0

.ts.input > .ts.progress[class*="top attached"]
    position: absolute
    top     : 0
    left    : 0
    right   : 0