//-------------------//
//        Page
//-------------------//

html
    font-size  : $fontSize
    line-height: $lineHeight

body
    overflow-x : hidden
    color      : $typography_textColor

//-------------------//
//        All
//-------------------//

*
    position      : relative
    font-family   : $typography_fontFamily
    box-sizing    : $typography_boxSizing

    -webkit-overflow-scrolling: touch

//-------------------//
//        kbd
//-------------------//

kbd
    padding      : $typography_kbdPadding
    font-size    : 90%
    color        : $typography_kbdTextColor
    background   : $typography_kbdBackgroundColor
    border-radius: $typography_kbdBorderRadius

    kbd
        padding    : 0
        font-size  : 100%
        font-weight: 500

//-------------------//
//       mark
//-------------------//

mark
    padding      : $typography_markPadding
    color        : $typography_markTextColor
    background   : $typography_markBackgroundColor
    border-radius: $typography_markBorderRadius

//-------------------//
//    dl & dd & dt
//-------------------//

dl
    margin: $typography_dlMargin
dl:first-child
    margin-top: 0
dl:last-child
    margin-bottom: 0

dd
    margin-left: $typography_ddDistance

dt
    font-weight: bolder

dd + dt
    margin-top: $typography_dtDistance

//-------------------//
//        abbr
//-------------------//

abbr[data-original-title],
abbr[title]
    cursor: help

//-------------------//
//      address
//-------------------//

address
    font-style : normal
    line-height: inherit
    margin     : $typography_addressMargin

address:first-child
    margin-top: 0

address:last-child
    margin-bottom: 0

//-------------------//
//        code
//-------------------//

code
    padding      : $typography_codePadding
    font-size    : 90%
    color        : $typography_codeTextColor
    background   : $typography_codeBackgroundColor
    border-radius: $typography_codeBorderRadius

pre code
    padding      : 0
    font-size    : inherit
    color        : inherit
    background   : transparent
    border-radius: 0

code, kbd, samp
    font-family: $typography_codeFamily

//-------------------//
//         p
//-------------------//

p:not(:first-child)
    margin-top   : $typography_pVerticalMargin
    margin-bottom: $typography_pVerticalMargin

p:last-child:not(:first-child)
    margin-bottom: 0

p:first-child
    margin-top: 0

p:last-child:first-child
    margin-top   : 0
    margin-bottom: 0

//-------------------//
//   Tap Highlight
//-------------------//

html
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)

//-------------------//
//      strong
//-------------------//

strong
    font-weight: bolder

//-------------------//
//       link
//-------------------//

a
    cursor         : pointer
    position       : relative
    color          : $linkColor
    text-decoration: $linkUnderline

    &:hover
        color          : $linkHoverColor
        text-decoration: $linkHoverUnderline

a, span
    //display: inline-block

//-------------------//
//        List
//-------------------//

caption
    padding-top   : $typography_captionVerticalPadding
    padding-bottom: $typography_captionVerticalPadding
    color         : $typography_captionTextColor
    text-align    : left
    caption-side  : bottom