@import ./Button.variables

//*******************************//
//            Variations
//*******************************//

@mixin button-variant($colors)
    $color                : nth($colors, 1)
    $backgroundColor      : nth($colors, 2)
    $hoverColor           : nth($colors, 3)
    $hoverBackgroundColor : nth($colors, 4)
    $activeColor          : nth($colors, 5)
    $activeBackgroundColor: nth($colors, 6)
    $borderColor          : nth($colors, 7)

    border-color: $borderColor
    background  : $backgroundColor
    color       : $color

    //&:focus:not(.disabled)
    //    box-shadow: 0 0 0 0.2em rgba(3,102,214,0.3)

    &:active:not(.opinion),
    &.dropdown.visible,
    &.active
        background: $activeBackgroundColor
        color     : $activeColor

    &:not(.visible):not(.hidden):not(.disabled):not([disabled]):not(:active):not(.active):not(.opinion):hover
        background: $hoverBackgroundColor
        color     : $hoverColor

//*******************************//
//           Animation
//*******************************//

// https://github.com/Dogfalo/materialize/blob/0e5d98d5a1ddb93a5c80246d473f83484e9d1e6b/sass/components/_pulse.scss
@keyframes pulse-animation
    0%
        opacity  : 1
        transform: scale(1) translateY(-1%) translateX(-1%)
    50%
        opacity  : 0
        transform: scale(1.5) translateY(-1%) translateX(-1%)
    100%
        opacity  : 0
        transform: scale(1.5) translateY(-1%) translateX(-1%)

//-------------------//
//       Basic
//-------------------//

@mixin button-basic-variant($color)
    color: nth($color, 8)
    &:hover
        border-color: nth($color, 7)
    &:active,
    &.active
        border-color: nth($color, 9)

//-------------------//
//   Inverted Basic
//-------------------//

@mixin button-inverted-basic-variant($color)
    color: nth($color, 5)
    &:hover
        border-color: nth($color, 7)
    &:active,
    &.active
        border-color: nth($color, 9)

//*******************************//
//              Main
//*******************************//

// -- button
.ts.button
    +extend(no-select)

    cursor        : pointer
    padding       : $button_padding
    border-radius : $button_borderRadius
    font-size     : $button_fontSize
    font-weight   : $button_fontWeight
    display       : inline-block
    line-height   : $inputLineHeight
    border-width  : $button_borderWidth
    border-style  : solid
    vertical-align: middle
    text-align    : center
    position      : relative
    z-index       : $z_button

    +button-variant($button_defaultColors)

//-------------------//
//      Attached
//-------------------//

// -- button--top-attached
.ts.-top-attached.button,
.ts.-top-attached.buttons .button
    border-bottom-left-radius : 0
    border-bottom-right-radius: 0

// -- button--attached
.ts.-attached.button.attached,
.ts.-attached.buttons.attached .button
    border-radius: 0

// -- button--bottom-attached
.ts.-bottom-attached.button,
.ts.-bottom-attached.buttons .button
    border-top-left-radius : 0
    border-top-right-radius: 0

//-------------------//
//     Secondary
//-------------------//

// TODO
.ts.secondary.button:not(.basic):not(.opinion):not(:hover):not(:active):not(.active),
.ts.secondary.buttons:not(.basic):not(.opinion) .ts.button:not(:hover):not(:active):not(.active)
    background  : $white
    border-color: transparent

//-------------------//
//      Pulsing
//-------------------//

.ts.-pulsing.button
    z-index: $z_button_pulsing

.ts.-pulsing.button:before
    content : ''
    display : block
    position: absolute
    width   : 100%
    height  : 100%
    top     : 0
    left    : 0

    background: inherit
    border-radius   : inherit
    transition      : opacity $button_pulsingTransitionDuration, transform $button_pulsingTransitionDuration
    animation       : pulse-animation $button_pulsingDuration $button_pulsingTimingFunction infinite

    z-index: $z_button_pulsingBefore

.ts.-pulsing.-basic.button:before
    border-color: inherit
    border      : $button_basicBorderWidth solid

//-------------------//
//      Circular
//-------------------//

.ts.-circular.button,
.ts.-circular.buttons .button
    border-radius: $circularRadius

//-------------------//
//      Disabled
//-------------------//

.ts.button[disabled],
.ts.-disabled.button,
.ts.-disabled.button:hover,
.ts.-disabled.buttons .button,
.ts.buttons[disabled] .button,
.ts.-disabled.buttons .button:hover
    +extend(no-select)
    opacity       : $disabledOpacity !important
    cursor        : not-allowed      !important
    pointer-events: none             !important

//-------------------//
//         Or
//-------------------//

.ts.buttons > .or
    position: relative
    width   : $button_orGap
    height  : $button_orHeight
    z-index : $z_button_or

.ts.buttons > .or:before
    position     : absolute
    text-align   : center
    border-radius: $circularRadius

    content: $button_orText
    top    : 50%
    left   : 50%

    background: $button_orBackgroundColor

    margin-top : $button_orVerticalOffset
    margin-left: $button_orHorizontalOffset
    width      : $button_orCircleSize
    height     : $button_orCircleSize
    line-height: $button_orLineHeight

    color      : $button_orTextColor
    font-style : $button_orTextStyle
    font-weight: $button_orTextWeight

.ts.buttons > .or[data-text]:before
    content: attr(data-text)

.ts.buttons > .or + .button.button.button.button.button
    border-left-width: $button_borderWidth

//-------------------//
//      Loading
//-------------------//

.ts.-loading.-loading.-loading.-loading.-loading.-loading.button
    position      : relative
    text-shadow   : none        !important
    color         : transparent !important
    opacity       : 1
    pointer-events: auto
    transition    : $button_loadingTransition

.ts.-loading.button:before
    position     : absolute
    content      : ''
    top          : 50%
    left         : 50%
    margin       : $loaderMargin
    width        : $loaderSize
    height       : $loaderSize
    border-radius: $circularRadius
    border       : $loaderLineWidth solid $button_coloredLoaderFillColor

// TODO
.ts.loading.button:before:not(.primary):not(.info):not(.warning):not(.inverted):not(.positive):not(.negative):not(.secondary):before
    border-color: $button_loaderFillColor

.ts.-loading.button:after
    position: absolute
    content : ''
    top     : 50%
    left    : 50%
    margin  : $loaderMargin
    width   : $loaderSize
    height  : $loaderSize

    animation                : button-spin $loaderSpeed linear
    animation-iteration-count: infinite

    border-radius: $circularRadius
    border-color : $button_coloredLoaderLineColor transparent transparent
    border-style : solid
    border-width : $loaderLineWidth
    box-shadow   : 0 0 0 1px transparent

// TODO
.ts.loading.button:not(.primary):not(.info):not(.warning):not(.inverted):not(.positive):not(.negative):not(.secondary):after
    border-color: $button_loaderLineColor transparent transparent

// TODO
.ts.labeled.icon.loading.button .icon
    background: transparent
    box-shadow: none

@keyframes button-spin
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

// TODO
.ts.basic.loading.button:not(.inverted):before
    border-color: $loaderFillColor

// TODO
.ts.basic.loading.button:not(.inverted):after
    border-top-color: $loaderLineColor

//-------------------//
//    Labeled Icon
//-------------------//

.ts.-right-labeled.-icon.buttons .button,
.ts.-right-labeled.-icon.button
    position     : relative
    padding-left : $button_labeledIconPadding !important
    padding-right: $button_horizontalPadding  !important

/* Compact */
.ts.-right-labeled.-icon.-compact.buttons .button,
.ts.-right-labeled.-icon.-compact.button
    padding-left : $button_compactLabeledIconPadding !important
    padding-right: $button_compactHorizontalPadding  !important

/* Very Compact */
.ts.right-labeled.-icon.-very-compact.buttons .button,
.ts.right-labeled.-icon.-very-compact.button
    padding-left : $button_veryCompactLabeledIconPadding !important
    padding-right: $button_veryCompactHorizontalPadding  !important

/* Left Labeled */
.ts.-icon.buttons[class*="-labeled"] > .button > .icon,
.ts.-icon.button[class*="-labeled"] > .icon,
    position                 : absolute
    height                   : 100%
    line-height              : 1
    border-radius            : 0
    border-top-left-radius   : inherit
    border-bottom-left-radius: inherit
    text-align               : center
    z-index                  : $z_buttonIcon
    margin                   : $button_labeledIconMargin
    width                    : $button_labeledIconWidth
    background               : $button_labeledIconBackgroundColor
    color                    : $button_labeledIconColor
    box-shadow               : $button_labeledIconLeftShadow

/* Compact */
.ts.-icon.-compact.buttons[class*="-labeled"] > .button > .icon,
.ts.-icon.-compact.button[class*="-labeled"] > .icon
    width: $button_compactLabeledIconWidth

/* Very Compact */
.ts.-icon.-very-compact.buttons[class*="-labeled"] > .button > .icon,
.ts.-icon.-very-compact.button[class*="-labeled"] > .icon
    width: $button_veryCompactLabeledIconWidth

/* Left Labeled */
.ts.-left-labeled.-icon.buttons > .button > .icon,
.ts.-left-labeled.-icon.button > .icon
    top : 0
    left: 0

/* Right Labeled */
.ts.-right-labeled.-icon.button
    padding-right: $button_labeledIconPadding !important
    padding-left : $button_horizontalPadding !important

/* Compact */
.ts.-right-labeled.-icon.-compact.buttons .button,
.ts.-right-labeled.-icon.-compact.button
    padding-right: $button_compactLabeledIconPadding !important
    padding-left : $button_compactHorizontalPadding  !important

/* Very Compact */
.ts.-right-labeled.-icon.-very-compact.buttons .button,
.ts.-right-labeled.-icon.-very-compact.button
    padding-right: $button_veryCompactLabeledIconPadding !important
    padding-left : $button_veryCompactHorizontalPadding  !important

.ts.-right-labeled.-icon.button > .icon
    left : auto
    right: 0

    border-radius             : 0
    border-top-right-radius   : inherit
    border-bottom-right-radius: inherit

    box-shadow: $button_labeledIconRightShadow

.ts.labeled.icon.buttons > .button > .icon:before,
.ts.labeled.icon.button > .icon:before,
.ts.labeled.icon.buttons > .button > .icon:after,
.ts.labeled.icon.button > .icon:after
    display   : block
    position  : absolute
    width     : 100%
    top       : 50%
    text-align: center
    transform : translateY(-50%)

.ts.labeled.icon.buttons .button > .icon
    border-radius: 0

.ts.labeled.icon.buttons .button:first-child > .icon
    border-top-left-radius   : $button_borderRadius
    border-bottom-left-radius: $button_borderRadius

.ts.-vertical.-icon.buttons[class*="-labeled"] .button:first-child > .icon
    border-radius         : 0
    border-top-left-radius: $button_borderRadius

.ts.-vertical.-icon.buttons[class*="-labeled"] .button:last-child > .icon
    border-radius            : 0
    border-bottom-left-radius: $button_borderRadius

/* Fluid Labeled */
.ts.-left-labeled.-icon.-fluid.button,
.ts.-right-labeled.-icon.-fluid.button
    padding-left : $button_horizontalPadding !important
    padding-right: $button_horizontalPadding !important

//-------------------//
//      Floated
//-------------------//

.ts.-left-floated.button,
.ts.-left-floated.buttons
    float       : left
    margin-right: auto
.ts.-right-floated.button,
.ts.-right-floated.buttons
    float      : right
    margin-left: auto

//-------------------//
//       Fluid
//-------------------//

.ts.-fluid.button,
.ts.-fluid.buttons,
.ts.-fluid.buttons .button
    width: 100%
    // This effects the .ts.buttons in card
    // flex : 1

//-------------------//
//      Compact
//-------------------//

.ts.-compact.-compact.button,
.ts.-compact.-compact.buttons .button
    padding: $button_compactPadding

.ts.-very-compact.-very-compact.button,
.ts.-very-compact.-very-compact.buttons .button
    padding: $button_veryCompactPadding

//-------------------//
//       Sizes
//-------------------//

.ts.-mini.button,
.ts.-mini.buttons .or,
.ts.-mini.buttons .button
    font-size: $button_miniFontSize
.ts.-tiny.button,
.ts.-tiny.buttons .or,
.ts.-tiny.buttons .button
    font-size: $button_tinyFontSize
.ts.-small.button,
.ts.-small.buttons .or,
.ts.-small.buttons .button
    font-size: $button_smallFontSize
.ts.-medium.button,
.ts.-medium.buttons .or,
.ts.-medium.buttons .button
    font-size: $button_mediumFontSize
.ts.-large.button,
.ts.-large.buttons .or,
.ts.-large.buttons .button
    font-size: $button_largeFontSize
.ts.-big.button,
.ts.-big.buttons .or,
.ts.-big.buttons .button
    font-size: $button_bigFontSize
.ts.-huge.button,
.ts.-huge.buttons .or,
.ts.-huge.buttons .button
    font-size: $button_hugeFontSize
.ts.-massive.button,
.ts.-massive.buttons .or,
.ts.-massive.buttons .button
    font-size: $button_massiveFontSize

//-------------------//
//      Labeled
//-------------------//

.ts.-labeled.button:not(.icon)
    +extend(no-select)

    display       : inline-flex
    flex-direction: row
    background    : none !important
    padding       : 0    !important
    border        : none !important
    box-shadow    : none !important
    vertical-align: bottom

.ts.-labeled.button > .button
    margin     : 0

.ts.-labeled.button > .label
    display     : flex
    height      : initial
    align-items : $button_labeledLabelAlign
    margin      : 0 0 0 $button_labeledLabelBorderOffset !important
    font-size   : $button_labeledLabelFontSize
    padding     : $button_labeledLabelPadding
    font-size   : $button_labeledLabelFontSize
    border-color: $button_labeledLabelBorderColor

/* Tag */
.ts.-labeled.button > .tag.label:before
    width : $button_labeledTagLabelSize
    height: $button_labeledTagLabelSize

/* Right */
.ts.-right-labeled.button > .button
    border-top-right-radius   : 0
    border-bottom-right-radius: 0

.ts.-right-labeled.button > .label
    border-top-left-radius   : 0
    border-bottom-left-radius: 0

/* Left Side */
.ts.-left-labeled.button > .button
    border-top-left-radius   : 0
    border-bottom-left-radius: 0

.ts.-left-labeled.button > .label
    border-top-right-radius   : 0
    border-bottom-right-radius: 0

//-------------------//
//       Icon
//-------------------//

.ts.-icon.button,
.ts.-icon.buttons .button
    padding: $button_verticalPadding $button_verticalPadding

/* Compact */
.ts.-icon.-compact.button,
.ts.-icon.-compact.buttons .button
    padding: $button_compactVerticalPadding $button_compactVerticalPadding

/* Very Compact */
.ts.-icon.-very-compact.button,
.ts.-icon.-very-compact.buttons .button
    padding: $button_veryCompactVerticalPadding $button_veryCompactVerticalPadding

.ts.button > .icon:not(.button)
    height        : $button_iconHeight
    opacity       : $button_iconOpacity
    margin        : $button_iconMargin
    transition    : $button_iconTransition
    vertical-align: $button_iconVerticalAlign
    color         : $button_iconColor

.ts.button:not(.-icon) > .icon:not(.button)
    margin: $button_iconMargin

.ts.button:not(.-icon) > .right.icon:not(.button)
    margin: $button_rightIconMargin

.ts.-icon.button > .icon,
.ts.-icon.buttons > .ts.button > .icon
    margin   : 0
    font-size: $button_iconFontSize

//-------------------//
//       Close
//-------------------//

.ts.-close.button
    +extend(no-select)

    display         : inline-flex
    align-items     : center
    justify-content : center
    color           : $button_closeTextColor
    background      : $button_closeBackgroundColor
    border-radius   : $button_closeBorderRadius
    cursor          : pointer
    margin          : 0
    padding         : $button_closePadding
    border          : 0
    opacity         : $button_closeOpacity

.ts.-close.button:hover
    background: $button_closeBackgroundColor !important
    color     : $button_closeTextColor       !important
    opacity   : $button_closeHoverOpacity

.ts.-close.button:active
    background: $button_closeBackgroundColor !important
    color     : $button_closeTextColor !important
    opacity   : $button_closeActiveOpacity

.ts.-close.button.disabled
    opacity       : $button_closeDisabledpacity
    pointer-events: none

// Icon content
.ts.-close.button:after
    content    : $button_closeContent
    line-height: $button_closeLineHeight
    font-family: $button_closeFont

// Sizes
.ts.-close.-mini.button
    width : $button_closeMiniSize
    height: $button_closeMiniSize
.ts.-close.-tiny.button
    width : $button_closeTinySize
    height: $button_closeTinySize
.ts.-close.-small.button
    width : $button_closeSmallSize
    height: $button_closeSmallSize
.ts.-close.button
    width : $button_closeMediumSize
    height: $button_closeMediumSize
.ts.-close.-large.button
    width : $button_closeLargeSize
    height: $button_closeLargeSize
.ts.-close.-big.button
    width : $button_closeBigSize
    height: $button_closeBigSize
.ts.-close.-huge.button
    width : $button_closeHugeSize
    height: $button_closeHugeSize
.ts.-close.-massive.button
    width : $button_closeMassiveSize
    height: $button_closeMassiveSize

//-------------------//
//       Corner
//-------------------//

.ts.-corner.button
    position: absolute
    z-index : $z_button_corner
.ts.-top-right.-corner.button
    transform: translateY(-50%) translateX(50%)
    top      : 0
    right    : 0
.ts.-top-left.-corner.button
    transform: translateY(-50%) translateX(-50%)
    top      : 0
    left     : 0
.ts.-bottom-right.-corner.button
    transform: translateY(50%) translateX(50%)
    bottom: 0
    right : 0
.ts.-bottom-left.-corner.button
    transform: translateY(50%) translateX(-50%)
    bottom   : 0
    left     : 0

//-------------------//
//      Emphasis
//-------------------//

.ts.-inverted.button,
.ts.-inverted.buttons .button
    +button-variant($button_invertedColors)
.ts.-primary.button,
.ts.-primary.buttons .button
    +button-variant($button_primaryColors)
.ts.-info.button,
.ts.-info.buttons .button
    +button-variant($button_infoColors)
.ts.-warning.button,
.ts.-warning.buttons .button
    +button-variant($button_warningColors)
.ts.-negative.button,
.ts.-negative.buttons .button
    +button-variant($button_negativeColors)
.ts.-positive.button,
.ts.-positive.buttons .button
    +button-variant($button_positiveColors)

//-------------------//
//      Opinion
//-------------------//

.ts.-opinion.button,
.ts.-opinion.buttons .button
    border-color: transparent
    background  : $button_opinionBackgroundColor
    color       : $button_opinionTextColor

    &:hover:not(.-active):not(:active)
        background: $button_opinionHoverBackgroundColor
        color     : $button_opinionHoverTextColor
    &:active,
    &.-active
        background: $button_opinionActiveBackgroundColor
        color     : $button_opinionActiveTextColor

.ts.-secondary-opinion.button,
.ts.-secondary-opinion.buttons .button
    background: $button_opinionSecondryBackgroundColor
    color     : $button_opinionSecondryTextColor

    &:hover:not(.-active):not(:active)
        background: $button_opinionSecondryHoverBackgroundColor
        color     : $button_opinionSecondryHoverTextColor
    &:active,
    &.-active
        background: $button_opinionSecondryActiveBackgroundColor
        color     : $button_opinionSecondryActiveTextColor

//-------------------//
//       Basic
//-------------------//

.ts.-basic.button
    border-width: $button_basicBorderWidth

.ts.-basic.button,
.ts.-basic.button:hover:not(.-active):not(:active),
.ts.-basic.buttons .button,
.ts.-basic.buttons .button:hover:not(.-active):not(:active)
    background: $button_basicBackgroundColor

/* Basic */
.ts.-basic.button:not(.-primary):not(.-info):not(.-warning):not(.-positive):not(.-negative):not(.-secondary),
.ts.-basic.buttons:not(.-primary):not(.-info):not(.-warning):not(.-positive):not(.-negative):not(.-secondary) .button
    background  : transparent
    border-color: $button_basicBorderColor
    color       : $button_basicTextColor
    &:hover:hover:hover:hover:not(.-active):not(:active)
        border-color: $button_basicHoverBorderColor
        background  : $button_basicHoverBorderColor
        color       : $button_basicHoverTextColor
    &:active:active:active:active,
    &.-active.-active.-active.-active
        border-color: $button_basicActiveBorderColor
        background  : $button_basicActiveBackgroundColor
        color       : $button_basicActiveTextColor

/* Secondary Basic */
.ts.-basic.-secondary.button:not(.-primary):not(.-info):not(.-warning):not(.-positive):not(.-negative),
.ts.-basic.-secondary.buttons:not(.-primary):not(.-info):not(.-warning):not(.-positive):not(.-negative) .button
    background  : transparent
    border-color: $button_basicSecondaryBorderColor
    color       : $button_basicSecondaryTextColor
    &:hover:hover:hover:hover:not(.-active):not(:active)
        background: $button_basicSecondaryHoverBackgroundColor
        color     : $button_basicSecondaryHoverTextColor
    &:active:active:active:active,
    &.-active.-active.-active.-active
        border-color: $button_basicSecondaryActiveBorderColor
        background  : $button_basicSecondaryActiveBackgroundColor
        color       : $button_basicSecondaryActiveTextColor

.ts.-basic.-inverted.button,
.ts.-basic.-inverted.buttons .button,
.ts.-basic.-secondary.button,
.ts.-basic.-secondary.buttons .button
    +button-basic-variant($inverted)
.ts.-basic.-primary.button,
.ts.-basic.-primary.buttons .button
    +button-basic-variant($primary)
.ts.-basic.-info.button,
.ts.-basic.-info.buttons .button
    +button-basic-variant($info)
.ts.-basic.-warning.button,
.ts.-basic.-warning.buttons .button
    +button-basic-variant($warning)
.ts.-basic.-negative.button,
.ts.-basic.-negative.buttons .button
    +button-basic-variant($negative)
.ts.-basic.-positive.button,
.ts.-basic.-positive.buttons .button
    +button-basic-variant($positive)

//-------------------//
//   Inverted Basic
//-------------------//

.ts.-inverted.-basic.button:not(.primary):not(.info):not(.warning):not(.positive):not(.negative)
    +button-inverted-basic-variant($inverted)
    color       : $button_invertedBasicBorderColor
    border-color: $button_invertedBasicTextColor

.ts.-inverted.-basic.button.inverted.basic:not(.primary):not(.info):not(.warning):not(.positive):not(.negative):not(.active):not(:active):hover:hover:hover:hover
    background  : $button_invertedBasicHoverBackgroundColor
    border-color: $button_invertedBasicHoverBackgroundColor
    color       : $button_invertedBasicHoverTextColor

.ts.-inverted.-basic.button.inverted.basic:not(.primary):not(.info):not(.warning):not(.positive):not(.negative):active:active:active:active,
.ts.-inverted.-basic.button.inverted.basic:not(.primary):not(.info):not(.warning):not(.positive):not(.negative).active.active.active.active
    background  : $button_invertedBasicActiveBackgroundColor
    border-color: $button_invertedBasicActiveBackgroundColor
    color       : $button_invertedBasicActiveTextColor

.ts.-inverted.-basic.button,
.ts.-inverted.-basic.buttons .button,
.ts.-inverted.-basic.-secondary.button,
.ts.-inverted.-basic.-secondary.buttons .button
    +button-inverted-basic-variant($inverted)
    border-width: $button_invertedBasicBorderWidth
    border-style: $button_invertedBasicBorderStyle
.ts.-inverted.-basic.-primary.button,
.ts.-inverted.-basic.-primary.buttons .button
    +button-inverted-basic-variant($primary)
.ts.-inverted.-basic.-info.button,
.ts.-inverted.-basic.-info.buttons .button
    +button-inverted-basic-variant($info)
.ts.-inverted.-basic.-warning.button,
.ts.-inverted.-basic.-warning.buttons .button
    +button-inverted-basic-variant($warning)
.ts.-inverted.-basic.-negative.button,
.ts.-inverted.-basic.-negative.buttons .button
    +button-inverted-basic-variant($negative)
.ts.-inverted.-basic.-positive.button,
.ts.-inverted.-basic.-positive.buttons .button
    +button-inverted-basic-variant($positive)

//-------------------//
//        Link
//-------------------//

.ts.-link.button
    padding        : 0
    margin         : 0
    border         : 0
    font-weight    : $button_linkFontWeight
    line-height    : inherit
    vertical-align : baseline
    color          : $button_linkTextColor
    text-decoration: $linkUnderline

.ts.-link.-inverted.button
    color: $button_invertedLinkTextColor

.ts.-link.button,
.ts.-link.button:hover,
.ts.-link.button:active
    background: transparent !important

.ts.-link.button:hover
    color          : $button_linkHoverTextColor !important
    text-decoration: $linkHoverUnderline

.ts.-link.button:active
    color          : $button_linkActiveTextColor !important
    text-decoration: $linkActiveUnderline

.ts.-link.-inverted.button:hover
    color: $button_invertedLinkHoverTextColor !important

.ts.-link.-inverted.button:active
    color: $button_invertedLinkActiveTextColor !important

//*******************************//
//            Buttons
//*******************************///

.ts.buttons
    display       : inline-flex
    vertical-align: middle

.ts.buttons:not(.-separated):not(.-vertical)
    .ts.button
        display: inline-block

        &:not(:first-child)
            border-top-left-radius   : 0
            border-bottom-left-radius: 0
            border-left-width        : 0

        &:not(:last-child)
            border-top-right-radius   : 0
            border-bottom-right-radius: 0
            border-right-width        : $button_borderWidth

        &:last-child
            border-left-width: 0

    &.-inverted.-basic .ts.button
        &:not(:last-child)
            border-right-width: $button_invertedBasicBorderWidth

.ts.-vertical.buttons:not(.-separated)
    display: block

    .ts.button
        display: block

        &:not(:first-child)
            border-top-left-radius : 0
            border-top-right-radius: 0
            border-bottom-width    : 0

        &:not(:last-child)
            border-bottom-left-radius : 0
            border-bottom-right-radius: 0
            border-bottom-width       : 0

        &:last-child
            border-bottom-width       : $button_borderWidth

.ts.-vertical.-inverted.-basic.buttons:not(.-separated) .ts.button:last-child
    border-bottom-width: $button_invertedBasicBorderWidth

//-------------------//
//     Separated
//-------------------//

.ts.-separated.buttons > .ts.button
    margin: 0 $button_buttonsSeparatedHorizontalMargin 0 0
.ts.-separated.buttons > .ts.button:last-child:last-child:last-child
    margin-right: 0

.ts.-vertical.-separated.buttons
    flex-direction: column
.ts.-vertical.-separated.buttons > .ts.button
    margin: 0 0 $button_buttonsSeparatedVerticalMargin 0
.ts.-vertical.-separated.buttons > .ts.button:last-child
    margin-bottom: 0

.ts.-relaxed.-separated.buttons > .ts.button
    margin: 0 $button_buttonsRelaxedSeparatedHorizontalMargin 0 0
.ts.-vertical.-relaxed.-separated.buttons > .ts.button
    margin: 0 0 $button_buttonsRelaxedSeparatedVerticalMargin 0

//-------------------//
//     Coupling
//-------------------//

.ts.button:not(.-labeled) > .ts.label
    margin        : $button_labelMargin
    height        : $button_labelHeight
    border        : 0
    padding-left  : $button_labelHorizontalPadding
    padding-right : $button_labelHorizontalPadding
    pointer-events: none
.ts.button:not(.-labeled) > .ts.label:not(.-basic):not(.-positive):not(.-negative):not(.-info):not(.-primary):not(.-warning):not(.-inverted)
    background: $button_labelBackgroundColor
.ts.button:not(.-labeled):hover > .ts.label
    opacity: $button_labelHoverOpacity
.ts.button:not(.-labeled):active > .ts.label
    opacity: $button_labelActiveOpacity

//-------------------//
//     Stackable
//-------------------//

.ts.-separated.-stackable.buttons
    +rwd-serious(mobile)
        flex-direction: column
.ts.-separated.-stackable.buttons .ts.button
    +rwd-serious(mobile)
        margin: 0 0 $button_buttonsSeparatedVerticalMargin 0
.ts.-separated.-stackable.buttons .ts.button:last-child
    +rwd-serious(mobile)
        margin-bottom: 0

.ts.-stackable.buttons:not(.-separated):not(.-vertical)
    +rwd-serious(mobile)
        display: block

        &:not(.-fluid)
            width: max-content

        //-------------------//
        //       Button
        //-------------------//

        .ts.button
            border-radius: $button_borderRadius
            display      : block

            &:not(:first-child)
                border-top-left-radius : 0
                border-top-right-radius: 0
                border-bottom-width    : 0

            &:not(:last-child)
                border-bottom-left-radius : 0
                border-bottom-right-radius: 0
                border-bottom-width       : 0

            &:last-child
                border-bottom-width       : $button_borderWidth

        //-------------------//
        //         Or
        //-------------------//

        > .or
            width : 100%
            height: calc(#{$button_orGap} * 2)