.ts.grid(style="height: 100%;")
    .column(style="background: yellow") Sidebar
    .stretched.column
        .ts.vertical.grid(style="height: 100%;")
            .four.wide.tablet.six.wide.large.screen.column(style="background: red") Navbar
            .stretched.column(style="background: blue") Content
            .column(style="background: green") Footer