@import ./progress.variables

//*******************************//
//           Animation
//*******************************//

// https://github.com/lightningtgc/MProgress.js/blob/master/src/css/mprogress.styl
@keyframes indeterminate-bar-animation
    0%
        margin-left: 0px
        margin-right: 100%
    40%
        margin-left: 25%
        margin-right: 0%
    100%
        margin-left: 100%
        margin-right: 0

@keyframes buffer-bar-animation
    0%
        opacity            : 1
        background-position: 0px -23px
    50%
        opacity: 0
    100%
        opacity            : 1
        background-position: -200px -23px

@keyframes process-bar-animation
    from
        background-position: 0px
    to
        background-position: 40px

//*******************************//
//            Variations
//*******************************//

@mixin progress-bar-variant($color, $barColor, $activeBarColor)
    background: $barColor

    > .progress,
    > .text
        color: $color

    &:after
        background: $activeBarColor

//*******************************//
//            Main
//*******************************//

.ts.progress
    position     : relative
    display      : flex
    max-width    : 100%
    border       : $progress_border
    margin       : $progress_margin
    background   : $progress_background
    padding      : $progress_padding
    border-radius: $progress_borderRadius
    overflow     : hidden

.ts.progress:first-child
    margin: $progress_firstMargin
.ts.progress:last-child
    margin: $progress_lastMargin

//*******************************//
//            Content
//*******************************//

/* Activity Bar */
.ts.progress .bar
    display         : inline-block
    line-height     : 1
    position        : $progress_barPosition
    width           : $progress_barInitialWidth
    min-width       : $progress_barMinWidth
    background      : $progress_defaultBarColor
    transition      : width 300ms ease, background-color 300ms ease
    border-radius   : $progress_barBorderRadius

.ts.progress:not(.buffering) .bar:not(:last-child)
    border-top-right-radius   : 0
    border-bottom-right-radius: 0
.ts.progress .bar:last-child:not(:only-child)
    border-top-left-radius   : 0
    border-bottom-left-radius: 0
.ts.progress .bar:not(:last-child):not(:first-child)
    border-radius: 0

.ts.progress .bar > .text
    white-space: nowrap
    position   : $progress_progressPosition
    width      : $progress_progressWidth
    font-size  : $progress_progressSize
    top        : $progress_progressTop
    right      : $progress_progressRight
    left       : $progress_progressLeft
    bottom     : $progress_progressBottom
    color      : $progress_defaultTextColor
    margin-top : $progress_progressOffset
    font-weight: $progress_progressFontWeight
    text-align : $progress_progressTextAlign

.ts.progress > .text
    position   : absolute
    top        : 50%
    left       : 50%
    transform  : translateY(-50%) translateX(-50%)
    color      : $progress_floatingTextColor
    text-shadow: $progress_floatingTextShadow
    z-index    : $z_progress_floatingText

//*******************************//
//            States
//*******************************//

//-------------------//
//   Indeterminate
//-------------------//

.ts.progress.indeterminate .bar
    animation: indeterminate-bar-animation 2s cubic-bezier(0.4, 0, 0.2, 1) 0s infinite
    width    : 100% !important
    min-width: 0

//-------------------//
// Queried Indeterminate
//-------------------//

.ts.progress.queried.indeterminate .bar
    animation          : indeterminate-bar-animation 2s cubic-bezier(0.4, 0, 0.2, 1) 0s infinite
    animation-direction: reverse
    width              : 100% !important
    min-width: 0

//-------------------//
//     Buffer Bar
//-------------------//

.ts.progress.buffering .buffer.bar
    position: absolute
    left    : 0
    opacity : .3

//-------------------//
//     Preparing
//-------------------//

.ts.progress.preparing
    background-size : $progress_preparingBackgroundSize $progress_preparingBackgroundSize
    background-image: $progress_defaultPreparingBackground
    animation       : process-bar-animation 2s linear 0s infinite

.ts.progress.preparing .bar
    visibility: hidden

//-------------------//
//       Active
//-------------------//

.ts.active.progress .bar:not(.buffer)
    position : relative
    min-width: $progress_activeMinWidth

.ts.progress.active .bar:not(.buffer):after
    position        : absolute
    top             : 0
    bottom          : 0
    left            : 0
    content         : ''
    background: $progress_defaultActiveBarColor
    border-radius   : $progress_barBorderRadius
    animation       : process-active 2s cubic-bezier(0.4, 0, 0.2, 1) infinite

@keyframes process-active
    from
        opacity: .8
        width: 0%
    to
        opacity: 0
        width: 100%

//-------------------//
//      Disabled
//-------------------//

.ts.disabled.progress
    opacity: 0.35

.ts.disabled.progress .bar,
.ts.disabled.progress .bar::after
    animation: none !important

//*******************************//
//            Emphasis
//*******************************//

.ts.progress.primary .bar,
.ts.progress .primary.bar
    +progress-bar-variant($progress_primaryTextColor, $progress_primaryBarColor, $progress_primaryActiveBarColor)

.ts.progress.preparing.primary
    background-image: $progress_primaryPreparingBackground

.ts.progress.info .bar,
.ts.progress .info.bar
    +progress-bar-variant($progress_infoTextColor, $progress_infoBarColor, $progress_infoActiveBarColor)

.ts.progress.preparing.info
    background-image: $progress_infoPreparingBackground

.ts.progress.warning .bar,
.ts.progress .warning
    +progress-bar-variant($progress_warningTextColor, $progress_warningBarColor, $progress_warningActiveBarColor)

.ts.progress.preparing.warning
    background-image: $progress_warningPreparingBackground

.ts.progress.positive .bar,
.ts.progress.success .bar,
.ts.progress .success.bar,
.ts.progress .positive.bar
    +progress-bar-variant($progress_positiveTextColor, $progress_positiveBarColor, $progress_positiveActiveBarColor)

.ts.progress.preparing.success,
.ts.progress.preparing.positive
    background-image: $progress_positivePreparingBackground

.ts.progress.negative .bar,
.ts.progress.error .bar,
.ts.progress .error.bar,
.ts.progress .negative.bar
    +progress-bar-variant($progress_negativeTextColor, $progress_negativeBarColor, $progress_negativeActiveBarColor)

.ts.progress.preparing.negative,
.ts.progress.preparing.error
    background-image: $progress_negativePreparingBackground

//-------------------//
//     Attached
//-------------------//

/* bottom attached */
.ts.progress.attached
    position  : relative
    border    : none
    margin    : 0em
    //display   : block
    overflow  : hidden

.ts.progress.attached,
.ts.progress.attached .bar
    border-radius: 0em

.ts.progress[class*="top attached"],
.ts.progress[class*="bottom attached"]
    background: $progress_attachedBackground
    height    : $progress_attachedHeight
    padding   : 0px

.ts.progress[class*="bottom attached"],
.ts.progress[class*="bottom attached"] .bar
    border-bottom-left-radius: $progress_attachedBorderRadius
    border-top-left-radius   : 0
    border-top-right-radius  : 0

/* top attached */
.ts.progress[class*="top attached"],
.ts.progress[class*="top attached"] .bar
    top: 0px

    border-top-left-radius    : $progress_attachedBorderRadius
    border-bottom-left-radius : 0
    border-bottom-right-radius: 0

//-------------------//
//      Coupling
//-------------------//

.ts.segment > .ts.progress[class*="top attached"],
.ts.segment > .ts.progress[class*="bottom attached"],
.ts.card > .ts.progress[class*="top attached"],
.ts.card > .ts.progress[class*="bottom attached"]
    position: absolute
    top     : .01rem
    left    : 0
    bottom  : 100%
    width   : 100%

.ts.segment > .ts.progress[class*="bottom attached"],
.ts.card > .ts.progress[class*="bottom attached"]
    top   : auto
    bottom: .01rem

//-------------------//
//       Fluid
//-------------------//

.ts.progress.fluid
    border-radius: 0

//-------------------//
//       Sizes
//-------------------//

.ts.tiny.progress
    font-size: $tiny
.ts.tiny.progress .bar
    height: $progress_tinyBarHeight

.ts.small.progress
    font-size: $small
.ts.small.progress .bar
    height: $progress_smallBarHeight

.ts.progress
    font-size: $medium
.ts.progress .bar
    height: $progress_barHeight

.ts.large.progress
    font-size: $large
.ts.large.progress .bar
    height: $progress_largeBarHeight

.ts.big.progress
    font-size: $big
.ts.big.progress .bar
    height: $progress_bigBarHeight
