@import ./statistic.variables

//*******************************//
//              Main
//*******************************//

.ts.statistic
    display       : inline-flex
    flex-direction: column
    margin        : $statistic_margin
    max-width     : $statistic_maxWidth

.ts.statistic + .ts.statistic
    margin: 0 0 0 $statistic_horizontalSpacing

.ts.statistic:first-child
    margin-top: 0

.ts.statistic:last-child
    margin-bottom: 0

//*******************************//
//              Group
//*******************************//

/* Grouped */
.ts.statistics
    display    : flex
    align-items: flex-start
    flex-wrap  : wrap

.ts.statistics > .statistic
    display       : inline-flex
    flex          : 0 1 auto
    flex-direction: column
    margin        : $statistic_elementMargin
    max-width     : $statistic_elementMaxWidth

.ts.statistics
    display: flex
    margin : $statistic_groupMargin

.ts.statistics > .statistic:last-child
    margin-right: 0

/* Clearing */
.ts.statistics:after
    display   : block
    content   : ' '
    height    : 0
    clear     : both
    overflow  : hidden
    visibility: hidden

.ts.statistics:first-child
    margin-top: 0

.ts.statistics:last-child
    margin-bottom: 0

//-------------------//
//      Divided
//-------------------//

.ts.statistics.divided:not(.horizontal) .statistic:not(:last-child):after
    content         : ''
    position        : absolute
    right           : -#{$statistic_horizontalSpacing / 2}
    top             : 0
    bottom          : 0
    width           : $statistic_dividedBorderWidth
    background: $statistic_dividedBorderColor

.ts.statistics.divided.horizontal .statistic:not(:last-child):after
    content         : ''
    position        : absolute
    right           : 0
    left            : 0
    bottom          : -#{$statistic_horizontalGroupElementMargin / 2}
    height          : $statistic_dividedBorderWidth
    background: $statistic_dividedBorderColor

//*******************************//
//            Content
//*******************************//

//-------------------//
//       Value
//-------------------//

.ts.statistics .statistic > .value,
.ts.statistic > .value
    display        : flex
    justify-content: center
    align-items    : center
    font-size      : $statistic_valueSize
    font-weight    : $statistic_valueFontWeight
    line-height    : $statistic_valueLineHeight
    color          : $statistic_valueColor
    text-align     : $statistic_textAlign

//-------------------//
//       Label
//-------------------//

.ts.statistics .statistic > .label,
.ts.statistic > .label
    font-size  : $statistic_labelSize
    font-weight: $statistic_labelFontWeight
    color      : $statistic_labelColor
    text-align : $statistic_textAlign

/* Top Label */
.ts.statistics .statistic > .label ~ .value,
.ts.statistic > .label ~ .value
    //margin-top: $statistic_topLabelDistance

/* Bottom Label */
.ts.statistics .statistic > .value ~ .label,
.ts.statistic > .value ~ .label
    margin-top: $statistic_bottomLabelDistance

//-------------------//
//       Aligns
//-------------------//

.ts.statistics[class*="left aligned"] .statistic >,
.ts.statistic[class*="left aligned"] >
    .value.value,
    .label.label.label
        text-align: left

.ts.statistics[class*="right aligned"] .statistic >,
.ts.statistic[class*="right aligned"] >
    .value.value,
    .label.label.label
        text-align: right

.ts.statistics[class*="center aligned"] .statistic >,
.ts.statistic[class*="center aligned"] >
    .value.value,
    .label.label.label
        text-align: center

// Vertical
.ts.statistics[class*="left aligned"] .statistic > .value,
.ts.statistic[class*="left aligned"] > .value,
.ts.statistics .statistic > .label[class*="top aligned"],
.ts.statistic > .label[class*="top aligned"]
    align-self: flex-start

.ts.statistics[class*="center aligned"] .statistic > .value,
.ts.statistic[class*="center aligned"] > .value,
.ts.statistics .statistic > .label[class*="middle aligned"],
.ts.statistic > .label[class*="middle aligned"]
    align-self: center

.ts.statistics[class*="right aligned"] .statistic > .value,
.ts.statistic[class*="right aligned"] > .value,
.ts.statistics .statistic > .label[class*="bottom aligned"],
.ts.statistic > .label[class*="bottom aligned"]
    align-self: flex-end

.ts.statistics[class*="left aligned"].horizontal .statistic
    justify-content: flex-start
.ts.statistics[class*="center aligned"].horizontal .statistic
    justify-content: center
.ts.statistics[class*="right aligned"].horizontal .statistic
    justify-content: flex-end

//*******************************//
//              Types
//*******************************//

//-------------------//
//    Icon Value
//-------------------//

.ts.statistics .statistic > .value .icon,
.ts.statistic > .value .icon
    opacity: 1
    width  : auto

//-------------------//
//    Text Values
//-------------------//

.ts.statistics .statistic > .text.value,
.ts.statistic > .text.value
    line-height: $statistic_textValueLineHeight
    min-height : $statistic_textValueMinHeight
    font-weight: $statistic_textValueFontWeight
    text-align : center

.ts.statistics .statistic > .text.value + .label,
.ts.statistic > .text.value + .label
    text-align: center

//-------------------//
//    Image Value
//-------------------//

.ts.statistics .statistic > .value img,
.ts.statistic > .value img
    max-height    : $statistic_imageHeight
    vertical-align: $statistic_imageVerticalAlign

//*******************************//
//           Variations
//*******************************//

//-------------------//
//    Fluctucation
//-------------------//

.ts.statistics .statistic .value .unit,
.ts.statistics .statistic .value .fluctuation,
.ts.statistics .statistic .value .increment,
.ts.statistics .statistic .value .decrement,
.ts.statistic .value .unit,
.ts.statistic .value .fluctuation,
.ts.statistic .value .increment,
.ts.statistic .value .decrement
    display  : inline-block
    font-size: $statistic_fluctucationFontSize
    padding  : $statistic_fluctucationPadding
    opacity  : $statistic_fluctucationOpacity

.ts.statistics .statistic .value .fluctuation:after,
.ts.statistics .statistic .value .increment:after,
.ts.statistics .statistic .value .decrement:after,
.ts.statistic .value .fluctuation:after,
.ts.statistic .value .increment:after,
.ts.statistic .value .decrement:after
    font-family: $statistic_fluctucationIconFont
    font-size  : $statistic_fluctucationIconFontSize
    margin     : 0 0 0 $statistic_fluctucationIconDistance

.ts.statistics .statistic .value .increased.fluctuation:after,
.ts.statistics .statistic .value .increment:after,
.ts.statistic .value .increased.fluctuation:after,
.ts.statistic .value .increment:after
    content: $statistic_fluctucationIconAscending

.ts.statistics .statistic .value .decreased.fluctuation:after,
.ts.statistics .statistic .value .decrement:after,
.ts.statistic .value .decreased.fluctuation:after,
.ts.statistic .value .decrement:after
    content: $statistic_fluctucationIconDescending

.ts.statistics .statistic .value .unit,
.ts.statistic .value .unit
    font-size: $statistic_unitFontSize
    padding  : $statistic_unitPadding
    opacity  : $statistic_unitOpacity

//-------------------//
//       Fluid
//-------------------//

//.ts.statistic.fluid
//    width  : 100%
//    display: flex
//
//.ts.statistics.fluid:not(.horizontal) .statistic
//    flex: 1
//
//.ts.horizontal.statistics.fluid .statistic
//    width: 100%

//-------------------//
//       Count
//-------------------//

.ts.one.statistics:not(.horizontal) .statistic
    flex: calc(1 / 1)
.ts.two.statistics:not(.horizontal) .statistic
    flex: calc(1 / 2)
.ts.three.statistics:not(.horizontal) .statistic
    flex: calc(1 / 3)
.ts.four.statistics:not(.horizontal) .statistic
    flex: calc(1 / 4)
.ts.five.statistics:not(.horizontal) .statistic
    flex: calc(1 / 5)
.ts.six.statistics:not(.horizontal) .statistic
    flex: calc(1 / 6)
.ts.seven.statistics:not(.horizontal) .statistic
    flex: calc(1 / 7)
.ts.eight.statistics:not(.horizontal) .statistic
    flex: calc(1 / 8)
.ts.nine.statistics:not(.horizontal) .statistic
    flex: calc(1 / 9)
.ts.ten.statistics:not(.horizontal) .statistic
    flex: calc(1 / 10)

//-------------------//
//     Horizontal
//-------------------//

.ts.horizontal.statistic
    flex-direction: row
    align-items   : center

.ts.horizontal.statistics
    flex-direction: column
    margin        : 0
    max-width     : none

.ts.horizontal.statistics .statistic
    flex-direction: row
    align-items   : center
    max-width     : none
    margin-bottom : $statistic_horizontalGroupElementMargin
    width         : 100%

.ts.horizontal.statistics .statistic:last-child
    margin-bottom: 0

.ts.horizontal.statistic > .text.value,
.ts.horizontal.statistics > .statistic > .text.value
    min-height: 0 !important

.ts.horizontal.statistics .statistic > .value .icon,
.ts.horizontal.statistic > .value .icon
    width: $iconWidth

.ts.horizontal.statistics .statistic > .value,
.ts.horizontal.statistic > .value
    display       : inline-flex

.ts.horizontal.statistics .statistic > .label,
.ts.horizontal.statistic > .label
    display       : inline-block
    vertical-align: middle
    margin        : 0 0 0 $statistic_horizontalLabelDistance

//-------------------//
//      Centered
//-------------------//

.ts.centered.statistic
    display: block

//-------------------//
//      Inverted
//-------------------//

.ts.inverted.statistics .statistic > .value,
.ts.statistics .inverted.statistic > .value,
.ts.inverted.statistic > .value
    color: $statistic_invertedColor

.ts.inverted.statistics .statistic > .label,
.ts.inverted.statistic .label
    color: $statistic_invertedLabelColor

//-------------------//
//       Colors
//-------------------//

.ts.primary.statistics .statistic > .value,
.ts.statistics .primary.statistic > .value,
.ts.primary.statistic > .value
    color: $statistic_primaryColor
.ts.info.statistics .statistic > .value,
.ts.statistics .info.statistic > .value,
.ts.info.statistic > .value
    color: $statistic_infoColor
.ts.warning.statistics .statistic > .value,
.ts.statistics .warning.statistic > .value,
.ts.warning.statistic > .value
    color: $statistic_warningColor
.ts.positive.statistics .statistic > .value,
.ts.statistics .positive.statistic > .value,
.ts.positive.statistic > .value
    color: $statistic_positiveColor
.ts.negative.statistics .statistic > .value,
.ts.statistics .negative.statistic > .value,
.ts.negative.statistic > .value
    color: $statistic_negativeColor

//-------------------//
//       Floated
//-------------------//

.ts[class*="left floated"].statistic
    float : left
    margin: $statistic_leftFloatedMargin

.ts[class*="right floated"].statistic
    float : right
    margin: $statistic_rightFloatedMargin

.ts.floated.statistic:last-child
    margin-bottom: 0

//-------------------//
//       Sizes
//-------------------//

/* Mini */
.ts.mini.statistics .statistic > .value,
.ts.mini.statistic > .value
    font-size: $statistic_miniValueSize !important

.ts.mini.horizontal.statistics .statistic > .value,
.ts.mini.horizontal.statistic > .value
    font-size: $statistic_miniHorizontalValueSize !important

.ts.mini.statistics .statistic > .text.value,
.ts.mini.statistic > .text.value
    font-size: $statistic_miniTextValueSize !important

/* Tiny */
.ts.tiny.statistics .statistic > .value,
.ts.tiny.statistic > .value
    font-size: $statistic_tinyValueSize !important

.ts.tiny.horizontal.statistics .statistic > .value,
.ts.tiny.horizontal.statistic > .value
    font-size: $statistic_tinyHorizontalValueSize !important

.ts.tiny.statistics .statistic > .text.value,
.ts.tiny.statistic > .text.value
    font-size: $statistic_tinyTextValueSize !important

/* Small */
.ts.small.statistics .statistic > .value,
.ts.small.statistic > .value
    font-size: $statistic_smallValueSize !important

.ts.small.horizontal.statistics .statistic > .value,
.ts.small.horizontal.statistic > .value
    font-size: $statistic_smallHorizontalValueSize !important

.ts.small.statistics .statistic > .text.value,
.ts.small.statistic > .text.value
    font-size: $statistic_smallTextValueSize !important

/* Medium */
.ts.statistics .statistic > .value,
.ts.statistic > .value
    font-size: $statistic_valueSize !important

.ts.horizontal.statistics .statistic > .value,
.ts.horizontal.statistic > .value
    font-size: $statistic_horizontalValueSize !important

.ts.statistics .statistic > .text.value,
.ts.statistic > .text.value
    font-size: $statistic_textValueSize !important

/* Large */
.ts.large.statistics .statistic > .value,
.ts.large.statistic > .value
    font-size: $statistic_largeValueSize !important

.ts.large.horizontal.statistics .statistic > .value,
.ts.large.horizontal.statistic > .value
    font-size: $statistic_largeHorizontalValueSize !important

.ts.large.statistics .statistic > .text.value,
.ts.large.statistic > .text.value
    font-size: $statistic_largeTextValueSize !important

/* Big */
.ts.big.statistics .statistic > .value,
.ts.big.statistic > .value
    font-size: $statistic_bigValueSize !important

.ts.big.horizontal.statistics .statistic > .value,
.ts.big.horizontal.statistic > .value
    font-size: $statistic_bigHorizontalValueSize !important

.ts.big.statistics .statistic > .text.value,
.ts.big.statistic > .text.value
    font-size: $statistic_bigTextValueSize !important

/* Huge */
.ts.huge.statistics .statistic > .value,
.ts.huge.statistic > .value
    font-size: $statistic_hugeValueSize !important

.ts.huge.horizontal.statistics .statistic > .value,
.ts.huge.horizontal.statistic > .value
    font-size: $statistic_hugeHorizontalValueSize !important

.ts.huge.statistics .statistic > .text.value,
.ts.huge.statistic > .text.value
    font-size: $statistic_hugeTextValueSize !important

/* Massive */
.ts.massive.statistics .statistic > .value,
.ts.massive.statistic > .value
    font-size: $statistic_massiveValueSize !important

.ts.massive.horizontal.statistics .statistic > .value,
.ts.massive.horizontal.statistic > .value
    font-size: $statistic_massiveHorizontalValueSize !important

.ts.massive.statistics .statistic > .text.value,
.ts.massive.statistic > .text.value
    font-size: $statistic_massiveTextValueSize !important