@import ./sortable.variables

//*******************************//
//              Main
//*******************************//

[data-draggable-ghost]
    position      : fixed            !important
    pointer-events: none             !important
    margin        : 0                !important
    user-select   : none             !important
    box-shadow    : $sortable_shadow !important
    z-index       : $z_sortable_ghost !important

[data-draggable-placeholder]
    opacity: $sortable_placeholderOpacity !important

[data-draggable]
    user-select: none !important