// + Basic
.ts.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.relaxed.menu
    .header.item Relaxed Header
    a.item Relaxed Link
    a.active.item Relaxed Active
    a.disabled.item Relaxed Disabled
    .item Relaxed Div
.ts.very.relaxed.menu
    .header.item Very Relaxed Header
    a.item Very Relaxed Link
    a.active.item Very Relaxed Active
    a.disabled.item Very Relaxed Disabled
    .item Very Relaxed Div

// + Emphasis
.ts.primary.menu
    .header.item Primary Header
    a.item Primary Link
    a.active.item Primary Active
    a.disabled.item Primary Disabled
    .item Primary Div
.ts.info.menu
    .header.item Info Header
    a.item Info Link
    a.active.item Info Active
    a.disabled.item Info Disabled
    .item Info Div
.ts.warning.menu
    .header.item Warning Header
    a.item Warning Link
    a.active.item Warning Active
    a.disabled.item Warning Disabled
    .item Warning Div
.ts.positive.menu
    .header.item Positive Header
    a.item Positive Link
    a.active.item Positive Active
    a.disabled.item Positive Disabled
    .item Positive Div
.ts.negative.menu
    .header.item Negative Header
    a.item Negative Link
    a.active.item Negative Active
    a.disabled.item Negative Disabled
    .item Negative Div
.ts.inverted.menu
    .header.item Inverted Header
    a.item Inverted Link
    a.active.item Inverted Active
    a.disabled.item Inverted Disabled
    .item Inverted Div

// + Inverted Emphasis
.ts.inverted.primary.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.inverted.info.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.inverted.warning.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item  Disabled
    .item  Div
.ts.inverted.positive.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.inverted.negative.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.inverted.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div

// + Vertical Inverted Emphasis
.ts.vertical.inverted.primary.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.vertical.inverted.info.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.vertical.inverted.warning.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.vertical.inverted.positive.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.vertical.inverted.negative.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.vertical.inverted.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div

// + Borderless
.ts.borderless.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.vertical.borderless.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div

// + Sizes
.ts.mini.menu
    a.item Mini Item
    a.item Mini Item
    a.item Mini Item
.ts.tiny.menu
    a.item Tiny Item
    a.item Tiny Item
    a.item Tiny Item
.ts.small.menu
    a.item Small Item
    a.item Small Item
    a.item Small Item
.ts.menu
    a.item Medium Item
    a.item Medium Item
    a.item Medium Item
.ts.large.menu
    a.item Large Item
    a.item Large Item
    a.item Large Item
.ts.big.menu
    a.item Big Item
    a.item Big Item
    a.item Big Item
.ts.huge.menu
    a.item Huge Item
    a.item Huge Item
    a.item Huge Item
.ts.massive.menu
    a.item Massive Item
    a.item Massive Item
    a.item Massive Item

// + Vertical
.ts.vertical.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div

// + Vertical Text
.ts.vertical.text.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div

// + Unread
.ts.menu
    a.unread.item Item
    a.unread.icon.item
        i.heart.icon
.ts.secondary.pointing.menu
    a.unread.item Item
    a.unread.icon.item
        i.heart.icon
.ts.labeled.icon.menu
    a.unread.item
        i.user.icon
        | Link
    .item
        i.money.icon
        | Div

// + Vertical Unread
.ts.vertical.menu
    a.unread.item Item
    a.unread.icon.item
        i.heart.icon
.ts.left.aligned.vertical.menu
    a.unread.item Item
    a.unread.icon.item
        i.heart.icon
.ts.vertical.labeled.icon.menu
    a.unread.item
        i.user.icon
        | Link
    .item
        i.money.icon
        | Div

// + Icon Unread
.ts.icon.menu
    a.unread.icon.item
        i.user.icon
    a.unread.icon.item
        i.comment.icon
    a.unread.icon.item
        i.heart.icon
    a.icon.item
        i.download.icon
.ts.vertical.icon.menu
    a.unread.icon.item
        i.user.icon
    a.unread.icon.item
        i.comment.icon
    a.unread.icon.item
        i.heart.icon
    a.icon.item
        i.download.icon

// + Centered
.ts.centered.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div

// + Fluid Menu
.ts.fluid.info.inverted.segment
    .ts.secondary.fluid.Menu
        a.item Item
        a.item Item
        .right.menu
            a.item Item
            a.item Item

// + Secondary
.ts.secondary.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.relaxed.secondary.menu
    .header.item Relaxed Header
    a.item Relaxed Link
    a.active.item Relaxed Active
    a.disabled.item Relaxed Disabled
    .item Relaxed Div
.ts.very.realxed.secondary.menu
    .header.item Very Relaxed Header
    a.item Very Relaxed Link
    a.active.item Very Relaxed Active
    a.disabled.item Very Relaxed Disabled
    .item Very Relaxed Div

// + Secondary Pointing
.ts.secondary.pointing.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.relaxed.secondary.pointing.menu
    .header.item Relaxed Header
    a.item Relaxed Link
    a.active.item Relaxed Active
    a.disabled.item Relaxed Disabled
    .item Relaxed Div
.ts.very.realxed.secondary.pointing.menu
    .header.item Very Relaxed Header
    a.item Very Relaxed Link
    a.active.item Very Relaxed Active
    a.disabled.item Very Relaxed Disabled
    .item Very Relaxed Div

// + Horizontally Fitted Secondary Pointing
.ts.horizontally.fitted.secondary.pointing.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.horizontally.fitted.relaxed.secondary.pointing.menu
    .header.item Relaxed Header
    a.item Relaxed Link
    a.active.item Relaxed Active
    a.disabled.item Relaxed Disabled
    .item Relaxed Div
.ts.horizontally.fitted.very.realxed.secondary.pointing.menu
    .header.item Very Relaxed Header
    a.item Very Relaxed Link
    a.active.item Very Relaxed Active
    a.disabled.item Very Relaxed Disabled
    .item Very Relaxed Div

// + Text
.ts.text.menu
    .header.item Header
    a.item Link
    a.active.item Active
    a.disabled.item Disabled
    .item Div
.ts.relaxed.text.menu
    .header.item Relaxed Header
    a.item Relaxed Link
    a.active.item Relaxed Active
    a.disabled.item Relaxed Disabled
    .item Relaxed Div
.ts.very.relaxed.text.menu
    .header.item Very Relaxed Header
    a.item Very Relaxed Link
    a.active.item Very Relaxed Active
    a.disabled.item Very Relaxed Disabled
    .item Very Relaxed Div

// + Icon
.ts.icon.menu
    a.item
        i.users.icon
    a.item
        i.comments.icon
    a.item
        i.lock.icon

// + Icon Item
.ts.menu
    a.item.icon
        i.users.icon
    a.item
        i.comments.icon
        | Item
    a.item
        i.lock.icon
        | Item

// + Labeled Icon Menu
.ts.labeled.icon.menu
    .header.item
        i.heart.icon
        | Header
    a.item
        i.user.icon
        | Link
    a.active.item
        i.search.icon
        | Active
    a.disabled.item
        i.link.icon
        | Disabled
    .item
        i.money.icon
        | Div

// + Vertical Icon
.ts.vertical.icon.menu
    a.item
        i.log.in.icon
    a.item
        i.file.icon
    a.item
        i.clock.icon

// + Vertical With Icon
.ts.vertical.menu
    a.item
        | Item
        i.log.in.icon
    a.item
        | Item
        i.file.icon
    a.item
        | Item
        i.clock.icon
.ts.left.aligned.vertical.menu
    a.item
        | Left Aligned Item
        i.log.in.icon
    a.item
        | Left Aligned Item
        i.file.icon
    a.item
        | Left Aligned Item
        i.clock.icon

// + Compact
.ts.vertical.compact.menu
    a.item
        | Item
        i.log.in.icon
    a.item
        | Item
        i.file.icon
    a.item
        | Item
        i.clock.icon
.ts.compact.menu
    a.item
        | Item
    a.item
        | Item
    a.item
        | Item

// + Vertical Sub Menu
.ts.compact.vertical.menu
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.active.item Active
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
.ts.compact.inverted.info.vertical.menu
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.active.item Active
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
.ts.compact.inverted.primary.vertical.menu
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.active.item Active
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
.ts.compact.inverted.warning.vertical.menu
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.active.item Active
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
.ts.compact.inverted.positive.vertical.menu
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.active.item Active
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
.ts.compact.inverted.negative.vertical.menu
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.active.item Active
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
.ts.compact.inverted.vertical.menu
    .item
        .header Header
        .menu
            a.item Item
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.active.item Active
            a.item Item
    .item
        .header Header
        .menu
            a.item Item
            a.item Item