// + Basic
.ts.items
    .item
        .image
            img(src="../../../assets/images/1-1.png")
        .content
            .header Header
            .meta
                span Meta
                span Meta
            .description Description
            .extra
                .ts.label Label
                .ts.label Label

// + Link
.ts.link.items
    a.item
        .image
            img(src="../../../assets/images/1-1.png")
        .content
            .header Header
            .meta
                span Meta
                span Meta
            .description Description
            .extra
                .ts.label Label
                .ts.label Label

// + Divided
.ts.divided.items
    .item
        .image
            img(src="../../../assets/images/1-1.png")
        .content
            .header Header
            .meta
                span Meta
                span Meta
            .description Description
            .extra
                .ts.label Label
                .ts.label Label
    .item
        .image
            img(src="../../../assets/images/1-1.png")
        .content
            .header Header
            .meta
                span Meta
                span Meta
            .description Description
            .extra
                .ts.label Label
                .ts.label Label
    .item
        .image
            img(src="../../../assets/images/1-1.png")
        .content
            .header Header
            .meta
                span Meta
                span Meta
            .description Description
            .extra
                .ts.label Label
                .ts.label Label

// + Aligns
.ts.items
    .item
        .image
            img(src="../../../assets/images/1-1.png")
        .top.aligned.content
            .header Top Aligned
            .meta
                span Meta
                span Meta
            .description Description
            .extra
                .ts.label Label
                .ts.label Label
    .item
        .image
            img(src="../../../assets/images/1-1.png")
        .middle.aligned.content
            .header Middle Aligned
            .meta
                span Meta
                span Meta
            .description Description
            .extra
                .ts.label Label
                .ts.label Label
    .item
        .image
            img(src="../../../assets/images/1-1.png")
        .bottom.aligned.content
            .header Bottom Aligned
            .meta
                span Meta
                span Meta
            .description Description
            .extra
                .ts.label Label
                .ts.label Label
