@import ./dropdown.variables

//*******************************//
//            Animation
//*******************************//

@keyframes dropdown-contract
    0%
        transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    3.2%
        transform: matrix3d(1, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    4.3%
        transform: matrix3d(1, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    6.31%
        transform: matrix3d(1, 0, 0, 0, 0, 0.959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    8.61%
        transform: matrix3d(1, 0, 0, 0, 0, 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    9.41%
        transform: matrix3d(1, 0, 0, 0, 0, 0.888, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    12.51%
        transform: matrix3d(1, 0, 0, 0, 0, 0.88, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    12.91%
        transform: matrix3d(1, 0, 0, 0, 0, 0.796, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    17.22%
        transform: matrix3d(1, 0, 0, 0, 0, 0.766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    18.82%
        transform: matrix3d(1, 0, 0, 0, 0, 0.655, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    25.03%
        transform: matrix3d(1, 0, 0, 0, 0, 0.515, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    28.33%
        transform: matrix3d(1, 0, 0, 0, 0, 0.416, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    39.44%
        transform: matrix3d(1, 0, 0, 0, 0, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    50.05%
        opacity: 0
        transform: matrix3d(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    100%
        opacity: 0
        transform: matrix3d(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

@keyframes dropdown-expand
    0%
        opacity: 0
        transform: matrix3d(1, 0, 0, 0, 0, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    3.2%
        transform: matrix3d(1, 0, 0, 0, 0, 0.416, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    4.3%
        transform: matrix3d(1, 0, 0, 0, 0, 0.515, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    6.31%
        transform: matrix3d(1, 0, 0, 0, 0, 0.655, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    8.61%
        transform: matrix3d(1, 0, 0, 0, 0, 0.766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    9.41%
        transform: matrix3d(1, 0, 0, 0, 0, 0.796, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    12.51%
        transform: matrix3d(1, 0, 0, 0, 0, 0.88, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    12.91%
        transform: matrix3d(1, 0, 0, 0, 0, 0.888, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    17.22%
        transform: matrix3d(1, 0, 0, 0, 0, 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    18.82%
        transform: matrix3d(1, 0, 0, 0, 0, 0.959, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    25.03%
        opacity: 1
        transform: matrix3d(1, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    28.33%
        transform: matrix3d(1, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    39.44%
        transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    50.05%
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    61.66%
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    83.98%
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    100%
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)


@keyframes contextmenu-hidden
    0%
        opacity: 1
    100%
        opacity: 0

@keyframes contextmenu-visible
    0%
        opacity: 0
    100%
        opacity: 1

//*******************************//
//            Variations
//*******************************//

@mixin basic-dropdown-variant($color, $backgroundColor, $borderColor, $arrowURL)
    background-color: $backgroundColor
    color           : $color
    background-image: $arrowURL

//*******************************//
//              Main
//*******************************//

.ts.dropdown
    display    : inline-block
    position   : relative
    cursor     : pointer
    will-change: transform, opacity

//-------------------//
//       Basic
//-------------------//

.ts.basic.dropdown,
.ts.selection.dropdown,
.ts.form select
    transition         : box-shadow $input_transitionDuration ease-in-out
    line-height        : $dropdown_lineHeight
    border             : $dropdown_border
    padding            : $dropdown_padding
    appearance         : none
    -webkit-appearance : none
    -moz-appearance    : none
    text-overflow      : ''
    border-radius      : $dropdown_borderRadius
    background-size    : $dropdown_arrowSize
    background-repeat  : no-repeat
    padding-right      : calc(#{$dropdown_horizontalPadding} + #{$dropdown_arrowSize} * 1.35)
    //padding-right      : calc(#{$dropdown_horizontalPadding} + #{$dropdown_arrowSize} * 2 + #{$dropdown_horizontalPadding})
    //background-position: right #{$dropdown_horizontalPadding} top calc(#{$dropdown_verticalPadding} + #{$dropdown_arrowSize} - (1em / 2) + (#{$dropdown_lineHeight} - 1em ))
    background-position: right #{$dropdown_horizontalPadding} center

    +basic-dropdown-variant($dropdown_textColor, $dropdown_backgroundColor, $dropdown_borderColor, $dropdown_arrowBackgroundURL)

.ts.basic.dropdown:hover:hover:hover:hover:hover,
.ts.selection.dropdown:hover,
.ts.form select:hover
    cursor          : pointer
    //background: rgb(250, 250, 250)
    border-color    : $dropdown_hoverBorderColor

//.ts.basic.dropdown:focus:focus:focus:focus:focus,
//.ts.form select:focus
//    border-color: #00ADEA

//-------------------//
//     Selection
//-------------------//
.ts.dropdown select
    display: none

.ts.selection.dropdown
    min-width: 14em
    min-height: calc(#{$inputLineHeight} + #{$dropdown_verticalPadding * 2} + #{$input_borderWidth * 2})

.ts.selection.dropdown .placeholder.text
    color: nth($grey, 6)

.ts.selection.dropdown.upward.visible.animating,
.ts.selection.dropdown.upward.visible
    border-top-left-radius : 0
    border-top-right-radius: 0

.ts.selection.dropdown.downward.visible.animating,
.ts.selection.dropdown.downward.visible
    border-bottom-left-radius : 0
    border-bottom-right-radius: 0

.ts.selection.dropdown.visible
    border-color: #96c8da

.ts.selection.dropdown .menu .message
    user-select: none
    pointer-events: none
    display: none
    color: nth($grey, 6)
    padding: $dropdown_messagePadding

.ts.selection.dropdown .menu .message.active
    display: block

.ts.selection.dropdown.upward .menu,
.ts.selection.dropdown.downward .menu
    border-color: #96c8da

    min-width: calc(100% + 2px)
    max-width: calc(100% + 2px)


    left: -1px


.ts.selection.dropdown.upward .menu
    border-bottom: 1px solid #f5f5f5
    box-shadow   : 0 -2px 3px 0 rgba(34,36,38,.15)

    border-bottom-left-radius : 0
    border-bottom-right-radius: 0

.ts.selection.dropdown.downward .menu
    border-top: 1px solid #f5f5f5
    box-shadow: 0 2px 3px 0 rgba(34,36,38,.15)

    border-top-left-radius : 0
    border-top-right-radius: 0


.ts.selection.dropdown .menu
    max-height: 50vh
    overflow-x: hidden
    overflow-y: auto

.ts.selection.dropdown .menu .item
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    display: block

.ts.search.dropdown input.search:focus + .text
    color: rgba(115,115,115,.87) !important

.ts.search.dropdown input.search:focus + .text .flag,
.ts.search.dropdown input.search:focus + .text .icon
    opacity: .45

.ts.selection.dropdown .text.filtered,
.ts.selection.dropdown .menu .item.filtered,
.ts.selection.dropdown .menu .item[data-value='']
    display: none

.ts.selection.dropdown .menu .item:not(:first-child)
    border-top: 1px solid #f5f5f5


.ts.search.selection.dropdown input.search
    position: absolute
    left: 0
    top: 0
    padding: $dropdown_padding

.ts.search.selection.dropdown .text


//-------------------//
// Multiple Selection
//-------------------//

.ts.search.selection.dropdown
    cursor: text

.ts.multiple.selection.dropdown
    //padding: 0.38571em 2.385em 0.385em 0.585em
    padding: 0.249em 2.385em 0.249em 0.585em

.ts.multiple.selection.dropdown .labels
    display: inline

.ts.multiple.selection.dropdown
    user-select: none


.ts.multiple.selection.dropdown .labels .ts.label
    margin-bottom: .2em
    margin-top: .2em
    pointer-events: none
    user-select: none

.ts.multiple.selection.dropdown .labels .ts.label,
.ts.multiple.selection.dropdown .labels .ts.label:hover
    cursor: default

.ts.multiple.selection.dropdown .labels .ts.label:hover,
.ts.multiple.selection.dropdown .labels .ts.label:active
    pointer-events: none

.ts.multiple.selection.dropdown .labels .ts.label .ts.close.button
    pointer-events: auto

.ts.multiple.selection.dropdown .menu .item.selected.active
    display: none

.ts.multiple.selection.dropdown input.search
    position: relative
    display: inline
    color: $inputTextColor
    background: transparent
    padding: 0
    max-width: 100%
    //margin: .45238095em 0 .45238095em .64285714em
    margin: .33238095em 0 .33238095em .2em
    min-width: 1em
    width: 1em
    line-height: 1.6em
    //line-height: 1.21428571em

.ts.multiple.selection.dropdown .text.placeholder
    position: absolute
    left: 0
    top: 0
    padding: .78571em 1em

//-------------------//
//       Size
//-------------------//

.ts.basic.mini.dropdown
    font-size: $relativeMini
.ts.basic.tiny.dropdown
    font-size: $relativeTiny
.ts.basic.small.dropdown
    font-size: $relativeSmall
.ts.basic.medium.dropdown
    font-size: $relativeMedium
.ts.basic.large.dropdown
    font-size: $relativeLarge
.ts.basic.big.dropdown
    font-size: $relativeBig
.ts.basic.huge.dropdown
    font-size: $relativeHuge
.ts.basic.massive.dropdown
    font-size: $relativeMassive

//-------------------//
//       Colors
//-------------------//

.ts.basic.primary.dropdown
    +basic-dropdown-variant($dropdown_primaryTextColor, $dropdown_primaryBackgroundColor, $dropdown_primaryBorderColor, $dropdown_primaryArrowBackgroundURL)
.ts.basic.info.dropdown
    +basic-dropdown-variant($dropdown_infoTextColor, $dropdown_infoBackgroundColor, $dropdown_infoBorderColor, $dropdown_infoArrowBackgroundURL)
.ts.basic.warning.dropdown
    +basic-dropdown-variant($dropdown_warningTextColor, $dropdown_warningBackgroundColor, $dropdown_warningBorderColor, $dropdown_warningArrowBackgroundURL)
.ts.basic.positive.dropdown
    +basic-dropdown-variant($dropdown_positiveTextColor, $dropdown_positiveBackgroundColor, $dropdown_positiveBorderColor, $dropdown_positiveArrowBackgroundURL)
.ts.basic.negative.dropdown
    +basic-dropdown-variant($dropdown_negativeTextColor, $dropdown_negativeBackgroundColor, $dropdown_negativeBorderColor, $dropdown_negativeArrowBackgroundURL)
.ts.basic.inverted.dropdown
    +basic-dropdown-variant($dropdown_invertedTextColor, $dropdown_invertedBackgroundColor, $dropdown_invertedBorderColor, $dropdown_invertedArrowBackgroundURL)

//-------------------//
//       Fluid
//-------------------//

.ts.fluid.dropdown,
.ts.fluid.dropdowns .ts.dropdown
    width: 100%

//-------------------//
//     Borderless
//-------------------//

.ts.borderless.dropdown,
.ts.borderless.dropdowns .ts.dropdown
    border: 0

//-------------------//
//     Dropdowns
//-------------------//

.ts.dropdowns
    position   : relative
    display    : flex
    align-items: center

.ts.dropdowns.fluid
    width: 100%

.ts.dropdowns .ts.dropdown,
.ts.form .ts.dropdowns select
    flex: 1

//
.ts.dropdowns:not(.separated) .ts.dropdown:first-child
    border-right-color: transparent
    border-top-right-radius   : 0
    border-bottom-right-radius: 0

.ts.dropdowns:not(.separated) .ts.dropdown:not(:first-child):not(:last-child)
    border-right-color: transparent
    border-radius     : 0

.ts.dropdowns:not(.separated) .ts.dropdown:last-child
    border-top-left-radius   : 0
    border-bottom-left-radius: 0

//-------------------//
//     Separated
//-------------------//

.ts.separated.dropdowns .ts.dropdown,
.ts.form .ts.separated.dropdowns select
    margin-right: var(--columnPadding)

.ts.relaxed.separated.dropdowns .ts.dropdown,
.ts.form .ts.separated.relaxed.dropdowns select
    margin-right: var(--columnRelaxedPadding)

.ts.separated.dropdowns .ts.dropdown:last-child,
.ts.form .ts.separated.dropdowns select:last-child
    margin-right: 0

//-------------------//
//  Dropdown Divider
//-------------------//

.ts.dropdowns .divider
    margin-right: var(--columnPadding)

.ts.relaxed.dropdowns .divider
    margin-right: var(--columnRelaxedPadding)

.ts.dropdowns .divider:last-child
    margin-right: 0

.ts.stackable.dropdowns .divider
    +rwd-serious(mobile)
        display: none

//-------------------//
//     Stackable
//-------------------//

.ts.stackable.dropdowns
    +rwd-serious(mobile)
        display: block

.ts.stackable.dropdowns .ts.dropdown
    +rwd-serious(mobile)
        display: block
        margin-bottom: var(--columnPadding)

.ts.stackable.relaxed.dropdowns .ts.dropdown
    +rwd-serious(mobile)
        margin-bottom: var(--columnRelaxedPadding)

.ts.dropdowns:not(.separated).stackable .ts.dropdown:first-child,
.ts.dropdowns:not(.separated).stackable .ts.dropdown:not(:first-child):not(:last-child),
.ts.dropdowns:not(.separated).stackable .ts.dropdown:last-child
    +rwd-serious(mobile)
        border: $dropdown_border
        border-radius: $dropdown_borderRadius

//-------------------//
//      Action
//-------------------//

.ts.dropdown.action
    display : inline-flex

.ts.dropdown.action > .button,
.ts.dropdown.action > .buttons
    display    : flex
    align-items: center
    flex       : 0 0 auto

.ts.dropdown.action > .ts.button
    border-radius             : $button_borderRadius
    border-top-right-radius   : 0
    border-bottom-right-radius: 0

.ts.dropdown.action .ts.dropdown + .ts.button
    border-radius            : $button_borderRadius
    border-top-left-radius   : 0
    border-bottom-left-radius: 0

.ts.dropdown.action .ts.dropdown
    border-radius             : $input_borderRadius
    border-top-right-radius   : 0
    border-bottom-right-radius: 0

.ts.dropdown.action .ts.button + .ts.dropdown
    border-radius            : $input_borderRadius
    border-top-left-radius   : 0
    border-bottom-left-radius: 0

//*******************************//
//        Multiple Select
//*******************************//

.ts.dropdown.basic[size]
    background-image: none
    padding         : $dropdown_padding

.ts.dropdown.basic[size]:active
    background: initial

.ts.dropdown.basic[size] option
    border-radius: $dropdown_borderRadius
    padding      : $dropdown_basicMultipleOptionPadding

//*******************************//
//           Dropdown
//*******************************//

.ts.contextmenu,
.ts.dropdown:not(.basic)
    z-index: $z_dropdown_menu

.ts.contextmenu,
.ts.dropdown .menu
    cursor    : auto
    position  : absolute
    display   : none
    outline   : none
    top       : 100%
    //min-width : max-content
    min-width : $dropdown_menuMinWidth
    transform : translateZ(0px)

    margin    : $dropdown_menuMargin
    padding   : $dropdown_menuPadding
    background: $dropdown_menuBackground

    font-size  : $relativeMedium
    text-align : $dropdown_menuTextAlign

    box-shadow   : $dropdown_menuBoxShadow
    border       : $dropdown_menuBorder
    border-radius: $dropdown_menuBorderRadius
    z-index      : $z_dropdown_menu
    will-change  : transform, opacity

.ts.contextmenu > *,
.ts.dropdown .menu > *
    white-space: nowrap

//-------------------//
//     Fluid Menu
//-------------------//

.ts.dropdown .fluid.menu
    width: 100%

//-------------------//
//        Text
//-------------------//

.ts.dropdown > .text
    +extend(no-select)
    display: inline-block

//-------------------//
//        Icon
//-------------------//

.ts.dropdown > .text + .icon
    margin     : 0
    margin-left: 0.25rem

//-------------------//
//        Item
//-------------------//

.ts.contextmenu > .item.item.item.item.item.item,
.ts.dropdown .menu > .item.item.item.item.item.item
    +extend(no-select)

    position  : relative
    cursor    : pointer


    height    : $dropdown_itemHeight
    text-align: $dropdown_itemTextAlign

    line-height: $dropdown_itemLineHeight
    font-size  : $dropdown_itemFontSize


    padding       : $dropdown_itemPadding !important
    font-size     : $dropdown_itemFontSize
    text-transform: $dropdown_itemTextTransform

    box-shadow    : $dropdown_itemBoxShadow

    border-radius: 0

    // .ts.menu override
    margin-left : 0 !important
    margin-right: 0 !important

    -webkit-touch-callout: none

.ts.contextmenu > .item.item.item.item.item.item:not(.active):not(.selected),
.ts.dropdown .menu > .item.item.item.item.item.item:not(.active):not(.selected)
    font-weight: $dropdown_itemFontWeight
    color      : $dropdown_itemColor

.ts.contextmenu > .item.item.item.item.item.item,
.ts.dropdown:not(.selection) .menu > .item.item.item.item.item.item
    display   : flex
    border-top : $dropdown_itemDivider
    border     : $dropdown_itemBorder

.ts.contextmenu > .item:first-child,
.ts.dropdown .menu > .item:first-child
    border-top-width: 0px

.ts.contextmenu > .item.item.item.item.item.item:first-child,
.ts.dropdown .menu > .item.item.item.item.item.item:first-child
    border-top-left-radius : $dropdown_borderRadius
    border-top-right-radius: $dropdown_borderRadius

.ts.contextmenu > .item.item.item.item.item.item:last-child,
.ts.dropdown .menu > .item.item.item.item.item.item:last-child
    border-bottom-left-radius : $dropdown_borderRadius
    border-bottom-right-radius: $dropdown_borderRadius

//-------------------//
//       Floated
//-------------------//

.ts.contextmenu .item > [class*="right floated"],
.ts.dropdown > .text > [class*="right floated"],
.ts.dropdown .menu .item > [class*="right floated"]
    float       : right !important
    margin-right: 0em !important
    margin-left : $dropdown_floatedDistance !important

.ts.contextmenu .item > [class*="left floated"],
.ts.dropdown > .text > [class*="left floated"],
.ts.dropdown .menu .item > [class*="left floated"]
    float       : left !important
    margin-left : 0em !important
    margin-right: $dropdown_floatedDistance !important

.ts.contextmenu .item > .icon.floated,
.ts.contextmenu .item > .flag.floated,
.ts.contextmenu .item > .image.floated,
.ts.contextmenu .item > img.floated,
.ts.dropdown .menu .item > .icon.floated,
.ts.dropdown .menu .item > .flag.floated,
.ts.dropdown .menu .item > .image.floated,
.ts.dropdown .menu .item > img.floated
    margin-top: $dropdown_itemLineHeightOffset

//-------------------//
//      Divider
//-------------------//

.ts.contextmenu > .header,
.ts.dropdown .menu > .header
    margin        : $dropdown_menuHeaderMargin
    padding       : $dropdown_menuHeaderPadding
    color         : $dropdown_menuHeaderColor
    font-size     : $dropdown_menuHeaderFontSize
    font-weight   : $dropdown_menuHeaderFontWeight
    text-transform: $dropdown_menuHeaderTextTransform

.ts.contextmenu > .divider,
.ts.dropdown .menu > .divider
    border-top: $dropdown_menuDividerBorder
    height    : 0em

.ts.contextmenu > .section.divider,
.ts.dropdown .menu > .section.divider
    margin    : $dropdown_menuSectionDividerMargin

.ts.contextmenu > .input,
.ts.dropdown .menu > .input
    width    : auto
    display  : flex
    margin   : $dropdown_menuInputMargin
    min-width: $dropdown_menuInputMinWidth

.ts.contextmenu > .header + .input,
.ts.dropdown .menu > .header + .input
    margin-top: 0em

.ts.contextmenu > .input:not(.transparent) input,
.ts.dropdown .menu > .input:not(.transparent) input
    padding: $dropdown_menuInputPadding

.ts.contextmenu > .input:not(.transparent) .button,
.ts.contextmenu > .input:not(.transparent) .icon,
.ts.contextmenu > .input:not(.transparent) .label,
.ts.dropdown .menu > .input:not(.transparent) .button,
.ts.dropdown .menu > .input:not(.transparent) .icon,
.ts.dropdown .menu > .input:not(.transparent) .label
    padding-top   : $dropdown_menuInputVerticalPadding
    padding-bottom: $dropdown_menuInputVerticalPadding

//-------------------//
//    Description
//-------------------//

.ts.contextmenu > .item > .description,
.ts.dropdown > .text > .description,
.ts.dropdown .menu > .item > .description
    //float : $dropdown_itemDescriptionFloat
    margin    : $dropdown_itemDescriptionMargin
    flex      : 1
    text-align: right
    color     : $dropdown_itemDescriptionColor

.ts.contextmenu > .item:hover > .description,
.ts.dropdown .menu > .item:hover > .description
    color: $dropdown_hoveredItemDescriptionColor

.ts.contextmenu > .item:active > .description,
.ts.dropdown .menu > .item:active > .description
    color: $dropdown_activeItemDescriptionColor

//-------------------//
//       Image
//-------------------//

.ts.dropdown > .text > img,
.ts.dropdown > .text > .image,
.ts.contextmenu > .item > .image,
.ts.contextmenu > .item > img,
.ts.dropdown .menu > .item > .image,
.ts.dropdown .menu > .item > img
    display       : inline-block
    vertical-align: middle
    width         : auto
    max-height    : $dropdown_menuImageMaxHeight

//-------------------//
//       Icon
//-------------------//

.ts.dropdown .menu > .item > .flag,
.ts.dropdown .menu > .item > .icon,
.ts.dropdown .menu > .item > .image,
.ts.dropdown .menu > .item > .label,
.ts.dropdown .menu > .item > img,
.ts.dropdown > .text > .flag,
.ts.dropdown > .text > .icon,
.ts.dropdown > .text > .image,
.ts.dropdown > .text > .label,
.ts.dropdown > .text > img
    margin-left : 0
    float       : none
    margin-right: $dropdown_distanceToText

//-------------------//
//       Opened
//-------------------//

.ts.contextmenu.visible,
.ts.contextmenu.hidden.animating,
.ts.dropdown.visible .menu,
.ts.dropdown.hidden.animating .menu
    display: block

//-------------------//
//       Hover
//-------------------//

.ts.contextmenu.visible > .item:hover:not(:active):not(.active):not(.selected),
.ts.dropdown .menu > .item:hover:not(:active):not(.active):not(.selected)
    background: $dropdown_hoveredItemBackground !important
    color     : $dropdown_hoveredItemColor !important
    z-index   : $z_dropdown_hovered

//-------------------//
//       Active
//-------------------//

.ts.contextmenu.visible .active.item,
.ts.dropdown .menu .active.item
    background : $dropdown_activeItemBackground !important
    font-weight: $dropdown_activeItemFontWeight
    color      : $dropdown_activeItemColor
    z-index    : $z_dropdown_active

.ts.contextmenu.visible > .item.item:active,
.ts.dropdown .menu > .item.item:active
    background: $dropdown_activeItemBackground !important

//-------------------//
//      Selected
//-------------------//

.ts.dropdown .menu .selected.item
    background : $dropdown_selectedItemBackground !important
    color      : $dropdown_selectedItemColor

//-------------------//
//     Animation
//-------------------//

.ts.dropdown.upward.hidden.animating .menu,
.ts.dropdown.downward.hidden.animating .menu
    animation     : dropdown-contract 300ms cubic-bezier(0.22, 0.61, 0.36, 1) both
    pointer-events: none

.ts.dropdown.downward.visible.animating .menu,
.ts.dropdown.upward.visible.animating .menu
    animation: dropdown-expand 300ms cubic-bezier(0.22, 0.61, 0.36, 1) both

.ts.contextmenu.hidden.animating
    animation: contextmenu-hidden 80ms linear both

.ts.contextmenu.visible.animating
    animation: contextmenu-visible 10ms linear both

//-------------------//
//     Directions
//-------------------//

.ts.contextmenu.downward,
.ts.dropdown.downward .menu
    margin-top      : $dropdown_gap
    transform-origin: center top 0px
    box-shadow      : $dropdown_downwardRaisedShadow

.ts.contextmenu.upward,
.ts.dropdown.upward .menu
    margin-bottom   : $dropdown_gap
    transform-origin: center bottom 0px
    box-shadow      : $dropdown_upwardRaisedShadow

.ts.dropdown.upward .menu
    bottom: 100%
    top   : initial

.ts.dropdown.rightward .menu
    left: 0

.ts.dropdown.leftward .menu
    right: 0

//-------------------//
//      Inverted
//-------------------//

.ts.inverted.menu:not(.primary):not(.warning):not(.info):not(.positive):not(.negative) .ts.dropdown.item > .menu
    border-color: $dropdown_invertedMenuBorderColor
    background  : $dropdown_invertedMenuBackgroundColor

.ts.inverted.menu:not(.primary):not(.warning):not(.info):not(.positive):not(.negative) .ts.dropdown.item > .menu > .divider
    border-color: $dropdown_invertedMenuDividerColor

.ts.inverted.menu:not(.primary):not(.warning):not(.info):not(.positive):not(.negative) .ts.dropdown.item > .menu > .item.item.item.item.item.item:not(.active):not(.selected)
    color: $dropdown_invertedMenuItemTextColor

.ts.inverted.menu:not(.primary):not(.warning):not(.info):not(.positive):not(.negative) .ts.dropdown.item > .menu > .item:hover:not(:active):not(.active):not(.selected)
    color     : $dropdown_invertedMenuItemHoverTextColor !important
    background: $dropdown_invertedMenuItemHoverBackgroundColor !important

.ts.inverted.menu:not(.primary):not(.warning):not(.info):not(.positive):not(.negative) .ts.dropdown.item > .menu > .active.item,
.ts.inverted.menu:not(.primary):not(.warning):not(.info):not(.positive):not(.negative) .ts.dropdown.item > .menu > .item.item:active
    color     : $dropdown_invertedMenuItemActiveTextColor !important
    background: $dropdown_invertedMenuItemActiveBackgroundColor !important

//-------------------//
//      Coupling
//-------------------//

.ts.menu .ts.dropdown.upward:not(.floating) .menu
    margin-bottom: 0

    border-bottom-left-radius : 0
    border-bottom-right-radius: 0

.ts.menu .ts.dropdown.downward:not(.floating) .menu
    margin-top: 0

    border-top-left-radius : 0
    border-top-right-radius: 0

//*******************************//
//           Contextmenu
//*******************************//

.ts.contextmenu
    position: fixed
    z-index: 1000