@charset "UTF-8"
@import ./_variables/_segment.variables.sass


//*******************************//
//            Variations
//*******************************//

.ts.segment

    padding: .8rem
    border-radius: .25rem

    +colors
        border: c(border) 1px solid

    //-------------------//
    //      Attached
    //-------------------//

    &.-top-attached
        @extend %top-attached

    &.-bottom-attached
        @extend %bottom-attached

    &.-attached
        @extend %attached

