// + Basic
.ts.input
    input(type="text" placeholder="Text")

// + Circular
.ts.circular.input
    input(type="text" placeholder="Text")

// + Status
.ts.warning.input
    input(type="text" placeholder="Warning")
p
.ts.positive.input
    input(type="text" placeholder="Positive")
p
.ts.negative.input
    input(type="text" placeholder="Negative")

// + Secondary & Tertiary
.ts.input
    input(type="text" placeholder="Default")
p
.ts.secondary.input
    input(type="text" placeholder="Secondary")
p
.ts.tertiary.input
    input(type="text" placeholder="Tertiary")

// + Inverted Emphasis
.ts.inverted.primary.input
    input(type="text" placeholder="Primary")
p
.ts.inverted.info.input
    input(type="text" placeholder="Info")
p
.ts.inverted.warning.input
    input(type="text" placeholder="Warning")
p
.ts.inverted.positive.input
    input(type="text" placeholder="Positive")
p
.ts.inverted.negative.input
    input(type="text" placeholder="Negative")
p
.ts.inverted.input
    input(type="text" placeholder="Inverted")

// + Borderless
.ts.borderless.input
    input(type="text" placeholder="Default")
p
.ts.borderless.secondary.input
    input(type="text" placeholder="Secondary")
p
.ts.borderless.tertiary.input
    input(type="text" placeholder="Tertiary")

// + Underlined
.ts.underlined.input
    input(type="text" placeholder="Default")
p
.ts.underlined.warning.input
    input(type="text" placeholder="Warning")
p
.ts.underlined.success.input
    input(type="text" placeholder="Success")
p
.ts.underlined.error.input
    input(type="text" placeholder="Error")

// + Labeled
.ts.right.labeled.input
    input(type="text" placeholder="Right Labeled")
    .ts.label Label
p
.ts.left.labeled.input
    .ts.label Label
    input(type="text" placeholder="Left Labeled")
p
.ts.labeled.input
    .ts.label Label
    input(type="text" placeholder="Labeled")
    .ts.label Label
p
.ts.labeled.input
    .ts.label Label
    input(type="text" placeholder="Labeled")
    .ts.basic.label Basic Label

// + Action
.ts.right.action.input
    input(type="text" placeholder="Right Action")
    button.ts.button Button
p
.ts.left.action.input
    button.ts.button Button
    input(type="text" placeholder="Left Action")
p
.ts.left.labeled.right.action.input
    .ts.label Label
    input(type="text" placeholder="Left Labeled & Right Action")
    button.ts.button Button
p
.ts.right.labeled.left.action.input
    button.ts.button Button
    input(type="text" placeholder="Right Labeled & Left Action")
    .ts.basic.label Label

// + Labeled & Action
.ts.labeled.right.action.input
    .ts.label Label
    input(type="text" placeholder="Right Action")
    .ts.label Label
    button.ts.positive.circular.button Button
p
.ts.labeled.left.action.input
    button.ts.positive.button Button
    .ts.label Label
    input(type="text" placeholder="Left Action")
    .ts.label Label
p
.ts.labeled.right.action.input
    .ts.label Label
    input(type="text" placeholder="Right Action")
    select.ts.basic.dropdown
        option Option
    button.ts.positive.button Button
p
.ts.labeled.right.action.input
    .ts.label Label
    select.ts.basic.dropdown
        option Option
    input(type="text" placeholder="Right Action")
    button.ts.positive.button Button
p
.ts.labeled.left.action.input
    button.ts.positive.button Button
    .ts.label Label
    input(type="text" placeholder="Left Action")
    select.ts.basic.dropdown
        option Option
    .ts.label Label

// + Icon
.ts.left.icon.input
    input(type="text" placeholder="Left Icon")
    i.search.icon
p
.ts.right.icon.input
    input(type="text" placeholder="Right Icon")
    i.search.icon


// + Icon Link
.ts.left.icon.input
    input(type="text" placeholder="Circular Left Icon")
    i.search.circular.link.icon
p
.ts.right.icon.input
    input(type="text" placeholder="Inverted Circular Right Icon")
    i.search.circular.inverted.link.icon

// + Icon Loading
.ts.left.icon.loading.input
    input(type="text" placeholder="Left Icon")
    i.search.icon
p
.ts.right.icon.loading.input
    input(type="text" placeholder="Right Icon")
    i.search.icon

// + Sizes
.ts.mini.input
    input(type="text" placeholder="Mini")
p
.ts.tiny.input
    input(type="text" placeholder="Tiny")
p
.ts.small.input
    input(type="text" placeholder="Small")
p
.ts.input
    input(type="text" placeholder="Medium")
p
.ts.large.input
    input(type="text" placeholder="Large")
p
.ts.big.input
    input(type="text" placeholder="Big")
p
.ts.huge.input
    input(type="text" placeholder="Huge")
p
.ts.massive.input
    input(type="text" placeholder="Massive")

// + Message
.ts.top.attached.warning.message Top Attached Message
.ts.bottom.attached.fluid.input
    input(type="text" placeholder="Bottom Attached Text")
p
.ts.top.attached.fluid.input
    input(type="text" placeholder="Top Attached Text")
.ts.bottom.attached.warning.message Bottom Attached Message
p
.ts.top.attached.fluid.input
    input(type="text" placeholder="Top Attached Text")
.ts.padded.bottom.attached.warning.message Padded Bottom Attached Message
p
.ts.top.attached.fluid.input
    input(type="text" placeholder="Top Attached Text")
.ts.very.padded.bottom.attached.warning.message Very Padded Bottom Attached Message