// + Basic
.ts.progress
    .bar

// + Preparing
.ts.preparing.progress
    .bar

// + Indeterminate
.ts.indeterminate.progress
    .bar

// + Queried Indeterminate
.ts.queried.indeterminate.progress
    .bar

// + Buffer
.ts.buffering.progress
    .bar(style="width:30%")
    .buffer.bar(style="width:50%")

// + Stacked Bars
.ts.progress
    .bar(style="width: 30%;")
        label.text 30%
    .bar(style="width: 50%; background-color: #00ADEA;")
        label.text 50%
    .bar(style="width: 20%; background-color: red")
        label.text 20%

// + Active
.ts.acitve.progress
    .bar(style="width: 40%;")

// + Emphasis
.ts.primary.progress
    .bar(style="width: 40%;")
        label.text Primary
.ts.info.progress
    .bar(style="width: 40%;")
        label.text Info
.ts.warning.progress
    .bar(style="width: 40%;")
        label.text Warning
.ts.positive.progress
    .bar(style="width: 40%;")
        label.text Positive
.ts.negative.progress
    .bar(style="width: 40%;")
        label.text Negative
.ts.inverted.progress
    .bar(style="width: 40%;")
        label.text Inverted

// + Emphasis Preparing
.ts.primary.preparing.progress
    .bar
.ts.info.preparing.progress
    .bar
.ts.warning.preparing.progress
    .bar
.ts.positive.preparing.progress
    .bar
.ts.negative.preparing.progress
    .bar
.ts.inverted.preparing.progress
    .bar

// + Emphasis Active
.ts.primary.active.progress
    .bar(style="width: 40%;")
        label.text Primary
.ts.info.active.progress
    .bar(style="width: 40%;")
        label.text Info
.ts.warning.active.progress
    .bar(style="width: 40%;")
        label.text Warning
.ts.positive.active.progress
    .bar(style="width: 40%;")
        label.text Positive
.ts.negative.active.progress
    .bar(style="width: 40%;")
        label.text Negative
.ts.inverted.active.progress
    .bar(style="width: 40%;")
        label.text Inverted

// + Attached
.ts.top.attached.segment Top Attached Segment
.ts.active.attached.tiny.progress
    .bar(style="width: 60%;")
.ts.bottom.attached.segment Bottom Attached Segment
br
.ts.active.top.attached.tiny.progress
    .bar(style="width: 60%;")
.ts.attached.card
    .content Outer Attached Card
.ts.active.bottom.attached.tiny.progress
    .bar(style="width: 60%;")
br
.ts.card
    .ts.active.top.attached.tiny.progress
        .bar(style="width: 60%;")
    .content Inner Attached Card
    .ts.active.bottom.attached.tiny.progress
        .bar(style="width: 60%;")
br
.ts.active.top.attached.tiny.progress
    .bar(style="width: 60%;")
.ts.attached.segment
    | Outer Attached Segment
.ts.active.bottom.attached.tiny.progress
    .bar(style="width: 60%;")
br
.ts.segment
    .ts.active.top.attached.tiny.progress
        .bar(style="width: 60%;")
    | Inner Attached Segment
    .ts.active.bottom.attached.tiny.progress
        .bar(style="width: 60%;")

// + Text
.ts.small.progress
    .bar(style="width: 60%;")
.ts.two.column.grid
    .column
        .ts.bold.primary.text 60%
    .right.aligned.column 30/185