// + Basic
p This is a text for checking quote block margin.
.ts.quote
    p This is a content inside of the quote. And here's another content for the quote. This is a content inside of the quote. And here's another content for the quote. This is a content inside of the quote. And here's another content for the quote.
    cite Wikipedia
p This is a text for checking quote block margin.

// + Secondary
p This is a text for checking quote block margin.
.ts.secondary.quote
    p This is a content inside of the quote. And here's another content for the quote. This is a content inside of the quote. And here's another content for the quote. This is a content inside of the quote. And here's another content for the quote.
    cite Wikipedia
p This is a text for checking quote block margin.

// + Nested
p This is a text for checking quote block margin.
.ts.quote
    p This is a content inside of the quote. And here's another content for the quote. This is a content inside of the quote. And here's another content for the quote. This is a content inside of the quote. And here's another content for the quote.
    .ts.quote
        p This is a content inside of the quote. And here's another content for the quote. This is a content inside of the quote. And here's another content for the quote. This is a content inside of the quote. And here's another content for the quote.
            .ts.quote
                p This is a content inside of the quote. And here's another content for the quote. This is a content inside of the quote. And here's another content for the quote. This is a content inside of the quote. And here's another content for the quote.
                cite Wikipedia
        cite Wikipedia
    cite Wikipedia
p This is a text for checking quote block margin.