@import ./regions.variables

//*******************************//
//             Main
//*******************************//

.ts.regions
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    height: 100%
    flex: auto

//-------------------//
//       Fixed
//-------------------//

.ts.fixed.regions
    position: fixed
    top     : 0
    right   : 0
    left    : 0
    bottom  : 0

//-------------------//
//       Regions
//-------------------//

.ts.regions > .regions

//-------------------//
//       Region
//-------------------//

.ts.regions > .region

//-------------------//
//     Horizontal
//-------------------//

.ts.horizontal.regions

//-------------------//
//      Vertical
//-------------------//

.ts.vertical.regions,
.ts.regions .vertical.regions
    display: flex
    flex-wrap: nowrap
    height: 100%
    flex-direction: column
    flex-wrap: nowrap
    flex: auto

//-------------------//
//      Celled
//-------------------//

.ts.horizontal.celled.regions > .region:not(:last-child),
.ts.regions .horizontal.celled.regions > .region:not(:last-child)
    border-right: $regions_border

.ts.vertical.celled.regions > .region:not(:last-child),
.ts.regions .vertical.celled.regions > .region:not(:last-child)
    border-bottom: $regions_border

//*******************************//
//            Region
//*******************************//

//-------------------//
//     Stretched
//-------------------//

.ts.regions > .stretched.region

//-------------------//
//     Stretched
//-------------------//

.ts.regions .stretched.region:not([class*="stretched mobile"]):not([class*="stretched tablet"]):not([class*="stretched computer"]):not([class*="stretched large screen"])
    flex: 1
.ts.regions .region[class*="stretched mobile"]
    +rwd-serious(mobile)
        flex: 1
.ts.regions .region[class*="stretched tablet"]
    +rwd-serious(tablet)
        flex: 1
.ts.regions .region[class*="stretched computer"]
    +rwd-serious(computer)
        flex: 1
.ts.regions .region[class*="stretched large screen"]
    +rwd-serious(large)
        flex: 1

//-------------------//
//      Padded
//-------------------//

.ts.regions .padded.region,
.ts.regions .regions .padded.region,
    padding: 1em

//-------------------//
//  Secondary & Tertiary
//-------------------//

.ts.regions > .secondary.region,
.ts.regions .regions .secondary.region,
    background-color: $regions_secondaryBackgroundColor

.ts.regions > .tertiary.region,
.ts.regions .regions .tertiary.region,
    background-color: $regions_tertiaryBackgroundColor

//-------------------//
//     Scrollable
//-------------------//

.ts.regions > .scrollable.region
    overflow-y: scroll
    overflow-x: hidden

//-------------------//
//     Scrollable
//-------------------//

.ts.regions .region[class*="vertically scrollable"]
    overflow-y: scroll
    overflow-x: hidden
.ts.regions .region[class*="horizontally scrollable"]
    overflow-y: hidden
    overflow-x: scroll
.ts.regions .region.scrollable:not([class*="vertically scrollable"]):not([class*="horizontally scrollable"])
    overflow: scroll

//-------------------//
//     Wide & Tall
//-------------------//

$wides: one $oneWide, two $twoWide, three $threeWide, four $fourWide, five $fiveWide, six $sixWide, seven $sevenWide, eight $eightWide, nine $nineWide, ten $tenWide, eleven $elevenWide, twelve $twelveWide, thirteen $thirteenWide, fourteen $fourteenWide, fifteen $fifteenWide, sixteen $sixteenWide

@each $wide in $wides
    $name : nth($wide, 1)
    $width: nth($wide, 2)

    .ts.regions .region[class*="#{$name} wide"],
        width: $width !important
    .ts.vertical.regions .region[class*="#{$name} tall"],
        height: $width !important
        width : auto   !important

//-------------------//
//    Mobile Block
//-------------------//

@each $wide in $wides
    $name : nth($wide, 1)
    $width: nth($wide, 2)

    .ts.regions .region[class*="#{$name} wide mobile"]
        +rwd-serious(mobile)
            width: $width !important

        &:not([class*="wide tablet"])
            +rwd-serious(tablet)
                width: $width !important
        &:not([class*="wide computer"])
            +rwd-serious(computer)
                width: $width !important
        &:not([class*="wide large screen"])
            +rwd-serious(large)
                width: $width !important

    .ts.vertical.regions .region[class*="#{$name} tall mobile"]
        +rwd-serious(mobile)
            height: $width !important
            width : auto   !important

        &:not([class*="tall tablet"])
            +rwd-serious(tablet)
                height: $width !important
                width : auto   !important
        &:not([class*="tall computer"])
            +rwd-serious(computer)
                height: $width !important
                width : auto   !important
        &:not([class*="tall large screen"])
            +rwd-serious(large)
                height: $width !important
                width : auto   !important

//-------------------//
//   Tablet Block
//-------------------//

@each $wide in $wides
    $name : nth($wide, 1)
    $width: nth($wide, 2)

    .ts.regions .region[class*="#{$name} wide tablet"]
        +rwd-serious(tablet)
            width: $width !important

        &:not([class*="wide computer"])
            +rwd-serious(computer)
                width: $width !important
        &:not([class*="wide large screen"])
            +rwd-serious(large)
                width: $width !important

    .ts.vertical.regions .region[class*="#{$name} tall tablet"]
        +rwd-serious(tablet)
            height: $width !important
            width : auto   !important

        &:not([class*="tall computer"])
            +rwd-serious(computer)
                height: $width !important
                width : auto   !important
        &:not([class*="tall large screen"])
            +rwd-serious(large)
                height: $width !important
                width : auto   !important

//-------------------//
//  Computer Block
//-------------------//

@each $wide in $wides
    $name : nth($wide, 1)
    $width: nth($wide, 2)

    .ts.regions .region[class*="#{$name} wide computer"]
        +rwd-serious(computer)
            width: $width !important

        &:not([class*="wide large screen"])
            +rwd-serious(large)
                width: $width !important

    .ts.vertical.regions .region[class*="#{$name} tall computer"]
        +rwd-serious(computer)
            height: $width !important
            width : auto   !important

        &:not([class*="tall large screen"])
            +rwd-serious(large)
                height: $width !important
                width : auto   !important



//-------------------//
// Large Screen Block
//-------------------//

@each $wide in $wides
    $name : nth($wide, 1)
    $width: nth($wide, 2)

    .ts.regions .region[class*="#{$name} wide large screen"]
        +rwd-serious(large)
            height: $width !important

    .ts.vertical.regions .region[class*="#{$name} tall large screen"]
        +rwd-serious(large)
            height: $width !important
            width : auto   !important
