// + Breadcrumb
.ts.breadcrumb
    .item Item
    .item Item
    .item Item

// + Chevroned
.ts.-chevroned.breadcrumb
    .item Item
    .item Item
    .item Item

// + Dotted
.ts.-dotted.breadcrumb
    .item Item
    .item Item
    .item Item

// + Active
.ts.breadcrumb
    .item Item
    .-active.item Active Item
    .item Item

// + Disabled
.ts.breadcrumb
    .item Item
    .-disabled.item Disabled Item
    .item Item
    .-active.item Active Item

// + Sizes
.ts.-mini.breadcrumb
    .item Mini Item
    .item Mini Item
    .item Mini Item
.ts.-tiny.breadcrumb
    .item Tiny Item
    .item Tiny Item
    .item Tiny Item
.ts.-small.breadcrumb
    .item Small Item
    .item Small Item
    .item Small Item
.ts.-medium.breadcrumb
    .item Medium Item
    .item Medium Item
    .item Medium Item
.ts.-large.breadcrumb
    .item Large Item
    .item Large Item
    .item Large Item
.ts.-big.breadcrumb
    .item Big Item
    .item Big Item
    .item Big Item
.ts.-huge.breadcrumb
    .item Huge Item
    .item Huge Item
    .item Huge Item
.ts.-massive.breadcrumb
    .item Massive Item
    .item Massive Item
    .item Massive Item