// + Button
button.ts.button Button

// + Attached
button.ts.-top-attached.button Top Attached Button
button.ts.-attached.button Attached Button
button.ts.-attached.button Attached Button
button.ts.-bottom-attached.button Bottom Attached Button

// + Secondary
button.ts.-secondary.button Secondary Button

// + Active
button.ts.-active.button Active Button

// + Pulsing
button.ts.-pulsing.button Pulsing Buttton

// + Circular
button.ts.-circular.button Circular Button

// + Disabled
button.ts.-disabled.button Disabled Button
button.ts.button(disabled) Disabled Button

// + Loading
button.ts.-loading.button Loading Button

// + Labeled Icon
button.ts.-left-labeled-icon.button
    i.heart.icon
    | Left Labeled Icon
button.ts.-right-labeled-icon.button
    i.heart.icon
    | Right Labeled Icon

// + Labeled
button.ts.-left-labeled.button
    .ts.label 12,345
    button.ts.button Left Labeled
button.ts.-right-labeled.button
    button.ts.button Right Labeled
    .ts.label 12,345

// + Floated
button.ts.-left-floated.button Left Floated Button
button.ts.-right-floated.button Right Floated Button

// + Fluid
button.ts.-fluid.button Fluid Button

// + Compact
button.ts.-compact.button Compact Button
button.ts.-very-compact.button Very Compact Button

// + Sizes
button.ts.-mini.button Mini Button
button.ts.-tiny.button Tiny Button
button.ts.-small.button Small Button
button.ts.-medium.button Medium Button
button.ts.-large.button Large Button
button.ts.-big.button Big Button
button.ts.-huge.button Huge Button
button.ts.-massive.button Massive Button

// + Icon
button.ts.-mini.-icon.button
    i.heart.icon
button.ts.-tiny.-icon.button
    i.heart.icon
button.ts.-small.-icon.button
    i.heart.icon
button.ts.-medium.-icon.button
    i.heart.icon
button.ts.-large.-icon.button
    i.heart.icon
button.ts.-big.-icon.button
    i.heart.icon
button.ts.-huge.-icon.button
    i.heart.icon
button.ts.-massive.-icon.button
    i.heart.icon

// + Close
button.ts.-mini.-close.button
button.ts.-tiny.-close.button
button.ts.-small.-close.button
button.ts.-medium.-close.button
button.ts.-large.-close.button
button.ts.-big.-close.button
button.ts.-huge.-close.button
button.ts.-massive.-close.button

// + Corner
.ts.segment
    button.ts.-top-left-corner.button Top Left
    button.ts.-top-right-corner.button Top Right
    button.ts.-bottom-left-corner.button Bottom Left
    button.ts.-bottom-right-corner.button Bottom Right

// + Opinion
button.ts.-opinion.button Opinion Button
button.ts.-secondary-opinion.button Secondary Opinion Button

// + Outlined
button.ts.-outlined.button Outlined Button
button.ts.-outlined.-inverted.button Outlined Inverted Button
button.ts.-outlined.-primary.button Outlined Primary Button
button.ts.-outlined.-warning.button Outlined Warning Button
button.ts.-outlined.-negative.button Outlined Negative Button
button.ts.-outlined.-positive.button Outlined Positive Button

// + Link
| Text Text
button.ts.-link.button Link Button
| Text Text

// + Buttons
.ts.buttons
    button.button Button
    button.button Button
    button.button Button
    button.button Button

// + Or Buttons
button.ts.buttons
    button.button Button
    .or
    button.button Button

button.ts.buttons
    button.button Button
    .or(data-text='Or')
    button.button Button

// + Or Stackable Buttons
button.ts.-stackable.buttons
    button.button Button
    .or
    button.button Button

// + Separated Buttons
.ts.-separated.buttons
    button.button Button
    button.button Button
    button.button Button
    button.button Button

// + Stackable Buttons
.ts.-stackable.buttons
    button.button Button
    button.button Button
    button.button Button
    button.button Button

// + Outlined Buttons
.ts.-outlined.buttons
    button.button Button
    button.button Button
    button.button Button
    button.button Button

// + Color Buttons
.ts.-primary.buttons
    button.button Button
    button.-negative.button Negative Button
    button.button Button
    button.-positive.button Positive Button

// + Outlined Color Buttons
.ts.-outlined.-primary.buttons
    button.button Button
    button.-negative.button Negative Button
    button.button Button
    button.-positive.button Positive Button

// + Size Buttons
.ts.-large.buttons
    button.button Button
    button.button Button
    button.button Button

// + Vertical Buttons
.ts.-vertical.buttons
    button.button Vertical Button
    button.button Vertical Button
    button.button Vertical Button
    button.button Vertical Button

// + Vertical Outlined Buttons
.ts.-vertical.-outlined.buttons
    button.button Vertical Button
    button.button Vertical Button
    button.button Vertical Button
    button.button Vertical Button

// + Verttical Outlined Color Buttons
.ts.-vertical.-outlined.-primary.buttons
    button.button Button
    button.-negative.button Negative Button
    button.button Button
    button.-positive.button Positive Button

// + Vertical Color Buttons
.ts.-vertical.-primary.buttons
    button.button Button
    button.-negative.button Negative Button
    button.button Button
    button.-positive.button Positive Button