// + Container
.ts.-left-aligned.container
    p Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned
    p Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned Left Aligned
.ts.-center-aligned.container
    p Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned
    p Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned Center Aligned
.ts.-right-aligned.container
    p Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned
    p Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned Right Aligned

// + Justified
.ts.-justified.container
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.

// + Fluid
.ts.-fluid.container
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.

// + Grid
.ts.grid.container
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.