// + Divider
.ts.divider

// + Dotted
.ts.-dotted.divider

// + Vertical
.ts.-vertical.divider

// + Text
.ts.-text.divider
    | Divider

// + Hidden
p Text
.ts.-hidden.divider
p Text

// + Fitted
p Text
.ts.-fitted.divider
p Text

// + Clearing
p Text
.ts.-clearing.divider
p Text

// + Section
p Text
.ts.-section.divider
p Text

// + Colors
.ts.-inverted.segment
    .ts.-inverted.divider
.ts.-primary.divider
.ts.-positive.divider
.ts.-negative.divider
.ts.-warning.divider