// + Grid
.ts.grid
    .-one-wide.column One Wide
    .-two-wide.column Two Wide
    .-three-wide.column Three Wide
    .-four-wide.column Four Wide
    .-five-wide.column Five Wide
    .-six-wide.column Six Wide

// + Stretched
.ts.grid
    .-one-wide.column One Wide
    .-two-wide.column Two Wide
    .-stretched.column Stretched Wide (Thirteen)

// + Vertically Stretched
.ts.grid
    .-vertically-stretched.-three-column.row
        .column
            .ts.segment
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
        .column
            .ts.segment
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
        .column
            .ts.segment
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.

// + Collapsed
.ts.-collapsed.grid
    .-four-wide.column Four Wide
    .-four-wide.column Four Wide
    .-four-wide.column Four Wide
    .-four-wide.column Four Wide

// + Compact
.ts.-compact.grid
    .-four-wide.column Four Wide
    .-four-wide.column Four Wide
    .-four-wide.column Four Wide
    .-four-wide.column Four Wide

// + Relaxed
.ts.grid
    .-four-wide.column
        .ts.segment
            p Column
    .-four-wide.column
        .ts.segment
            p Column
    .-four-wide.column
        .ts.segment
            p Column
    .-four-wide.column
        .ts.segment
            p Column
.ts.-relaxed.grid
    .-four-wide.column
        .ts.segment
            p Relaxed Column
    .-four-wide.column
        .ts.segment
            p Relaxed Column
    .-four-wide.column
        .ts.segment
            p Relaxed Column
    .-four-wide.column
        .ts.segment
            p Relaxed Column
.ts.-very-relaxed.grid
    .-four-wide.column
        .ts.segment
            p Very Relaxed Column
    .-four-wide.column
        .ts.segment
            p Very Relaxed Column
    .-four-wide.column
        .ts.segment
            p Very Relaxed Column
    .-four-wide.column
        .ts.segment
            p Very Relaxed Column

// + Text Aligns
.ts.-left-aligned.grid
    .-eight-wide.column
        .ts.segment
            p Left Aligned
    .-eight-wide.column
        .ts.segment
            p Left Aligned
.ts.-center-aligned.grid
    .-eight-wide.column
        .ts.segment
            p Center Aligned
    .-eight-wide.column
        .ts.segment
            p Center Aligned
.ts.-right-aligned.grid
    .-eight-wide.column
        .ts.segment
            p Right Aligned
    .-eight-wide.column
        .ts.segment
            p Right Aligned

// + Vertical Aligns
.ts.-top-aligned.grid
    .-eight-wide.column
        .ts.segment
            p Top Aligned
            p Top Aligned
            p Top Aligned
    .-eight-wide.column
        .ts.segment
            p Top Aligned
.ts.-middle-aligned.grid
    .-eight-wide.column
        .ts.segment
            p Middle Aligned
            p Middle Aligned
            p Middle Aligned
    .-eight-wide.column
        .ts.segment
            p Middle Aligned
.ts.-bottom-aligned.grid
    .-eight-wide.column
        .ts.segment
            p Bottom Aligned
            p Bottom Aligned
            p Bottom Aligned
    .-eight-wide.column
        .ts.segment
            p Bottom Aligned

// + Celled
.ts.-celled.grid
    .row
        .-three-wide.column
            p Three Wide
        .-thirteen-wide.column
            p Thirteen Wide
    .row
        .-three-wide.column
            p Three Wide
        .-ten-wide.column
            p Ten Wide
        .-three-wide.column
            p Three Wide

// + Internally Celled
.ts.-internally-celled.grid
    .row
        .-three-wide.column
            p Three Wide
        .-thirteen-wide.column
            p Thirteen Wide
    .row
        .-three-wide.column
            p Three Wide
        .-ten-wide.column
            p Ten Wide
        .-three-wide.column
            p Three Wide

// + Divided
.ts.-divided.grid
    .row
        .column
            p One Column
        .column
            p One Column
        .column
            p One Column
    .row
        .column
            p One Column
        .column
            p One Column
        .column
            p One Column

// + Verically Divided
.ts.-vertically-divided.grid
    .row
        .column
            p One Column
        .column
            p One Column
        .column
            p One Column
    .row
        .column
            p One Column
        .column
            p One Column
        .column
            p One Column

// + Centered
.ts.-centered.grid
    .column
        p Centered Grid Column

// + Padded
.ts.-padded.grid
    .column
        .ts.segment
            p Padded Column
    .column
        .ts.segment
            p Padded Column
    .column
        .ts.segment
            p Padded Column
.ts.-vertically-padded.grid
    .column
        .ts.segment
            p Vertically Padded Column
    .column
        .ts.segment
            p Vertically Padded Column
    .column
        .ts.segment
            p Vertically Padded Column
.ts.-horizontally-padded.grid
    .column
        .ts.segment
            p Horizontally Padded Column
    .column
        .ts.segment
            p Horizontally Padded Column
    .column
        .ts.segment
            p Horizontally Padded Column

// + Floated
.ts.grid
    .-left-floated.-five-wide.column
        .ts.segment
            p Left Floated Column
    .-right-floated.-five-wide.column
        .ts.segment
            p Right Floated Column

// + Sticked
.ts.grid
    .-ten-wide.column
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
        p 面會積明日不，上說新？本我看記登那！本思示林續出里大模謝實去出多以家、道到的全車個裡，人會進兩管大氣引著早一商；用多們！我體學者，一重人力得，選時如！看子長一說笑思。安酒法我們出有；充海個方了夜，一合是共。生防場保。受統讀，現問斯他留非戰是建個魚高到院界這但多此長媽一標通雙師國謝開精們態需不投護考雖說空地；樹兩動出星市以年自血小成會狀形又；陽爸個媽自見兩數地點了個一調在；選死情類麼合文黑兒！件充因麼實外即小種車部這通學。
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
        p 面會積明日不，上說新？本我看記登那！本思示林續出里大模謝實去出多以家、道到的全車個裡，人會進兩管大氣引著早一商；用多們！我體學者，一重人力得，選時如！看子長一說笑思。安酒法我們出有；充海個方了夜，一合是共。生防場保。受統讀，現問斯他留非戰是建個魚高到院界這但多此長媽一標通雙師國謝開精們態需不投護考雖說空地；樹兩動出星市以年自血小成會狀形又；陽爸個媽自見兩數地點了個一調在；選死情類麼合文黑兒！件充因麼實外即小種車部這通學。
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
        p 面會積明日不，上說新？本我看記登那！本思示林續出里大模謝實去出多以家、道到的全車個裡，人會進兩管大氣引著早一商；用多們！我體學者，一重人力得，選時如！看子長一說笑思。安酒法我們出有；充海個方了夜，一合是共。生防場保。受統讀，現問斯他留非戰是建個魚高到院界這但多此長媽一標通雙師國謝開精們態需不投護考雖說空地；樹兩動出星市以年自血小成會狀形又；陽爸個媽自見兩數地點了個一調在；選死情類麼合文黑兒！件充因麼實外即小種車部這通學。
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
        p 面會積明日不，上說新？本我看記登那！本思示林續出里大模謝實去出多以家、道到的全車個裡，人會進兩管大氣引著早一商；用多們！我體學者，一重人力得，選時如！看子長一說笑思。安酒法我們出有；充海個方了夜，一合是共。生防場保。受統讀，現問斯他留非戰是建個魚高到院界這但多此長媽一標通雙師國謝開精們態需不投護考雖說空地；樹兩動出星市以年自血小成會狀形又；陽爸個媽自見兩數地點了個一調在；選死情類麼合文黑兒！件充因麼實外即小種車部這通學。
    .-six-wide.-sticked.column
        p Sticked Column

// + Centered Row
.ts.grid
    .-centered.row
        .column
            p Centered Row Column
    .column
        p Grid Column

// + Column Row
.ts.grid
    .-two-column.row
        .column Eight Wide
        .column Eight Wide
    .-four-column.row
        .column Four Wide
        .column Four Wide
    .-two-wide.column Two Wide
    .-two-wide.column Two Wide

// + Collapsed Row
.ts.grid
    .-collapsed.row
        .-four-wide.column Four Wide
        .-four-wide.column Four Wide
        .-four-wide.column Four Wide
        .-four-wide.column Four Wide

// + Doubling
.ts.-doubling.-eight-column.grid
    .column 8 / 4 / 2 Column
    .column 8 / 4 / 2 Column
    .column 8 / 4 / 2 Column
    .column 8 / 4 / 2 Column
    .column 8 / 4 / 2 Column
    .column 8 / 4 / 2 Column
    .column 8 / 4 / 2 Column
    .column 8 / 4 / 2 Column
.ts.-doubling.-six-column.grid
    .column 6 / 3 / 2 Column
    .column 6 / 3 / 2 Column
    .column 6 / 3 / 2 Column
    .column 6 / 3 / 2 Column
    .column 6 / 3 / 2 Column
    .column 6 / 3 / 2 Column
.ts.-doubling.-four-column.grid
    .column 4 / 2 / 2 Column
    .column 4 / 2 / 2 Column
    .column 4 / 2 / 2 Column
    .column 4 / 2 / 2 Column

// + Reversed
.ts.-reversed.grid
    .column Reversed 1
    .column Reversed 2
    .column Reversed 3
    .column Reversed 4
.ts.-mobile-reversed.grid
    .column Mobile 1
    .column Mobile 2
    .column Mobile 3
    .column Mobile 4
.ts.-tablet-reversed.grid
    .column Tablet 1
    .column Tablet 2
    .column Tablet 3
    .column Tablet 4
.ts.-computer-reversed.grid
    .column Computer 1
    .column Computer 2
    .column Computer 3
    .column Computer 4

// + Stackable
.ts.-stackable.-three-column.grid
    .column 8 / 16 Column
    .column 8 / 16 Column
    .column 8 / 16 Column

// + Offset
.ts.-three-column.grid
    .column Column
    .-offset.column Offset Column
    .column Column