// + Header
.ts.header Header

// + Sub Header
.ts.header
    | Header
    .-sub.header Sub Header

// + Inline Sub Header
.ts.header
    | Header
    .-inline.-sub.header Inline Sub Header

// + Single Line
.ts.-single-line.header
    | Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header Single Line Header

// + Disabled
.ts.-disabled.header Disabled Header

// + Aligns
.ts.-center-aligned.header Center Aligned
.ts.-left-aligned.header Left Aligned
.ts.-right-aligned.header Right Aligned

// + Dividing
.ts.-inverted.-dividing.header Inverted Header
.ts.-primary.-dividing.header Primary Header
.ts.-warning.-dividing.header Warning Header
.ts.-positive.-dividing.header Positive Header
.ts.-negative.-dividing.header Negative Header

// + Floated
.ts.-left-floated.header Left Floated Header
.ts.-right-floated.header Right Floated Header

// + Icon
.ts.header
    i.heart.icon
    | Icon Header

// + Icon Aligns
.ts.-top-aligned.header
    i.heart.icon
    | Icon Header
.ts.-middle-aligned.header
    i.heart.icon
    | Icon Header
.ts.-bottom-aligned.header
    i.heart.icon
    | Icon Header

// + Sizes
.ts.-mini.header
    | Mini Header
    .-sub.header Sub Header
.ts.-tiny.header
    | Tiny Header
    .-sub.header Sub Header
.ts.-small.header
    | Small Header
    .-sub.header Sub Header
.ts.-medium.header
    | Medium Header
    .-sub.header Sub Header
.ts.-large.header
    | Large Header
    .-sub.header Sub Header
.ts.-big.header
    | Big Header
    .-sub.header Sub Header
.ts.-huge.header
    | Huge Header
    .-sub.header Sub Header
.ts.-massive.header
    | Massive Header
    .-sub.header Sub Header

// + Sub Sizes
.ts.-mini.-sub.header
    | Sub Mini Header
.ts.-tiny.-sub.header
    | Sub Tiny Header
.ts.-small.-sub.header
    | Sub Small Header
.ts.-medium.-sub.header
    | Sub Medium Header
.ts.-large.-sub.header
    | Sub Large Header
.ts.-big.-sub.header
    | Sub Big Header
.ts.-huge.-sub.header
    | Sub Huge Header
.ts.-massive.-sub.header
    | Sub Massive Header

// + Colors
.ts.-inverted.header Inverted Header
.ts.-primary.header Primary Header
.ts.-warning.header Warning Header
.ts.-positive.header Positive Header
.ts.-negative.header Negative Header

// + Icon Header
.ts.-icon.header
    i.heart.icon
    .content
        | Header
        .-sub.header

// + Image
.ts.-icon.header
    img.image(src='#!')
    | Header
    .-sub.header

// + Attached
.ts.-top-attached.header Top Attached Header
.ts.-attached.header Attached Header
.ts.-attached.segment
    p Attached Segment
.ts.-attached.header Attached Header
.ts.-bottom-attached.header Bottom Attached Header

// + Block
.ts.-block.header Block Header
.ts.-segment
    p Sement