// + Input
.ts.input
    input(type='text', placeholder='Input')

// + Secondar / Tertiary
.ts.-secondary.input
    input(type='text', placeholder='Secondary')
.ts.-tertiary.input
    input(type='text', placeholder='Tertiary')

// + Borderless
.ts.-borderless.input
    input(type='text', placeholder='Borderless')

// + Fluid
.ts.-fluid.input
    input(type='text', placeholder='Fluid')

// + Icon
.ts.-icon.input
    input(type='text', placeholder='Icon')
    i.heart.icon

// + Icons
.ts.-icons.input
    input(type='text', placeholder='Icon')
    .icons
        a.item i.heart.icon
        a.item i.heart.icon
        a.item i.heart.icon

// + Loading
.ts.-mini.-loading.input
    input(type='text', placeholder='Mini')
.ts.-tiny.-loading.input
    input(type='text', placeholder='Tiny')
.ts.-small.-loading.input
    input(type='text', placeholder='Small')
.ts.-medium.-loading.input
    input(type='text', placeholder='Medium')
.ts.-large.-loading.input
    input(type='text', placeholder='Large')
.ts.-big.-loading.input
    input(type='text', placeholder='Big')
.ts.-huge.-loading.input
    input(type='text', placeholder='Huge')
.ts.-massive.-loading.input
    input(type='text', placeholder='Massive')

// + Sizes
.ts.-mini.input
    input(type='text', placeholder='Mini')
.ts.-tiny.input
    input(type='text', placeholder='Tiny')
.ts.-small.input
    input(type='text', placeholder='Small')
.ts.-medium.input
    input(type='text', placeholder='Medium')
.ts.-large.input
    input(type='text', placeholder='Large')
.ts.-big.input
    input(type='text', placeholder='Big')
.ts.-huge.input
    input(type='text', placeholder='Huge')
.ts.-massive.input
    input(type='text', placeholder='Massive')

// + Disabled
.ts.-disabled.input
    input(type='text', placeholder='Disabled')

// + Color
.ts.-positive.input
    input(type='text', placeholder='Positive')
.ts.-negative.input
    input(type='text', placeholder='Negative')
.ts.-warning.input
    input(type='text', placeholder='Warning')

// + Action
.ts.-action.input
    input(type='text')
    button.ts.button Button
.ts.-action.input
    button.ts.button Button
    input(type='text')
.ts.-action.input
    button.ts.button Button
    input(type='text')
    button.ts.button Button

// + Labeled
.ts.-labeled.input
    input(type='text')
    .ts.label Label
.ts.-labeled.input
    .ts.label Label
    input(type='text')
.ts.-labeled.input
    .ts.label Label
    input(type='text')
    .ts.label Label

// + Labeled Action
.ts.-labeled.input
    input(type='text')
    .ts.label Label
    button.ts.button Button
.ts.-labeled.input
    .ts.label Label
    input(type='text')
    button.ts.button Button
.ts.-labeled.input
    .ts.label Label
    input(type='text')
    .ts.label Label
    button.ts.button Button
.ts.-labeled.input
    button.ts.button Button
    .ts.label Label
    input(type='text')
    .ts.label Label

// + Resizable
.ts.-resizable.input
    input(type='text')
.ts.-resizable.input
    textarea

// + Circular
.ts.-circular.input
    input(type='text')

// + Aligns
.ts.-left-aligned.input
    input(type='text', placeholder='Left Aligned')
.ts.-center-aligned.input
    input(type='text', placeholder='Center Aligned')
.ts.-right-aligned.input
    input(type='text', placeholder='Right Aligned')

// + Centered
.ts.-centered.input
    input(type='text', placeholder='Centered')

// + Underlined
.ts.-underlined.input
    input(type='text', placeholder='Underlined')
.ts.-underlined.-positive.input
    input(type='text', placeholder='Positive')
.ts.-underlined.-negative.input
    input(type='text', placeholder='Negative')
.ts.-underlined.-warning.input
    input(type='text', placeholder='Warning')

// + Number
.ts.-number.input
    button.ts.-decrease.button
    input(type='number')
    button.ts.-increase.button

// + Attached
.ts.-top-attached.input
    input(type='text', placeholder='Top Attached')
.ts.-attached.input
    input(type='text', placeholder='Attached')
.ts.-attached.segment
    p Segment
.ts.-attached.input
    input(type='text', placeholder='Attached')
.ts.-bottom-attached.input
    input(type='text', placeholder='Bottom Attached')