// + Ribbon
.ts.-ribbion.label Ribbion
.ts.-primary.-ribbion.label Primary Ribbion
.ts.-warning.-ribbion.label Warning Ribbion
.ts.-positive.-ribbion.label Positive Ribbion
.ts.-negative.-ribbion.label Negative Ribbion
.ts.-inverted.-ribbion.label Inverted Ribbion

// + Banner
.ts.-banner.label Banner
.ts.-primary.-banner.label Primary Banner
.ts.-warning.-banner.label Warning Banner
.ts.-positive.-banner.label Positive Banner
.ts.-negative.-banner.label Negative Banner
.ts.-inverted.-banner.label Inverted Banner

// + Empty Ribbon
.ts.-empty.-banner.label Banner
.ts.-empty.-primary.-banner.label Primary Banner
.ts.-empty.-warning.-banner.label Warning Banner
.ts.-empty.-positive.-banner.label Positive Banner
.ts.-empty.-negative.-banner.label Negative Banner
.ts.-empty.-inverted.-banner.label Inverted Banner

// + Vertical Ribbon
.ts.-vertical.-ribbon.label Vertical Ribbion

// + Corner
.ts.segment
    p Segment
    .ts.-left-corner.label
        i.heart.icon
.ts.segment
    p Segment
    .ts.-right-corner.label
        i.heart.icon

// + Tag
.ts.-tag.label Tag
.ts.-primary.-tag.label Primary Tag
.ts.-warning.-tag.label Warning Tag
.ts.-positive.-tag.label Positive Tag
.ts.-negative.-tag.label Negative Tag
.ts.-inverted.-tag.label Inverted Tag

// + Coupon
.ts.-coupon.label Coupon
.ts.-primary.-coupon.label Primary Coupon
.ts.-warning.-coupon.label Warning Coupon
.ts.-positive.-coupon.label Positive Coupon
.ts.-negative.-coupon.label Negative Coupon
.ts.-inverted.-coupon.label Inverted Coupon

// + Image
.ts.-image.label
    img(src='#!')
    | Image Label
    .detail Detail
.ts.-primary.-image.label
    img(src='#!')
    | Primary Image Label
    .detail Detail
.ts.-warning.-image.label
    img(src='#!')
    | Warning Image Label
    .detail Detail
.ts.-negative.-image.label
    img(src='#!')
    | Negative Image Label
    .detail Detail
.ts.-positive.-image.label
    img(src='#!')
    | Positive Image Label
    .detail Detail

// + Circular
.ts.-circular.label Circular Label
.ts.-primary.-circular.label Primary Circular Label
.ts.-warning.-circular.label Warning Circular Label
.ts.-positive.-circular.label Positive Circular Label
.ts.-negative.-circular.label Negative Circular Label
.ts.-inverted.-circular.label Inverted Circular Label

// + Outlined
.ts.-outlined.label Outlined Label
.ts.-primary.-outlined.label Primary Outlined Label
.ts.-warning.-outlined.label Warning Outlined Label
.ts.-positive.-outlined.label Positive Outlined Label
.ts.-negative.-outlined.label Negative Outlined Label
.ts.-inverted.-outlined.label Inverted Outlined Label

// + Compact
.ts.label Label
.ts.-compact.label Compact Label

// + Pointing
.ts.-left-pointing.label Left Pointing Label
.ts.-right-pointing.label Right Pointing Label
.ts.-top-pointing.label Top Pointing Label
.ts.-bottom-pointing.label Bottom Pointing Label
.ts.-primary.-left-pointing.label Primary Left Pointing Label
.ts.-primary.-right-pointing.label Primary Right Pointing Label
.ts.-primary.-top-pointing.label Primary Top Pointing Label
.ts.-primary.-bottom-pointing.label Primary Bottom Pointing Label

// + Sizes
.ts.-mini.label Mini Label
.ts.-tiny.label Tiny Label
.ts.-small.label Small Label
.ts.-medium.label Medium Label
.ts.-large.label Large Label
.ts.-big.label Big Label
.ts.-huge.label Huge Label
.ts.-massive.label Massive Label

// + Attached
.ts.-top-attached.label Top Attached Label
.ts.-attached.label Attached Label
.ts.-attached.segment Attached Segment
.ts.-attached.label Attached Label
.ts.-bottom-attached.label Bottom Attached Label

// + Fluid
.ts.-fluid.label Fluid Label

// + Floating
.ts.-left-floating.label Left Floating
.ts.-right-floating.label Right Floating

// + Icon
.ts.-left-icon.label
    i.heart.icon
    | Left Icon
.ts.-right-icon.label
    i.heart.icon
    | Right Icon

// + United

// + Colors
.ts.label Label
.ts.-primary.label Primary Label
.ts.-warning.label Warning Label
.ts.-positive.label Positive Label
.ts.-negative.label Negative Label
.ts.-inverted.label Inverted Label

// + Link
.ts.-link.label Link Label
.ts.-link.-primary.label Link Primary Label
.ts.-link.-warning.label Link Warning Label
.ts.-link.-positive.label Link Positive Label
.ts.-link.-negative.label Link Negative Label
.ts.-link.-inverted.label Link Inverted Label
a.ts.label Link Label
a.ts.-primary.label Link Primary Label
a.ts.-warning.label Link Warning Label
a.ts.-positive.label Link Positive Label
a.ts.-negative.label Link Negative Label
a.ts.-inverted.label Link Inverted Label

// + Horizontal
.ts.-horizontal.label Link Label
| Text

// + Color Labels
.ts.-primary.labels
    .label Primary Label
    .-negative.label Negative Label
    .label Primary Label

// + Size Labels
.ts.-small.labels
    .label Small Label
    .-large.label Large Label
    .label Small Label