// + List
.ts.list
    .item Item
    .item Item
    .item Item

// + Floated
.ts.-left-floated.list
    .item Left Floated Item
    .item Left Floated Item
    .item Left Floated Item
.ts.-right-floated.list
    .item Right Floated Item
    .item Right Floated Item
    .item Right Floated Item

// + Bulleted
.ts.-bulleted.list
    .item Bulleted Item
    .item Bulleted Item
    .item Bulleted Item

// + Ordered
.ts.-ordered.list
    .item Ordered Item
    .item Ordered Item
    .item Ordered Item

// + Reversed / Start
.ts.list(reversed)
    .item Item A
    .item Item B
    .item Item C
.ts.list(start='3')
    .item Item A
    .item Item B
    .item Item C

// + Link
.ts.-link.list
    .item Link Item
    .-active.item Active Link Item
    .-disabled.item Disabled Link Item

// + Relaxed
.ts.list
    .item Item
    .item Item
    .item Item

.ts.-relaxed.list
    .item Relaxed Item
    .item Relaxed Item
    .item Relaxed Item

.ts.-very-relaxed.list
    .item Very Relaxed Item
    .item Very Relaxed Item
    .item Very Relaxed Item

// + Header
.ts.list
    .item
        .header Header
        | Content
    .item
        .header Header
        | Content
    .item
        .header Header
        | Content

// + Content
.ts.list
    .item
        .content
            .header Header
            .description Description
    .item
        .content
            .header Header
            .description Description
    .item
        .content
            .header Header
            .description Description

// + Description List
.ts.-description.list
    .item
        .content
            .header Header
            .description Description
    .item
        .content
            .header Header
            .description Description
    .item
        .content
            .header Header
            .description Description

// + Specification List
.ts.-specification.list
    .item
        .content
            .header Header
            .description Description
    .item
        .content
            .header Header
            .description Description
    .item
        .content
            .header Header
            .description Description

// + Sizes
.ts.-mini.list
    .item
        .content
            .header Mini Header
            .description Mini Description
.ts.-tiny.list
    .item
        .content
            .header Tiny Header
            .description Tiny Description
.ts.-small.list
    .item
        .content
            .header Small Header
            .description Small Description
.ts.-medium.list
    .item
        .content
            .header Medium Header
            .description Medium Description
.ts.-large.list
    .item
        .content
            .header Large Header
            .description Large Description
.ts.-big.list
    .item
        .content
            .header Big Header
            .description Big Description
.ts.-huge.list
    .item
        .content
            .header Huge Header
            .description Huge Description
.ts.-massive.list
    .item
        .content
            .header Massive Header
            .description Massive Description

// + Icon
.ts.list
    .item
        i.heart.icon
        .content
            .header Header
            .description Description
    .item
        i.heart.icon
        .content
            .header Header
            .description Description
    .item
        i.heart.icon
        .content
            .header Header
            .description Description

// + Colors
.ts.-primary.list
    .item
        i.heart.icon
        .content
            .header Primary Header
            .description Primary Description
    .-positive.item
        i.heart.icon
        .content
            .header Positive Header
            .description Positive Description
    .-negative.item
        i.heart.icon
        .content
            .header Negative Header
            .description Negative Description
    .-inverted.item
        i.heart.icon
        .content
            .header Inverted Header
            .description Inverted Description

// + Image
.ts.list
    .item
        img.image(src='#!')
        .content
            .header Header
            .description Description
    .item
        img.image(src='#!')
        .content
            .header Header
            .description Description
    .item
        img.image(src='#!')
        .content
            .header Header
            .description Description

// + Horizontal
.ts.-horizontal.list
    .item Horizontal Item
    .item Horizontal Item
    .item Horizontal Item

// + Horizontal Stackable
.ts.-horizontal.-stackable.list
    .item Stackable Item
    .item Stackable Item
    .item Stackable Item

// + Horizontal Centered
.ts.-centered.-horizontal.list
    .item Centered Item
    .item Centered Item
    .item Centered Item

// + Horizontal Bulleted
.ts.-horizontal.-bulleted.list
    .item Bulleted Item
    .item Bulleted Item
    .item Bulleted Item

// + Horizontal Ordered
.ts.-horizontal.-ordered.list
    .item Ordered Item
    .item Ordered Item
    .item Ordered Item

// + Horizontal Content
.ts.-horizontal.list
    .item
        .content
            .header Header
            .description Description
    .item
        .content
            .header Header
            .description Description
    .item
        .content
            .header Header
            .description Description

// + Horizontal Image
.ts.-horizontal.list
    .item
        img.image(src='#!')
        .content
            .header Header
            .description Description
    .item
        img.image(src='#!')
        .content
            .header Header
            .description Description
    .item
        img.image(src='#!')
        .content
            .header Header
            .description Description
