// + Loader
.ts.segment
    p Text
    .ts.-active.dimmer
        .ts.loader

// + Text
.ts.segment
    p Text
    .ts.-active.dimmer
        .ts.-text.loader Loading
.ts.segment
    p Text
    .ts.-active.-inverted.dimmer
        .ts.-text.loader Loading

// + Inline
.ts.-active.-inline.dimmer
    .ts.-text.loader

// + Centered
.ts.-centered-inline.-centered.-active.loader

// + Speed
.ts.-active.-inline.-slow.loader
.ts.-active.-inline.loader
.ts.-active.-inline.-fast.loader

// + Colors
.ts.-active.-inline.-primary.loader
.ts.-active.-inline.-warning.loader
.ts.-active.-inline.-positive.loader
.ts.-active.-inline.-negative.loader

// + Loader
.ts.segment
    p Text
    .ts.-active.dimmer
        .ts.-mini.-text.loader Mini
.ts.segment
    p Text
    .ts.-active.dimmer
        .ts.-tiny.-text.loader Tiny
.ts.segment
    p Text
    .ts.-active.dimmer
        .ts.-small.-text.loader Small
.ts.segment
    p Text
    .ts.-active.dimmer
        .ts.-medium.-text.loader Medium
.ts.segment
    p Text
    .ts.-active.dimmer
        .ts.-large.-text.loader Large
.ts.segment
    p Text
    .ts.-active.dimmer
        .ts.-big.-text.loader Big
.ts.segment
    p Text
    .ts.-active.dimmer
        .ts.-huge.-text.loader Huge
.ts.segment
    p Text
    .ts.-active.dimmer
        .ts.-massive.-text.loader Massive

// + Inverted
.ts.-inverted.segment
    p Text
    .ts.-active.dimmer
        .ts.-inverted.loader Inverted
.ts.segment
    p Text
    .ts.-inverted.-active.dimmer
        .ts.loader Inverted

// + Double
.ts.segment
    .ts.-slow.-positive.-active.-double.loader
    br
    br
    br
    br

// + Elastic
.ts.segment
    .ts.-slow.-primary.-elastic.-double.loader
    br
    br
    br
    br

// + Indeterminate
.ts.segment
    p Text
    .ts.-active.dimmer
        .ts.-indeterminate.-text.loader Indeterminate

// + Active
.ts.segment
    p Text
    .ts.-active.dimmer

// + Visible
.ts.segment
    p Text
    .ts.-visible.dimmer

// + Disabled
.ts.segment
    p Text
    .ts.-disabled.dimmer

// + Hidden
.ts.segment
    p Text
    .ts.-hidden.dimmer