// + Menu
.ts.menu
    a.item(href='#!') Item
    a.item(href='#!') Item
    a.item(href='#!') Item

// + Relaxed
.ts.menu
    a.item(href='#!') Item
    a.item(href='#!') Item
    a.item(href='#!') Item
.ts.-relaxed.menu
    a.item(href='#!') Relaxed
    a.item(href='#!') Relaxed
    a.item(href='#!') Relaxed
.ts.-very-relaxed.menu
    a.item(href='#!') Very Relaxed
    a.item(href='#!') Very Relaxed
    a.item(href='#!') Very Relaxed

// + Celled
.ts.-celled.menu
    a.item(href='#!') Item
    a.item(href='#!') Item
    a.item(href='#!') Item

// + Header
.ts.menu
    .-headera.item(href='#!') Header Item
    a.item(href='#!') Item
    a.item(href='#!') Item

// + Active
.ts.menu
    .-activea.item(href='#!') Active Item
    a.item(href='#!') Item
    a.item(href='#!') Item

// + Disabled
.ts.menu
    .-disableda.item(href='#!') Disabled Item
    a.item(href='#!') Item
    a.item(href='#!') Item

// + Sizes
.ts.mini.menu
    a.item(href='#!') Mini Item
    a.item(href='#!') Mini Item
    a.item(href='#!') Mini Item
.ts.tiny.menu
    a.item(href='#!') Tiny Item
    a.item(href='#!') Tiny Item
    a.item(href='#!') Tiny Item
.ts.small.menu
    a.item(href='#!') Small Item
    a.item(href='#!') Small Item
    a.item(href='#!') Small Item
.ts.medium.menu
    a.item(href='#!') Medium Item
    a.item(href='#!') Medium Item
    a.item(href='#!') Medium Item
.ts.large.menu
    a.item(href='#!') Large Item
    a.item(href='#!') Large Item
    a.item(href='#!') Large Item
.ts.big.menu
    a.item(href='#!') Big Item
    a.item(href='#!') Big Item
    a.item(href='#!') Big Item
.ts.huge.menu
    a.item(href='#!') Huge Item
    a.item(href='#!') Huge Item
    a.item(href='#!') Huge Item
.ts.massive.menu
    a.item(href='#!') Massive Item
    a.item(href='#!') Massive Item
    a.item(href='#!') Massive Item

// + Colors
.ts.-primary.menu
    a.item(href='#!') Primary Item
    a.item(href='#!') Primary Item
    a.item(href='#!') Primary Item
.ts.-positive.menu
    a.item(href='#!') Positive Item
    a.item(href='#!') Positive Item
    a.item(href='#!') Positive Item
.ts.-negative.menu
    a.item(href='#!') Negative Item
    a.item(href='#!') Negative Item
    a.item(href='#!') Negative Item
.ts.-wanring.menu
    a.item(href='#!') Warning Item
    a.item(href='#!') Warning Item
    a.item(href='#!') Warning Item
.ts.-inverted.menu
    a.item(href='#!') Inverted Item
    a.item(href='#!') Inverted Item
    a.item(href='#!') Inverted Item

// + Stackable
.ts.-stackable.menu
    a.item(href='#!') Stackable Item
    a.item(href='#!') Stackable Item
    a.item(href='#!') Stackable Item

// + Vertical
.ts.-vertical.menu
    a.item(href='#!') Vertical Item
    a.item(href='#!') Vertical Item
    a.item(href='#!') Vertical Item

// + Image
.ts.-vertical.menu
    a.item(href='#!') Item
    a.-image.item(href='#!')
        img(src='#!')
    a.item(href='#!') Item

// + Compact
.ts.-compact.menu
    a.item(href='#!') Compact Item
    a.item(href='#!') Compact Item
    a.item(href='#!') Compact Item

// + Secondary
.ts.-secondary.menu
    a.item(href='#!') Secondary Item
    a.item(href='#!') Secondary Item
    a.item(href='#!') Secondary Item
.ts.-vertical.-secondary.menu
    a.item(href='#!') Secondary Item
    a.item(href='#!') Secondary Item
    a.item(href='#!') Secondary Item

// + Secondary Pointing
.ts.-secondary.-pointing.menu
    a.item(href='#!') Secondary Pointing Item
    a.item(href='#!') Secondary Pointing Item
    a.item(href='#!') Secondary Pointing Item

// + Vertical Secondary Pointing
.ts.-vertical.-secondary.-pointing.menu
    a.item(href='#!') Secondary Pointing Item
    a.item(href='#!') Secondary Pointing Item
    a.item(href='#!') Secondary Pointing Item

// + Fitted
.ts.-fitted.menu
    a.item(href='#!') Fitted Item
    a.item(href='#!') Fitted Item
    a.item(href='#!') Fitted Item
.ts.-vertically-fitted.menu
    a.item(href='#!') Vertically Fitted Item
    a.item(href='#!') Vertically Fitted Item
    a.item(href='#!') Vertically Fitted Item
.ts.-horizontally-fitted.menu
    a.item(href='#!') Horizontally Fitted Item
    a.item(href='#!') Horizontally Fitted Item
    a.item(href='#!') Horizontally Fitted Item

// + Horizontally Fitted Secondary Pointing
.ts.-vertical.-horizontally-fitted.-secondary.-pointing.menu
    a.item(href='#!') Secondary Pointing Item
    a.item(href='#!') Secondary Pointing Item
    a.item(href='#!') Secondary Pointing Item

// + Tabbed
.ts.-tabbed.menu
    a.item(href='#!') Tabbed Item
    a.item(href='#!') Tabbed Item
    a.item(href='#!') Tabbed Item
.ts.-vertical.-tabbed.menu
    a.item(href='#!') Vertical Tabbed Item
    a.item(href='#!') Vertical Tabbed Item
    a.item(href='#!') Vertical Tabbed Item

// + Pointing Tabbed
.ts.-pointing.-tabbed.menu
    a.item(href='#!') Pointing Tabbed Item
    a.item(href='#!') Pointing Tabbed Item
    a.item(href='#!') Pointing Tabbed Item
.ts.-vertical.-pointing.-tabbed.menu
    a.item(href='#!') Vertical Pointing Tabbed Item
    a.item(href='#!') Vertical Pointing Tabbed Item
    a.item(href='#!') Vertical Pointing Tabbed Item

// + Stretched
.ts.menu
    a.item(href='#!') Item
    a.-stretched.item(href='#!') Stretched Item
    a.item(href='#!') Item

// + Divider
.ts.menu
    a.item(href='#!') Item
    a.-divider.item(href='#!')
    a.item(href='#!') Item
.ts.-vertical.menu
    a.item(href='#!') Vertical Item
    a.-divider.item(href='#!')
    a.item(href='#!') Vertical Item

// + Icon
.ts.-icon.menu
    a.item(href='#!')
        i.heart.icon
    a.item(href='#!')
        i.heart.icon
    a.item(href='#!')
        i.heart.icon
.ts.-vertical.-icon.menu
    a.item(href='#!')
        i.heart.icon
    a.item(href='#!')
        i.heart.icon
    a.item(href='#!')
        i.heart.icon

// + Labeled Icon
.ts.-labeled.-icon.menu
    a.item(href='#!')
        i.heart.icon
        | Item
    a.item(href='#!')
        i.heart.icon
        | Item
    a.item(href='#!')
        i.heart.icon
        | Item
.ts.-vertical.-labeled.-icon.menu
    a.item(href='#!')
        i.heart.icon
        | Item
    a.item(href='#!')
        i.heart.icon
        | Item
    a.item(href='#!')
        i.heart.icon
        | Item

// + Label
.ts.menu
    a.item(href='#!')
        | Item
        .ts.label 1,837
    a.item(href='#!')
        | Item
        .ts.label 1,837
    a.item(href='#!')
        | Item
        .ts.label 1,837
.ts.-vertical.menu
    a.item(href='#!')
        | Item
        .ts.label 1,837
    a.item(href='#!')
        | Item
        .ts.label 1,837
    a.item(href='#!')
        | Right Floated
        .ts.-right-floated.label 1,837

// + Sub Menu
.ts.-vertical.menu
    a.item(href='#!')
        | Item
        .ts.menu
            a.item(href='#!') Sub Item
            a.item(href='#!') Sub Item
            a.item(href='#!') Sub Item
    a.item(href='#!') Item
    a.item(href='#!') Item

// + Right Menu
.ts.menu
    a.item(href='#!') Item
    a.item(href='#!') Item
    .-right.menu
        a.item(href='#!') Right Item
        a.item(href='#!') Right Item

// + Bottom Menu
.ts.menu
    a.item(href='#!') Item
    a.item(href='#!') Item
    .-bottom.menu
        a.item(href='#!') Bottom Item
        a.item(href='#!') Bottom Item

// + Text Menu
.ts.-text.menu
    .-header.item Item
    .item Text Item
    a.item(href='#!') Link Item
    a.-active.item(href='#!') Active Item
    a.-disabled.item(href='#!') Disabled Item

// + Attached
.ts.-top-attached.menu
    .item Top Attached Item
    .item Top Attached Item
    .item Top Attached Item
.ts.-attached.menu
    .item Attached Item
    .item Attached Item
    .item Attached Item
.ts.-attached.segment
    p Segment
.ts.-attached.menu
    .item Attached Item
    .item Attached Item
    .item Attached Item
.ts.-bottom-attached.menu
    .item Bottom Attached Item
    .item Bottom Attached Item
    .item Bottom Attached Item

// + Evenly Divided
.ts.-evenly-divided.menu
    .item Item
    .item Item
    .item Item

// + Item Aligns
.ts.-evenly-divided.menu
    .-left-aligned.item Left Aligned Item
    .-center-aligned.item Center Aligned Item
    .-right-aligned.item Right Aligned Item

// + Aligns
.ts.-left-aligned.menu
    .item Left Aligned Item
    .item Left Aligned Item
    .item Left Aligned Item
.ts.-center-aligned.menu
    .item Center Aligned Item
    .item Center Aligned Item
    .item Center Aligned Item
.ts.-right-aligned.menu
    .item Right Aligned Item
    .item Right Aligned Item
    .item Right Aligned Item

// + Amount Items
.ts.-one-item.menu
    .item One Item
.ts.-two-item.menu
    .item Two Item
    .item Two Item
.ts.-three-item.menu
    .item Three Item
    .item Three Item
    .item Three Item
.ts.-four-item.menu
    .item Four Item
    .item Four Item
    .item Four Item
.ts.-four-item.menu
    .item Four Item
    .item Four Item
    .item Four Item
    .item Four Item

// + Unread
.ts.menu
    .item Item
    .-unread.item Unread Item
    .item Item
.ts.-icon.menu
    .item
        i.heart.icon
    .-unread.item
        i.heart.icon
    .item
        i.heart.icon
