// + Message
.ts.message Message

// + Colors
.ts.message Message
.ts.-primary.message Primary Message
.ts.-warning.message Warning Message
.ts.-positive.message Positive Message
.ts.-negative.message Negative Message
.ts.-inverted.message Inverted Message

// + Header
.ts.message
    .header Header
    | Message

// + Fluid
.ts.-fluid.message Fluid Message

// + Icon
.ts.-icon.message
    i.heart.icon
    .content
        .header Header
        | Message
.ts.-primary.-icon.message
    i.heart.icon
    .content
        .header Header
        | Message

// + Avatar Structured
.ts.-structured.message
    .avatar
        img(src='#!')
    .content
        .description Description
        .actions
            a.-primary.item Primary Action
            a.item Action
            a.item Action

// + Icon Structured
.ts.-structured.message
    i.heart.icon
    .content
        .description Description
        .actions
            a.-primary.item Primary Action
            a.item Action
            a.item Action

// + Structured
.ts.-structured.message
    .content
        .description Description
        .-extra.description Description
        .actions
            a.-primary.item Primary Action
            a.-warning.item Warning Action
            a.item Action
            a.-active.item Active Action
            a.-disabled.item Disabled Action

// + Colors
.ts.message
    .header Header
    | Message
.ts.-positive.message
    .header Header
    | Positive Message
.ts.-negative.message
    .header Header
    | Negative Message
.ts.-primary.message
    .header Header
    | Primary Message
.ts.-warning.message
    .header Header
    | Warning Message
.ts.-inverted.message
    .header Header
    | Inverted Message

// + Secondary Colors
.ts.-secondary.message
    .header Header
    | Secondary Message
.ts.-secondary.-positive.message
    .header Header
    | Secondary Positive Message
.ts.-secondary.-negative.message
    .header Header
    | Secondary Negative Message
.ts.-secondary.-primary.message
    .header Header
    | Secondary Primary Message
.ts.-secondary.-warning.message
    .header Header
    | Secondary Warning Message
.ts.-secondary.-inverted.message
    .header Header
    | Secondary Inverted Message

// + Sizes
.ts.-mini.message
    .header Header
    | Mini Message
.ts.-tiny.message
    .header Header
    | Tiny Message
.ts.-small.message
    .header Header
    | Small Message
.ts.-medium.message
    .header Header
    | Medium Message
.ts.-large.message
    .header Header
    | Large Message
.ts.-big.message
    .header Header
    | Big Message
.ts.-huge.message
    .header Header
    | Huge Message
.ts.-massive.message
    .header Header
    | Massive Message

// + Compact
.ts.-compact.message
    .header Header
    | Compact Message

// + Aligns
.ts.-left-aligned.message
    .header Header
    | Left Aligned Message
.ts.-center-aligned.message
    .header Header
    | Center Aligned Message
.ts.-right-aligned.message
    .header Header
    | Right Aligned Message

// + Attached
.ts.-top-attached.message
    .header Header
    | Top Attached Message
.ts.-attached.message
    .header Header
    | Attached Message
.ts.-attached.segment
    p Segment
.ts.-attached.message
    .header Header
    | Attached Message
.ts.-bottom-attached.message
    .header Header
    | Bottom Attached Message

// + Dismissable
.ts.-dismissable.message
    .header Header
    | Top Attached Message
    button.ts.-close.buttton

// + Outlined
.ts.-outlined.message
    .header Header
    | Outlined Message
.ts.-outlined.-positive.message
    .header Header
    | Outlined Positive Message
.ts.-outlined.-negative.message
    .header Header
    | Outlined Negative Message
.ts.-outlined.-primary.message
    .header Header
    | Outlined Primary Message
.ts.-outlined.-warning.message
    .header Header
    | Outlined Warning Message
.ts.-outlined.-inverted.message
    .header Header
    | Outlined Inverted Message