// + Progress
.ts.progress
    .bar

// + Text
.ts.progress
    .bar(style='width: 30%')
        .text 30%

// + Indeterminate
.ts.-indeterminate.progress
    .bar

// + Queried Indeterminate
.ts.-queried.-indeterminate.progress
    .bar

// + Preparing
.ts.-preparing.progress
    .bar

// + Buffer
.ts.progress
    .buffer.bar(style='width: 70%')
    .bar(style='width: 30%')

// + Active
.ts.-active.progress
    .bar(style='width: 60%')
.ts.-primary.-active.progress
    .bar(style='width: 60%')
.ts.-warning.-active.progress
    .bar(style='width: 60%')
.ts.-positive.-active.progress
    .bar(style='width: 60%')
.ts.-negative.-active.progress
    .bar(style='width: 60%')

// + Active
.ts.-active.progress
    .bar(style='width: 60%')
.ts.-primary.-active.progress
    .bar(style='width: 60%')
.ts.-warning.-active.progress
    .bar(style='width: 60%')
.ts.-positive.-active.progress
    .bar(style='width: 60%')
.ts.-negative.-active.progress
    .bar(style='width: 60%')
.ts.-inverted.-active.progress
    .bar(style='width: 60%')

// + Disabled
.ts.-disabled.progress
    .bar(style='width: 60%')
.ts.-primary.-disabled.progress
    .bar(style='width: 60%')
.ts.-warning.-disabled.progress
    .bar(style='width: 60%')
.ts.-positive.-disabled.progress
    .bar(style='width: 60%')
.ts.-negative.-disabled.progress
    .bar(style='width: 60%')
.ts.-inverted.-disabled.progress
    .bar(style='width: 60%')

// + Colors
.ts.progress
    .bar(style='width: 60%')
.ts.-primary.progress
    .bar(style='width: 60%')
.ts.-warning.progress
    .bar(style='width: 60%')
.ts.-positive.progress
    .bar(style='width: 60%')
.ts.-negative.progress
    .bar(style='width: 60%')
.ts.-inverted.progress
    .bar(style='width: 60%')


// + Attached
.ts.-top-attached.progress
    .bar(style='width: 60%')
.ts.-attached.segment
    p Segment
.ts.-attached.progress
    .bar(style='width: 60%')
.ts.-attached.segment
    p Segment
.ts.-bottom-attached.progress
    .bar(style='width: 60%')

// + Sizes
.ts.-mini.progress
    .bar(style='width: 60%')
.ts.-tiny.progress
    .bar(style='width: 60%')
.ts.-small.progress
    .bar(style='width: 60%')
.ts.-medium.progress
    .bar(style='width: 60%')
.ts.-large.progress
    .bar(style='width: 60%')
.ts.-big.progress
    .bar(style='width: 60%')
.ts.-huge.progress
    .bar(style='width: 60%')
.ts.-massive.progress
    .bar(style='width: 60%')