// + Segment
.ts.segment
    p Segment

// + Colors
.ts.segment
    p Segment
.ts.-primary.segment
    p Primary
.ts.-warning.segment
    p Warning
.ts.-positive.segment
    p Positive
.ts.-negative.segment
    p Negative
.ts.-inverted.segment
    p Inverted

// + Inverted Colors
.ts.segment
    p Segment
.ts.-inverted.-primary.segment
    p Primary
.ts.-inverted.-warning.segment
    p Warning
.ts.-inverted.-positive.segment
    p Positive
.ts.-inverted.-negative.segment
    p Negative

// + Stacked / Piled
.ts.segment
    p Segment
.ts.-stacked.segment
    p Stacked Segment
.ts.-tall-stacked.segment
    p Stacked Segment
.ts.-piled.segment
    p Piled Segment

// + Padded
.ts.segment
    p Segment
.ts.-padded.segment
    p Padded Segment
.ts.-very-padded.segment
    p Very Padded Segment

// + Raised
.ts.-raised.segment
    p Raised Segment

// + Insetted
.ts.-insetted.semgnet
    p Insetted Segment

// + Secondary / Tertiary
.ts.-secondary.segment
    p Secondary Segment
.ts.-tertiary.segment
    p Tertiary Segment

// + Floated
.ts.-left-floated.segment
    p Left Floated
.ts.-right-floated.segment
    p Right Floated

// + Borderless
.ts.-borderless.segment
    p Borderless Segment

// + Loading
.ts.-loading.segment
    p Loading Segment

// + Clearing
.ts.-clearing.segment
    p Clearing Segment

// + Fitted
.ts.-fitted.segment
    p Fitted Segment
.ts.-vertically-fitted.segment
    p Verticall Fitted Segment
.ts.-horizontally-fitted.segment
    p Horizontally Segment

// + Disabled
.ts.-disabled.segment
    p Disabled Segment

// + Aligned
.ts.-left-aligned.segment
    p Left Aligned Segment
.ts.-center-aligned.segment
    p Center Aligned Segment
.ts.-right-aligned.segment
    p Right Aligned Segment

// + Centered
.ts.-centered.segment
    p Centered Segment

// + Compact
.ts.-compact.segment
    p Compact Segment

// + Attached
.ts.-top-attached.segment
    p Top Attached
.ts.-attached.segment
    p Attached
.ts.-attached.segment
    p Attached
.ts.-bottom-attached.segment
    p Bottom Attached

// + Sizes
.ts.-tiny.segment
    p Tiny
.ts.-small.segment
    p Small
.ts.segment
    p Medium
.ts.-large.segment
    p Large
.ts.-big.segment
    p Big
.ts.-huge.segment
    p Huge
.ts.-massive.segment
    p Massive

// + Segments
.ts.segments
    .segment
        p Semgent
    .segment
        p Segment

.ts.horizontal.segments
    .segment
        p Horizontal Semgent
    .segment
        p Horizontal Segment