// + Slate
.ts.slate
    | Slate

// + Header
.ts.slate
    .header Header
    | Content

// + Description
.ts.slate
    .header Header
    .description Description

// + Image
.ts.slate
    .image
        img(src='#!')
    .header Header
    .description Description

// + Embed
.ts.slate
    .embed
        .ts.embed
    .header Header
    .description Description

// + Extra Description
.ts.slate
    .image
        img(src='#!')
    .header Header
    .description Description

// + Icon
.ts.slate
    .icon
        i.heart.icon
    .header Header
    .description Description

// + Attached
.ts.-top-attached.slate
    .header Top Attached Header
    .description Top Attached Description
.ts.-attached.slate
    .header Attached Header
    .description Attached Description
.ts.-attached.segment
    p Segment
.ts.-attached.slate
    .header Attached Header
    .description Attached Description
.ts.-bottom-attached.slate
    .header Top Attached Header
    .description Top Attached Description

// + Dashed
.ts.-dashed.slate
    .header Dashed Header
    .description Dashed Description

// + Aligns
.ts.-left-aligned.slate
    .header Left Aligned Header
    .description Left Aligned Description
.ts.-center-aligned.slate
    .header Center Aligned Header
    .description Center Aligned Description
.ts.-right-aligned.slate
    .header Right Aligned Header
    .description Right Aligned Description

// + Padded
.ts.-padded.slate
    .header Padded Header
    .description Padded Description
.ts.-very-padded.slate
    .header Very Padded Header
    .description Very Padded Description

// + Fitted
.ts.-fitted.slate
    .header Fitted Header
    .description Fitted Description

// + Disabled
.ts.-disabled.slate
    .header Disabled Header
    .description Disabled Description

// + Interactable
.ts.-interactable.slate
    .header Interactable Header
    .description Interactable Description

// + Sizes
.ts.-mini.slate
    .header Mini Header
    .description Mini Description
.ts.-tiny.slate
    .header Tiny Header
    .description Tiny Description
.ts.-small.slate
    .header Small Header
    .description Small Description
.ts.-medium.slate
    .header Medium Header
    .description Medium Description
.ts.-large.slate
    .header Large Header
    .description Large Description
.ts.-big.slate
    .header Big Header
    .description Big Description
.ts.-huge.slate
    .header Huge Header
    .description Huge Description
.ts.-massive.slate
    .header Massive Header
    .description Massive Description

// + Slate Menu
.ts.-top-attached.menu
    a.item Item
    a.item Item
    a.item Item
.ts.slate
    .header Massive Header
    .description Massive Description
.ts.-bottom-attached.menu
    a.item Item
    a.item Item
    a.item Item