@import ./comparison.variables

//*******************************//
//              Main
//*******************************//

.ts.comparison
    position: relative
    width   : $comparison_width
    height  : $comparison_height
    overflow: hidden

    padding-bottom: $comparison_aspectRatio

    -webkit-overflow-scrolling: touch

//-------------------//
//   Before & After
//-------------------//

.ts.comparison .before,
.ts.comparison .after
    +extend(no-select)

    position: absolute
    top     : 0
    left    : 0
    height  : $comparison_elementHeight
    margin  : 0
    overflow: hidden

.ts.comparison .before
    width  : $comparison_beforeWidth
    z-index: $z_comparison_before

.ts.comparison .after
    max-width: 100%
    min-width: 0
    z-index  : $z_comparison_after
    width    : $comparison_afterWidth

.ts.comparison .before img,
.ts.comparison .after img,
.ts.comparison img.before,
.ts.comparison img.after
    position       : absolute
    width          : 100%
    height         : 100%
    object-fit     : cover
    object-position: left center
    pointer-events : none

.ts.comparison img.after
    width: 50%

//-------------------//
//       Resizer
//-------------------//

.ts.comparison .resizer
    position: absolute
    left    : $comparison_resizerLeft
    top     : 0
    bottom  : 0

    background: $comparison_resizerBackgroundColor
    padding   : $comparison_resizerPadding

    z-index: $z_comparison_resizer
    cursor : $comparison_resizerCursor

.ts.comparison .dots.resizer:after,
.ts.comparison .rounded.resizer:after,
.ts.comparison .circular.resizer:after
    border-radius: $circularRadius
    background   : $comparison_resizerColor
    content      : ''
    transform    : translate(50%, -50%)

.ts.comparison .dots.resizer:after
    position: absolute
    right   : $comparison_resizerDotsRight
    top     : 50%
    height  : $comparison_resizerDotsHeight
    width   : $comparison_resizerDotsWidth

    box-shadow: $comparison_resizerDotsShadow

.ts.comparison .rounded.resizer:after
    position: absolute
    right   : $comparison_resizerRoundedRight
    top     : 50%
    width   : $comparison_resizerRoundedWidth
    height  : $comparison_resizerRoundedHeight

.ts.comparison .circular.resizer:after
    position: absolute
    right   : $comparison_resizerCircularRight
    top     : 50%
    width   : $comparison_resizerCircularWidth
    height  : $comparison_resizerCircularHeight

.ts.comparison .divider.resizer
    padding: 0
    width  : $comparison_resizerDividerWidth

//-------------------//
//        Label
//-------------------//

.ts.comparison .before label,
.ts.comparison .after label
    +extend(no-select)

    position: absolute
    bottom  : $comparison_labelDistance

    color  : $comparison_labelColor
    padding: $comparison_labelPadding

    background : $comparison_labelBackgroundColor
    font-size  : $comparison_labelFontSize
    white-space: nowrap

.ts.comparison .before label
    right: $comparison_labelDistance

.ts.comparison .after label
    left: $comparison_labelDistance

