// + Basic
.ts.breadcrumb
    .section Section
    .divider /
    .section Section
    .divider /
    .active.section Active Section

// + Link Section
.ts.breadcrumb
    a.section Link Section
    .divider /
    a.section Link Section
    .divider /
    a.active.section Link Active Section

// + Sizes
.ts.mini.breadcrumb
    .section Mini Section
    .divider /
    .section Mini Section
    .divider /
    .section Mini Section
br
.ts.tiny.breadcrumb
    .section Tiny Section
    .divider /
    .section Tiny Section
    .divider /
    .section Tiny Section
br
.ts.small.breadcrumb
    .section Small Section
    .divider /
    .section Small Section
    .divider /
    .section Small Section
br
.ts.breadcrumb
    .section Medium Section
    .divider /
    .section Medium Section
    .divider /
    .section Medium Section
br
.ts.large.breadcrumb
    .section Large Section
    .divider /
    .section Large Section
    .divider /
    .section Large Section
br
.ts.big.breadcrumb
    .section Big Section
    .divider /
    .section Big Section
    .divider /
    .section Big Section
br
.ts.huge.breadcrumb
    .section Huge Section
    .divider /
    .section Huge Section
    .divider /
    .section Huge Section
br
.ts.massive.breadcrumb
    .section Massive Section
    .divider /
    .section Massive Section
    .divider /
    .section Massive Section

// + Icon Divider
.ts.breadcrumb
    .section Section
    i.right.angle.icon.divider
    .section Section
    i.right.angle.icon.divider
    .active.section Active Section