@charset "UTF-8"
// animate.css -http://daneden.me/animate
// Version - 3.5.1
// Licensed under the MIT license - http://opensource.org/licenses/MIT//
// Copyright (c) 2016 Daniel Eden

[data-animating]
  animation-duration: 1s
  animation-fill-mode: both
  visibility: visible !important

  &.infinite
    animation-iteration-count: infinite

  &[data-animation="hinge"][data-animatable]
    animation-duration: 2s

  &[data-animation="flip out x"][data-animatable],
  &[data-animation="flip out y"][data-animatable],
  &[data-animation="bounce in"][data-animatable],
  &[data-animation="bounce out"][data-animatable]
    animation-duration: .75s

[data-animation-timing="fast out and slow in"]
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1)

[data-animation-timing="ease"]
  animation-timing-function: ease

[data-animation-timing="ease in"]
  animation-timing-function: ease-in

[data-animation-timing="ease out"]
  animation-timing-function: ease-out

[data-animation-timing="ease in and out"]
  animation-timing-function: ease-in-out

[data-animation-timing="linear"]
  animation-timing-function: linear

[data-animation-timing="fast out and linear in"]
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1)

[data-animation-timing="out back"]
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28)

[data-animation-timing="linear out and slow in"]
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1)

[data-animation-timing="out and cubic"]
  animation-timing-function: cubic-bezier(0.28, 0.77, 0.57, 0.98)

[data-animation-timing="out and quadratic"]
  animation-timing-function: cubic-bezier(0.18, 0.76, 0.45, 0.94)

[data-animation-timing="out and sine"]
  animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1)

[data-animating-hidden]
  visibility: hidden !important

[data-animating-none]
  display: none !important

@keyframes bounce
  from, 20%, 53%, 80%, to
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    transform: translate3d(0, 0, 0)
  40%, 43%
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
    transform: translate3d(0, -30px, 0)
  70%
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
    transform: translate3d(0, -15px, 0)
  90%
    transform: translate3d(0, -4px, 0)
[data-animation="bounce"][data-animatable]
  animation-name: bounce
  transform-origin: center bottom

@keyframes flash
  from, 50%, to
    opacity: 1
  25%, 75%
    opacity: 0
[data-animation="flash"][data-animatable]
  animation-name: flash

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

//@keyframes pulse
//  from
//    transform: scale3d(1, 1, 1)
//  50%
//    transform: scale3d(1.05, 1.05, 1.05)
//  to
//    transform: scale3d(1, 1, 1)

@keyframes pulse
  0%
    transform: scale(1)
    opacity: 1
  50%
    transform: scale(0.9)
    opacity: 0.7
  100%
    transform: scale(1)
    opacity: 1
[data-animation="pulse"][data-animatable]
  animation-name: pulse

@keyframes rubberBand
  from
    transform: scale3d(1, 1, 1)
  30%
    transform: scale3d(1.25, 0.75, 1)
  40%
    transform: scale3d(0.75, 1.25, 1)
  50%
    transform: scale3d(1.15, 0.85, 1)
  65%
    transform: scale3d(0.95, 1.05, 1)
  75%
    transform: scale3d(1.05, 0.95, 1)
  to
    transform: scale3d(1, 1, 1)
[data-animation="rubber band"][data-animatable]
  animation-name: rubberBand

@keyframes shake
  from, to
    transform: translate3d(0, 0, 0)
  10%, 30%, 50%, 70%, 90%
    transform: translate3d(-10px, 0, 0)
  20%, 40%, 60%, 80%
    transform: translate3d(10px, 0, 0)
[data-animation="shake"][data-animatable]
  animation-name: shake

@keyframes headShake
  0%
    transform: translateX(0)
  6.5%
    transform: translateX(-6px) rotateY(-9deg)
  18.5%
    transform: translateX(5px) rotateY(7deg)
  31.5%
    transform: translateX(-3px) rotateY(-5deg)
  43.5%
    transform: translateX(2px) rotateY(3deg)
  50%
    transform: translateX(0)
[data-animation="head shake"][data-animatable]
  animation-timing-function: ease-in-out
  animation-name: headShake

@keyframes swing
  20%
    transform: rotate3d(0, 0, 1, 15deg)
  40%
    transform: rotate3d(0, 0, 1, -10deg)
  60%
    transform: rotate3d(0, 0, 1, 5deg)
  80%
    transform: rotate3d(0, 0, 1, -5deg)
  to
    transform: rotate3d(0, 0, 1, 0deg)
[data-animation="swing"][data-animatable]
  transform-origin: top center
  animation-name: swing

@keyframes tada
  from
    transform: scale3d(1, 1, 1)
  10%, 20%
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)
  30%, 50%, 70%, 90%
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
  40%, 60%, 80%
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
  to
    transform: scale3d(1, 1, 1)
[data-animation="tada"][data-animatable]
  animation-name: tada

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide
@keyframes wobble
  from
    transform: none
  15%
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
  30%
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
  45%
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
  60%
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)
  75%
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
  to
    transform: none
[data-animation="wobble"][data-animatable]
  animation-name: wobble

@keyframes jello
  from, 11.1%, to
    transform: none
  22.2%
    transform: skewX(-12.5deg) skewY(-12.5deg)
  33.3%
    transform: skewX(6.25deg) skewY(6.25deg)
  44.4%
    transform: skewX(-3.125deg) skewY(-3.125deg)
  55.5%
    transform: skewX(1.5625deg) skewY(1.5625deg)
  66.6%
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  77.7%
    transform: skewX(0.39063deg) skewY(0.39063deg)
  88.8%
    transform: skewX(-0.19531deg) skewY(-0.19531deg)
[data-animation="jello"][data-animatable]
  animation-name: jello
  transform-origin: center

@keyframes bounceIn
  from, 20%, 40%, 60%, 80%, to
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  0%
    opacity: 0
    transform: scale3d(0.3, 0.3, 0.3)
  20%
    transform: scale3d(1.1, 1.1, 1.1)
  40%
    transform: scale3d(0.9, 0.9, 0.9)
  60%
    opacity: 1
    transform: scale3d(1.03, 1.03, 1.03)
  80%
    transform: scale3d(0.97, 0.97, 0.97)
  to
    opacity: 1
    transform: scale3d(1, 1, 1)
[data-animation="bounce in"][data-animatable]
  animation-name: bounceIn

@keyframes bounceInDown
  from, 60%, 75%, 90%, to
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  0%
    opacity: 0
    transform: translate3d(0, -3000px, 0)
  60%
    opacity: 1
    transform: translate3d(0, 25px, 0)
  75%
    transform: translate3d(0, -10px, 0)
  90%
    transform: translate3d(0, 5px, 0)
  to
    transform: none
[data-animation="bounce in down"][data-animatable]
  animation-name: bounceInDown

@keyframes bounceInLeft
  from, 60%, 75%, 90%, to
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  0%
    opacity: 0
    transform: translate3d(-3000px, 0, 0)
  60%
    opacity: 1
    transform: translate3d(25px, 0, 0)
  75%
    transform: translate3d(-10px, 0, 0)
  90%
    transform: translate3d(5px, 0, 0)
  to
    transform: none
[data-animation="bounce in left"][data-animatable]
  animation-name: bounceInLeft

@keyframes bounceInRight
  from, 60%, 75%, 90%, to
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  from
    opacity: 0
    transform: translate3d(3000px, 0, 0)
  60%
    opacity: 1
    transform: translate3d(-25px, 0, 0)
  75%
    transform: translate3d(10px, 0, 0)
  90%
    transform: translate3d(-5px, 0, 0)
  to
    transform: none
[data-animation="bounce in right"][data-animatable]
  animation-name: bounceInRight

@keyframes bounceInUp
  from, 60%, 75%, 90%, to
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  from
    opacity: 0
    transform: translate3d(0, 3000px, 0)
  60%
    opacity: 1
    transform: translate3d(0, -20px, 0)
  75%
    transform: translate3d(0, 10px, 0)
  90%
    transform: translate3d(0, -5px, 0)
  to
    transform: translate3d(0, 0, 0)
[data-animation="bounce in up"][data-animatable]
  animation-name: bounceInUp

@keyframes bounceOut
  20%
    transform: scale3d(0.9, 0.9, 0.9)
  50%, 55%
    opacity: 1
    transform: scale3d(1.1, 1.1, 1.1)
  to
    opacity: 0
    transform: scale3d(0.3, 0.3, 0.3)
[data-animation="bounce out"][data-animatable]
  animation-name: bounceOut

@keyframes bounceOutDown
  20%
    transform: translate3d(0, 10px, 0)
  40%, 45%
    opacity: 1
    transform: translate3d(0, -20px, 0)
  to
    opacity: 0
    transform: translate3d(0, 2000px, 0)
[data-animation="bounce out down"][data-animatable]
  animation-name: bounceOutDown

@keyframes bounceOutLeft
  20%
    opacity: 1
    transform: translate3d(20px, 0, 0)
  to
    opacity: 0
    transform: translate3d(-2000px, 0, 0)
[data-animation="bounce out left"][data-animatable]
  animation-name: bounceOutLeft

@keyframes bounceOutRight
  20%
    opacity: 1
    transform: translate3d(-20px, 0, 0)
  to
    opacity: 0
    transform: translate3d(2000px, 0, 0)
[data-animation="bounce out right"][data-animatable]
  animation-name: bounceOutRight

@keyframes bounceOutUp
  20%
    transform: translate3d(0, -10px, 0)
  40%, 45%
    opacity: 1
    transform: translate3d(0, 20px, 0)
  to
    opacity: 0
    transform: translate3d(0, -2000px, 0)
[data-animation="bounce out up"][data-animatable]
  animation-name: bounceOutUp

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1
[data-animation="fade in"][data-animatable]
  animation-name: fadeIn

@keyframes fadeInDown
  from
    opacity: 0
    transform: translate3d(0, -50%, 0)
  to
    opacity: 1
    transform: none
[data-animation="fade in down"][data-animatable]
  animation-name: fadeInDown

@keyframes fadeInDownBig
  from
    opacity: 0
    transform: translate3d(0, -2000px, 0)
  to
    opacity: 1
    transform: none
[class*="fade in down heavily"]
  animation-name: fadeInDownBig
@keyframes fadeInLeft
  from
    opacity: 0
    transform: translate3d(-50%, 0, 0)
  to
    opacity: 1
    transform: none
[data-animation="fade in left"][data-animatable]
  animation-name: fadeInLeft

@keyframes fadeInLeftBig
  from
    opacity: 0
    transform: translate3d(-2000px, 0, 0)
  to
    opacity: 1
    transform: none
[data-animation="fade in left heavily"][data-animatable]
  animation-name: fadeInLeftBig

@keyframes fadeInRight
  from
    opacity: 0
    transform: translate3d(50%, 0, 0)
  to
    opacity: 1
    transform: none
[data-animation="fade in right"][data-animatable]
  animation-name: fadeInRight

@keyframes fadeInRightBig
  from
    opacity: 0
    transform: translate3d(2000px, 0, 0)
  to
    opacity: 1
    transform: none
[data-animation="fade in right heavily"][data-animatable]
  animation-name: fadeInRightBig

@keyframes fadeInUp
  from
    opacity: 0
    transform: translate3d(0, 50%, 0)
  to
    opacity: 1
    transform: none
[data-animation="fade in up"][data-animatable]
  animation-name: fadeInUp

@keyframes fadeInUpBig
  from
    opacity: 0
    transform: translate3d(0, 2000px, 0)
  to
    opacity: 1
    transform: none
[data-animation="fade in up heavily"][data-animatable]
  animation-name: fadeInUpBig

@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0
[data-animation="fade out"][data-animatable]
  animation-name: fadeOut

@keyframes fadeOutDown
  from
    opacity: 1
  to
    opacity: 0
    transform: translate3d(0, 50%, 0)
[data-animation="fade out down"][data-animatable]
  animation-name: fadeOutDown

@keyframes fadeOutDownBig
  from
    opacity: 1
  to
    opacity: 0
    transform: translate3d(0, 2000px, 0)
[data-animation="fade out down heavily"][data-animatable]
  animation-name: fadeOutDownBig

@keyframes fadeOutLeft
  from
    opacity: 1
  to
    opacity: 0
    transform: translate3d(-50%, 0, 0)
[data-animation="fade out left"][data-animatable]
  animation-name: fadeOutLeft

@keyframes fadeOutLeftBig
  from
    opacity: 1
  to
    opacity: 0
    transform: translate3d(-2000px, 0, 0)
[data-animation="fade out left heavily"][data-animatable]
  animation-name: fadeOutLeftBig

@keyframes fadeOutRight
  from
    opacity: 1
  to
    opacity: 0
    transform: translate3d(50%, 0, 0)
[data-animation="fade out right"][data-animatable]
  animation-name: fadeOutRight

@keyframes fadeOutRightBig
  from
    opacity: 1
  to
    opacity: 0
    transform: translate3d(2000px, 0, 0)
[data-animation="fade out right heavily"][data-animatable]
  animation-name: fadeOutRightBig

@keyframes fadeOutUp
  from
    opacity: 1
  to
    opacity: 0
    transform: translate3d(0, -50%, 0)
[data-animation="fade out up"][data-animatable]
  animation-name: fadeOutUp

@keyframes fadeOutUpBig
  from
    opacity: 1
  to
    opacity: 0
    transform: translate3d(0, -2000px, 0)
[data-animation="fade out up heavily"][data-animatable]
  animation-name: fadeOutUpBig

@keyframes flip
  from
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg)
    animation-timing-function: ease-out
  40%
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg)
    animation-timing-function: ease-out
  50%
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg)
    animation-timing-function: ease-in
  80%
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95)
    animation-timing-function: ease-in
  to
    transform: perspective(400px)
    animation-timing-function: ease-in
[data-animation="flip"][data-animatable]
  backface-visibility: visible
  animation-name: flip

@keyframes flipInX
  from
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    animation-timing-function: ease-in
    opacity: 0
  40%
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    animation-timing-function: ease-in
  60%
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1
  80%
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
  to
    transform: perspective(400px)
[data-animation="flip in x"][data-animatable]
  backface-visibility: visible !important
  animation-name: flipInX

@keyframes flipInY
  from
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg)
    animation-timing-function: ease-in
    opacity: 0
  40%
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg)
    animation-timing-function: ease-in
  60%
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg)
    opacity: 1
  80%
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
  to
    transform: perspective(400px)
[data-animation="flip in y"][data-animatable]
  backface-visibility: visible !important
  animation-name: flipInY

@keyframes flipOutX
  from
    transform: perspective(400px)
  30%
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    opacity: 1
  to
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    opacity: 0
[data-animation="flip out x"][data-animatable]
  animation-name: flipOutX
  backface-visibility: visible !important

@keyframes flipOutY
  from
    transform: perspective(400px)
  30%
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg)
    opacity: 1
  to
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg)
    opacity: 0
[data-animation="flip out y"][data-animatable]
  backface-visibility: visible !important
  animation-name: flipOutY

@keyframes lightSpeedIn
  from
    transform: translate3d(100%, 0, 0) skewX(-30deg)
    opacity: 0
  60%
    transform: skewX(20deg)
    opacity: 1
  80%
    transform: skewX(-5deg)
    opacity: 1
  to
    transform: none
    opacity: 1
[data-animation="light speed in"][data-animatable]
  animation-name: lightSpeedIn
  animation-timing-function: ease-out

@keyframes lightSpeedOut
  from
    opacity: 1
  to
    transform: translate3d(100%, 0, 0) skewX(30deg)
    opacity: 0
[class*="light speed out"]
  animation-name: lightSpeedOut
  animation-timing-function: ease-in
@keyframes rotateIn
  from
    transform-origin: center
    transform: rotate3d(0, 0, 1, -200deg)
    opacity: 0
  to
    transform-origin: center
    transform: none
    opacity: 1
[data-animation="rotate in"][data-animatable]
  animation-name: rotateIn

@keyframes rotateInDownLeft
  from
    transform-origin: left bottom
    transform: rotate3d(0, 0, 1, -45deg)
    opacity: 0
  to
    transform-origin: left bottom
    transform: none
    opacity: 1
[data-animation="rotate in down left"][data-animatable]
  animation-name: rotateInDownLeft

@keyframes rotateInDownRight
  from
    transform-origin: right bottom
    transform: rotate3d(0, 0, 1, 45deg)
    opacity: 0
  to
    transform-origin: right bottom
    transform: none
    opacity: 1
[data-animation="rotate in down right"][data-animatable]
  animation-name: rotateInDownRight

@keyframes rotateInUpLeft
  from
    transform-origin: left bottom
    transform: rotate3d(0, 0, 1, 45deg)
    opacity: 0
  to
    transform-origin: left bottom
    transform: none
    opacity: 1
[data-animation="rotate in up left"][data-animatable]
  animation-name: rotateInUpLeft

@keyframes rotateInUpRight
  from
    transform-origin: right bottom
    transform: rotate3d(0, 0, 1, -90deg)
    opacity: 0
  to
    transform-origin: right bottom
    transform: none
    opacity: 1
[data-animation="rotate in up right"][data-animatable]
  animation-name: rotateInUpRight

@keyframes rotateOut
  from
    transform-origin: center
    opacity: 1
  to
    transform-origin: center
    transform: rotate3d(0, 0, 1, 200deg)
    opacity: 0
[data-animation="rotate out"][data-animatable]
  animation-name: rotateOut

@keyframes rotateOutDownLeft
  from
    transform-origin: left bottom
    opacity: 1
  to
    transform-origin: left bottom
    transform: rotate3d(0, 0, 1, 45deg)
    opacity: 0
[data-animation="rotate out down left"][data-animatable]
  animation-name: rotateOutDownLeft

@keyframes rotateOutDownRight
  from
    transform-origin: right bottom
    opacity: 1
  to
    transform-origin: right bottom
    transform: rotate3d(0, 0, 1, -45deg)
    opacity: 0
[data-animation="rotate out down right"][data-animatable]
  animation-name: rotateOutDownRight

@keyframes rotateOutUpLeft
  from
    transform-origin: left bottom
    opacity: 1
  to
    transform-origin: left bottom
    transform: rotate3d(0, 0, 1, -45deg)
    opacity: 0
[data-animation="rotate out up left"][data-animatable]
  animation-name: rotateOutUpLeft

@keyframes rotateOutUpRight
  from
    transform-origin: right bottom
    opacity: 1
  to
    transform-origin: right bottom
    transform: rotate3d(0, 0, 1, 90deg)
    opacity: 0
[data-animation="rotate out up right"][data-animatable]
  animation-name: rotateOutUpRight

@keyframes hinge
  0%
    transform-origin: top left
    animation-timing-function: ease-in-out
  20%, 60%
    transform: rotate3d(0, 0, 1, 80deg)
    transform-origin: top left
    animation-timing-function: ease-in-out
  40%, 80%
    transform: rotate3d(0, 0, 1, 60deg)
    transform-origin: top left
    animation-timing-function: ease-in-out
    opacity: 1
  to
    transform: translate3d(0, 700px, 0)
    opacity: 0
[data-animation="hinge"][data-animatable]
  animation-name: hinge

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide
@keyframes rollIn
  from
    opacity: 0
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg)
  to
    opacity: 1
    transform: none
[data-animation="roll in"][data-animatable]
  animation-name: rollIn

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide
@keyframes rollOut
  from
    opacity: 1
  to
    opacity: 0
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg)
[data-animation="roll out"][data-animatable]
  animation-name: rollOut

@keyframes zoomIn
  from
    opacity: 0
    transform: scale3d(0.3, 0.3, 0.3)
  50%
    opacity: 1
[data-animation="zoom in"][data-animatable]
  animation-name: zoomIn

@keyframes zoomInDown
  from
    opacity: 0
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0)
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  60%
    opacity: 1
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0)
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
[data-animation="zoom in down"][data-animatable]
  animation-name: zoomInDown

@keyframes zoomInLeft
  from
    opacity: 0
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0)
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  60%
    opacity: 1
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0)
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
[data-animation="zoom in left"][data-animatable]
  animation-name: zoomInLeft

@keyframes zoomInRight
  from
    opacity: 0
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0)
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  60%
    opacity: 1
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0)
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
[data-animation="zoom in right"][data-animatable]
  animation-name: zoomInRight

@keyframes zoomInUp
  from
    opacity: 0
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0)
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  60%
    opacity: 1
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0)
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
[data-animation="zoom in up"][data-animatable]
  animation-name: zoomInUp

@keyframes zoomOut
  from
    opacity: 1
  50%
    opacity: 0
    transform: scale3d(0.3, 0.3, 0.3)
  to
    opacity: 0
[data-animation="zoom out"][data-animatable]
  animation-name: zoomOut

@keyframes zoomOutDown
  40%
    opacity: 1
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0)
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  to
    opacity: 0
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0)
    transform-origin: center bottom
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
[data-animation="zoom out down"][data-animatable]
  animation-name: zoomOutDown

@keyframes zoomOutLeft
  40%
    opacity: 1
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0)
  to
    opacity: 0
    transform: scale(0.1) translate3d(-2000px, 0, 0)
    transform-origin: left center
[data-animation="zoom out left"][data-animatable]
  animation-name: zoomOutLeft

@keyframes zoomOutRight
  40%
    opacity: 1
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0)
  to
    opacity: 0
    transform: scale(0.1) translate3d(2000px, 0, 0)
    transform-origin: right center
[data-animation="zoom out right"][data-animatable]
  animation-name: zoomOutRight

@keyframes zoomOutUp
  40%
    opacity: 1
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0)
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  to
    opacity: 0
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0)
    transform-origin: center bottom
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
[data-animation="zoom out up"][data-animatable]
  animation-name: zoomOutUp

@keyframes slideInDown
  from
    transform: translate3d(0, -100%, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)
[data-animation="slide in down"][data-animatable]
  animation-name: slideInDown

@keyframes slideInLeft
  from
    transform: translate3d(-100%, 0, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)
[data-animation="slide in left"][data-animatable]
  animation-name: slideInLeft

@keyframes slideInRight
  from
    transform: translate3d(100%, 0, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)
[data-animation="slide in right"][data-animatable]
  animation-name: slideInRight

@keyframes slideInUp
  from
    transform: translate3d(0, 100%, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)
[data-animation="slide in up"][data-animatable]
  animation-name: slideInUp

@keyframes slideOutDown
  from
    transform: translate3d(0, 0, 0)
  to
    visibility: hidden
    transform: translate3d(0, 100%, 0)
[data-animation="slide out down"][data-animatable]
  animation-name: slideOutDown

@keyframes slideOutLeft
  from
    transform: translate3d(0, 0, 0)
  to
    visibility: hidden
    transform: translate3d(-100%, 0, 0)
[data-animation="slide out left"][data-animatable]
  animation-name: slideOutLeft

@keyframes slideOutRight
  from
    transform: translate3d(0, 0, 0)
  to
    visibility: hidden
    transform: translate3d(100%, 0, 0)
[data-animation="slide out right"][data-animatable]
  animation-name: slideOutRight

@keyframes slideOutUp
  from
    transform: translate3d(0, 0, 0)
  to
    visibility: hidden
    transform: translate3d(0, -100%, 0)
[data-animation="slide out up"][data-animatable]
  animation-name: slideOutUp