//-------------------//
//        Ease
//-------------------//

%ease
    transition: all $easeDuration ease-in-out

//-------------------//
//      Attached
//-------------------//

%top-attached
    margin-bottom             : 0
    border-bottom-left-radius : 0
    border-bottom-right-radius: 0

%attached
    margin-top   : 0
    margin-bottom: 0
    border-radius: 0
    border-top   : 0

%bottom-attached
    border-top             : 0
    margin-top             : 0
    border-top-left-radius : 0
    border-top-right-radius: 0

//-------------------//
//      No Ease
//-------------------//

%no-ease
    transition: none

//-------------------//
//     No Select
//-------------------//

%no-select
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

//-------------------//
//         Dot
//-------------------//

@font-face
    font-family: 'Tocas-Lato'
    src        : url('fonts/LatoLatin-Regular.eot')
    src        : url('fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/LatoLatin-Regular.woff2') format('woff2'), url('fonts/LatoLatin-Regular.woff') format('woff'), url('fonts/LatoLatin-Regular.ttf') format('truetype')
    font-style    : normal
    font-weight   : normal
    text-rendering: optimizeLegibility

%is-dot
    font-family: Tocas-Lato, Arial, sans-serif
    font-weight: 400
    line-height: 1