// + Basic
.ts.label Default

// + Emphasis
.ts.label Default
.ts.primary.label Primary
.ts.info.label Info
.ts.warning.label Warning
.ts.negative.label Negative
.ts.positive.label Positive
.ts.inverted.label Inverted

// + Basic Emphasis
.ts.basic.label Default
.ts.basic.primary.label Primary
.ts.basic.info.label Info
.ts.basic.warning.label Warning
.ts.basic.negative.label Negative
.ts.basic.positive.label Positive
.ts.basic.inverted.label Inverted

// + Sizes
.ts.mini.label Mini
.ts.tiny.label Tiny
.ts.small.label Small
.ts.label Medium
.ts.large.label Large
.ts.big.label Big
.ts.huge.label Huge
.ts.massive.label Massive

// + Coupon
.ts.coupon.label Default
.ts.coupon.primary.label Primary
.ts.coupon.info.label Info
.ts.coupon.warning.label Warning
.ts.coupon.negative.label Negative
.ts.coupon.positive.label Positive
.ts.coupon.inverted.label Inverted
.ts.basic.coupon.label Basic Default
.ts.basic.coupon.primary.label Basic Primary
.ts.basic.coupon.info.label Basic Info
.ts.basic.coupon.warning.label Basic Warning
.ts.basic.coupon.negative.label Basic Negative
.ts.basic.coupon.positive.label Basic Positive
.ts.basic.coupon.inverted.label Basic Inverted

// + Tag
.ts.tag.label Default
.ts.tag.primary.label Primary
.ts.tag.info.label Info
.ts.tag.warning.label Warning
.ts.tag.negative.label Negative
.ts.tag.positive.label Positive
.ts.tag.inverted.label Inverted
.ts.basic.tag.label Basic Default
.ts.basic.tag.primary.label Basic Primary
.ts.basic.tag.info.label Basic Info
.ts.basic.tag.warning.label Basic Warning
.ts.basic.tag.negative.label Basic Negative
.ts.basic.tag.positive.label Basic Positive
.ts.basic.tag.inverted.label Basic Inverted

// + Banner
.ts.banner.label Default
.ts.banner.primary.label Primary
.ts.banner.info.label Info
.ts.banner.warning.label Warning
.ts.banner.negative.label Negative
.ts.banner.positive.label Positive
.ts.banner.inverted.label Inverted
.ts.basic.banner.label Basic Default
.ts.basic.banner.primary.label Basic Primary
.ts.basic.banner.info.label Basic Info
.ts.basic.banner.warning.label Basic Warning
.ts.basic.banner.negative.label Basic Negative
.ts.basic.banner.positive.label Basic Positive
.ts.basic.banner.inverted.label Basic Inverted

// + Corner
.ts.seven.column.grid(style="width: 800px;")
    .column
        .ts.fluid.image
            .ts.left.corner.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.left.corner.info.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.left.corner.primary.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.left.corner.warning.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.left.corner.positive.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.left.corner.negative.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.left.corner.inverted.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
.ts.seven.column.grid(style="width: 800px;")
    .column
        .ts.fluid.image
            .ts.corner.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.corner.info.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.corner.primary.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.corner.warning.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.corner.positive.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.corner.negative.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")
    .column
        .ts.fluid.image
            .ts.corner.inverted.label
                i.heart.icon
            img(src="../../../assets/images/1-1.png")

// + Ribbon
.ts.two.column.grid
    .column
        .ts.segment
            a.ts.ribbon.label Default
            p Content
            a.ts.info.ribbon.label Info
            p Content
            a.ts.primary.ribbon.label Primary
            p Content
            a.ts.warning.ribbon.label Warning
            p Content
            a.ts.positive.ribbon.label Positive
            p Content
            a.ts.negative.ribbon.label Negative
            p Content
            a.ts.inverted.ribbon.label Inverted
    .column
        .ts.segment
            a.ts.right.ribbon.label Default
            p Content
            a.ts.info.right.ribbon.label Info
            p Content
            a.ts.primary.right.ribbon.label Primary
            p Content
            a.ts.warning.right.ribbon.label Warning
            p Content
            a.ts.positive.right.ribbon.label Positive
            p Content
            a.ts.negative.right.ribbon.label Negative
            p Content
            a.ts.inverted.right.ribbon.label Inverted
.ts.two.column.grid
    .column
        .ts.segment
            a.ts.basic.ribbon.label Basic
            p Content
            a.ts.basic.info.ribbon.label Basic Info
            p Content
            a.ts.basic.primary.ribbon.label Basic Primary
            p Content
            a.ts.basic.warning.ribbon.label Basic Warning
            p Content
            a.ts.basic.positive.ribbon.label Basic Positive
            p Content
            a.ts.basic.negative.ribbon.label Basic Negative
            p Content
            a.ts.basic.inverted.ribbon.label Basic Inverted
    .column
        .ts.segment
            a.ts.basic.right.ribbon.label Basic
            p Content
            a.ts.basic.info.right.ribbon.label Basic Info
            p Content
            a.ts.basic.primary.right.ribbon.label Basic Primary
            p Content
            a.ts.basic.warning.right.ribbon.label Basic Warning
            p Content
            a.ts.basic.positive.right.ribbon.label Basic Positive
            p Content
            a.ts.basic.negative.right.ribbon.label Basic Negative
            p Content
            a.ts.basic.inverted.right.ribbon.label Basic Inverted

// + Empty Ribbon
.ts.horizontal.segments
    .ts.segment
        a.ts.empty.ribbon.label
        p Default
    .ts.segment
        a.ts.empty.ribbon.info.label
        p Info
    .ts.segment
        a.ts.empty.ribbon.primary.label
        p Primary
    .ts.segment
        a.ts.empty.ribbon.warning.label
        p Warning
    .ts.segment
        a.ts.empty.ribbon.positive.label
        p Positive
    .ts.segment
        a.ts.empty.ribbon.negative.label
        p Negative
    .ts.segment
        a.ts.empty.ribbon.inverted.label
        p Inverted
.ts.horizontal.segments
    .ts.segment
        a.ts.empty.left.ribbon.label
        p Left Default
    .ts.segment
        a.ts.empty.left.ribbon.info.label
        p Left Info
    .ts.segment
        a.ts.empty.left.ribbon.primary.label
        p Left Primary
    .ts.segment
        a.ts.empty.left.ribbon.warning.label
        p Left Warning
    .ts.segment
        a.ts.empty.left.ribbon.positive.label
        p Left Positive
    .ts.segment
        a.ts.empty.left.ribbon.negative.label
        p Left Negative
    .ts.segment
        a.ts.empty.left.ribbon.inverted.label
        p Left Inverted

// + Image
.ts.image.label
    img(src="../../../assets/images/1-1.png")
    | Default
    .detail Detail
.ts.primary.image.label
    img(src="../../../assets/images/1-1.png")
    | Primary
    .detail Detail
.ts.info.image.label
    img(src="../../../assets/images/1-1.png")
    | Info
    .detail Detail
.ts.warning.image.label
    img(src="../../../assets/images/1-1.png")
    | Warning
    .detail Detail
.ts.positive.image.label
    img(src="../../../assets/images/1-1.png")
    | Positive
    .detail Detail
.ts.negative.image.label
    img(src="../../../assets/images/1-1.png")
    | Negative
    .detail Detail
.ts.inverted.image.label
    img(src="../../../assets/images/1-1.png")
    | Inverted
    .detail Detail
.ts.basic.image.label
    img(src="../../../assets/images/1-1.png")
    | Basic Default
    .detail Detail
.ts.basic.primary.image.label
    img(src="../../../assets/images/1-1.png")
    | Basic Primary
    .detail Detail
.ts.basic.info.image.label
    img(src="../../../assets/images/1-1.png")
    | Basic Info
    .detail Detail
.ts.basic.warning.image.label
    img(src="../../../assets/images/1-1.png")
    | Basic Warning
    .detail Detail
.ts.basic.positive.image.label
    img(src="../../../assets/images/1-1.png")
    | Basic Positive
    .detail Detail
.ts.basic.negative.image.label
    img(src="../../../assets/images/1-1.png")
    | Basic Negative
    .detail Detail
.ts.basic.inverted.image.label
    img(src="../../../assets/images/1-1.png")
    | Basic Inverted
    .detail Detail