


// + Text
.ts.steps
    .step
        .content Content
    .active.step
        .content Content
    .step
        .content Content

// + Basic Text
.ts.basic.steps
    .step
        .content Content
    .active.step
        .content Content
    .step
        .content Content

// + Basic Icon
.ts.basic.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Description


// + Basic Ordered
.ts.basic.ordered.steps
    .step
        .content
            .title Title
            .description Description
    .completed.step
        .content
            .title Title
            .description Completed Description
    .active.step
        .content
            .title Title
            .description Active Description
    .disabled.step
        .content
            .title Title
            .description Disabled Description
    .disabled.step
        .content
            .title Title
            .description Disabled Description


// + Basic Vertical
.ts.basic.vertical.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Description

// + Icon
.ts.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Description

// + Link
.ts.steps
    a.step
        i.truck.icon
        .content
            .title Title
            .description Description
    .active.link.step
        i.truck.icon
        .content
            .title Title
            .description Description
    a.step
        i.truck.icon
        .content
            .title Title
            .description Description

// + Ordered
.ts.ordered.steps
    .step
        .content
            .title Title
            .description Description
    .step
        .content
            .title Title
            .description Description
    .step
        .content
            .title Title
            .description Description

// + Completed
.ts.ordered.steps
    .completed.step
        .content
            .title Title
            .description Description
    .completed.step
        .content
            .title Title
            .description Description
    .step
        .content
            .title Title
            .description Description

// + Disabled
.ts.ordered.steps
    .step
        .content
            .title Title
            .description Description
    .disabled.step
        .content
            .title Title
            .description Disabled Description
    .disabled.step
        .content
            .title Title
            .description Disabled Description

// + Sizes
.ts.mini.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Mini Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Mini Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Mini Description
br
.ts.tiny.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Tiny Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Tiny Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Tiny Description
br
.ts.small.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Small Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Small Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Small Description
br
.ts.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Medium Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Medium Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Medium Description
br
.ts.large.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Large Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Large Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Large Description
br
.ts.big.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Big Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Big Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Big Description
br
.ts.huge.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Huge Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Huge Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Huge Description
br
.ts.massive.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Massive Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Massive Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Massive Description

// + Vertical
.ts.vertical.steps
    .step
        i.truck.icon
        .content
            .title Title
            .description Description
    .active.step
        i.truck.icon
        .content
            .title Title
            .description Description
    .step
        i.truck.icon
        .content
            .title Title
            .description Description