// + Basic
.ts.panes
    .three.block.pane(style="background: yellow") Sidebar
    .stretched.pane
        .ts.vertical.panes
            .pane(style="background: red") Header
            .stretched.pane(style="background: blue") Body
            .pane(style="background: green") Footer

// + Nested
.ts.panes
    .three.block.pane(style="background: yellow") Sidebar
    .stretched.pane
        .ts.vertical.panes
            .pane(style="background: red") Header
            .stretched.pane(style="background: blue")
                .ts.panes
                    .three.block.pane(style="background: yellow") Sidebar
                    .stretched.pane(style="background: red") Yee
            .pane(style="background: green") Footer

// + Celled
.ts.celled.panes(style="height: 200px")
    .pane Sidebar
    .stretched.pane
        .ts.celled.vertical.panes
            .pane Header
            .stretched.pane Body
            .pane Footer
p
.ts.celled.panes(style="height: 200px")
    .pane Sidebar
    .stretched.pane
        .ts.celled.vertical.panes
            .pane Header
            .stretched.pane
                .ts.celled.panes
                    .pane Sidebar
                    .stretched.pane Body
            .pane Footer
p
.ts.celled.panes(style="height: 200px")
    .pane Sidebar
    .stretched.pane
        .ts.celled.vertical.panes
            .pane Header
            .stretched.pane
                .ts.celled.panes
                    .pane Sidebar
                    .stretched.pane
                        .ts.celled.vertical.panes
                            .pane Header
                            .stretched.pane
                                .ts.celled.panes
                                    .pane Sidebar
                                    .stretched.pane
                                        .ts.celled.vertical.panes
                                            .stretched.pane Header
                                            .stretched.pane Body
                            .pane Footer
            .pane Footer
p
.ts.celled.panes(style="height: 200px")
    .pane Header
    .pane Body
    .pane Footer
p
.ts.celled.vertical.panes(style="height: 200px; margin-top: 30px")
    .pane Header
    .pane Body
    .pane Footer