@import ./image.variables

//*******************************//
//           Variations
//*******************************//


//*******************************//
//              Main
//*******************************//

.ts.image:not(.label)
    position      : relative
    display       : inline-block
    vertical-align: middle
    //max-width       : 100%
    //max-height      : 100%
    background    : $image_placeholderColor

img.ts.image
    display: block

.ts.image:not(.label) svg,
.ts.image:not(.label) img
    max-width : 100%
    height    : auto
    max-height: 100%

//*******************************//
//             States
//*******************************//

.ts.hidden.images,
.ts.hidden.image
    display: none

.ts.hidden.transition.images,
.ts.hidden.transition.image
    display   : block
    visibility: hidden

.ts.disabled.images,
.ts.disabled.image
    cursor : default
    opacity: $disabledOpacity

//*******************************//
//            Variations
//*******************************//

//-------------------//
//       Overlay
//-------------------//

.ts.image .overlay
    position: absolute
    top     : 0
    bottom  : 0
    right   : 0
    left    : 0
    z-index : $z_image_overlay
    display : flex

    align-items    : center
    flex-direction : column
    justify-content: center
    text-align     : center

.ts.image .dimmed.overlay
    background: $image_overlayDimmedBackground

.ts.image .overlay,
.ts.image .overlay *
    color         : $image_overlayTextColor
    text-rendering: optimizelegibility
    text-shadow   : $image_overlayTextShadow

//-------------------//
//      Stacked
//-------------------//

.ts.stacked.images .image,
.ts.stacked.images svg,
.ts.stacked.images img,
svg.ts.stacked.image,
img.ts.stacked.image,
.ts.stacked.image svg,
.ts.stacked.image img
    margin-bottom: $image_stackedHeight
    box-shadow   : $image_stackedShadow

.ts.tall.stacked.images .image,
.ts.tall.stacked.images svg,
.ts.tall.stacked.images img,
svg.ts.tall.stacked.image,
img.ts.tall.stacked.image,
.ts.tall.stacked.image svg,
.ts.tall.stacked.image img
    margin-bottom: $image_tallStackedHeight
    box-shadow   : $image_tallStackedShadow

//-------------------//
//       Inline
//-------------------//

.ts.inline.image,
.ts.inline.image svg,
.ts.inline.image img
    display: inline-block

//-------------------//
//  Vertical Aligned
//-------------------//

.ts.top.aligned.images .image,
.ts.top.aligned.image,
.ts.top.aligned.image svg,
.ts.top.aligned.image img
    display       : inline-block
    vertical-align: top

.ts.middle.aligned.images .image,
.ts.middle.aligned.image,
.ts.middle.aligned.image svg,
.ts.middle.aligned.image img
    display       : inline-block
    vertical-align: middle

.ts.bottom.aligned.images .image,
.ts.bottom.aligned.image,
.ts.bottom.aligned.image svg,
.ts.bottom.aligned.image img
    display       : inline-block
    vertical-align: bottom

//-------------------//
//       Rounded
//-------------------//

.ts.rounded.images .image,
.ts.rounded.images img,
.ts.rounded.images svg,
.ts.rounded.image,
.ts.rounded.images .image > *:not(.icon),
.ts.rounded.image > *:not(.icon)
    border-radius: $image_roundedBorderRadius

//-------------------//
//      Selected
//-------------------//

.ts.selected.images .image,
.ts.selected.images img,
.ts.selected.images svg,
.ts.selected.image img,
.ts.selected.image svg,
img.ts.selected.image
    border: $image_selectedBorder

//-------------------//
//      Bordered
//-------------------//

.ts.bordered.images .image,
.ts.bordered.images img,
.ts.bordered.images svg,
.ts.bordered.image img,
.ts.bordered.image svg,
img.ts.bordered.image
    border: $image_imageBorder

//-------------------//
//      Circular
//-------------------//

.ts.circular.images:not(.link):not(a):not(.related),
.ts.circular.image:not(.link):not(a):not(.related)
    overflow: hidden

.ts.circular.images .image,
.ts.circular.images img,
.ts.circular.images svg,
.ts.circular.image,
.ts.circular.images .image > *:not(.icon),
.ts.circular.image > *:not(.icon)
    border-radius: $circularRadius !important

//-------------------//
//       Icon
//-------------------//

.ts.image:not(.label) > .icon:not(.button)
    position : absolute
    right    : 0
    z-index  : 1
    bottom   : 0
    transform: $image_cornerIconTransform

    -webkit-text-stroke: $image_cornerIconStroke
    text-stroke        : $image_cornerIconStroke

.ts.mini.image:not(.label) > .icon:not(.button)
    font-size: $image_cornerIconMiniSize
.ts.tiny.image:not(.label) > .icon:not(.button)
    font-size: $image_cornerIconTinySize
.ts.small.image:not(.label) > .icon:not(.button)
    font-size: $image_cornerIconSmallSize
.ts.medium.image:not(.label) > .icon:not(.button),
.ts.image:not(.label) > .icon:not(.button)
    font-size: $image_cornerIconMediumSize
.ts.large.image:not(.label) > .icon:not(.button)
    font-size: $image_cornerIconLargeSize
.ts.big.image:not(.label) > .icon:not(.button)
    font-size: $image_cornerIconBigSize
.ts.huge.image:not(.label) > .icon:not(.button)
    font-size: $image_cornerIconHugeSize
.ts.massive.image:not(.label) > .icon:not(.button)
    font-size: $image_cornerIconLargeSize

//-------------------//
//       Fluid
//-------------------//

.ts.fluid.images,
.ts.fluid.image,
.ts.fluid.images .image,
.ts.fluid.images img,
.ts.fluid.images svg,
.ts.fluid.image svg,
.ts.fluid.image img
    display: block
    width  : 100%
    height : auto

//-------------------//
//      Related
//-------------------//

.ts.related.images
    display: inline-block
    overflow: visible

.ts.related.images img
    margin: 0

.ts.related.images img:last-child
    position  : absolute
    max-width : $image_relatedImageSize
    max-height: $image_relatedImageSize
    bottom: -#{$image_mediumRelatedBorderWidth}
    right: $image_relatedImageRight
    border: $image_mediumRelatedBorderWidth solid $image_relatedImageBorderColor

.ts.mini.related.images img:last-child
    border-width: $image_miniRelatedBorderWidth
    bottom      : -#{$image_miniRelatedBorderWidth}
.ts.tiny.related.images img:last-child
    border-width: $image_tinyRelatedBorderWidth
    bottom      : -#{$image_tinyRelatedBorderWidth}
.ts.small.related.images img:last-child
    border-width: $image_smallRelatedBorderWidth
    bottom      : -#{$image_smallRelatedBorderWidth}
.ts.medium.related.images img:last-child
    border-width: $image_mediumRelatedBorderWidth
    bottom      : -#{$image_mediumRelatedBorderWidth}
.ts.large.related.images img:last-child
    border-width: $image_largeRelatedBorderWidth
    bottom      : -#{$image_largeRelatedBorderWidth}
.ts.big.related.images img:last-child
    border-width: $image_bigRelatedBorderWidth
    bottom      : -#{$image_bigRelatedBorderWidth}
.ts.huge.related.images img:last-child
    border-width: $image_hugeRelatedBorderWidth
    bottom      : -#{$image_hugeRelatedBorderWidth}
.ts.massive.related.images img:last-child
    border-width: $image_massiveRelatedBorderWidth
    bottom      : -#{$image_massiveRelatedBorderWidth}

//-------------------//
//       Link
//-------------------//

a.link.image > img
    display: block

.ts.images .image,
.ts.link.images .image,
.ts.images img,
.ts.link.images img,
.ts.images svg,
.ts.link.images svg,
//a .ts.image,
.ts.link.image,
.ts.link.image img,
.ts.link.image svg
    transform     : none
    transition    : $image_transition
    vertical-align: top

.ts.link.images .image:hover,
.ts.link.images img:hover,
.ts.link.images svg:hover,
//a .ts.image:hover,
.ts.link.image:hover
    cursor    : pointer
    z-index   : $z_image_linkHover
    box-shadow: $image_linkHoverBoxShadow
    transform : $image_linkHoverTransform

.ts.link.stacked.image:not(img):hover
    box-shadow: none

//-------------------//
//       Avatar
//-------------------//

.ts.avatar.images .image,
.ts.avatar.images img,
.ts.avatar.images svg,
.ts.avatar.image img,
.ts.avatar.image svg,
.ts.avatar.image
    margin-right : $image_avatarMargin
    display      : inline-block
    width        : $image_avatarSize
    height       : $image_avatarSize
    //border-radius: $circularRadius

//-------------------//
//       Spaced
//-------------------//

.ts.spaced.image
    display     : inline-block !important
    margin-left : $image_spacedDistance
    margin-right: $image_spacedDistance

.ts[class*="left spaced"].image
    margin-left : $image_spacedDistance
    margin-right: 0em

.ts[class*="right spaced"].image
    margin-left : 0em
    margin-right: $image_spacedDistance

//-------------------//
//     Object Fit
//-------------------//

.ts.image[class*="covered"]
    object-fit: cover

//-------------------//
//      Children
//-------------------//

.ts.images .children .image,
.ts.images .children img,
.ts.images .children svg
    margin: 0

//-------------------//
//      Floated
//-------------------//

.ts.floated.image,
.ts.floated.images
    float        : left
    margin-right : $image_floatedHorizontalMargin
    margin-bottom: $image_floatedVerticalMargin

.ts.right.floated.images,
.ts.right.floated.image
    float        : right
    margin-right : 0em
    margin-bottom: $image_floatedVerticalMargin
    margin-left  : $image_floatedHorizontalMargin

.ts.floated.images:last-child,
.ts.floated.image:last-child
    margin-bottom: 0em

.ts.centered.images,
.ts.centered.image
    display     : block
    margin-left : auto
    margin-right: auto
    text-align  : center

//-------------------//
//       Sizes
//-------------------//

.ts.mini.images .image,
.ts.mini.images img,
.ts.mini.images svg,
.ts.mini.image:not(.label)
    width    : $image_miniWidth
    height   : auto
    font-size: $mini

.ts.tiny.images .image,
.ts.tiny.images img,
.ts.tiny.images svg,
.ts.tiny.image:not(.label)
    width    : $image_tinyWidth
    height   : auto
    font-size: $tiny

.ts.small.images .image,
.ts.small.images img,
.ts.small.images svg,
.ts.small.image:not(.label)
    width    : $image_smallWidth
    height   : auto
    font-size: $small

.ts.medium.images .image,
.ts.medium.images img,
.ts.medium.images svg,
.ts.medium.image:not(.label)
    width    : $image_mediumWidth
    height   : auto
    font-size: $medium

.ts.large.images .image,
.ts.large.images img,
.ts.large.images svg,
.ts.large.image:not(.label)
    width    : $image_largeWidth
    height   : auto
    font-size: $large

.ts.big.images .image,
.ts.big.images img,
.ts.big.images svg,
.ts.big.image:not(.label)
    width    : $image_bigWidth
    height   : auto
    font-size: $big

.ts.huge.images .image,
.ts.huge.images img,
.ts.huge.images svg,
.ts.huge.image:not(.label)
    width    : $image_hugeWidth
    height   : auto
    font-size: $huge

.ts.massive.images .image,
.ts.massive.images img,
.ts.massive.images svg,
.ts.massive.image:not(.label)
    width    : $image_massiveWidth
    height   : auto
    font-size: $massive

//-------------------//
//    Size Squared
//-------------------//

.ts.squared.images .image,
.ts.squared.images img,
.ts.squared.images svg,
.ts.squared.image
    object-fit: cover

.ts.squared.mini.images .image,
.ts.squared.mini.images img,
.ts.squared.mini.images svg,
.ts.squared.mini.image
    height: $image_miniWidth

.ts.squared.tiny.images .image,
.ts.squared.tiny.images img,
.ts.squared.tiny.images svg,
.ts.squared.tiny.image
    height: $image_tinyWidth

.ts.squared.small.images .image,
.ts.squared.small.images img,
.ts.squared.small.images svg,
.ts.squared.small.image
    height: $image_smallWidth

.ts.squared.medium.images .image,
.ts.squared.medium.images img,
.ts.squared.medium.images svg,
.ts.squared.medium.image
    height: $image_mediumWidth

.ts.squared.large.images .image,
.ts.squared.large.images img,
.ts.squared.large.images svg,
.ts.squared.large.image
    height: $image_largeWidth

.ts.squared.big.images .image,
.ts.squared.big.images img,
.ts.squared.big.images svg,
.ts.squared.big.image
    height: $image_bigWidth

.ts.squared.huge.images .image,
.ts.squared.huge.images img,
.ts.squared.huge.images svg,
.ts.squared.huge.image
    height: $image_hugeWidth

.ts.squared.massive.images .image,
.ts.squared.massive.images img,
.ts.squared.massive.images svg,
.ts.squared.massive.image
    height: $image_massiveWidth


//*******************************//
//             Groups
//*******************************//

.ts.images
    font-size: 0em
    margin   : 0em -#{$image_imageHorizontalMargin} 0rem

.ts.images .image,
.ts.images img,
.ts.images svg
    display: inline-block
    margin : 0em $image_imageHorizontalMargin $image_imageVerticalMargin
