@charset "UTF-8"
@import ./quote.variables

//*******************************//
//              Main
//*******************************//

.ts.quote
    position      : relative
    padding-left  : $quote_paddingLeft
    padding-top   : $quote_paddingTop
    padding-bottom: $quote_paddingTop / 2
    border-left   : none

.ts.quote:before
    content    : "“"
    position   : absolute
    top        : 0em
    left       : 0px
    font-size  : $quote_fontSize
    font-family: $quote_fontFamily
    color      : $quote_markColor
    line-height: 1

.ts.quote,
blockquote
    margin: $quote_margin

.ts.quote:first-child,
blockquote:first-child
    margin-top: 0

.ts.quote:last-child,
blockquote:last-child
    margin-bottom: 0

//-------------------//
//     Secondary
//-------------------//

.ts.quote.secondary,
blockquote
    padding-left  : $quote_secondaryPaddingLeft
    padding-top   : 0
    padding-bottom: 0
    border-left   : $quote_secondaryBorder

.ts.quote.secondary:before
    display: none

//-------------------//
//        Cite
//-------------------//

.ts.quote cite,
blockquote cite
    font-style: $quote_citeFontStyle
    color     : $quote_citeTextColor
    opacity   : $quote_citeOpacity

.ts.quote cite:before,
blockquote cite:before
    content: $quote_citeLeftVariation
.ts.quote cite:after,
blockquote cite:after
    content: $quote_citeRightVariation

.ts.quote cite:before,
blockquote cite:before
    margin-right: $quote_citeVariationPaddingRight
.ts.quote cite:after,
blockquote cite:after
    margin-left: $quote_citeVariationPaddingLeft