// + Horizontal
.ts.horizontal.regions(style="height: 200px")
    .region
        | Region
    .region
        | Region

// + Vertical
.ts.vertical.regions(style="height: 200px")
    .region
        | Region
    .region
        | Region

// + Nested
.ts.horizontal.regions(style="height: 200px")
    .region
        | Horizontal Region
    .vertical.regions
        .region
            | Vertical Region
        .region
            | Vertical Region

// + Celled
.ts.celled.horizontal.regions(style="height: 200px")
    .region
        | Region
    .region
        | Region

// + Padded
.ts.padded.horizontal.regions(style="height: 200px")
    .region
        | Padded Region
    .region
        | Padded Region

// + Padded Region
.ts.horizontal.regions(style="height: 200px")
    .padded.region
        | Padded Region
    .region
        | Region

// + Stretched
.ts.horizontal.regions(style="height: 200px")
    .region
        | Region
    .stretched.region
        | Stretched Region

// + Emphasis
.ts.horizontal.regions(style="height: 200px")
    .region
        | Region
    .secondary.region
        | Secondary Region
    .tertiary.region
        | Tertiary Region