// + Fluid
button.ts.fluid.button Fluid Button

// + Sizes
button.ts.mini.button Mini
button.ts.tiny.button Tiny
button.ts.small.button Small
button.ts.button Medium
button.ts.large.button Large
button.ts.big.button Big
button.ts.huge.button Huge
button.ts.massive.button Massive

// + Cicular
button.ts.mini.circular.button Mini
button.ts.tiny.circular.button Tiny
button.ts.small.circular.button Small
button.ts.circular.button Medium
button.ts.large.circular.button Large
button.ts.big.circular.button Big
button.ts.huge.circular.button Huge
button.ts.massive.circular.button Massive

// + Emphasises
button.ts.button Default
button.ts.secondary.button Secondary
button.ts.inverted.button Inverted
button.ts.primary.button Primary
button.ts.info.button Info
button.ts.negative.button Negative
button.ts.positive.button Positive
button.ts.warning.button Warning

// + Basic Emphasises
button.ts.basic.button Basic
button.ts.basic.inverted.button Inverted
button.ts.basic.primary.button Primary
button.ts.basic.info.button Info
button.ts.basic.negative.button Negative
button.ts.basic.positive.button Positive
button.ts.basic.warning.button Warning

// + Inverted Basic
.ts.inverted.segment
    button.ts.basic.inverted.button Inverted
    button.ts.basic.inverted.primary.button Primary
    button.ts.basic.inverted.info.button Info
    button.ts.basic.inverted.negative.button Negative
    button.ts.basic.inverted.positive.button Positive
    button.ts.basic.inverted.warning.button Warning

// + Outlined Emphasises
button.ts.outlined.button Basic
button.ts.outlined.inverted.button Inverted
button.ts.outlined.primary.button Primary
button.ts.outlined.info.button Info
button.ts.outlined.negative.button Negative
button.ts.outlined.positive.button Positive
button.ts.outlined.warning.button Warning

// + Inverted Outlined
.ts.inverted.segment
    button.ts.outlined.inverted.button Inverted
    button.ts.outlined.inverted.primary.button Primary
    button.ts.outlined.inverted.info.button Info
    button.ts.outlined.inverted.negative.button Negative
    button.ts.outlined.inverted.positive.button Positive
    button.ts.outlined.inverted.warning.button Warning

// + Opinion
.ts.inverted.warning.segment
    button.ts.opinion.button Opinion
    button.ts.secondary.opinion.button Secondary Opinion

// + Close
button.ts.mini.close.button
button.ts.tiny.close.button
button.ts.small.close.button
button.ts.close.button
button.ts.large.close.button
button.ts.big.close.button
button.ts.huge.close.button
button.ts.massive.close.button

// + Close With Text
button.ts.mini.close.button
| Text
button.ts.tiny.close.button
| Text
button.ts.small.close.button
| Text
button.ts.close.button
| Text
button.ts.large.close.button
| Text
button.ts.big.close.button
| Text
button.ts.huge.close.button
| Text
button.ts.massive.close.button
| Text

// + Compact
button.ts.compact.button Compact
button.ts.very.compact.button Very Compact

// + Or
.ts.buttons
    button.ts.button Button
    .or
    button.ts.positive.button Positive
    .or
    button.ts.negative.button Negative
.ts.buttons
    button.ts.button Button
    .or(data-text="Or")
    button.ts.positive.button Positive
    .or(data-text="Or")
    button.ts.negative.button Negative

// + Link
| This is a
button.ts.link.button Link
| and this is also a
button.ts.inverted.link.button Inverted Link

// + Pulsing
button.ts.pulsing.button Default
button.ts.pulsing.inverted.button Inverted
button.ts.pulsing.primary.button Primary
button.ts.pulsing.info.button Info
button.ts.pulsing.negative.button Negative
button.ts.pulsing.positive.button Positive
button.ts.pulsing.warning.button Warning

// + Basic Pulsing
button.ts.basic.pulsing.button Default
button.ts.basic.pulsing.inverted.button Inverted
button.ts.basic.pulsing.primary.button Primary
button.ts.basic.pulsing.info.button Info
button.ts.basic.pulsing.negative.button Negative
button.ts.basic.pulsing.positive.button Positive
button.ts.basic.pulsing.warning.button Warning

// + Outlined Pulsing
button.ts.outlined.pulsing.button Default
button.ts.outlined.pulsing.inverted.button Inverted
button.ts.outlined.pulsing.primary.button Primary
button.ts.outlined.pulsing.info.button Info
button.ts.outlined.pulsing.negative.button Negative
button.ts.outlined.pulsing.positive.button Positive
button.ts.outlined.pulsing.warning.button Warning

// + Loading
button.ts.loading.button Default
button.ts.loading.inverted.button Inverted
button.ts.loading.primary.button Primary
button.ts.loading.info.button Info
button.ts.loading.negative.button Negative
button.ts.loading.positive.button Positive
button.ts.loading.warning.button Warning

// + Basic Loading
button.ts.basic.loading.button Default
button.ts.basic.loading.inverted.button Inverted
button.ts.basic.loading.primary.button Primary
button.ts.basic.loading.info.button Info
button.ts.basic.loading.negative.button Negative
button.ts.basic.loading.positive.button Positive
button.ts.basic.loading.warning.button Warning

// + Outlined Loading
button.ts.outlined.loading.button Default
button.ts.outlined.loading.inverted.button Inverted
button.ts.outlined.loading.primary.button Primary
button.ts.outlined.loading.info.button Info
button.ts.outlined.loading.negative.button Negative
button.ts.outlined.loading.positive.button Positive
button.ts.outlined.loading.warning.button Warning

// + Inverted Basic Loading
.ts.inverted.segment
    button.ts.basic.inverted.loading.button Inverted
    button.ts.basic.inverted.loading.primary.button Primary
    button.ts.basic.inverted.loading.info.button Info
    button.ts.basic.inverted.loading.negative.button Negative
    button.ts.basic.inverted.loading.positive.button Positive
    button.ts.basic.inverted.loading.warning.button Warning

// + Disabled
button.ts.disabled.button Default
button.ts.disabled.inverted.button Inverted
button.ts.disabled.primary.button Primary
button.ts.disabled.info.button Info
button.ts.disabled.negative.button Negative
button.ts.disabled.positive.button Positive
button.ts.disabled.warning.button Warning

// + Buttons
.ts.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button

// + Vertical Buttons
.ts.vertical.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button

// + Emphasis Buttons
.ts.info.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.negative.button Negative
    button.ts.button Button

// + Basic Emphasis Buttons
.ts.basic.info.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.negative.button Negative
    button.ts.button Button

// + Size Buttons
.ts.large.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button

// + Circular Buttons
.ts.circular.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button

// + Outlined Buttons
.ts.outlined.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button

// + Vertical Outlined Buttons
.ts.vertical.outlined.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button

// + Icon Buttons
.ts.icon.buttons
    button.ts.button
        i.heart.icon
    button.ts.button
        i.heart.icon
    button.ts.button
        i.heart.icon

// + Separated Buttons
.ts.separated.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button

// + Separated Relaxed Buttons
.ts.separated.relaxed.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button

// + Separated Vertical Buttons
.ts.vertical.separated.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button

// + Separated Vertical Basic Buttons
.ts.vertical.separated.basic.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button

// + Separated Fluid Buttons
.ts.separated.fluid.buttons
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button
    button.ts.button Button

// + Icon
button.ts.icon.button
    i.heart.icon

// + Labeled
.ts.labeled.button
    button.ts.button
        i.heart.icon
        | Right Labeled
    a.ts.basic.label 1,234
.ts.left.labeled.button
    a.ts.basic.label 1,234
    button.ts.button
        i.heart.icon
        | Left Labeled

// + Labeled Sizes
.ts.mini.labeled.button
    button.ts.button
        i.heart.icon
        | Mini
    a.ts.basic.label 1,234
.ts.tiny.labeled.button
    button.ts.button
        i.heart.icon
        | Tiny
    a.ts.basic.label 1,234
.ts.small.labeled.button
    button.ts.button
        i.heart.icon
        | Small
    a.ts.basic.label 1,234
.ts.labeled.button
    button.ts.button
        i.heart.icon
        | Medium
    a.ts.basic.label 1,234
.ts.large.labeled.button
    button.ts.button
        i.heart.icon
        | Large
    a.ts.basic.label 1,234
.ts.big.labeled.button
    button.ts.button
        i.heart.icon
        | Big
    a.ts.basic.label 1,234
.ts.huge.labeled.button
    button.ts.button
        i.heart.icon
        | Huge
    a.ts.basic.label 1,234
.ts.massive.labeled.button
    button.ts.button
        i.heart.icon
        | Massive
    a.ts.basic.label 1,234



// + Labeled Icon
.ts.labeled.icon.button
    i.heart.icon
    | Left Labeled
.ts.right.labeled.icon.button
    i.heart.icon
    | Right Labeled

// + Labeled Icon Sizes
.ts.mini.labeled.icon.button
    i.heart.icon
    | Mini
.ts.tiny.labeled.icon.button
    i.heart.icon
    | Tiny
.ts.small.labeled.icon.button
    i.heart.icon
    | Small
.ts.labeled.icon.button
    i.heart.icon
    | Medium
.ts.large.labeled.icon.button
    i.heart.icon
    | Large
.ts.big.labeled.icon.button
    i.heart.icon
    | Big
.ts.huge.labeled.icon.button
    i.heart.icon
    | Huge
.ts.massive.labeled.icon.button
    i.heart.icon
    | Massive