@import ./calendar.variables

//*******************************//
//            Variations
//*******************************//

//*******************************//
//              Main
//*******************************//

.ts.calendar
    border-radius   : $calendar_borderRadius
    overflow        : hidden
    position        : relative
    display         : inline-flex
    flex-direction  : column
    border          : $calendar_border
    box-shadow      : $calendar_boxShadow
    min-width       : 4.8em
    min-height      : 4.8em
    background: $calendar_backgroundColor

//-------------------//
//      Content
//-------------------//

.ts.calendar .content
    position       : relative
    display        : flex
    justify-content: center
    flex-direction : column
    padding        : $calendar_elementPadding
    min-height     : 3.9em

//-------------------//
//       Header
//-------------------//

.ts.calendar .header
    display         : block
    background: #CCC
    text-align      : center
    padding         : .1em
    font-size       : .8em
    color           : #FFF

//-------------------//
//   Prefix Suffix
//-------------------//

.ts.calendar .date .prefix,
.ts.calendar .date .suffix
    font-size: .7em
    opacity  : 0.5

.ts.calendar .date .prefix
    margin-right: -.2em

.ts.calendar .date .suffix
    margin-left: -.2em

//-------------------//
//       Date
//-------------------//

.ts.calendar .date
    display    : block
    text-align : center
    font-size  : 1.5em
    line-height: 1
    font-weight: bold

//-------------------//
//       Range
//-------------------//

.ts.calendar .date.range
    font-size: 1.2em

//-------------------//
//       Extra
//-------------------//

.ts.calendar .extra
    display      : block
    text-align   : center
    font-size    : .8em
    opacity      : 0.5

//-------------------//
//       Sizes
//-------------------//

.ts.calendar.mini
    font-size: $relativeMini
.ts.calendar.tiny
    font-size: $relativeTiny
.ts.calendar.small
    font-size: $relativeSmall
.ts.calendar.medium
    font-size: $relativeMedium
.ts.calendar.large
    font-size: $relativeLarge
.ts.calendar.big
    font-size: $relativeBig
.ts.calendar.huge
    font-size: $relativeHuge
.ts.calendar.massive
    font-size: $relativeMassive