// + Emphasis
.ts.primary.card(style="width: 300px")
    .content
        .header Primary
        .description Description Description Description Description Description Description
.ts.info.card(style="width: 300px")
    .content
        .header Info
        .description Description Description Description Description Description Description
.ts.warning.card(style="width: 300px")
    .content
        .header Warning
        .description Description Description Description Description Description Description
.ts.negative.card(style="width: 300px")
    .content
        .header Negative
        .description Description Description Description Description Description Description
.ts.positive.card(style="width: 300px")
    .content
        .header Positive
        .description Description Description Description Description Description Description
.ts.inverted.card(style="width: 300px")
    .content
        .header Inverted
        .description Description Description Description Description Description Description

// + Inverted Emphasis
.ts.inverted.primary.card(style="width: 300px")
    .content
        .header Primary
        .description Description Description Description Description Description Description
.ts.inverted.info.card(style="width: 300px")
    .content
        .header Info
        .description Description Description Description Description Description Description
.ts.inverted.warning.card(style="width: 300px")
    .content
        .header Warning
        .description Description Description Description Description Description Description
.ts.inverted.negative.card(style="width: 300px")
    .content
        .header Negative
        .description Description Description Description Description Description Description
.ts.inverted.positive.card(style="width: 300px")
    .content
        .header Positive
        .description Description Description Description Description Description Description

// + Header
.ts.card(style="width: 300px")
    .content
        .header Header
        .description Description Description Description Description Description Description
.ts.card(style="width: 300px")
    .content
        .small.header Small Header
        .description Description Description Description Description Description Description

// + Header & Sub Header
.ts.card(style="width: 300px")
    .content
        .header Header
            .sub.header Sub Header
        .description Description Description Description Description Description Description

// + Description
.ts.card(style="width: 300px")
    .content
        .header Header
        .description
            p Description Description Description Description Description Description
            p Description Description Description Description Description Description

// + Meta
.ts.card(style="width: 300px")
    .content
        .header Header
        .meta
            a(href="#!") Item
            a(href="#!") Item
        .description Description Description Description Description Description Description

// + Bulleted Meta
.ts.card(style="width: 300px")
    .content
        .header Header
        .bulleted.meta
            a(href="#!") Item
            a(href="#!") Item
        .description Description Description Description Description Description Description

// + Middoted Meta
.ts.card(style="width: 300px")
    .content
        .header Header
        .middoted.meta
            a(href="#!") Item
            a(href="#!") Item
        .description Description Description Description Description Description Description

// + Meta & Header
.ts.card(style="width: 300px")
    .content
        .header Header
            .sub.header Sub Header
        .meta
            a(href="#!") Item
            a(href="#!") Item
        .description Description Description Description Description Description Description

// + Actions
.ts.card(style="width: 300px")
    .content
        .actions
            .ts.separated.secondary.icon.buttons
                button.ts.button
                    i.share.icon
                button.ts.button
                    i.vertical.ellipsis.icon
        .header Header
        .middoted.meta
            a(href="#!") Item
            a(href="#!") Item
        .description Description Description Description Description Description Description

// + Button Attached
.ts.card(style="width: 300px")
    button.ts.fluid.top.attached.button Top Attached
    .content
        .header Header
        .description Description Description Description Description Description Description
    button.ts.fluid.bottom.attached.button Bottom Attached

// + Attached
.ts.top.attached.card(style="width: 300px")
    .content
        .header Top Attached
        .description Description Description Description Description Description Description
.ts.attached.card(style="width: 300px")
    .content
        .header Attached
        .description Description Description Description Description Description Description
.ts.bottom.attached.card(style="width: 300px")
    .content
        .header Bottom Attached
        .description Description Description Description Description Description Description

// + Opinion
.ts.inverted.primary.card(style="width: 300px")
    .content
        .header Header
        .description Description Description Description Description Description Description
    .ts.fluid.bottom.attached.buttons
        .ts.opinion.button Opinion
        .ts.secondary.opinion.button Secondary Opinion

// + Symbol
.ts.card(style="width: 300px")
    .content
        .header Header
        .description Description Description Description Description Description Description
    .symbol
        i.caution.circle.icon

// + Extra Content
.ts.card(style="width: 300px")
    .content
        .header Header
        .description Description Description Description Description Description Description
    .extra.content
        i.icon.unhide
        | Extra Content

// + Extra Content Emphasis
.ts.card(style="width: 300px")
    .content
        .header Header
        .description Description Description Description Description Description Description
    .extra.content
        i.icon.unhide
        | Extra Content
    .secondary.extra.content
        i.icon.unhide
        | Secondary Extra Content
    .tertiary.extra.content
        i.icon.unhide
        | Tertiary Extra Content

// + Image
.ts.card(style="width: 300px")
    .image
        img(src="../../../assets/images/1-1.png")
    .content Content Content Content Content Content Content Content Content

// + Overlapped
.ts.card(style="width: 300px")
    .image
        img(src="../../../assets/images/1-1.png" style="opacity: 0.2")
    .overlapped.content Content Content Content Content Content Content Content Content

// + Video
.ts.card(style="width: 300px")
    .video
        video(src="http://html5demos.com/assets/dizzy.mp4" autoplay muted loop)
    .content Content Content Content Content Content Content Content Content
.ts.card(style="width: 300px")
    .video
        iframe(src="https://www.youtube.com/embed/vbZBAC3WbTs")
    .content Content Content Content Content Content Content Content Content
.ts.card(style="width: 300px")
    .video
        .ts.active.embed
            video(src="https://www.quirksmode.org/html5/videos/big_buck_bunny.webm" autoplay muted loop)
    .content Content Content Content Content Content Content Content Content

// + Image Header
.ts.card(style="width: 300px")
    .image
        img(src="../../../assets/images/1-1.png")
        .header Header
            .sub.header Sub Header
    .content Content Content Content Content Content Content Content Content