@import ./dimmer.variables

//*******************************//
//              Main
//*******************************//

.ts.dimmer
    display         : flex
    position        : absolute
    left            : 0
    right           : 0
    top             : 0
    bottom          : 0
    z-index         : $z_dimmer
    justify-content : center
    align-items     : center
    background      : $dimmer_background
    transition      : $dimmer_transition
    opacity         : 1

//-------------------//
//       Active
//-------------------//

.ts.dimmer:not(.active)
    opacity       : 0
    pointer-events: none

//-------------------//
//      Inverted
//-------------------//

.ts.inverted.dimmer
    background: $dimmer_invertedBackground

//-------------------//
//     Body Dimmer
//-------------------//

body > .ts.dimmer
    position: fixed
    top     : 0
    left    : 0
    right   : 0
    bottom  : 0

//-------------------//
//      Coupling
//-------------------//

.ts.dimmer.active .ts.loader
    display: block !important

.ts.dimmer .ts.loader.text
    max-width: none

.ts.dimmer:first-child + p
    margin-top: 0