// Font Awesome 5.4.2
@import ./icon.variables

@font-face
    font-family    : 'Icons'
    src            : url("fonts/icons/fa-solid-900.eot")
    src            : url("fonts/icons/fa-solid-900.eot?#iefix") format('embedded-opentype'), url("fonts/icons/fa-solid-900.woff2") format('woff2'), url("fonts/icons/fa-solid-900.woff") format('woff'), url("fonts/icons/fa-solid-900.ttf") format('truetype'), url("fonts/icons/fa-solid-900.svg#fontawesome") format('svg')
    font-style     : normal
    font-weight    : normal
    font-variant   : normal
    text-decoration: inherit
    text-transform : none

@font-face
    font-family    : 'IconsBrands'
    src            : url("fonts/icons/fa-brands-400.eot")
    src            : url("fonts/icons/fa-brands-400.eot?#iefix") format('embedded-opentype'), url("fonts/icons/fa-brands-400.woff2") format('woff2'), url("fonts/icons/fa-brands-400.woff") format('woff'), url("fonts/icons/fa-brands-400.ttf") format('truetype'), url("fonts/icons/fa-brands-400.svg#fontawesome") format('svg')
    font-style     : normal
    font-weight    : normal
    font-variant   : normal
    text-decoration: inherit
    text-transform : none

@font-face
    font-family    : 'IconsRegular'
    src            : url("fonts/icons/fa-regular-400.eot")
    src            : url("fonts/icons/fa-regular-400.eot?#iefix") format('embedded-opentype'), url("fonts/icons/fa-regular-400.woff2") format('woff2'), url("fonts/icons/fa-regular-400.woff") format('woff'), url("fonts/icons/fa-regular-400.ttf") format('truetype'), url("fonts/icons/fa-regular-400.svg#fontawesome") format('svg')
    font-style     : normal
    font-weight    : normal
    font-variant   : normal
    text-decoration: inherit
    text-transform : none

@font-face
    font-family    : 'IconsLight'
    src            : url("fonts/icons/fa-light-300.eot")
    src            : url("fonts/icons/fa-light-300.eot?#iefix") format('embedded-opentype'), url("fonts/icons/fa-light-300.woff2") format('woff2'), url("fonts/icons/fa-light-300.woff") format('woff'), url("fonts/icons/fa-light-300.ttf") format('truetype'), url("fonts/icons/fa-light-300.svg#fontawesome") format('svg')
    font-style     : normal
    font-weight    : normal
    font-variant   : normal
    text-decoration: inherit
    text-transform : none

//*******************************//
//              Main
//*******************************//

i.icon
    display: inline-block
    opacity: 1

    margin: 0em 0.35rem 0em 0em

    min-width      : $icon_width
    width          : $icon_width
    height         : $icon_height
    line-height    : 1em
    font-family    : 'Icons'
    font-style     : normal
    font-weight    : normal
    text-decoration: inherit
    text-align     : center

    speak                  : none
    font-smoothing         : antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing : antialiased
    backface-visibility    : hidden

i.icon:before
    background: none !important

//-------------------//
//       Sizes
//-------------------//

i.mini.icon,
i.mini.icons,
.ts.button i.mini.icon:before
    line-height: 1
    font-size: $icon_mini

i.tiny.icon,
i.tiny.icons,
.ts.button i.tiny.icon:before
    line-height: 1
    font-size: $icon_tiny

i.small.icon,
i.small.icons,
.ts.button i.small.icon:before
    line-height: 1
    font-size: $icon_small

i.icon,
i.icons
    font-size: $icon_medium

i.large.icon,
i.large.icons,
.ts.button i.large.icon:before
    line-height: 1
    vertical-align: middle
    font-size: $icon_large

i.big.icon,
i.big.icons,
.ts.button i.big.icon:before
    line-height: 1
    vertical-align: middle
    font-size: $icon_big

i.huge.icon,
i.huge.icons,
.ts.button i.huge.icon:before
    line-height: 1
    vertical-align: middle
    font-size: $icon_huge

i.massive.icon,
i.massive.icons,
.ts.button i.massive.icon:before
    line-height: 1
    vertical-align: middle
    font-size: $icon_massive

//-------------------//
//       Fitted
//-------------------//

i.icon.fitted
    width : auto
    margin: 0em !important

//-------------------//
//      Disabled
//-------------------//

i.icons.disabled .icon,
i.icon.disabled
    opacity: $disabledOpacity

//-------------------//
//      Loading
//-------------------//

i.icon.loading:not(.truck)
    height     : 1em
    line-height: 1
    animation  : icon-loading $icon_loadingDuration linear infinite

i.icon.loading:not(.truck).ease
    animation  : icon-loading $icon_loadingEaseDuration cubic-bezier(0.645, 0.045, 0.355, 1) infinite

@keyframes icon-loading
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

//-------------------//
// Circular & Rounded
//-------------------//

i.circular.icon,
i.rounded.icon,
.ts.items > .item > .icon:not(.inverted)
    display        : inline-flex
    align-items    : center
    justify-content: center
    border-radius  : 500em !important
    line-height    : 1     !important
    box-sizing     : border-box

    padding   : $icon_circularPadding !important
    box-shadow: $icon_circularShadow

    width : $icon_circularSize !important
    height: $icon_circularSize !important

i.circular.inverted.icon,
i.bordered.inverted.icon,
i.rounded.inverted.icon,
.ts.items > .item > .icon:not(.inverted)
    border          : none
    box-shadow      : none
    background: $icon_basicInvertedBackgroundColor


i.rounded.icon,
.ts.items > .item > .icon:not(.inverted)
    border-radius: $icon_borderRadius !important

//-------------------//
//       Colors
//-------------------//

i.primary.icons .icon,
i.primary.icon
    color: $icon_primaryTextColor !important
i.info.icons .icon,
i.info.icon
    color: $icon_infoTextColor !important
i.warning.icons .icon,
i.warning.icon
    color: $icon_warningTextColor !important
i.positive.icons .icon,
i.positive.icon
    color: $icon_positiveTextColor !important
i.negative.icons .icon,
i.negative.icon
    color: $icon_negativeTextColor !important
i.inverted.icons .icon,
i.inverted.icon
    color: $icon_invertedTextColor !important

//-------------------//
//  Inverted Colors
//-------------------//

i.inverted.primary.icons .icon,
i.inverted.primary.icon
    background: $icon_invertedPrimaryBackgroundColor !important
    color     : $icon_invertedPrimaryTextColor       !important
i.inverted.info.icons .icon,
i.inverted.info.icon
    background: $icon_invertedInfoBackgroundColor !important
    color     : $icon_invertedInfoTextColor       !important
i.inverted.warning.icons .icon,
i.inverted.warning.icon
    background: $icon_invertedWarningBackgroundColor !important
    color     : $icon_invertedWarningTextColor       !important
i.inverted.negative.icons .icon,
i.inverted.negative.icon
    background: $icon_invertedNegativeBackgroundColor !important
    color     : $icon_invertedNegativeTextColor       !important
i.inverted.positive.icons .icon,
i.inverted.positive.icon
    background: $icon_invertedPositiveBackgroundColor !important
    color     : $icon_invertedPositiveTextColor       !important

//-------------------//
//      Flipped
//-------------------//

i.flipped.icon,
i.horizontally.flipped.icon
    transform: scale(-1, 1)

i.vertically.flipped.icon
    transform: scale(1, -1)

//-------------------//
//      Bordered
//-------------------//

i.bordered.icon
    line-height   : 1
    vertical-align: baseline
    box-sizing    : border-box

    width     : $icon_borderedSize !important
    height    : $icon_borderedSize !important
    padding   : $icon_borderedVerticalPadding $icon_borderedHorizontalPadding !important
    box-shadow: $icon_borderedShadow

i.bordered.inverted.icon
    border    : none
    box-shadow: none

//-------------------//
//      Rotated
//-------------------//

i.rotated.icon,
i.right.rotated.icon,
i.clockwise.rotated.icon
    transform: rotate(90deg)

i.left.rotated.icon,
i.counterclockwise.rotated.icon
    transform: rotate(-90deg)

//*******************************//
//           Icon Group
//*******************************//

i.icons
    display    : inline-block
    position   : relative
    line-height: 1

i.icons .icon
    position : absolute
    top      : 50%
    left     : 50%
    transform: translateX(-50%) translateY(-50%)
    margin   : 0

i.icons .icon:first-child
    position      : static
    width         : auto
    height        : auto
    vertical-align: top
    transform     : none

//-------------------//
//       Corner
//-------------------//

i.icons .corner.icon
    top        : auto
    left       : auto
    right      : 0
    bottom     : 0
    transform  : none
    font-size  : $icon_cornerIconSize
    text-shadow: $icon_cornerIconTextShadow

i.icons .inverted.corner.icon
    text-shadow: $icon_cornerIconInvertedTextShadow

//
// .warning.icon -> .caution.icon
// .info.circle.icon -> .notice.circle.icon
// .info.icon -> .notice.icon
//

//*******************************//
//              Types
//*******************************//

%brands
    font-family: 'IconsBrands'

%outline
    font-family: 'IconsRegular'

i.outline.icon:before,
i.regular.icon:before
    +extend(outline)

i.light.icon:before
    font-family: 'IconsLight'


//*******************************//
//              Icons
//*******************************//

// DO NOT EDIT AFTER THIS LINE (不要編輯此線之後的樣式)


// DO NOT EDIT BEFORE THIS LINE (不要編輯此線之前的樣式)

i.\35 00px.icon:before
    content: "\f26e"
i.accessible.icon.icon:before
    content: "\f368"
i.accusoft.icon:before
    content: "\f369"
i.address.book.icon:before
    content: "\f2b9"
i.address.card.icon:before
    content: "\f2bb"
i.adjust.icon:before
    content: "\f042"
i.adn.icon:before
    content: "\f170"
i.adversal.icon:before
    content: "\f36a"
i.affiliatetheme.icon:before
    content: "\f36b"
i.algolia.icon:before
    content: "\f36c"
i.align.center.icon:before
    content: "\f037"
i.align.justify.icon:before
    content: "\f039"
i.align.left.icon:before
    content: "\f036"
i.align.right.icon:before
    content: "\f038"
i.allergies.icon:before
    content: "\f461"
i.amazon.icon:before
    content: "\f270"
i.amazon.pay.icon:before
    content: "\f42c"
i.ambulance.icon:before
    content: "\f0f9"
i.american.sign.language.interpreting.icon:before
    content: "\f2a3"
i.amilia.icon:before
    content: "\f36d"
i.anchor.icon:before
    content: "\f13d"
i.android.icon:before
    content: "\f17b"
i.angellist.icon:before
    content: "\f209"
i.angle.double.down.icon:before
    content: "\f103"
i.angle.double.left.icon:before
    content: "\f100"
i.angle.double.right.icon:before
    content: "\f101"
i.angle.double.up.icon:before
    content: "\f102"
i.angle.down.icon:before
    content: "\f107"
i.angle.left.icon:before
    content: "\f104"
i.angle.right.icon:before
    content: "\f105"
i.angle.up.icon:before
    content: "\f106"
i.angry.icon:before
    content: "\f556"
i.angrycreative.icon:before
    content: "\f36e"
i.angular.icon:before
    content: "\f420"
i.app.store.icon:before
    content: "\f36f"
i.app.store.ios.icon:before
    content: "\f370"
i.apper.icon:before
    content: "\f371"
i.apple.icon:before
    content: "\f179"
i.apple.pay.icon:before
    content: "\f415"
i.archive.icon:before
    content: "\f187"
i.archway.icon:before
    content: "\f557"
i.arrow.alt.circle.down.icon:before
    content: "\f358"
i.arrow.alt.circle.left.icon:before
    content: "\f359"
i.arrow.alt.circle.right.icon:before
    content: "\f35a"
i.arrow.alt.circle.up.icon:before
    content: "\f35b"
i.arrow.circle.down.icon:before
    content: "\f0ab"
i.arrow.circle.left.icon:before
    content: "\f0a8"
i.arrow.circle.right.icon:before
    content: "\f0a9"
i.arrow.circle.up.icon:before
    content: "\f0aa"
i.arrow.down.icon:before
    content: "\f063"
i.arrow.left.icon:before
    content: "\f060"
i.arrow.right.icon:before
    content: "\f061"
i.arrow.up.icon:before
    content: "\f062"
i.arrows.alt.icon:before
    content: "\f0b2"
i.arrows.alt.h.icon:before
    content: "\f337"
i.arrows.alt.v.icon:before
    content: "\f338"
i.assistive.listening.systems.icon:before
    content: "\f2a2"
i.asterisk.icon:before
    content: "\f069"
i.asymmetrik.icon:before
    content: "\f372"
i.at.icon:before
    content: "\f1fa"
i.atlas.icon:before
    content: "\f558"
i.audible.icon:before
    content: "\f373"
i.audio.description.icon:before
    content: "\f29e"
i.autoprefixer.icon:before
    content: "\f41c"
i.avianex.icon:before
    content: "\f374"
i.aviato.icon:before
    content: "\f421"
i.award.icon:before
    content: "\f559"
i.aws.icon:before
    content: "\f375"
i.backspace.icon:before
    content: "\f55a"
i.backward.icon:before
    content: "\f04a"
i.balance.scale.icon:before
    content: "\f24e"
i.ban.icon:before
    content: "\f05e"
i.band.aid.icon:before
    content: "\f462"
i.bandcamp.icon:before
    content: "\f2d5"
i.barcode.icon:before
    content: "\f02a"
i.bars.icon:before
    content: "\f0c9"
i.baseball.ball.icon:before
    content: "\f433"
i.basketball.ball.icon:before
    content: "\f434"
i.bath.icon:before
    content: "\f2cd"
i.battery.empty.icon:before
    content: "\f244"
i.battery.full.icon:before
    content: "\f240"
i.battery.half.icon:before
    content: "\f242"
i.battery.quarter.icon:before
    content: "\f243"
i.battery.three.quarters.icon:before
    content: "\f241"
i.bed.icon:before
    content: "\f236"
i.beer.icon:before
    content: "\f0fc"
i.behance.icon:before
    content: "\f1b4"
i.behance.square.icon:before
    content: "\f1b5"
i.bell.icon:before
    content: "\f0f3"
i.bell.slash.icon:before
    content: "\f1f6"
i.bezier.curve.icon:before
    content: "\f55b"
i.bicycle.icon:before
    content: "\f206"
i.bimobject.icon:before
    content: "\f378"
i.binoculars.icon:before
    content: "\f1e5"
i.birthday.cake.icon:before
    content: "\f1fd"
i.bitbucket.icon:before
    content: "\f171"
i.bitcoin.icon:before
    content: "\f379"
i.bity.icon:before
    content: "\f37a"
i.black.tie.icon:before
    content: "\f27e"
i.blackberry.icon:before
    content: "\f37b"
i.blender.icon:before
    content: "\f517"
i.blind.icon:before
    content: "\f29d"
i.blogger.icon:before
    content: "\f37c"
i.blogger.b.icon:before
    content: "\f37d"
i.bluetooth.icon:before
    content: "\f293"
i.bluetooth.b.icon:before
    content: "\f294"
i.bold.icon:before
    content: "\f032"
i.bolt.icon:before
    content: "\f0e7"
i.bomb.icon:before
    content: "\f1e2"
i.bong.icon:before
    content: "\f55c"
i.book.icon:before
    content: "\f02d"
i.book.open.icon:before
    content: "\f518"
i.bookmark.icon:before
    content: "\f02e"
i.bowling.ball.icon:before
    content: "\f436"
i.box.icon:before
    content: "\f466"
i.box.open.icon:before
    content: "\f49e"
i.boxes.icon:before
    content: "\f468"
i.braille.icon:before
    content: "\f2a1"
i.briefcase.icon:before
    content: "\f0b1"
i.briefcase.medical.icon:before
    content: "\f469"
i.broadcast.tower.icon:before
    content: "\f519"
i.broom.icon:before
    content: "\f51a"
i.brush.icon:before
    content: "\f55d"
i.btc.icon:before
    content: "\f15a"
i.bug.icon:before
    content: "\f188"
i.building.icon:before
    content: "\f1ad"
i.bullhorn.icon:before
    content: "\f0a1"
i.bullseye.icon:before
    content: "\f140"
i.burn.icon:before
    content: "\f46a"
i.buromobelexperte.icon:before
    content: "\f37f"
i.bus.icon:before
    content: "\f207"
i.bus.alt.icon:before
    content: "\f55e"
i.buysellads.icon:before
    content: "\f20d"
i.calculator.icon:before
    content: "\f1ec"
i.calendar.icon:before
    content: "\f133"
i.calendar.alt.icon:before
    content: "\f073"
i.calendar.check.icon:before
    content: "\f274"
i.calendar.minus.icon:before
    content: "\f272"
i.calendar.plus.icon:before
    content: "\f271"
i.calendar.times.icon:before
    content: "\f273"
i.camera.icon:before
    content: "\f030"
i.camera.retro.icon:before
    content: "\f083"
i.cannabis.icon:before
    content: "\f55f"
i.capsules.icon:before
    content: "\f46b"
i.car.icon:before
    content: "\f1b9"
i.caret.down.icon:before
    content: "\f0d7"
i.caret.left.icon:before
    content: "\f0d9"
i.caret.right.icon:before
    content: "\f0da"
i.caret.square.down.icon:before
    content: "\f150"
i.caret.square.left.icon:before
    content: "\f191"
i.caret.square.right.icon:before
    content: "\f152"
i.caret.square.up.icon:before
    content: "\f151"
i.caret.up.icon:before
    content: "\f0d8"
i.cart.arrow.down.icon:before
    content: "\f218"
i.cart.plus.icon:before
    content: "\f217"
i.cc.amazon.pay.icon:before
    content: "\f42d"
i.cc.amex.icon:before
    content: "\f1f3"
i.cc.apple.pay.icon:before
    content: "\f416"
i.cc.diners.club.icon:before
    content: "\f24c"
i.cc.discover.icon:before
    content: "\f1f2"
i.cc.jcb.icon:before
    content: "\f24b"
i.cc.mastercard.icon:before
    content: "\f1f1"
i.cc.paypal.icon:before
    content: "\f1f4"
i.cc.stripe.icon:before
    content: "\f1f5"
i.cc.visa.icon:before
    content: "\f1f0"
i.centercode.icon:before
    content: "\f380"
i.certificate.icon:before
    content: "\f0a3"
i.chalkboard.icon:before
    content: "\f51b"
i.chalkboard.teacher.icon:before
    content: "\f51c"
i.chart.area.icon:before
    content: "\f1fe"
i.chart.bar.icon:before
    content: "\f080"
i.chart.line.icon:before
    content: "\f201"
i.chart.pie.icon:before
    content: "\f200"
i.check.icon:before
    content: "\f00c"
i.check.circle.icon:before
    content: "\f058"
i.check.double.icon:before
    content: "\f560"
i.check.square.icon:before
    content: "\f14a"
i.chess.icon:before
    content: "\f439"
i.chess.bishop.icon:before
    content: "\f43a"
i.chess.board.icon:before
    content: "\f43c"
i.chess.king.icon:before
    content: "\f43f"
i.chess.knight.icon:before
    content: "\f441"
i.chess.pawn.icon:before
    content: "\f443"
i.chess.queen.icon:before
    content: "\f445"
i.chess.rook.icon:before
    content: "\f447"
i.chevron.circle.down.icon:before
    content: "\f13a"
i.chevron.circle.left.icon:before
    content: "\f137"
i.chevron.circle.right.icon:before
    content: "\f138"
i.chevron.circle.up.icon:before
    content: "\f139"
i.chevron.down.icon:before
    content: "\f078"
i.chevron.left.icon:before
    content: "\f053"
i.chevron.right.icon:before
    content: "\f054"
i.chevron.up.icon:before
    content: "\f077"
i.child.icon:before
    content: "\f1ae"
i.chrome.icon:before
    content: "\f268"
i.church.icon:before
    content: "\f51d"
i.circle.icon:before
    content: "\f111"
i.circle.notch.icon:before
    content: "\f1ce"
i.clipboard.icon:before
    content: "\f328"
i.clipboard.check.icon:before
    content: "\f46c"
i.clipboard.list.icon:before
    content: "\f46d"
i.clock.icon:before
    content: "\f017"
i.clone.icon:before
    content: "\f24d"
i.closed.captioning.icon:before
    content: "\f20a"
i.cloud.icon:before
    content: "\f0c2"
i.cloud.download.alt.icon:before
    content: "\f381"
i.cloud.upload.alt.icon:before
    content: "\f382"
i.cloudscale.icon:before
    content: "\f383"
i.cloudsmith.icon:before
    content: "\f384"
i.cloudversify.icon:before
    content: "\f385"
i.cocktail.icon:before
    content: "\f561"
i.code.icon:before
    content: "\f121"
i.code.branch.icon:before
    content: "\f126"
i.codepen.icon:before
    content: "\f1cb"
i.codiepie.icon:before
    content: "\f284"
i.coffee.icon:before
    content: "\f0f4"
i.cog.icon:before
    content: "\f013"
i.cogs.icon:before
    content: "\f085"
i.coins.icon:before
    content: "\f51e"
i.columns.icon:before
    content: "\f0db"
i.comment.icon:before
    content: "\f075"
i.comment.alt.icon:before
    content: "\f27a"
i.comment.dots.icon:before
    content: "\f4ad"
i.comment.slash.icon:before
    content: "\f4b3"
i.comments.icon:before
    content: "\f086"
i.compact.disc.icon:before
    content: "\f51f"
i.compass.icon:before
    content: "\f14e"
i.compress.icon:before
    content: "\f066"
i.concierge.bell.icon:before
    content: "\f562"
i.connectdevelop.icon:before
    content: "\f20e"
i.contao.icon:before
    content: "\f26d"
i.cookie.icon:before
    content: "\f563"
i.cookie.bite.icon:before
    content: "\f564"
i.copy.icon:before
    content: "\f0c5"
i.copyright.icon:before
    content: "\f1f9"
i.couch.icon:before
    content: "\f4b8"
i.cpanel.icon:before
    content: "\f388"
i.creative.commons.icon:before
    content: "\f25e"
i.creative.commons.by.icon:before
    content: "\f4e7"
i.creative.commons.nc.icon:before
    content: "\f4e8"
i.creative.commons.nc.eu.icon:before
    content: "\f4e9"
i.creative.commons.nc.jp.icon:before
    content: "\f4ea"
i.creative.commons.nd.icon:before
    content: "\f4eb"
i.creative.commons.pd.icon:before
    content: "\f4ec"
i.creative.commons.pd.alt.icon:before
    content: "\f4ed"
i.creative.commons.remix.icon:before
    content: "\f4ee"
i.creative.commons.sa.icon:before
    content: "\f4ef"
i.creative.commons.sampling.icon:before
    content: "\f4f0"
i.creative.commons.sampling.plus.icon:before
    content: "\f4f1"
i.creative.commons.share.icon:before
    content: "\f4f2"
i.credit.card.icon:before
    content: "\f09d"
i.crop.icon:before
    content: "\f125"
i.crop.alt.icon:before
    content: "\f565"
i.crosshairs.icon:before
    content: "\f05b"
i.crow.icon:before
    content: "\f520"
i.crown.icon:before
    content: "\f521"
i.css3.icon:before
    content: "\f13c"
i.css3.alt.icon:before
    content: "\f38b"
i.cube.icon:before
    content: "\f1b2"
i.cubes.icon:before
    content: "\f1b3"
i.cut.icon:before
    content: "\f0c4"
i.cuttlefish.icon:before
    content: "\f38c"
i.d.and.d.icon:before
    content: "\f38d"
i.dashcube.icon:before
    content: "\f210"
i.database.icon:before
    content: "\f1c0"
i.deaf.icon:before
    content: "\f2a4"
i.delicious.icon:before
    content: "\f1a5"
i.deploydog.icon:before
    content: "\f38e"
i.deskpro.icon:before
    content: "\f38f"
i.desktop.icon:before
    content: "\f108"
i.deviantart.icon:before
    content: "\f1bd"
i.diagnoses.icon:before
    content: "\f470"
i.dice.icon:before
    content: "\f522"
i.dice.five.icon:before
    content: "\f523"
i.dice.four.icon:before
    content: "\f524"
i.dice.one.icon:before
    content: "\f525"
i.dice.six.icon:before
    content: "\f526"
i.dice.three.icon:before
    content: "\f527"
i.dice.two.icon:before
    content: "\f528"
i.digg.icon:before
    content: "\f1a6"
i.digital.ocean.icon:before
    content: "\f391"
i.digital.tachograph.icon:before
    content: "\f566"
i.discord.icon:before
    content: "\f392"
i.discourse.icon:before
    content: "\f393"
i.divide.icon:before
    content: "\f529"
i.dizzy.icon:before
    content: "\f567"
i.dna.icon:before
    content: "\f471"
i.dochub.icon:before
    content: "\f394"
i.docker.icon:before
    content: "\f395"
i.dollar.sign.icon:before
    content: "\f155"
i.dolly.icon:before
    content: "\f472"
i.dolly.flatbed.icon:before
    content: "\f474"
i.donate.icon:before
    content: "\f4b9"
i.door.closed.icon:before
    content: "\f52a"
i.door.open.icon:before
    content: "\f52b"
i.dot.circle.icon:before
    content: "\f192"
i.dove.icon:before
    content: "\f4ba"
i.download.icon:before
    content: "\f019"
i.draft2digital.icon:before
    content: "\f396"
i.drafting.compass.icon:before
    content: "\f568"
i.dribbble.icon:before
    content: "\f17d"
i.dribbble.square.icon:before
    content: "\f397"
i.dropbox.icon:before
    content: "\f16b"
i.drum.icon:before
    content: "\f569"
i.drum.steelpan.icon:before
    content: "\f56a"
i.drupal.icon:before
    content: "\f1a9"
i.dumbbell.icon:before
    content: "\f44b"
i.dyalog.icon:before
    content: "\f399"
i.earlybirds.icon:before
    content: "\f39a"
i.ebay.icon:before
    content: "\f4f4"
i.edge.icon:before
    content: "\f282"
i.edit.icon:before
    content: "\f044"
i.eject.icon:before
    content: "\f052"
i.elementor.icon:before
    content: "\f430"
i.ellipsis.h.icon:before
    content: "\f141"
i.ellipsis.v.icon:before
    content: "\f142"
i.ember.icon:before
    content: "\f423"
i.empire.icon:before
    content: "\f1d1"
i.envelope.icon:before
    content: "\f0e0"
i.envelope.open.icon:before
    content: "\f2b6"
i.envelope.square.icon:before
    content: "\f199"
i.envira.icon:before
    content: "\f299"
i.equals.icon:before
    content: "\f52c"
i.eraser.icon:before
    content: "\f12d"
i.erlang.icon:before
    content: "\f39d"
i.ethereum.icon:before
    content: "\f42e"
i.etsy.icon:before
    content: "\f2d7"
i.euro.sign.icon:before
    content: "\f153"
i.exchange.alt.icon:before
    content: "\f362"
i.exclamation.icon:before
    content: "\f12a"
i.exclamation.circle.icon:before
    content: "\f06a"
i.exclamation.triangle.icon:before
    content: "\f071"
i.expand.icon:before
    content: "\f065"
i.expand.arrows.alt.icon:before
    content: "\f31e"
i.expeditedssl.icon:before
    content: "\f23e"
i.external.link.alt.icon:before
    content: "\f35d"
i.external.link.square.alt.icon:before
    content: "\f360"
i.eye.icon:before
    content: "\f06e"
i.eye.dropper.icon:before
    content: "\f1fb"
i.eye.slash.icon:before
    content: "\f070"
i.facebook.icon:before
    content: "\f09a"
i.facebook.f.icon:before
    content: "\f39e"
i.facebook.messenger.icon:before
    content: "\f39f"
i.facebook.square.icon:before
    content: "\f082"
i.fast.backward.icon:before
    content: "\f049"
i.fast.forward.icon:before
    content: "\f050"
i.fax.icon:before
    content: "\f1ac"
i.feather.icon:before
    content: "\f52d"
i.feather.alt.icon:before
    content: "\f56b"
i.female.icon:before
    content: "\f182"
i.fighter.jet.icon:before
    content: "\f0fb"
i.file.icon:before
    content: "\f15b"
i.file.alt.icon:before
    content: "\f15c"
i.file.archive.icon:before
    content: "\f1c6"
i.file.audio.icon:before
    content: "\f1c7"
i.file.code.icon:before
    content: "\f1c9"
i.file.contract.icon:before
    content: "\f56c"
i.file.download.icon:before
    content: "\f56d"
i.file.excel.icon:before
    content: "\f1c3"
i.file.export.icon:before
    content: "\f56e"
i.file.image.icon:before
    content: "\f1c5"
i.file.import.icon:before
    content: "\f56f"
i.file.invoice.icon:before
    content: "\f570"
i.file.invoice.dollar.icon:before
    content: "\f571"
i.file.medical.icon:before
    content: "\f477"
i.file.medical.alt.icon:before
    content: "\f478"
i.file.pdf.icon:before
    content: "\f1c1"
i.file.powerpoint.icon:before
    content: "\f1c4"
i.file.prescription.icon:before
    content: "\f572"
i.file.signature.icon:before
    content: "\f573"
i.file.upload.icon:before
    content: "\f574"
i.file.video.icon:before
    content: "\f1c8"
i.file.word.icon:before
    content: "\f1c2"
i.fill.icon:before
    content: "\f575"
i.fill.drip.icon:before
    content: "\f576"
i.film.icon:before
    content: "\f008"
i.filter.icon:before
    content: "\f0b0"
i.fingerprint.icon:before
    content: "\f577"
i.fire.icon:before
    content: "\f06d"
i.fire.extinguisher.icon:before
    content: "\f134"
i.firefox.icon:before
    content: "\f269"
i.first.aid.icon:before
    content: "\f479"
i.first.order.icon:before
    content: "\f2b0"
i.first.order.alt.icon:before
    content: "\f50a"
i.firstdraft.icon:before
    content: "\f3a1"
i.fish.icon:before
    content: "\f578"
i.flag.icon:before
    content: "\f024"
i.flag.checkered.icon:before
    content: "\f11e"
i.flask.icon:before
    content: "\f0c3"
i.flickr.icon:before
    content: "\f16e"
i.flipboard.icon:before
    content: "\f44d"
i.flushed.icon:before
    content: "\f579"
i.fly.icon:before
    content: "\f417"
i.folder.icon:before
    content: "\f07b"
i.folder.open.icon:before
    content: "\f07c"
i.font.icon:before
    content: "\f031"
i.font.awesome.icon:before
    content: "\f2b4"
i.font.awesome.alt.icon:before
    content: "\f35c"
i.font.awesome.flag.icon:before
    content: "\f425"
i.font.awesome.logo.full.icon:before
    content: "\f4e6"
i.fonticons.icon:before
    content: "\f280"
i.fonticons.fi.icon:before
    content: "\f3a2"
i.football.ball.icon:before
    content: "\f44e"
i.fort.awesome.icon:before
    content: "\f286"
i.fort.awesome.alt.icon:before
    content: "\f3a3"
i.forumbee.icon:before
    content: "\f211"
i.forward.icon:before
    content: "\f04e"
i.foursquare.icon:before
    content: "\f180"
i.free.code.camp.icon:before
    content: "\f2c5"
i.freebsd.icon:before
    content: "\f3a4"
i.frog.icon:before
    content: "\f52e"
i.frown.icon:before
    content: "\f119"
i.frown.open.icon:before
    content: "\f57a"
i.fulcrum.icon:before
    content: "\f50b"
i.futbol.icon:before
    content: "\f1e3"
i.galactic.republic.icon:before
    content: "\f50c"
i.galactic.senate.icon:before
    content: "\f50d"
i.gamepad.icon:before
    content: "\f11b"
i.gas.pump.icon:before
    content: "\f52f"
i.gavel.icon:before
    content: "\f0e3"
i.gem.icon:before
    content: "\f3a5"
i.genderless.icon:before
    content: "\f22d"
i.get.pocket.icon:before
    content: "\f265"
i.gg.icon:before
    content: "\f260"
i.gg.circle.icon:before
    content: "\f261"
i.gift.icon:before
    content: "\f06b"
i.git.icon:before
    content: "\f1d3"
i.git.square.icon:before
    content: "\f1d2"
i.github.icon:before
    content: "\f09b"
i.github.alt.icon:before
    content: "\f113"
i.github.square.icon:before
    content: "\f092"
i.gitkraken.icon:before
    content: "\f3a6"
i.gitlab.icon:before
    content: "\f296"
i.gitter.icon:before
    content: "\f426"
i.glass.martini.icon:before
    content: "\f000"
i.glass.martini.alt.icon:before
    content: "\f57b"
i.glasses.icon:before
    content: "\f530"
i.glide.icon:before
    content: "\f2a5"
i.glide.g.icon:before
    content: "\f2a6"
i.globe.icon:before
    content: "\f0ac"
i.globe.africa.icon:before
    content: "\f57c"
i.globe.americas.icon:before
    content: "\f57d"
i.globe.asia.icon:before
    content: "\f57e"
i.gofore.icon:before
    content: "\f3a7"
i.golf.ball.icon:before
    content: "\f450"
i.goodreads.icon:before
    content: "\f3a8"
i.goodreads.g.icon:before
    content: "\f3a9"
i.google.icon:before
    content: "\f1a0"
i.google.drive.icon:before
    content: "\f3aa"
i.google.play.icon:before
    content: "\f3ab"
i.google.plus.square.icon:before
    content: "\f0d4"
i.google.wallet.icon:before
    content: "\f1ee"
i.graduation.cap.icon:before
    content: "\f19d"
i.gratipay.icon:before
    content: "\f184"
i.grav.icon:before
    content: "\f2d6"
i.greater.than.icon:before
    content: "\f531"
i.greater.than.equal.icon:before
    content: "\f532"
i.grimace.icon:before
    content: "\f57f"
i.grin.icon:before
    content: "\f580"
i.grin.alt.icon:before
    content: "\f581"
i.grin.beam.icon:before
    content: "\f582"
i.grin.beam.sweat.icon:before
    content: "\f583"
i.grin.hearts.icon:before
    content: "\f584"
i.grin.squint.icon:before
    content: "\f585"
i.grin.squint.tears.icon:before
    content: "\f586"
i.grin.stars.icon:before
    content: "\f587"
i.grin.tears.icon:before
    content: "\f588"
i.grin.tongue.icon:before
    content: "\f589"
i.grin.tongue.squint.icon:before
    content: "\f58a"
i.grin.tongue.wink.icon:before
    content: "\f58b"
i.grin.wink.icon:before
    content: "\f58c"
i.grip.horizontal.icon:before
    content: "\f58d"
i.grip.vertical.icon:before
    content: "\f58e"
i.gripfire.icon:before
    content: "\f3ac"
i.grunt.icon:before
    content: "\f3ad"
i.gulp.icon:before
    content: "\f3ae"
i.h.square.icon:before
    content: "\f0fd"
i.hacker.news.icon:before
    content: "\f1d4"
i.hacker.news.square.icon:before
    content: "\f3af"
i.hand.holding.icon:before
    content: "\f4bd"
i.hand.holding.heart.icon:before
    content: "\f4be"
i.hand.holding.usd.icon:before
    content: "\f4c0"
i.hand.lizard.icon:before
    content: "\f258"
i.hand.paper.icon:before
    content: "\f256"
i.hand.peace.icon:before
    content: "\f25b"
i.hand.point.down.icon:before
    content: "\f0a7"
i.hand.point.left.icon:before
    content: "\f0a5"
i.hand.point.right.icon:before
    content: "\f0a4"
i.hand.point.up.icon:before
    content: "\f0a6"
i.hand.pointer.icon:before
    content: "\f25a"
i.hand.rock.icon:before
    content: "\f255"
i.hand.scissors.icon:before
    content: "\f257"
i.hand.spock.icon:before
    content: "\f259"
i.hands.icon:before
    content: "\f4c2"
i.hands.helping.icon:before
    content: "\f4c4"
i.handshake.icon:before
    content: "\f2b5"
i.hashtag.icon:before
    content: "\f292"
i.hdd.icon:before
    content: "\f0a0"
i.heading.icon:before
    content: "\f1dc"
i.headphones.icon:before
    content: "\f025"
i.headphones.alt.icon:before
    content: "\f58f"
i.headset.icon:before
    content: "\f590"
i.heart.icon:before
    content: "\f004"
i.heartbeat.icon:before
    content: "\f21e"
i.helicopter.icon:before
    content: "\f533"
i.highlighter.icon:before
    content: "\f591"
i.hips.icon:before
    content: "\f452"
i.hire.a.helper.icon:before
    content: "\f3b0"
i.history.icon:before
    content: "\f1da"
i.hockey.puck.icon:before
    content: "\f453"
i.home.icon:before
    content: "\f015"
i.hooli.icon:before
    content: "\f427"
i.hornbill.icon:before
    content: "\f592"
i.hospital.icon:before
    content: "\f0f8"
i.hospital.alt.icon:before
    content: "\f47d"
i.hospital.symbol.icon:before
    content: "\f47e"
i.hot.tub.icon:before
    content: "\f593"
i.hotel.icon:before
    content: "\f594"
i.hotjar.icon:before
    content: "\f3b1"
i.hourglass.icon:before
    content: "\f254"
i.hourglass.end.icon:before
    content: "\f253"
i.hourglass.half.icon:before
    content: "\f252"
i.hourglass.start.icon:before
    content: "\f251"
i.houzz.icon:before
    content: "\f27c"
i.html5.icon:before
    content: "\f13b"
i.hubspot.icon:before
    content: "\f3b2"
i.i.cursor.icon:before
    content: "\f246"
i.id.badge.icon:before
    content: "\f2c1"
i.id.card.icon:before
    content: "\f2c2"
i.id.card.alt.icon:before
    content: "\f47f"
i.image.icon:before
    content: "\f03e"
i.images.icon:before
    content: "\f302"
i.imdb.icon:before
    content: "\f2d8"
i.inbox.icon:before
    content: "\f01c"
i.indent.icon:before
    content: "\f03c"
i.industry.icon:before
    content: "\f275"
i.infinity.icon:before
    content: "\f534"
i.info.icon:before
    content: "\f129"
i.info.circle.icon:before
    content: "\f05a"
i.instagram.icon:before
    content: "\f16d"
i.internet.explorer.icon:before
    content: "\f26b"
i.ioxhost.icon:before
    content: "\f208"
i.italic.icon:before
    content: "\f033"
i.itunes.icon:before
    content: "\f3b4"
i.itunes.note.icon:before
    content: "\f3b5"
i.java.icon:before
    content: "\f4e4"
i.jedi.order.icon:before
    content: "\f50e"
i.jenkins.icon:before
    content: "\f3b6"
i.joget.icon:before
    content: "\f3b7"
i.joint.icon:before
    content: "\f595"
i.joomla.icon:before
    content: "\f1aa"
i.js.icon:before
    content: "\f3b8"
i.js.square.icon:before
    content: "\f3b9"
i.jsfiddle.icon:before
    content: "\f1cc"
i.key.icon:before
    content: "\f084"
i.keybase.icon:before
    content: "\f4f5"
i.keyboard.icon:before
    content: "\f11c"
i.keycdn.icon:before
    content: "\f3ba"
i.kickstarter.icon:before
    content: "\f3bb"
i.kickstarter.k.icon:before
    content: "\f3bc"
i.kiss.icon:before
    content: "\f596"
i.kiss.beam.icon:before
    content: "\f597"
i.kiss.wink.heart.icon:before
    content: "\f598"
i.kiwi.bird.icon:before
    content: "\f535"
i.korvue.icon:before
    content: "\f42f"
i.language.icon:before
    content: "\f1ab"
i.laptop.icon:before
    content: "\f109"
i.laravel.icon:before
    content: "\f3bd"
i.lastfm.icon:before
    content: "\f202"
i.lastfm.square.icon:before
    content: "\f203"
i.laugh.icon:before
    content: "\f599"
i.laugh.beam.icon:before
    content: "\f59a"
i.laugh.squint.icon:before
    content: "\f59b"
i.laugh.wink.icon:before
    content: "\f59c"
i.leaf.icon:before
    content: "\f06c"
i.leanpub.icon:before
    content: "\f212"
i.lemon.icon:before
    content: "\f094"
i.less.icon:before
    content: "\f41d"
i.less.than.icon:before
    content: "\f536"
i.less.than.equal.icon:before
    content: "\f537"
i.level.down.alt.icon:before
    content: "\f3be"
i.level.up.alt.icon:before
    content: "\f3bf"
i.life.ring.icon:before
    content: "\f1cd"
i.lightbulb.icon:before
    content: "\f0eb"
i.line.icon:before
    content: "\f3c0"
i.link.icon:before
    content: "\f0c1"
i.linkedin.icon:before
    content: "\f08c"
i.linkedin.in.icon:before
    content: "\f0e1"
i.linode.icon:before
    content: "\f2b8"
i.linux.icon:before
    content: "\f17c"
i.lira.sign.icon:before
    content: "\f195"
i.list.icon:before
    content: "\f03a"
i.list.alt.icon:before
    content: "\f022"
i.list.ol.icon:before
    content: "\f0cb"
i.list.ul.icon:before
    content: "\f0ca"
i.location.arrow.icon:before
    content: "\f124"
i.lock.icon:before
    content: "\f023"
i.lock.open.icon:before
    content: "\f3c1"
i.long.arrow.alt.down.icon:before
    content: "\f309"
i.long.arrow.alt.left.icon:before
    content: "\f30a"
i.long.arrow.alt.right.icon:before
    content: "\f30b"
i.long.arrow.alt.up.icon:before
    content: "\f30c"
i.low.vision.icon:before
    content: "\f2a8"
i.luggage.cart.icon:before
    content: "\f59d"
i.lyft.icon:before
    content: "\f3c3"
i.magento.icon:before
    content: "\f3c4"
i.magic.icon:before
    content: "\f0d0"
i.magnet.icon:before
    content: "\f076"
i.mailchimp.icon:before
    content: "\f59e"
i.male.icon:before
    content: "\f183"
i.mandalorian.icon:before
    content: "\f50f"
i.map.icon:before
    content: "\f279"
i.map.marked.icon:before
    content: "\f59f"
i.map.marked.alt.icon:before
    content: "\f5a0"
i.map.marker.icon:before
    content: "\f041"
i.map.marker.alt.icon:before
    content: "\f3c5"
i.map.pin.icon:before
    content: "\f276"
i.map.signs.icon:before
    content: "\f277"
i.marker.icon:before
    content: "\f5a1"
i.mars.icon:before
    content: "\f222"
i.mars.double.icon:before
    content: "\f227"
i.mars.stroke.icon:before
    content: "\f229"
i.mars.stroke.h.icon:before
    content: "\f22b"
i.mars.stroke.v.icon:before
    content: "\f22a"
i.mastodon.icon:before
    content: "\f4f6"
i.maxcdn.icon:before
    content: "\f136"
i.medal.icon:before
    content: "\f5a2"
i.medapps.icon:before
    content: "\f3c6"
i.medium.icon:before
    content: "\f23a"
i.medium.m.icon:before
    content: "\f3c7"
i.medkit.icon:before
    content: "\f0fa"
i.medrt.icon:before
    content: "\f3c8"
i.meetup.icon:before
    content: "\f2e0"
i.megaport.icon:before
    content: "\f5a3"
i.meh.icon:before
    content: "\f11a"
i.meh.blank.icon:before
    content: "\f5a4"
i.meh.rolling.eyes.icon:before
    content: "\f5a5"
i.memory.icon:before
    content: "\f538"
i.mercury.icon:before
    content: "\f223"
i.microchip.icon:before
    content: "\f2db"
i.microphone.icon:before
    content: "\f130"
i.microphone.alt.icon:before
    content: "\f3c9"
i.microphone.alt.slash.icon:before
    content: "\f539"
i.microphone.slash.icon:before
    content: "\f131"
i.microsoft.icon:before
    content: "\f3ca"
i.minus.icon:before
    content: "\f068"
i.minus.circle.icon:before
    content: "\f056"
i.minus.square.icon:before
    content: "\f146"
i.mix.icon:before
    content: "\f3cb"
i.mixcloud.icon:before
    content: "\f289"
i.mizuni.icon:before
    content: "\f3cc"
i.mobile.icon:before
    content: "\f10b"
i.mobile.alt.icon:before
    content: "\f3cd"
i.modx.icon:before
    content: "\f285"
i.monero.icon:before
    content: "\f3d0"
i.money.bill.icon:before
    content: "\f0d6"
i.money.bill.alt.icon:before
    content: "\f3d1"
i.money.bill.wave.icon:before
    content: "\f53a"
i.money.bill.wave.alt.icon:before
    content: "\f53b"
i.money.check.icon:before
    content: "\f53c"
i.money.check.alt.icon:before
    content: "\f53d"
i.monument.icon:before
    content: "\f5a6"
i.moon.icon:before
    content: "\f186"
i.mortar.pestle.icon:before
    content: "\f5a7"
i.motorcycle.icon:before
    content: "\f21c"
i.mouse.pointer.icon:before
    content: "\f245"
i.music.icon:before
    content: "\f001"
i.napster.icon:before
    content: "\f3d2"
i.neuter.icon:before
    content: "\f22c"
i.newspaper.icon:before
    content: "\f1ea"
i.nimblr.icon:before
    content: "\f5a8"
i.nintendo.switch.icon:before
    content: "\f418"
i.node.icon:before
    content: "\f419"
i.node.js.icon:before
    content: "\f3d3"
i.not.equal.icon:before
    content: "\f53e"
i.notes.medical.icon:before
    content: "\f481"
i.npm.icon:before
    content: "\f3d4"
i.ns8.icon:before
    content: "\f3d5"
i.nutritionix.icon:before
    content: "\f3d6"
i.object.group.icon:before
    content: "\f247"
i.object.ungroup.icon:before
    content: "\f248"
i.odnoklassniki.icon:before
    content: "\f263"
i.odnoklassniki.square.icon:before
    content: "\f264"
i.old.republic.icon:before
    content: "\f510"
i.opencart.icon:before
    content: "\f23d"
i.openid.icon:before
    content: "\f19b"
i.opera.icon:before
    content: "\f26a"
i.optin.monster.icon:before
    content: "\f23c"
i.osi.icon:before
    content: "\f41a"
i.outdent.icon:before
    content: "\f03b"
i.page4.icon:before
    content: "\f3d7"
i.pagelines.icon:before
    content: "\f18c"
i.paint.brush.icon:before
    content: "\f1fc"
i.paint.roller.icon:before
    content: "\f5aa"
i.palette.icon:before
    content: "\f53f"
i.palfed.icon:before
    content: "\f3d8"
i.pallet.icon:before
    content: "\f482"
i.paper.plane.icon:before
    content: "\f1d8"
i.paperclip.icon:before
    content: "\f0c6"
i.parachute.box.icon:before
    content: "\f4cd"
i.paragraph.icon:before
    content: "\f1dd"
i.parking.icon:before
    content: "\f540"
i.passport.icon:before
    content: "\f5ab"
i.paste.icon:before
    content: "\f0ea"
i.patreon.icon:before
    content: "\f3d9"
i.pause.icon:before
    content: "\f04c"
i.pause.circle.icon:before
    content: "\f28b"
i.paw.icon:before
    content: "\f1b0"
i.paypal.icon:before
    content: "\f1ed"
i.pen.icon:before
    content: "\f304"
i.pen.alt.icon:before
    content: "\f305"
i.pen.fancy.icon:before
    content: "\f5ac"
i.pen.nib.icon:before
    content: "\f5ad"
i.pen.square.icon:before
    content: "\f14b"
i.pencil.alt.icon:before
    content: "\f303"
i.pencil.ruler.icon:before
    content: "\f5ae"
i.people.carry.icon:before
    content: "\f4ce"
i.percent.icon:before
    content: "\f295"
i.percentage.icon:before
    content: "\f541"
i.periscope.icon:before
    content: "\f3da"
i.phabricator.icon:before
    content: "\f3db"
i.phoenix.framework.icon:before
    content: "\f3dc"
i.phoenix.squadron.icon:before
    content: "\f511"
i.phone.icon:before
    content: "\f095"
i.phone.slash.icon:before
    content: "\f3dd"
i.phone.square.icon:before
    content: "\f098"
i.phone.volume.icon:before
    content: "\f2a0"
i.php.icon:before
    content: "\f457"
i.pied.piper.icon:before
    content: "\f2ae"
i.pied.piper.alt.icon:before
    content: "\f1a8"
i.pied.piper.hat.icon:before
    content: "\f4e5"
i.pied.piper.pp.icon:before
    content: "\f1a7"
i.piggy.bank.icon:before
    content: "\f4d3"
i.pills.icon:before
    content: "\f484"
i.pinterest.icon:before
    content: "\f0d2"
i.pinterest.p.icon:before
    content: "\f231"
i.pinterest.square.icon:before
    content: "\f0d3"
i.plane.icon:before
    content: "\f072"
i.plane.arrival.icon:before
    content: "\f5af"
i.plane.departure.icon:before
    content: "\f5b0"
i.play.icon:before
    content: "\f04b"
i.play.circle.icon:before
    content: "\f144"
i.playstation.icon:before
    content: "\f3df"
i.plug.icon:before
    content: "\f1e6"
i.plus.icon:before
    content: "\f067"
i.plus.circle.icon:before
    content: "\f055"
i.plus.square.icon:before
    content: "\f0fe"
i.podcast.icon:before
    content: "\f2ce"
i.poo.icon:before
    content: "\f2fe"
i.portrait.icon:before
    content: "\f3e0"
i.pound.sign.icon:before
    content: "\f154"
i.power.off.icon:before
    content: "\f011"
i.prescription.icon:before
    content: "\f5b1"
i.prescription.bottle.icon:before
    content: "\f485"
i.prescription.bottle.alt.icon:before
    content: "\f486"
i.print.icon:before
    content: "\f02f"
i.procedures.icon:before
    content: "\f487"
i.product.hunt.icon:before
    content: "\f288"
i.project.diagram.icon:before
    content: "\f542"
i.pushed.icon:before
    content: "\f3e1"
i.puzzle.piece.icon:before
    content: "\f12e"
i.python.icon:before
    content: "\f3e2"
i.qq.icon:before
    content: "\f1d6"
i.qrcode.icon:before
    content: "\f029"
i.question.icon:before
    content: "\f128"
i.question.circle.icon:before
    content: "\f059"
i.quidditch.icon:before
    content: "\f458"
i.quinscape.icon:before
    content: "\f459"
i.quora.icon:before
    content: "\f2c4"
i.quote.left.icon:before
    content: "\f10d"
i.quote.right.icon:before
    content: "\f10e"
i.r.project.icon:before
    content: "\f4f7"
i.random.icon:before
    content: "\f074"
i.ravelry.icon:before
    content: "\f2d9"
i.react.icon:before
    content: "\f41b"
i.readme.icon:before
    content: "\f4d5"
i.rebel.icon:before
    content: "\f1d0"
i.receipt.icon:before
    content: "\f543"
i.recycle.icon:before
    content: "\f1b8"
i.red.river.icon:before
    content: "\f3e3"
i.reddit.icon:before
    content: "\f1a1"
i.reddit.alien.icon:before
    content: "\f281"
i.reddit.square.icon:before
    content: "\f1a2"
i.redo.icon:before
    content: "\f01e"
i.redo.alt.icon:before
    content: "\f2f9"
i.registered.icon:before
    content: "\f25d"
i.rendact.icon:before
    content: "\f3e4"
i.renren.icon:before
    content: "\f18b"
i.reply.icon:before
    content: "\f3e5"
i.reply.all.icon:before
    content: "\f122"
i.replyd.icon:before
    content: "\f3e6"
i.researchgate.icon:before
    content: "\f4f8"
i.resolving.icon:before
    content: "\f3e7"
i.retweet.icon:before
    content: "\f079"
i.ribbon.icon:before
    content: "\f4d6"
i.road.icon:before
    content: "\f018"
i.robot.icon:before
    content: "\f544"
i.rocket.icon:before
    content: "\f135"
i.rocketchat.icon:before
    content: "\f3e8"
i.rockrms.icon:before
    content: "\f3e9"
i.rss.icon:before
    content: "\f09e"
i.rss.square.icon:before
    content: "\f143"
i.ruble.sign.icon:before
    content: "\f158"
i.ruler.icon:before
    content: "\f545"
i.ruler.combined.icon:before
    content: "\f546"
i.ruler.horizontal.icon:before
    content: "\f547"
i.ruler.vertical.icon:before
    content: "\f548"
i.rupee.sign.icon:before
    content: "\f156"
i.sad.cry.icon:before
    content: "\f5b3"
i.sad.tear.icon:before
    content: "\f5b4"
i.safari.icon:before
    content: "\f267"
i.sass.icon:before
    content: "\f41e"
i.save.icon:before
    content: "\f0c7"
i.schlix.icon:before
    content: "\f3ea"
i.school.icon:before
    content: "\f549"
i.screwdriver.icon:before
    content: "\f54a"
i.scribd.icon:before
    content: "\f28a"
i.search.icon:before
    content: "\f002"
i.search.minus.icon:before
    content: "\f010"
i.search.plus.icon:before
    content: "\f00e"
i.searchengin.icon:before
    content: "\f3eb"
i.seedling.icon:before
    content: "\f4d8"
i.sellcast.icon:before
    content: "\f2da"
i.sellsy.icon:before
    content: "\f213"
i.server.icon:before
    content: "\f233"
i.servicestack.icon:before
    content: "\f3ec"
i.share.icon:before
    content: "\f064"
i.share.alt.icon:before
    content: "\f1e0"
i.share.alt.square.icon:before
    content: "\f1e1"
i.share.square.icon:before
    content: "\f14d"
i.shekel.sign.icon:before
    content: "\f20b"
i.shield.alt.icon:before
    content: "\f3ed"
i.ship.icon:before
    content: "\f21a"
i.shipping.fast.icon:before
    content: "\f48b"
i.shirtsinbulk.icon:before
    content: "\f214"
i.shoe.prints.icon:before
    content: "\f54b"
i.shopping.bag.icon:before
    content: "\f290"
i.shopping.basket.icon:before
    content: "\f291"
i.shopping.cart.icon:before
    content: "\f07a"
i.shopware.icon:before
    content: "\f5b5"
i.shower.icon:before
    content: "\f2cc"
i.shuttle.van.icon:before
    content: "\f5b6"
i.sign.icon:before
    content: "\f4d9"
i.sign.in.alt.icon:before
    content: "\f2f6"
i.sign.language.icon:before
    content: "\f2a7"
i.sign.out.alt.icon:before
    content: "\f2f5"
i.signal.icon:before
    content: "\f012"
i.signature.icon:before
    content: "\f5b7"
i.simplybuilt.icon:before
    content: "\f215"
i.sistrix.icon:before
    content: "\f3ee"
i.sitemap.icon:before
    content: "\f0e8"
i.sith.icon:before
    content: "\f512"
i.skull.icon:before
    content: "\f54c"
i.skyatlas.icon:before
    content: "\f216"
i.skype.icon:before
    content: "\f17e"
i.slack.icon:before
    content: "\f198"
i.slack.hash.icon:before
    content: "\f3ef"
i.sliders.h.icon:before
    content: "\f1de"
i.slideshare.icon:before
    content: "\f1e7"
i.smile.icon:before
    content: "\f118"
i.smile.beam.icon:before
    content: "\f5b8"
i.smile.wink.icon:before
    content: "\f4da"
i.smoking.icon:before
    content: "\f48d"
i.smoking.ban.icon:before
    content: "\f54d"
i.snapchat.icon:before
    content: "\f2ab"
i.snapchat.ghost.icon:before
    content: "\f2ac"
i.snapchat.square.icon:before
    content: "\f2ad"
i.snowflake.icon:before
    content: "\f2dc"
i.solar.panel.icon:before
    content: "\f5ba"
i.sort.icon:before
    content: "\f0dc"
i.sort.alpha.down.icon:before
    content: "\f15d"
i.sort.alpha.up.icon:before
    content: "\f15e"
i.sort.amount.down.icon:before
    content: "\f160"
i.sort.amount.up.icon:before
    content: "\f161"
i.sort.down.icon:before
    content: "\f0dd"
i.sort.numeric.down.icon:before
    content: "\f162"
i.sort.numeric.up.icon:before
    content: "\f163"
i.sort.up.icon:before
    content: "\f0de"
i.soundcloud.icon:before
    content: "\f1be"
i.spa.icon:before
    content: "\f5bb"
i.space.shuttle.icon:before
    content: "\f197"
i.speakap.icon:before
    content: "\f3f3"
i.spinner.icon:before
    content: "\f110"
i.splotch.icon:before
    content: "\f5bc"
i.spotify.icon:before
    content: "\f1bc"
i.spray.can.icon:before
    content: "\f5bd"
i.square.icon:before
    content: "\f0c8"
i.square.full.icon:before
    content: "\f45c"
i.squarespace.icon:before
    content: "\f5be"
i.stack.exchange.icon:before
    content: "\f18d"
i.stack.overflow.icon:before
    content: "\f16c"
i.stamp.icon:before
    content: "\f5bf"
i.star.icon:before
    content: "\f005"
i.star.half.icon:before
    content: "\f089"
i.star.half.alt.icon:before
    content: "\f5c0"
i.staylinked.icon:before
    content: "\f3f5"
i.steam.icon:before
    content: "\f1b6"
i.steam.square.icon:before
    content: "\f1b7"
i.steam.symbol.icon:before
    content: "\f3f6"
i.step.backward.icon:before
    content: "\f048"
i.step.forward.icon:before
    content: "\f051"
i.stethoscope.icon:before
    content: "\f0f1"
i.sticker.mule.icon:before
    content: "\f3f7"
i.sticky.note.icon:before
    content: "\f249"
i.stop.icon:before
    content: "\f04d"
i.stop.circle.icon:before
    content: "\f28d"
i.stopwatch.icon:before
    content: "\f2f2"
i.store.icon:before
    content: "\f54e"
i.store.alt.icon:before
    content: "\f54f"
i.strava.icon:before
    content: "\f428"
i.stream.icon:before
    content: "\f550"
i.street.view.icon:before
    content: "\f21d"
i.strikethrough.icon:before
    content: "\f0cc"
i.stripe.icon:before
    content: "\f429"
i.stripe.s.icon:before
    content: "\f42a"
i.stroopwafel.icon:before
    content: "\f551"
i.studiovinari.icon:before
    content: "\f3f8"
i.stumbleupon.icon:before
    content: "\f1a4"
i.stumbleupon.circle.icon:before
    content: "\f1a3"
i.subscript.icon:before
    content: "\f12c"
i.subway.icon:before
    content: "\f239"
i.suitcase.icon:before
    content: "\f0f2"
i.suitcase.rolling.icon:before
    content: "\f5c1"
i.sun.icon:before
    content: "\f185"
i.superpowers.icon:before
    content: "\f2dd"
i.superscript.icon:before
    content: "\f12b"
i.supple.icon:before
    content: "\f3f9"
i.surprise.icon:before
    content: "\f5c2"
i.swatchbook.icon:before
    content: "\f5c3"
i.swimmer.icon:before
    content: "\f5c4"
i.swimming.pool.icon:before
    content: "\f5c5"
i.sync.icon:before
    content: "\f021"
i.sync.alt.icon:before
    content: "\f2f1"
i.syringe.icon:before
    content: "\f48e"
i.table.icon:before
    content: "\f0ce"
i.table.tennis.icon:before
    content: "\f45d"
i.tablet.icon:before
    content: "\f10a"
i.tablet.alt.icon:before
    content: "\f3fa"
i.tablets.icon:before
    content: "\f490"
i.tachometer.alt.icon:before
    content: "\f3fd"
i.tag.icon:before
    content: "\f02b"
i.tags.icon:before
    content: "\f02c"
i.tape.icon:before
    content: "\f4db"
i.tasks.icon:before
    content: "\f0ae"
i.taxi.icon:before
    content: "\f1ba"
i.teamspeak.icon:before
    content: "\f4f9"
i.telegram.icon:before
    content: "\f2c6"
i.telegram.plane.icon:before
    content: "\f3fe"
i.tencent.weibo.icon:before
    content: "\f1d5"
i.terminal.icon:before
    content: "\f120"
i.text.height.icon:before
    content: "\f034"
i.text.width.icon:before
    content: "\f035"
i.th.icon:before
    content: "\f00a"
i.th.large.icon:before
    content: "\f009"
i.th.list.icon:before
    content: "\f00b"
i.themeco.icon:before
    content: "\f5c6"
i.themeisle.icon:before
    content: "\f2b2"
i.thermometer.icon:before
    content: "\f491"
i.thermometer.empty.icon:before
    content: "\f2cb"
i.thermometer.full.icon:before
    content: "\f2c7"
i.thermometer.half.icon:before
    content: "\f2c9"
i.thermometer.quarter.icon:before
    content: "\f2ca"
i.thermometer.three.quarters.icon:before
    content: "\f2c8"
i.thumbs.down.icon:before
    content: "\f165"
i.thumbs.up.icon:before
    content: "\f164"
i.thumbtack.icon:before
    content: "\f08d"
i.ticket.alt.icon:before
    content: "\f3ff"
i.times.icon:before
    content: "\f00d"
i.times.circle.icon:before
    content: "\f057"
i.tint.icon:before
    content: "\f043"
i.tint.slash.icon:before
    content: "\f5c7"
i.tired.icon:before
    content: "\f5c8"
i.toggle.off.icon:before
    content: "\f204"
i.toggle.on.icon:before
    content: "\f205"
i.toolbox.icon:before
    content: "\f552"
i.tooth.icon:before
    content: "\f5c9"
i.trade.federation.icon:before
    content: "\f513"
i.trademark.icon:before
    content: "\f25c"
i.train.icon:before
    content: "\f238"
i.transgender.icon:before
    content: "\f224"
i.transgender.alt.icon:before
    content: "\f225"
i.trash.icon:before
    content: "\f1f8"
i.trash.alt.icon:before
    content: "\f2ed"
i.tree.icon:before
    content: "\f1bb"
i.trello.icon:before
    content: "\f181"
i.tripadvisor.icon:before
    content: "\f262"
i.trophy.icon:before
    content: "\f091"
i.truck.icon:before
    content: "\f0d1"
i.truck.loading.icon:before
    content: "\f4de"
i.truck.moving.icon:before
    content: "\f4df"
i.tshirt.icon:before
    content: "\f553"
i.tty.icon:before
    content: "\f1e4"
i.tumblr.icon:before
    content: "\f173"
i.tumblr.square.icon:before
    content: "\f174"
i.tv.icon:before
    content: "\f26c"
i.twitch.icon:before
    content: "\f1e8"
i.twitter.icon:before
    content: "\f099"
i.twitter.square.icon:before
    content: "\f081"
i.typo3.icon:before
    content: "\f42b"
i.uber.icon:before
    content: "\f402"
i.uikit.icon:before
    content: "\f403"
i.umbrella.icon:before
    content: "\f0e9"
i.umbrella.beach.icon:before
    content: "\f5ca"
i.underline.icon:before
    content: "\f0cd"
i.undo.icon:before
    content: "\f0e2"
i.undo.alt.icon:before
    content: "\f2ea"
i.uniregistry.icon:before
    content: "\f404"
i.universal.access.icon:before
    content: "\f29a"
i.university.icon:before
    content: "\f19c"
i.unlink.icon:before
    content: "\f127"
i.unlock.icon:before
    content: "\f09c"
i.unlock.alt.icon:before
    content: "\f13e"
i.untappd.icon:before
    content: "\f405"
i.upload.icon:before
    content: "\f093"
i.usb.icon:before
    content: "\f287"
i.user.icon:before
    content: "\f007"
i.user.alt.icon:before
    content: "\f406"
i.user.alt.slash.icon:before
    content: "\f4fa"
i.user.astronaut.icon:before
    content: "\f4fb"
i.user.check.icon:before
    content: "\f4fc"
i.user.circle.icon:before
    content: "\f2bd"
i.user.clock.icon:before
    content: "\f4fd"
i.user.cog.icon:before
    content: "\f4fe"
i.user.edit.icon:before
    content: "\f4ff"
i.user.friends.icon:before
    content: "\f500"
i.user.graduate.icon:before
    content: "\f501"
i.user.lock.icon:before
    content: "\f502"
i.user.md.icon:before
    content: "\f0f0"
i.user.minus.icon:before
    content: "\f503"
i.user.ninja.icon:before
    content: "\f504"
i.user.plus.icon:before
    content: "\f234"
i.user.secret.icon:before
    content: "\f21b"
i.user.shield.icon:before
    content: "\f505"
i.user.slash.icon:before
    content: "\f506"
i.user.tag.icon:before
    content: "\f507"
i.user.tie.icon:before
    content: "\f508"
i.user.times.icon:before
    content: "\f235"
i.users.icon:before
    content: "\f0c0"
i.users.cog.icon:before
    content: "\f509"
i.ussunnah.icon:before
    content: "\f407"
i.utensil.spoon.icon:before
    content: "\f2e5"
i.utensils.icon:before
    content: "\f2e7"
i.vaadin.icon:before
    content: "\f408"
i.vector.square.icon:before
    content: "\f5cb"
i.venus.icon:before
    content: "\f221"
i.venus.double.icon:before
    content: "\f226"
i.venus.mars.icon:before
    content: "\f228"
i.viacoin.icon:before
    content: "\f237"
i.viadeo.icon:before
    content: "\f2a9"
i.viadeo.square.icon:before
    content: "\f2aa"
i.vial.icon:before
    content: "\f492"
i.vials.icon:before
    content: "\f493"
i.viber.icon:before
    content: "\f409"
i.video.icon:before
    content: "\f03d"
i.video.slash.icon:before
    content: "\f4e2"
i.vimeo.icon:before
    content: "\f40a"
i.vimeo.square.icon:before
    content: "\f194"
i.vimeo.v.icon:before
    content: "\f27d"
i.vine.icon:before
    content: "\f1ca"
i.vk.icon:before
    content: "\f189"
i.vnv.icon:before
    content: "\f40b"
i.volleyball.ball.icon:before
    content: "\f45f"
i.volume.down.icon:before
    content: "\f027"
i.volume.off.icon:before
    content: "\f026"
i.volume.up.icon:before
    content: "\f028"
i.vuejs.icon:before
    content: "\f41f"
i.walking.icon:before
    content: "\f554"
i.wallet.icon:before
    content: "\f555"
i.warehouse.icon:before
    content: "\f494"
i.weebly.icon:before
    content: "\f5cc"
i.weibo.icon:before
    content: "\f18a"
i.weight.icon:before
    content: "\f496"
i.weight.hanging.icon:before
    content: "\f5cd"
i.weixin.icon:before
    content: "\f1d7"
i.whatsapp.icon:before
    content: "\f232"
i.whatsapp.square.icon:before
    content: "\f40c"
i.wheelchair.icon:before
    content: "\f193"
i.whmcs.icon:before
    content: "\f40d"
i.wifi.icon:before
    content: "\f1eb"
i.wikipedia.w.icon:before
    content: "\f266"
i.window.close.icon:before
    content: "\f410"
i.window.maximize.icon:before
    content: "\f2d0"
i.window.minimize.icon:before
    content: "\f2d1"
i.window.restore.icon:before
    content: "\f2d2"
i.windows.icon:before
    content: "\f17a"
i.wine.glass.icon:before
    content: "\f4e3"
i.wine.glass.alt.icon:before
    content: "\f5ce"
i.wix.icon:before
    content: "\f5cf"
i.wolf.pack.battalion.icon:before
    content: "\f514"
i.won.sign.icon:before
    content: "\f159"
i.wordpress.icon:before
    content: "\f19a"
i.wordpress.simple.icon:before
    content: "\f411"
i.wpbeginner.icon:before
    content: "\f297"
i.wpexplorer.icon:before
    content: "\f2de"
i.wpforms.icon:before
    content: "\f298"
i.wrench.icon:before
    content: "\f0ad"
i.x.ray.icon:before
    content: "\f497"
i.xbox.icon:before
    content: "\f412"
i.xing.icon:before
    content: "\f168"
i.xing.square.icon:before
    content: "\f169"
i.y.combinator.icon:before
    content: "\f23b"
i.yahoo.icon:before
    content: "\f19e"
i.yandex.icon:before
    content: "\f413"
i.yandex.international.icon:before
    content: "\f414"
i.yelp.icon:before
    content: "\f1e9"
i.yen.sign.icon:before
    content: "\f157"
i.yoast.icon:before
    content: "\f2b1"
i.youtube.icon:before
    content: "\f167"
i.youtube.square.icon:before
    content: "\f431"

i.grid.wink.icon:before
    content: "\f58c"
i.kiss.icon:before
    content: "\f596"
i.rev.icon:before
    +extend(brands)
    content: "\f5b2"

//-------------------//
//       Alias
//-------------------//

i.time.icon:before
    content: "\f017"
i.alarm.icon:before
    content: '\f0f3'
i.alarm.mute.icon:before
    content: '\f1f6'
i.browser.icon:before
    content: '\f022'
i.dashboard.icon:before
    content: '\f3fd'
i.external.icon:before
    content: '\f35d'
i.external.square.icon:before
    content: '\f360'
i.eyedropper.icon:before
    content: '\f1fb'
i.feed.icon:before
    content: '\f09e'
i.delete.icon:before
    content: "\f00d"
i.find.icon:before
    content: '\f1e5'
i.idea.icon:before
    content: '\f0eb'
i.lab.icon:before
    content: '\f0c3'
i.mail.icon:before
    content: '\f0e0'
i.sliders.horizontal.icon:before,
i.options.icon:before
    content: '\f1de'
i.sliders.horizontal.square.icon:before
i.options.square.icon:before
    content: '\f3f0'
i.payment.icon:before
    content: '\f09d'
i.privacy.icon:before
    content: '\f084'
i.protect.icon:before
    content: '\f3ed'
i.settings.icon:before
    content: '\f085'
i.setting.icon:before
    content: '\f013'
i.shopping.cart.icon:before,
i.cart.icon:before,
i.shop.icon:before
    content: '\f07a'
i.bars.icon:before,
i.sidebar.icon:before,
i.menu.icon:before
    content: '\f0c9'
i.ticket.icon:before
    content: '\f3ff'
i.cart.plus.icon:before,
i.add.to.cart.icon:before
    content: '\f217'
i.talk.icon:before
    content: '\f27a'
i.configure.icon:before
    content: '\f0ad'
i.erase.icon:before
    content: '\f12d'
i.exchange.icon:before
    content: '\f362'
i.hide.icon:before
    content: '\f070'
i.in.cart.icon:before
    content: '\f218'
i.pin.icon:before
    content: '\f08d'
i.refresh.icon:before
    content: '\f2f1'
i.repeat.icon:before
    content: '\f363'
i.theme.icon:before
    content: '\f043'
i.translate.icon:before
    content: '\f1ab'
i.unhide.icon:before
    content: '\f06e'
i.wait.icon:before
    content: '\f017'
i.wizard.icon:before
    content: '\f0d0'
i.write.icon:before
    content: '\f304'
i.announcement.icon:before
    content: '\f0a1'
i.birthday.icon:before
    content: '\f1fd'
i.help.icon:before
    content: '\f128'
i.doctor.icon:before
    content: '\f0f0'
i.handicap.icon:before
    content: '\f193'
i.spy.icon:before
    content: '\f21b'
i.student.icon:before
    content: '\f19d'
i.gay.icon:before
    content: '\f227'
i.heterosexual.icon:before
    content: '\f228'
i.intergender.icon:before
    content: '\f224'
i.lesbian.icon:before
    content: '\f226'
i.man.icon:before
    content: '\f222'
i.other.gender.horizontal.icon:before
    content: '\f22b'
i.other.gender.icon:before
    content: '\f229'
i.other.gender.vertical.icon:before
    content: '\f22a'
i.woman.icon:before
    content: '\f221'
i.block.layout.icon:before
    content: '\f009'
i.grid.layout.icon:before
    content: '\f00a'
i.maximize.icon:before
    content: '\f31e'
i.resize.horizontal.icon:before
    content: '\f337'
i.resize.vertical.icon:before
    content: '\f338'
i.zoom.icon:before
    content: '\f00e'
i.zoom.out.icon:before
    content: '\f010'
i.bar.icon:before
    content: '\f0fc'
i.bathtub.icon:before
    content: '\f2cd'
i.diamond.icon:before
    content: '\f219'
i.law.icon:before
    content: '\f24e'
i.legal.icon:before
    content: '\f0e3'
i.lightning.icon:before
    content: '\f0e7'
i.money.icon:before
    content: '\f3d1'
i.puzzle.icon:before
    content: '\f12e'
i.shipping.icon:before
    content: '\f0d1'
i.soccer.icon:before
    content: '\f1e3'
i.travel.icon:before
    content: '\f0b1'
i.treatment.icon:before
    content: '\f0f1'
i.world.icon:before
    content: '\f0ac'
i.ellipsis.horizontal.icon:before
    content: '\f141'
i.ellipsis.vertical.icon:before
    content: '\f142'
i.checkmark.icon:before
    content: '\f00c'
i.move.icon:before
    content: '\f0b2'
i.radio.icon:before
    +extend(outline)
    content: '\f111'
i.remove.icon:before
    content: '\f00d'
i.selected.icon:before
    content: '\f192'
i.photo.icon:before
    content: '\f030'
i.sound.icon:before
    content: '\f025'
i.pointing.down.icon:before
    content: '\f0a7'
i.pointing.left.icon:before
    content: '\f0a5'
i.pointing.right.icon:before
    content: '\f0a4'
i.pointing.up.icon:before
    content: '\f0a6'
i.toggle.down.icon:before
    content: '\f150'
i.toggle.left.icon:before
    content: '\f191'
i.toggle.right.icon:before
    content: '\f152'
i.toggle.up.icon:before
    content: '\f151'
i.battery.low.icon:before
    content: '\f243'
i.high.battery.icon:before
    content: '\f241'
i.game.icon:before
    content: '\f11b'
i.disk.icon:before
    content: '\f0a0'
i.power.icon:before
    content: '\f011'
i.level.down.icon:before
    content: '\f3be'
i.level.up.icon:before
    content: '\f3bf'
i.fork.icon:before
    content: '\f126'
i.mute.icon:before
    content: '\f131'
i.record.icon:before
    content: '\f03d'
i.unmute.icon:before
    content: '\f130'
i.emergency.icon:before
    content: '\f0f9'
i.food.icon:before
    content: '\f2e7'
i.h.icon:before
    content: '\f0fd'
i.military.icon:before
    content: '\f0fb'
i.spoon.icon:before
    content: '\f2e5'
i.sort.alphabet.ascending.icon:before
    content: '\f15e'
i.sort.alphabet.descending.icon:before
    content: '\f15d'
i.sort.ascending.icon:before
    content: '\f0de'
i.sort.content.ascending.icon:before
    content: '\f161'
i.sort.content.descending.icon:before
    content: '\f160'
i.sort.descending.icon:before
    content: '\f0dd'
i.sort.icon:before
    content: '\f0dc'
i.sort.numeric.ascending.icon:before
    content: '\f163'
i.sort.numeric.descending.icon:before
    content: '\f162'
i.attach.icon:before
    content: '\f0c6'
i.header.icon:before
    content: '\f1dc'
i.linkify.icon:before
    content: '\f0c1'
i.text.cursor.icon:before
    content: '\f246'
i.unlinkify.icon:before
    content: '\f127'
i.dollar.icon:before
    content: '\f155'
i.euro.icon:before
    content: '\f153'
i.lira.icon:before
    content: '\f195'
i.pound.icon:before
    content: '\f154'
i.ruble.icon:before
    content: '\f158'
i.rupee.icon:before
    content: '\f156'
i.shekel.icon:before
    content: '\f20b'
i.won.icon:before
    content: '\f159'
i.yen.icon:before
    content: '\f157'
i.american.express.icon:before
    +extend(brands)
    content: '\f1f3'
i.diners.club.icon:before
    +extend(brands)
    content: '\f24c'
i.discover.icon:before
    +extend(brands)
    content: '\f1f2'
i.japan.credit.bureau.icon:before
    +extend(brands)
    content: '\f24b'
i.mastercard.icon:before
    +extend(brands)
    content: '\f1f1'
i.visa.icon:before
    +extend(brands)
    content: '\f1f0'
i.asl.interpreting.icon:before,
i.asl.icon:before
    content: '\f2a3'
i.deafness.icon:before
    content: '\f2a4'
i.dont.icon:before
    content: '\f00d'
i.remove.circle.icon:before
    content: '\f057'
i.google.plus.circle.icon:before
    content: "\f2b3"
i.google.plus.icon:before
    content: "\f0d5"
i.empty.heart.icon:before
    +extend(outline)
i.empty.star.icon:before
    +extend(outline)
i.empty.hourglass.icon:before
    +extend(outline)
i.add.icon:before
    content: "\f067"
i.add.circle.icon:before
    content: "\f055"
i.add.square.icon:before
    content: "\f0fe"
i.call.icon:before
    content: "\f095"
i.call.square.icon:before
    content: "\f098"
i.add.user.icon:before
    content: "\f234"
i.ninja.icon:before
    content: "\f504"
i.send.icon:before
    content: "\f1d8"
i.repeat.icon:before
    content: "\f01e"
i.remove.user.icon:before
    content: "\f235"
i.write.square.icon:before
    content: "\f14b"
i.log.in.icon:before,
i.sign.in.icon:before
    content: "\f2f6"
i.log.out.icon:before,
i.sign.out.icon:before
    content: "\f2f5"
i.mail.square.icon:before
    content: "\f199"
i.delete.calendar.icon:before
    content: "\f273"
i.checked.calendar.icon:before
    content: "\f274"
i.add.to.calendar.icon:before
    content: "\f271"
i.revert.icon:before
    content: "\f1da"
i.diamond.icon:before
    content: "\f1da"
i.circle.notched.icon:before
    content: "\f1ce"
i.circle.thin.icon:before
    +extend(outline)
i.help.circle.icon:before
    content: '\f059'
i.arrow.alternate.circle.down.icon:before
    content: "\f358"
i.arrow.alternate.circle.left.icon:before
    content: "\f359"
i.arrow.alternate.circle.right.icon:before
    content: "\f35a"
i.arrow.alternate.circle.up.icon:before
    content: "\f35b"
i.arrows.alternate.icon:before
    content: "\f0b2"
i.arrows.alternate.h.icon:before
    content: "\f337"
i.arrows.alternate.v.icon:before
    content: "\f338"
i.bus.alternate.icon:before
    content: "\f55e"
i.calendar.alternate.icon:before
    content: "\f073"
i.cloud.download.alternate.icon:before
    content: "\f381"
i.cloud.upload.alternate.icon:before
    content: "\f382"
i.creative.commons.pd.alternate.icon:before
    content: "\f4ed"
i.exchange.alternate.icon:before
    content: "\f362"
i.expand.arrows.alternate.icon:before
    content: "\f31e"
i.external.link.alternate.icon:before
    content: "\f35d"
i.external.link.square.alternate.icon:before
    content: "\f360"
i.feather.alternate.icon:before
    content: "\f56b"
i.file.alternate.icon:before
    content: "\f15c"
i.file.medical.alternate.icon:before
    content: "\f478"
i.first.order.alternate.icon:before
    content: "\f50a"
i.fort.awesome.alternate.icon:before
    content: "\f3a3"
i.github.alternate.icon:before
    content: "\f113"
i.glass.martini.alternate.icon:before
    content: "\f57b"
i.grin.alternate.icon:before
    content: "\f581"
i.headphones.alternate.icon:before
    content: "\f58f"
i.hospital.alternate.icon:before
    content: "\f47d"
i.id.card.alternate.icon:before
    content: "\f47f"
i.level.down.alternate.icon:before
    content: "\f3be"
i.level.up.alternate.icon:before
    content: "\f3bf"
i.list.alternate.icon:before
    content: "\f022"
i.long.arrow.alternate.down.icon:before
    content: "\f309"
i.long.arrow.alternate.left.icon:before
    content: "\f30a"
i.long.arrow.alternate.right.icon:before
    content: "\f30b"
i.long.arrow.alternate.up.icon:before
    content: "\f30c"
i.map.marked.alternate.icon:before
    content: "\f5a0"
i.map.marker.alternate.icon:before
    content: "\f3c5"
i.microphone.alternate.icon:before
    content: "\f3c9"
i.microphone.alternate.slash.icon:before
    content: "\f539"
i.mobile.alternate.icon:before
    content: "\f3cd"
i.money.bill.alternate.icon:before
    content: "\f3d1"
i.money.bill.wave.alternate.icon:before
    content: "\f53b"
i.money.check.alternate.icon:before
    content: "\f53d"
i.pen.alternate.icon:before
    content: "\f305"
i.pencil.alternate.icon:before
    content: "\f303"
i.pied.piper.alternate.icon:before
    content: "\f1a8"
i.prescription.bottle.alternate.icon:before
    content: "\f486"
i.redo.alternate.icon:before
    content: "\f2f9"
i.share.alternate.icon:before
    content: "\f1e0"
i.share.alternate.square.icon:before
    content: "\f1e1"
i.shield.alternate.icon:before
    content: "\f3ed"
i.sign.in.alternate.icon:before
    content: "\f2f6"
i.sign.out.alternate.icon:before
    content: "\f2f5"
i.star.half.alternate.icon:before
    content: "\f5c0"
i.store.alternate.icon:before
    content: "\f54f"
i.sync.alternate.icon:before
    content: "\f2f1"
i.tablet.alternate.icon:before
    content: "\f3fa"
i.tachometer.alternate.icon:before
    content: "\f3fd"
i.ticket.alternate.icon:before
    content: "\f3ff"
i.transgender.alternate.icon:before
    content: "\f225"
i.trash.alternate.icon:before
    content: "\f2ed"
i.undo.alternate.icon:before
    content: "\f2ea"
i.unlock.alternate.icon:before
    content: "\f13e"
i.user.alternate.icon:before
    content: "\f406"
i.user.alternate.slash.icon:before
    content: "\f4fa"
i.wine.glass.alternate.icon:before
    content: "\f5ce"
i.read.icon:before
    content: "\f560"



//
// .warning.icon -> .caution.icon
// .info.circle.icon -> .notice.circle.icon
// .info.icon -> .notice.icon
//
//-------------------//
//     Replacment
//-------------------//

i.caution.icon:before
    content: '\f059'
i.caution.triangle.icon:before
    content: '\f071'
i.notice.circle.icon:before
    content: '\f05a'
i.notice.icon:before
    content: '\f12a'

//-------------------//
//       Brands
//-------------------//

i.\35 00px.icon:before
    +extend(brands)
i.accessible.icon.icon:before
    +extend(brands)
i.accusoft.icon:before
    +extend(brands)
i.adn.icon:before
    +extend(brands)
i.adversal.icon:before
    +extend(brands)
i.affiliatetheme.icon:before
    +extend(brands)
i.algolia.icon:before
    +extend(brands)
i.amazon.icon:before
    +extend(brands)
i.amazon.pay.icon:before
    +extend(brands)
i.amilia.icon:before
    +extend(brands)
i.android.icon:before
    +extend(brands)
i.angellist.icon:before
    +extend(brands)
i.angrycreative.icon:before
    +extend(brands)
i.angular.icon:before
    +extend(brands)
i.app.store.icon:before
    +extend(brands)
i.app.store.ios.icon:before
    +extend(brands)
i.apper.icon:before
    +extend(brands)
i.apple.icon:before
    +extend(brands)
i.apple.pay.icon:before
    +extend(brands)
i.asymmetrik.icon:before
    +extend(brands)
i.audible.icon:before
    +extend(brands)
i.autoprefixer.icon:before
    +extend(brands)
i.avianex.icon:before
    +extend(brands)
i.aviato.icon:before
    +extend(brands)
i.aws.icon:before
    +extend(brands)
i.bandcamp.icon:before
    +extend(brands)
i.behance.icon:before
    +extend(brands)
i.behance.square.icon:before
    +extend(brands)
i.bimobject.icon:before
    +extend(brands)
i.bitbucket.icon:before
    +extend(brands)
i.bitcoin.icon:before
    +extend(brands)
i.bity.icon:before
    +extend(brands)
i.black.tie.icon:before
    +extend(brands)
i.blackberry.icon:before
    +extend(brands)
i.blogger.icon:before
    +extend(brands)
i.blogger.b.icon:before
    +extend(brands)
i.bluetooth.icon:before
    +extend(brands)
i.bluetooth.b.icon:before
    +extend(brands)
i.btc.icon:before
    +extend(brands)
i.buromobelexperte.icon:before
    +extend(brands)
i.buysellads.icon:before
    +extend(brands)
i.cc.amazon.pay.icon:before
    +extend(brands)
i.cc.amex.icon:before
    +extend(brands)
i.cc.apple.pay.icon:before
    +extend(brands)
i.cc.diners.club.icon:before
    +extend(brands)
i.cc.discover.icon:before
    +extend(brands)
i.cc.jcb.icon:before
    +extend(brands)
i.cc.mastercard.icon:before
    +extend(brands)
i.cc.paypal.icon:before
    +extend(brands)
i.cc.stripe.icon:before
    +extend(brands)
i.cc.visa.icon:before
    +extend(brands)
i.centercode.icon:before
    +extend(brands)
i.chrome.icon:before
    +extend(brands)
i.cloudscale.icon:before
    +extend(brands)
i.cloudsmith.icon:before
    +extend(brands)
i.cloudversify.icon:before
    +extend(brands)
i.codepen.icon:before
    +extend(brands)
i.codiepie.icon:before
    +extend(brands)
i.connectdevelop.icon:before
    +extend(brands)
i.contao.icon:before
    +extend(brands)
i.cpanel.icon:before
    +extend(brands)
i.creative.commons.icon:before
    +extend(brands)
i.creative.commons.by.icon:before
    +extend(brands)
i.creative.commons.nc.icon:before
    +extend(brands)
i.creative.commons.nc.eu.icon:before
    +extend(brands)
i.creative.commons.nc.jp.icon:before
    +extend(brands)
i.creative.commons.nd.icon:before
    +extend(brands)
i.creative.commons.pd.icon:before
    +extend(brands)
i.creative.commons.pd.alt.icon:before
    +extend(brands)
i.creative.commons.remix.icon:before
    +extend(brands)
i.creative.commons.sa.icon:before
    +extend(brands)
i.creative.commons.sampling.icon:before
    +extend(brands)
i.creative.commons.sampling.plus.icon:before
    +extend(brands)
i.creative.commons.share.icon:before
    +extend(brands)
i.creative.commons.zero.icon:before
    +extend(brands)
i.css3.icon:before
    +extend(brands)
i.css3.alt.icon:before
    +extend(brands)
i.cuttlefish.icon:before
    +extend(brands)
i.d.and.d.icon:before
    +extend(brands)
i.dashcube.icon:before
    +extend(brands)
i.delicious.icon:before
    +extend(brands)
i.deploydog.icon:before
    +extend(brands)
i.deskpro.icon:before
    +extend(brands)
i.deviantart.icon:before
    +extend(brands)
i.digg.icon:before
    +extend(brands)
i.digital.ocean.icon:before
    +extend(brands)
i.discord.icon:before
    +extend(brands)
i.discourse.icon:before
    +extend(brands)
i.dochub.icon:before
    +extend(brands)
i.docker.icon:before
    +extend(brands)
i.draft2digital.icon:before
    +extend(brands)
i.dribbble.icon:before
    +extend(brands)
i.dribbble.square.icon:before
    +extend(brands)
i.dropbox.icon:before
    +extend(brands)
i.drupal.icon:before
    +extend(brands)
i.dyalog.icon:before
    +extend(brands)
i.earlybirds.icon:before
    +extend(brands)
i.ebay.icon:before
    +extend(brands)
i.edge.icon:before
    +extend(brands)
i.elementor.icon:before
    +extend(brands)
i.ember.icon:before
    +extend(brands)
i.empire.icon:before
    +extend(brands)
i.envira.icon:before
    +extend(brands)
i.erlang.icon:before
    +extend(brands)
i.ethereum.icon:before
    +extend(brands)
i.etsy.icon:before
    +extend(brands)
i.expeditedssl.icon:before
    +extend(brands)
i.facebook.icon:before
    +extend(brands)
i.facebook.f.icon:before
    +extend(brands)
i.facebook.messenger.icon:before
    +extend(brands)
i.facebook.square.icon:before
    +extend(brands)
i.firefox.icon:before
    +extend(brands)
i.first.order.icon:before
    +extend(brands)
i.first.order.alt.icon:before
    +extend(brands)
i.firstdraft.icon:before
    +extend(brands)
i.flickr.icon:before
    +extend(brands)
i.flipboard.icon:before
    +extend(brands)
i.fly.icon:before
    +extend(brands)
i.font.awesome.icon:before
    +extend(brands)
i.font.awesome.alt.icon:before
    +extend(brands)
i.font.awesome.flag.icon:before
    +extend(brands)
i.font.awesome.logo.full.icon:before
    +extend(brands)
i.fonticons.icon:before
    +extend(brands)
i.fonticons.fi.icon:before
    +extend(brands)
i.fort.awesome.icon:before
    +extend(brands)
i.fort.awesome.alt.icon:before
    +extend(brands)
i.forumbee.icon:before
    +extend(brands)
i.foursquare.icon:before
    +extend(brands)
i.free.code.camp.icon:before
    +extend(brands)
i.freebsd.icon:before
    +extend(brands)
i.fulcrum.icon:before
    +extend(brands)
i.galactic.republic.icon:before
    +extend(brands)
i.galactic.senate.icon:before
    +extend(brands)
i.get.pocket.icon:before
    +extend(brands)
i.gg.icon:before
    +extend(brands)
i.gg.circle.icon:before
    +extend(brands)
i.git.icon:before
    +extend(brands)
i.git.square.icon:before
    +extend(brands)
i.github.icon:before
    +extend(brands)
i.github.alt.icon:before
    +extend(brands)
i.github.square.icon:before
    +extend(brands)
i.gitkraken.icon:before
    +extend(brands)
i.gitlab.icon:before
    +extend(brands)
i.gitter.icon:before
    +extend(brands)
i.glide.icon:before
    +extend(brands)
i.glide.g.icon:before
    +extend(brands)
i.gofore.icon:before
    +extend(brands)
i.goodreads.icon:before
    +extend(brands)
i.goodreads.g.icon:before
    +extend(brands)
i.google.icon:before
    +extend(brands)
i.google.drive.icon:before
    +extend(brands)
i.google.play.icon:before
    +extend(brands)
i.google.plus.icon:before
    +extend(brands)
i.google.plus.g.icon:before
    +extend(brands)
i.google.plus.square.icon:before
    +extend(brands)
i.google.wallet.icon:before
    +extend(brands)
i.gratipay.icon:before
    +extend(brands)
i.grav.icon:before
    +extend(brands)
i.gripfire.icon:before
    +extend(brands)
i.grunt.icon:before
    +extend(brands)
i.gulp.icon:before
    +extend(brands)
i.hacker.news.icon:before
    +extend(brands)
i.hacker.news.square.icon:before
    +extend(brands)
i.hips.icon:before
    +extend(brands)
i.hire.a.helper.icon:before
    +extend(brands)
i.hooli.icon:before
    +extend(brands)
i.hornbill.icon:before
    +extend(brands)
i.hotjar.icon:before
    +extend(brands)
i.houzz.icon:before
    +extend(brands)
i.html5.icon:before
    +extend(brands)
i.hubspot.icon:before
    +extend(brands)
i.imdb.icon:before
    +extend(brands)
i.instagram.icon:before
    +extend(brands)
i.internet.explorer.icon:before
    +extend(brands)
i.ioxhost.icon:before
    +extend(brands)
i.itunes.icon:before
    +extend(brands)
i.itunes.note.icon:before
    +extend(brands)
i.java.icon:before
    +extend(brands)
i.jedi.order.icon:before
    +extend(brands)
i.jenkins.icon:before
    +extend(brands)
i.joget.icon:before
    +extend(brands)
i.joomla.icon:before
    +extend(brands)
i.js.icon:before
    +extend(brands)
i.js.square.icon:before
    +extend(brands)
i.jsfiddle.icon:before
    +extend(brands)
i.keybase.icon:before
    +extend(brands)
i.keycdn.icon:before
    +extend(brands)
i.kickstarter.icon:before
    +extend(brands)
i.kickstarter.k.icon:before
    +extend(brands)
i.korvue.icon:before
    +extend(brands)
i.laravel.icon:before
    +extend(brands)
i.lastfm.icon:before
    +extend(brands)
i.lastfm.square.icon:before
    +extend(brands)
i.leanpub.icon:before
    +extend(brands)
i.less.icon:before
    +extend(brands)
i.line.icon:not(.chart):before
    +extend(brands)
i.linkedin.icon:before
    +extend(brands)
i.linkedin.in.icon:before
    +extend(brands)
i.linode.icon:before
    +extend(brands)
i.linux.icon:before
    +extend(brands)
i.lyft.icon:before
    +extend(brands)
i.magento.icon:before
    +extend(brands)
i.mailchimp.icon:before
    +extend(brands)
i.mandalorian.icon:before
    +extend(brands)
i.mastodon.icon:before
    +extend(brands)
i.maxcdn.icon:before
    +extend(brands)
i.medapps.icon:before
    +extend(brands)
i.medium.icon:not(.battery):before
    +extend(brands)
i.medium.m.icon:before
    +extend(brands)
i.medrt.icon:before
    +extend(brands)
i.meetup.icon:before
    +extend(brands)
i.megaport.icon:before
    +extend(brands)
i.microsoft.icon:before
    +extend(brands)
i.mix.icon:before
    +extend(brands)
i.mixcloud.icon:before
    +extend(brands)
i.mizuni.icon:before
    +extend(brands)
i.modx.icon:before
    +extend(brands)
i.monero.icon:before
    +extend(brands)
i.napster.icon:before
    +extend(brands)
i.nimblr.icon:before
    +extend(brands)
i.nintendo.switch.icon:before
    +extend(brands)
i.node.icon:before
    +extend(brands)
i.node.js.icon:before
    +extend(brands)
i.npm.icon:before
    +extend(brands)
i.ns8.icon:before
    +extend(brands)
i.nutritionix.icon:before
    +extend(brands)
i.odnoklassniki.icon:before
    +extend(brands)
i.odnoklassniki.square.icon:before
    +extend(brands)
i.old.republic.icon:before
    +extend(brands)
i.opencart.icon:before
    +extend(brands)
i.openid.icon:before
    +extend(brands)
i.opera.icon:before
    +extend(brands)
i.optin.monster.icon:before
    +extend(brands)
i.osi.icon:before
    +extend(brands)
i.page4.icon:before
    +extend(brands)
i.pagelines.icon:before
    +extend(brands)
i.palfed.icon:before
    +extend(brands)
i.patreon.icon:before
    +extend(brands)
i.paypal.icon:before
    +extend(brands)
i.periscope.icon:before
    +extend(brands)
i.phabricator.icon:before
    +extend(brands)
i.phoenix.framework.icon:before
    +extend(brands)
i.phoenix.squadron.icon:before
    +extend(brands)
i.php.icon:before
    +extend(brands)
i.pied.piper.icon:before
    +extend(brands)
i.pied.piper.alt.icon:before
    +extend(brands)
i.pied.piper.hat.icon:before
    +extend(brands)
i.pied.piper.pp.icon:before
    +extend(brands)
i.pinterest.icon:before
    +extend(brands)
i.pinterest.p.icon:before
    +extend(brands)
i.pinterest.square.icon:before
    +extend(brands)
i.playstation.icon:before
    +extend(brands)
i.product.hunt.icon:before
    +extend(brands)
i.pushed.icon:before
    +extend(brands)
i.python.icon:before
    +extend(brands)
i.qq.icon:before
    +extend(brands)
i.quinscape.icon:before
    +extend(brands)
i.quora.icon:before
    +extend(brands)
i.r.project.icon:before
    +extend(brands)
i.ravelry.icon:before
    +extend(brands)
i.react.icon:before
    +extend(brands)
i.readme.icon:before
    +extend(brands)
i.rebel.icon:before
    +extend(brands)
i.red.river.icon:before
    +extend(brands)
i.reddit.icon:before
    +extend(brands)
i.reddit.alien.icon:before
    +extend(brands)
i.reddit.square.icon:before
    +extend(brands)
i.rendact.icon:before
    +extend(brands)
i.renren.icon:before
    +extend(brands)
i.replyd.icon:before
    +extend(brands)
i.researchgate.icon:before
    +extend(brands)
i.resolving.icon:before
    +extend(brands)
i.rev.icon:before
    +extend(brands)
i.rocketchat.icon:before
    +extend(brands)
i.rockrms.icon:before
    +extend(brands)
i.safari.icon:before
    +extend(brands)
i.sass.icon:before
    +extend(brands)
i.schlix.icon:before
    +extend(brands)
i.scribd.icon:before
    +extend(brands)
i.searchengin.icon:before
    +extend(brands)
i.sellcast.icon:before
    +extend(brands)
i.sellsy.icon:before
    +extend(brands)
i.servicestack.icon:before
    +extend(brands)
i.shirtsinbulk.icon:before
    +extend(brands)
i.shopware.icon:before
    +extend(brands)
i.simplybuilt.icon:before
    +extend(brands)
i.sistrix.icon:before
    +extend(brands)
i.sith.icon:before
    +extend(brands)
i.skyatlas.icon:before
    +extend(brands)
i.skype.icon:before
    +extend(brands)
i.slack.icon:before
    +extend(brands)
i.slack.hash.icon:before
    +extend(brands)
i.slideshare.icon:before
    +extend(brands)
i.snapchat.icon:before
    +extend(brands)
i.snapchat.ghost.icon:before
    +extend(brands)
i.snapchat.square.icon:before
    +extend(brands)
i.soundcloud.icon:before
    +extend(brands)
i.speakap.icon:before
    +extend(brands)
i.spotify.icon:before
    +extend(brands)
i.squarespace.icon:before
    +extend(brands)
i.stack.exchange.icon:before
    +extend(brands)
i.stack.overflow.icon:before
    +extend(brands)
i.staylinked.icon:before
    +extend(brands)
i.steam.icon:before
    +extend(brands)
i.steam.square.icon:before
    +extend(brands)
i.steam.symbol.icon:before
    +extend(brands)
i.sticker.mule.icon:before
    +extend(brands)
i.strava.icon:before
    +extend(brands)
i.stripe.icon:before
    +extend(brands)
i.stripe.s.icon:before
    +extend(brands)
i.studiovinari.icon:before
    +extend(brands)
i.stumbleupon.icon:before
    +extend(brands)
i.stumbleupon.circle.icon:before
    +extend(brands)
i.superpowers.icon:before
    +extend(brands)
i.supple.icon:before
    +extend(brands)
i.teamspeak.icon:before
    +extend(brands)
i.telegram.icon:before
    +extend(brands)
i.telegram.plane.icon:before
    +extend(brands)
i.tencent.weibo.icon:before
    +extend(brands)
i.themeco.icon:before
    +extend(brands)
i.themeisle.icon:before
    +extend(brands)
i.trade.federation.icon:before
    +extend(brands)
i.trello.icon:before
    +extend(brands)
i.tripadvisor.icon:before
    +extend(brands)
i.tumblr.icon:before
    +extend(brands)
i.tumblr.square.icon:before
    +extend(brands)
i.twitch.icon:before
    +extend(brands)
i.twitter.icon:before
    +extend(brands)
i.twitter.square.icon:before
    +extend(brands)
i.typo3.icon:before
    +extend(brands)
i.uber.icon:before
    +extend(brands)
i.uikit.icon:before
    +extend(brands)
i.uniregistry.icon:before
    +extend(brands)
i.untappd.icon:before
    +extend(brands)
i.usb.icon:before
    +extend(brands)
i.ussunnah.icon:before
    +extend(brands)
i.vaadin.icon:before
    +extend(brands)
i.viacoin.icon:before
    +extend(brands)
i.viadeo.icon:before
    +extend(brands)
i.viadeo.square.icon:before
    +extend(brands)
i.viber.icon:before
    +extend(brands)
i.vimeo.icon:before
    +extend(brands)
i.vimeo.square.icon:before
    +extend(brands)
i.vimeo.v.icon:before
    +extend(brands)
i.vine.icon:before
    +extend(brands)
i.vk.icon:before
    +extend(brands)
i.vnv.icon:before
    +extend(brands)
i.vuejs.icon:before
    +extend(brands)
i.weebly.icon:before
    +extend(brands)
i.weibo.icon:before
    +extend(brands)
i.weixin.icon:before
    +extend(brands)
i.whatsapp.icon:before
    +extend(brands)
i.whatsapp.square.icon:before
    +extend(brands)
i.whmcs.icon:before
    +extend(brands)
i.wikipedia.w.icon:before
    +extend(brands)
i.windows.icon:before
    +extend(brands)
i.wix.icon:before
    +extend(brands)
i.wolf.pack.battalion.icon:before
    +extend(brands)
i.wordpress.icon:before
    +extend(brands)
i.wordpress.simple.icon:before
    +extend(brands)
i.wpbeginner.icon:before
    +extend(brands)
i.wpexplorer.icon:before
    +extend(brands)
i.wpforms.icon:before
    +extend(brands)
i.xbox.icon:before
    +extend(brands)
i.xing.icon:before
    +extend(brands)
i.xing.square.icon:before
    +extend(brands)
i.y.combinator.icon:before
    +extend(brands)
i.yahoo.icon:before
    +extend(brands)
i.yandex.icon:before
    +extend(brands)
i.yandex.international.icon:before
    +extend(brands)
i.yelp.icon:before
    +extend(brands)
i.yoast.icon:before
    +extend(brands)
i.youtube.icon:before
    +extend(brands)
i.youtube.square.icon:before
    +extend(brands)