// + Basic
.ts.list
    .item Item
    .item Item
    .item Item
    a.item Link Item
    a.item Link Item
    a.item Link Item

// + Native
ul
    li Item
    li Item
    li Item

// + Link
.ts.link.list
    a.item Item
    a.item Item
    a.item Item

// + Bulleted
.ts.bulleted.list
    .item Item
    .item Item
    .item Item
    a.item Link Item
    a.item Link Item
    a.item Link Item

// + Horizontal
.ts.horizontal.list
    .item Item
    .item Item
    .item Item
    a.item Link Item
    a.item Link Item
    a.item Link Item

// + Horizontal Link
.ts.horizontal.link.list
    .item Item
    .item Item
    .item Item
    a.item Link Item
    a.item Link Item
    a.item Link Item

// + Horizontal Bulleted
.ts.horizontal.bulleted.list
    .item Item
    .item Item
    .item Item
    a.item Link Item
    a.item Link Item
    a.item Link Item

// + Horizontal Centered Bulleted
.ts.horizontal.centered.bulleted.list
    .item Item
    .item Item
    .item Item
    a.item Link Item
    a.item Link Item
    a.item Link Item

// + Content Header
.ts.list
    .item
        .header Header
        | Content
        br
        | New Line Content,
        a Link Content
    .item
        .header Header
        | Content
        br
        | New Line Content,
        a Link Content
    .item
        .header Header
        | Content
        br
        | New Line Content,
        a Link Content

// + Content Description
.ts.list
    .item
        .header Header
        .description
            | Content
            br
            | New Line Content,
            a Link Content
    .item
        .header Header
        .description
            | Content
            br
            | New Line Content,
            a Link Content
    .item
        .header Header
        .description
            | Content
            br
            | New Line Content,
            a Link Content

// + Content Meta
.ts.list
    .item
        .header Header
        .meta
            span Meta
            span Meta
        .description Description
    .item
        .header Header
        .bulleted.meta
            span Bulleted Meta
            span Bulleted Meta
        .description Description
    .item
        .header Header
        .middoted.meta
            span Middoted Meta
            span Middoted Meta
        .description Description
    .item
        .header Header
        .bulleted.meta
            a Link Bulleted Meta
            a Link Bulleted Meta
        .description Description

// + Content Extra Description
.ts.list
    .item
        .header Header
        .description Description
        .extra.description Extra Description
    .item
        .header Header
        .description Description
        .extra.description Extra Description

// + Single Line
.ts.single.line.list
    .item
        .content
            .header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header
            .description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description
            .extra.description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description
    .item
        .content
            .header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header Header
            .description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description
            .extra.description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description Extra Description

// + Actions
.ts.list
    .item
        .header Header
        .description
            | Content
            br
            | New Line Content,
            a Link Content
        .actions
            a.item Action
            a.item Action
    .item
        .header Header
        .description
            | Content
            br
            | New Line Content,
            a Link Content
        .actions
            a.item Action
            a.item Action
    .item
        .header Header
        .description
            | Content
            br
            | New Line Content,
            a Link Content
        .actions
            a.item Action
            a.item Action

// + Outer Actions
.ts.list
    .item
        .content
            .header Header
            .description
                | Content
                br
                | New Line Content,
                a Link Content
        .actions
            button.ts.icon.button
                i.delete.icon
            button.ts.icon.button
                i.delete.icon
    .item
        .content
            .header Header
            .description
                | Content
                br
                | New Line Content,
                a Link Content
        .actions
            button.ts.icon.button
                i.delete.icon
            button.ts.icon.button
                i.delete.icon
    .item
        .content
            .header Header
            .description
                | Content
                br
                | New Line Content,
                a Link Content
        .actions
            button.ts.icon.button
                i.delete.icon
            button.ts.icon.button
                i.delete.icon

// + Icon
.ts.list
    .item
        i.user.icon
        .content
            .header Header
            .description
                | Content
                br
                | New Line Content,
                a Link Content
    .item
        i.user.icon
        .content
            .header Header
            .description
                | Content
                br
                | New Line Content,
                a Link Content
    .item
        i.user.icon
        .content
            a.header Link Header
            .description
                | Content
                br
                | New Line Content,
                a Link Content

// + Description
.ts.description.list
    .item
        .header Header
        .description Description
    .item
        .header Header
        .description Description
    .item
        .header Header
        .description Description

// + Specification
.ts.specification.list
    .item
        .header Header
        .description Description
    .item
        .header Header
        .description Description
    .item
        .header Header
        .description Description

// + Horizontal Specification
.ts.horizontal.specification.list
    .item
        .header Header
        .description Description
    .item
        .header Header
        .description Description
    .item
        .header Header
        .description Description

// + Segmented
.ts.segmented.list
    .item Item
    .item Item
    a.item Link Item
    a.item Link Item

// + Segmented Icon
.ts.segmented.list
    .item
        i.user.icon
        .content
            .header Header
            .description
                | Content
                br
                | New Line Content,
                a Link Content
    .item
        i.user.icon
        .content
            .header Header
            .description
                | Content
                br
                | New Line Content,
                a Link Content
    a.item
        i.user.icon
        .content
            .header Header
            .description Link Content