@import ./placeholder.variables

//*******************************//
//              Main
//*******************************//

@keyframes placeholder-shimmer
    0%
        background-position: -1000px 0
    100%
        background-position: 1000px 0

@keyframes placeholder-blink
    30%
        opacity: 0

.ts.placeholder .text,
.ts.placeholder .texts,
.ts.placeholder .texts:after,
.ts.placeholder .texts:before,
.ts.placeholder .image.header:after,
.ts.placeholder .image.header:before,
.ts.placeholder .image
    background: $placeholder_textColor
    height    : $placeholder_lineHeight
    width     : $placeholder_width
    margin    : $placeholder_margin

.ts.placeholder:first-child > *:first-child
    margin-top: 0

.ts.placeholder:last-child > *:last-child
    margin-bottom: 0

//-------------------//
//    Text Header
//-------------------//

.ts.placeholder .text.header,
.ts.placeholder .texts.header,
.ts.placeholder .texts.header:after,
.ts.placeholder .texts.header:before
    background: $placeholder_headerTextColor

//-------------------//
//    Image Header
//-------------------//

.ts.placeholder .image.header
    position: static
    width : $placeholder_imageHeaderSize
    height: $placeholder_imageHeaderSize

.ts.placeholder .image.header:after,
.ts.placeholder .image.header:before
    position: absolute
    content : ''
    margin  : 0

.ts.placeholder .image.header:after
    top       : 0
    left      : $placeholder_imageHeaderLeft
    width     : $placeholder_imageHeaderWidth
    background: $placeholder_headerTextColor

.ts.placeholder .image.header:before
    top  : #{$placeholder_lineHeight + $placeholder_verticalMargin}
    left : $placeholder_imageHeaderLeft
    width: $placeholder_imageHeaderSecondaryWidth

//-------------------//
//     Preparing
//-------------------//

.ts.placeholder.preparing .text,
.ts.placeholder.preparing .texts,
.ts.placeholder.preparing .texts:after,
.ts.placeholder.preparing .texts:before,
.ts.placeholder.preparing .text.header,
.ts.placeholder.preparing .image.header:after,
.ts.placeholder.preparing .image.header:before,
.ts.placeholder.preparing .image
    animation-duration       : $placeholder_preparingDuration
    animation-fill-mode      : alternate
    animation-iteration-count: infinite
    animation-name           : placeholder-blink
    animation-timing-function: linear

//-------------------//
//   Indeterminate
//-------------------//

.ts.placeholder.indeterminate .text,
.ts.placeholder.indeterminate .texts,
.ts.placeholder.indeterminate .texts:after,
.ts.placeholder.indeterminate .texts:before,
.ts.placeholder.indeterminate .text.header,
.ts.placeholder.indeterminate .image.header:after,
.ts.placeholder.indeterminate .image.header:before,
.ts.placeholder.indeterminate .image
    animation-duration       : $placeholder_indeterminateDuration
    animation-fill-mode      : forwards
    animation-iteration-count: infinite
    animation-name           : placeholder-shimmer
    animation-timing-function: linear

    background     : $placeholder_indeterminateBackground
    background-size: $placeholder_indeterminateBackgroundSize

.ts.placeholder.indeterminate .text.header
    background     : $placeholder_indeterminateHeaderBackground
    background-size: $placeholder_indeterminateBackgroundSize

//-------------------//
//       Texts
//-------------------//

.ts.placeholder .texts
    margin-bottom: #{($placeholder_lineHeight + $placeholder_verticalMargin) * 2}
    width        : 12em

.ts.placeholder .texts:after,
.ts.placeholder .texts:before
    position: absolute
    content : ''
    margin  : 0

.ts.placeholder .texts:after
    top  : #{$placeholder_lineHeight + $placeholder_verticalMargin}
    width: 14em

.ts.placeholder .texts:before
    top  : #{($placeholder_lineHeight + $placeholder_verticalMargin) * 2}
    width: 10em

//-------------------//
//       Image
//-------------------//

.ts.placeholder .image
    height: $placeholder_imageHeight
    width : 100%

//-------------------//
//       Rounded
//-------------------//

.ts.placeholder.rounded *
    border-radius: $placeholder_roundedRadius

//-------------------//
//      Lengths
//-------------------//

.ts.placeholder .text:nth-child(1)
    width: 43%
.ts.placeholder .text:nth-child(2)
    width: 78%
.ts.placeholder .text:nth-child(3)
    width: 70%
.ts.placeholder .text:nth-child(4)
    width: 80%
.ts.placeholder .text:nth-child(5)
    width: 60%
.ts.placeholder .text:nth-child(6)
    width: 44%
.ts.placeholder .text:nth-child(7)
    width: 63%
.ts.placeholder .text:nth-child(8)
    width: 49%
.ts.placeholder .text:nth-child(9)
    width: 72%
.ts.placeholder .text:nth-child(10)
    width: 61%
.ts.placeholder .text:nth-child(11)
    width: 45%
.ts.placeholder .text:nth-child(12)
    width: 55%
.ts.placeholder .text:nth-child(13)
    width: 56%
.ts.placeholder .text:nth-child(14)
    width: 57%
.ts.placeholder .text:nth-child(15)
    width: 73%
.ts.placeholder .text:nth-child(16)
    width: 59%
.ts.placeholder .text:nth-child(17)
    width: 47%
.ts.placeholder .text:nth-child(18)
    width: 77%

//-------------------//
//      Lengths
//-------------------//

.ts.placeholder .short.text
    width: $placeholder_shortTextWidth
.ts.placeholder .very.short.text
    width: $placeholder_veryShortTextWidth
.ts.placeholder .extra.short.text
    width: $placeholder_extraShortTextWidth
.ts.placeholder .long.text
    width: $placeholder_longTextWidth
.ts.placeholder .very.long.text
    width: $placeholder_veryLongTextWidth
.ts.placeholder .extra.long.text
    width: $placeholder_exteaLongTextWidth